<div class="container-fluid">
  <app-breadcrumb [dataInput]="breadCrumb"></app-breadcrumb>













  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card">
        <div class="header font-weight-bold">
          Request for Withdrawal to Bank Account
        </div>



        <div class="body mt-2">
          <div class="text-center mt-1 mb-3" *ngIf="loadingData">
            <span class="fa fa-spin fa-spinner fa-2x"></span>&nbsp;
            <br>
            <span> Loading, Please wait...</span>
          </div>
          <div class="table-responsive" *ngIf="showData">
            <table id="all-requested-withdrawal" class="table table-bordered table-hover table-striped dataTable" cellspacing="0" width="100%">
              <thead>
              <tr >
                <th class="no-sort"></th>
                <th>S/N</th>
                <th>Customer Name</th>
                <th>Customer Phone</th>
                <th>Customer Email</th>
                <th>Withdraw Amount</th>
                <th>Wallet Balance on Request</th>
                <th>Account Name</th>
                <th>Account Number</th>
                <th>Bank Name</th>
                <th>Request Date</th>
                <th>Status</th>
                <th>Paystack Status</th>
                <th>Action</th>
              </tr>
              </thead>
              <tfoot>
              <tr >
                <th class="no-sort"></th>
                <th>S/N</th>
                <th>Customer Name</th>
                <th>Customer Phone</th>
                <th>Customer Email</th>
                <th>Withdraw Amount</th>
                <th>Wallet Balance on Request</th>
                <th>Account Name</th>
                <th>Account Number</th>
                <th>Bank Name</th>
                <th>Request Date</th>
                <th>Status</th>
                <th>Paystack Status</th>
                <th>Action</th>
              </tr>
              </tfoot>
              <tbody>

              <tr *ngFor="let request of withdrawalRequest;let i = index;">
                <td class="details-control" [id]="'td--' + i"></td>
                <td>{{i + 1}}</td>
                <td>{{ request?.userId?.full_name }}</td>
                <td>{{ request?.userId?.phone_number }}</td>
                <td>{{ request?.userId?.email }}</td>
                <td>{{request?.amount | currency: 'NGN' + ' '}}</td>
                <td>{{request?.wallet_version_before_approval?.wallet_balance | currency: 'NGN' + ' '}}</td>
                <td>{{ request?.account_name }}</td>
                <td>{{ request?.account_number }}</td>
                <td>{{ request?.bank_name }}</td>

                <td>{{request?.createdAt | date: 'medium'}}</td>
                <td><span class="badge badge-info">{{request?.status}}</span></td>
                <td><span class="badge badge-info">{{request?.paymentStatus?.split('_').join(' ')}}</span></td>


                <td>
                  <div *ngIf="!processing">
                    <button role="button" data-balloon="Approve Request" (click)="takeActionRequest(request, i, 'approve')" *ngIf="request?.status?.toUpperCase() === 'PENDING'" data-balloon-pos="up" class="btn btn-sm btn-success">
                      <i class="fa fa-check"></i>&nbsp;Approve
                    </button>
                    <!--<button role="button" data-balloon="Approve Request" (click)="takeActionRequest(request, i, 'approve')" *ngIf="request?.status?.toUpperCase() === 'PENDING'" data-balloon-pos="up" class="btn btn-sm btn-success">
                      <i class="fa fa-check"></i>&nbsp;Approve
                    </button>-->
                    &nbsp;<button role="button" data-balloon="Reject Request" (click)="takeActionRequest(request, i, 'reject')" *ngIf="request?.status?.toUpperCase() === 'PENDING'" data-balloon-pos="up" class="btn btn-sm btn-danger">
                      <i class="fa fa-remove"></i>&nbsp;Reject
                    </button>
                    <button role="button" data-balloon="Retry Payment" (click)="takeActionRequest(request, i, 'approve')" *ngIf="request?.status?.toUpperCase() === 'REJECTED'" data-balloon-pos="up" class="btn btn-sm btn-info">
                      Retry Payment
                    </button>

                  </div>
                  <div class="processing- d-none" [id]="'processing-' + i">
                    <span><i class="fa fa-spin fa-spinner"></i>&nbsp;&nbsp;Processing...</span>
                  </div>
                </td>
              </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>

  </div>








</div>



