<div class="container-fluid">
  <app-breadcrumb [dataInput]="breadCrumb"></app-breadcrumb>








  <div class="row clearfix">

    <div class="col-lg-12">
      <div class="card">
        <div class="body">
          <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#Settings">Personal Details</a></li>
            <!--<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#billings">Business Information</a></li>-->
            <!--<li class="nav-item"><a class="nav-link" data-toggle="tab" href="#preferences">Bank Setting</a></li>-->
          </ul>
        </div>
        <div class="tab-content">

          <div class="tab-pane active show" id="Settings">

            <div class="body">
              <h6>Profile Photo</h6>
              <div class="media">
                <div class="media-left m-r-15">
                  <img src="assets/img/profile_picture_recent.jpg" width="140px" class="user-photo media-object" alt="User">
                </div>
                <div class="media-body">
                  <p>Upload your photo.
                    <br> <em>Image should be at least 140px x 140px</em></p>
                  <button type="button" class="btn btn-default-dark" id="btn-upload-photo">Upload Photo</button>
                  <input type="file" id="filePhoto" class="sr-only">
                </div>
              </div>
            </div>

            <div class="body">
              <h6>Basic Information</h6>
              <div class="row clearfix">
                <div class="col-lg-6 col-md-12">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="First Name" [(ngModel)]="basic_info.first_name" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Last Name" [(ngModel)]="basic_info.last_name" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group">
                    <div>
                      <label class="fancy-radio">
                        <input name="gender2" value="male" type="radio" checked="" [(ngModel)]="basic_info.gender" [ngModelOptions]="{standalone: true}">
                        <span><i></i>Male</span>
                      </label>
                      <label class="fancy-radio">
                        <input name="gender2" value="female" type="radio" [(ngModel)]="basic_info.gender" [ngModelOptions]="{standalone: true}">
                        <span><i></i>Female</span>
                      </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-calendar"></i></span>
                      </div>
                      <input class="form-control" placeholder="Birth Date" [(ngModel)]="basic_info.dob" [ngModelOptions]="{standalone: true}">
                    </div>
                  </div>

                </div>

                <div class="col-lg-6 col-md-12">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Address" [(ngModel)]="basic_info.address" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="City" [(ngModel)]="basic_info.city" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="State/Province" [(ngModel)]="basic_info.state_province" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group">
                    <select class="form-control" [(ngModel)]="basic_info.country" [ngModelOptions]="{standalone: true}">
                      <option value="">-- Select Country --</option>
                      <option value="AF">Afghanistan</option>
                      <option value="AX">Åland Islands</option>
                      <option value="AL">Albania</option>
                      <option value="DZ">Algeria</option>
                      <option value="AS">American Samoa</option>
                      <option value="AD">Andorra</option>
                      <option value="AO">Angola</option>
                      <option value="AI">Anguilla</option>
                      <option value="AQ">Antarctica</option>
                      <option value="AG">Antigua and Barbuda</option>
                      <option value="AR">Argentina</option>
                      <option value="AM">Armenia</option>
                      <option value="AW">Aruba</option>
                      <option value="AU">Australia</option>
                      <option value="AT">Austria</option>
                      <option value="AZ">Azerbaijan</option>
                      <option value="BS">Bahamas</option>
                      <option value="BH">Bahrain</option>
                      <option value="BD">Bangladesh</option>
                      <option value="BB">Barbados</option>
                      <option value="BY">Belarus</option>
                      <option value="BE">Belgium</option>
                      <option value="BZ">Belize</option>
                      <option value="BJ">Benin</option>
                      <option value="BM">Bermuda</option>
                      <option value="BT">Bhutan</option>
                      <option value="BO">Bolivia, Plurinational State of</option>
                      <option value="BQ">Bonaire, Sint Eustatius and Saba</option>
                      <option value="BA">Bosnia and Herzegovina</option>
                      <option value="BW">Botswana</option>
                      <option value="BV">Bouvet Island</option>
                      <option value="BR">Brazil</option>
                      <option value="IO">British Indian Ocean Territory</option>
                      <option value="BN">Brunei Darussalam</option>
                      <option value="BG">Bulgaria</option>
                      <option value="BF">Burkina Faso</option>
                      <option value="BI">Burundi</option>
                      <option value="KH">Cambodia</option>
                      <option value="CM">Cameroon</option>
                      <option value="CA">Canada</option>
                      <option value="CV">Cape Verde</option>
                      <option value="KY">Cayman Islands</option>
                      <option value="CF">Central African Republic</option>
                      <option value="TD">Chad</option>
                      <option value="CL">Chile</option>
                      <option value="CN">China</option>
                      <option value="CX">Christmas Island</option>
                      <option value="CC">Cocos (Keeling) Islands</option>
                      <option value="CO">Colombia</option>
                      <option value="KM">Comoros</option>
                      <option value="CG">Congo</option>
                      <option value="CD">Congo, the Democratic Republic of the</option>
                      <option value="CK">Cook Islands</option>
                      <option value="CR">Costa Rica</option>
                      <option value="CI">Côte d'Ivoire</option>
                      <option value="HR">Croatia</option>
                      <option value="CU">Cuba</option>
                      <option value="CW">Curaçao</option>
                      <option value="CY">Cyprus</option>
                      <option value="CZ">Czech Republic</option>
                      <option value="DK">Denmark</option>
                      <option value="DJ">Djibouti</option>
                      <option value="DM">Dominica</option>
                      <option value="DO">Dominican Republic</option>
                      <option value="EC">Ecuador</option>
                      <option value="EG">Egypt</option>
                      <option value="SV">El Salvador</option>
                      <option value="GQ">Equatorial Guinea</option>
                      <option value="ER">Eritrea</option>
                      <option value="EE">Estonia</option>
                      <option value="ET">Ethiopia</option>
                      <option value="FK">Falkland Islands (Malvinas)</option>
                      <option value="FO">Faroe Islands</option>
                      <option value="FJ">Fiji</option>
                      <option value="FI">Finland</option>
                      <option value="FR">France</option>
                      <option value="GF">French Guiana</option>
                      <option value="PF">French Polynesia</option>
                      <option value="TF">French Southern Territories</option>
                      <option value="GA">Gabon</option>
                      <option value="GM">Gambia</option>
                      <option value="GE">Georgia</option>
                      <option value="DE">Germany</option>
                      <option value="GH">Ghana</option>
                      <option value="GI">Gibraltar</option>
                      <option value="GR">Greece</option>
                      <option value="GL">Greenland</option>
                      <option value="GD">Grenada</option>
                      <option value="GP">Guadeloupe</option>
                      <option value="GU">Guam</option>
                      <option value="GT">Guatemala</option>
                      <option value="GG">Guernsey</option>
                      <option value="GN">Guinea</option>
                      <option value="GW">Guinea-Bissau</option>
                      <option value="GY">Guyana</option>
                      <option value="HT">Haiti</option>
                      <option value="HM">Heard Island and McDonald Islands</option>
                      <option value="VA">Holy See (Vatican City State)</option>
                      <option value="HN">Honduras</option>
                      <option value="HK">Hong Kong</option>
                      <option value="HU">Hungary</option>
                      <option value="IS">Iceland</option>
                      <option value="IN">India</option>
                      <option value="ID">Indonesia</option>
                      <option value="IR">Iran, Islamic Republic of</option>
                      <option value="IQ">Iraq</option>
                      <option value="IE">Ireland</option>
                      <option value="IM">Isle of Man</option>
                      <option value="IL">Israel</option>
                      <option value="IT">Italy</option>
                      <option value="JM">Jamaica</option>
                      <option value="JP">Japan</option>
                      <option value="JE">Jersey</option>
                      <option value="JO">Jordan</option>
                      <option value="KZ">Kazakhstan</option>
                      <option value="KE">Kenya</option>
                      <option value="KI">Kiribati</option>
                      <option value="KP">Korea, Democratic People's Republic of</option>
                      <option value="KR">Korea, Republic of</option>
                      <option value="KW">Kuwait</option>
                      <option value="KG">Kyrgyzstan</option>
                      <option value="LA">Lao People's Democratic Republic</option>
                      <option value="LV">Latvia</option>
                      <option value="LB">Lebanon</option>
                      <option value="LS">Lesotho</option>
                      <option value="LR">Liberia</option>
                      <option value="LY">Libya</option>
                      <option value="LI">Liechtenstein</option>
                      <option value="LT">Lithuania</option>
                      <option value="LU">Luxembourg</option>
                      <option value="MO">Macao</option>
                      <option value="MK">Macedonia, the former Yugoslav Republic of</option>
                      <option value="MG">Madagascar</option>
                      <option value="MW">Malawi</option>
                      <option value="MY">Malaysia</option>
                      <option value="MV">Maldives</option>
                      <option value="ML">Mali</option>
                      <option value="MT">Malta</option>
                      <option value="MH">Marshall Islands</option>
                      <option value="MQ">Martinique</option>
                      <option value="MR">Mauritania</option>
                      <option value="MU">Mauritius</option>
                      <option value="YT">Mayotte</option>
                      <option value="MX">Mexico</option>
                      <option value="FM">Micronesia, Federated States of</option>
                      <option value="MD">Moldova, Republic of</option>
                      <option value="MC">Monaco</option>
                      <option value="MN">Mongolia</option>
                      <option value="ME">Montenegro</option>
                      <option value="MS">Montserrat</option>
                      <option value="MA">Morocco</option>
                      <option value="MZ">Mozambique</option>
                      <option value="MM">Myanmar</option>
                      <option value="NA">Namibia</option>
                      <option value="NR">Nauru</option>
                      <option value="NP">Nepal</option>
                      <option value="NL">Netherlands</option>
                      <option value="NC">New Caledonia</option>
                      <option value="NZ">New Zealand</option>
                      <option value="NI">Nicaragua</option>
                      <option value="NE">Niger</option>
                      <option value="NG">Nigeria</option>
                      <option value="NU">Niue</option>
                      <option value="NF">Norfolk Island</option>
                      <option value="MP">Northern Mariana Islands</option>
                      <option value="NO">Norway</option>
                      <option value="OM">Oman</option>
                      <option value="PK">Pakistan</option>
                      <option value="PW">Palau</option>
                      <option value="PS">Palestinian Territory, Occupied</option>
                      <option value="PA">Panama</option>
                      <option value="PG">Papua New Guinea</option>
                      <option value="PY">Paraguay</option>
                      <option value="PE">Peru</option>
                      <option value="PH">Philippines</option>
                      <option value="PN">Pitcairn</option>
                      <option value="PL">Poland</option>
                      <option value="PT">Portugal</option>
                      <option value="PR">Puerto Rico</option>
                      <option value="QA">Qatar</option>
                      <option value="RE">Réunion</option>
                      <option value="RO">Romania</option>
                      <option value="RU">Russian Federation</option>
                      <option value="RW">Rwanda</option>
                      <option value="BL">Saint Barthélemy</option>
                      <option value="SH">Saint Helena, Ascension and Tristan da Cunha</option>
                      <option value="KN">Saint Kitts and Nevis</option>
                      <option value="LC">Saint Lucia</option>
                      <option value="MF">Saint Martin (French part)</option>
                      <option value="PM">Saint Pierre and Miquelon</option>
                      <option value="VC">Saint Vincent and the Grenadines</option>
                      <option value="WS">Samoa</option>
                      <option value="SM">San Marino</option>
                      <option value="ST">Sao Tome and Principe</option>
                      <option value="SA">Saudi Arabia</option>
                      <option value="SN">Senegal</option>
                      <option value="RS">Serbia</option>
                      <option value="SC">Seychelles</option>
                      <option value="SL">Sierra Leone</option>
                      <option value="SG">Singapore</option>
                      <option value="SX">Sint Maarten (Dutch part)</option>
                      <option value="SK">Slovakia</option>
                      <option value="SI">Slovenia</option>
                      <option value="SB">Solomon Islands</option>
                      <option value="SO">Somalia</option>
                      <option value="ZA">South Africa</option>
                      <option value="GS">South Georgia and the South Sandwich Islands</option>
                      <option value="SS">South Sudan</option>
                      <option value="ES">Spain</option>
                      <option value="LK">Sri Lanka</option>
                      <option value="SD">Sudan</option>
                      <option value="SR">Suriname</option>
                      <option value="SJ">Svalbard and Jan Mayen</option>
                      <option value="SZ">Swaziland</option>
                      <option value="SE">Sweden</option>
                      <option value="CH">Switzerland</option>
                      <option value="SY">Syrian Arab Republic</option>
                      <option value="TW">Taiwan, Province of China</option>
                      <option value="TJ">Tajikistan</option>
                      <option value="TZ">Tanzania, United Republic of</option>
                      <option value="TH">Thailand</option>
                      <option value="TL">Timor-Leste</option>
                      <option value="TG">Togo</option>
                      <option value="TK">Tokelau</option>
                      <option value="TO">Tonga</option>
                      <option value="TT">Trinidad and Tobago</option>
                      <option value="TN">Tunisia</option>
                      <option value="TR">Turkey</option>
                      <option value="TM">Turkmenistan</option>
                      <option value="TC">Turks and Caicos Islands</option>
                      <option value="TV">Tuvalu</option>
                      <option value="UG">Uganda</option>
                      <option value="UA">Ukraine</option>
                      <option value="AE">United Arab Emirates</option>
                      <option value="GB">United Kingdom</option>
                      <option value="US">United States</option>
                      <option value="UM">United States Minor Outlying Islands</option>
                      <option value="UY">Uruguay</option>
                      <option value="UZ">Uzbekistan</option>
                      <option value="VU">Vanuatu</option>
                      <option value="VE">Venezuela, Bolivarian Republic of</option>
                      <option value="VN">Viet Nam</option>
                      <option value="VG">Virgin Islands, British</option>
                      <option value="VI">Virgin Islands, U.S.</option>
                      <option value="WF">Wallis and Futuna</option>
                      <option value="EH">Western Sahara</option>
                      <option value="YE">Yemen</option>
                      <option value="ZM">Zambia</option>
                      <option value="ZW">Zimbabwe</option>
                    </select>
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-primary">Update</button> &nbsp;&nbsp;
              <button type="button" class="btn btn-default">Cancel</button>
            </div>

            <div class="body">
              <div class="row clearfix">
                <div class="col-lg-6 col-md-12">
                  <h6>Account Data</h6>
                  <div class="form-group">
                    <input type="text" class="form-control" value="alizeethomas" placeholder="Username" [(ngModel)]="basic_info.user_name" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" [(ngModel)]="basic_info.email" [ngModelOptions]="{standalone: true}" disabled="" placeholder="Email">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Phone Number" [(ngModel)]="basic_info.phone_number" [ngModelOptions]="{standalone: true}">
                  </div>

                  <div>
                    <button type="button" class="btn btn-primary">Update</button> &nbsp;&nbsp;
                    <button class="btn btn-default">Cancel</button>
                  </div>
                </div>

                <div class="col-lg-6 col-md-12">
                  <h6>Change Password</h6>
                  <div class="form-group">
                    <input type="password" class="form-control" placeholder="Current Password" [(ngModel)]="password.current_password" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" placeholder="New Password" [(ngModel)]="password.new_password" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" placeholder="Confirm New Password" [(ngModel)]="password.confirm_new_password" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div>
                    <button type="button" class="btn btn-primary">Update</button> &nbsp;&nbsp;
                    <button type="button" class="btn btn-default">Cancel</button>
                  </div>
                </div>
              </div>

            </div>


          </div>

        <!--  <div class="tab-pane" id="billings">

            <div class="body">
              <h6>Business Information</h6>
              <div class="row clearfix">
                <div class="col-lg-6 col-md-12">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Company Name" [(ngModel)]="business_info.company_name" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Company Email" [(ngModel)]="business_info.company_email" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>

                <div class="col-lg-6 col-md-12">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Company Address" [(ngModel)]="business_info.company_address" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Company Phone Number" [(ngModel)]="business_info.company_phone_number" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
              </div>
              <button type="button" class="btn btn-primary">Update</button> &nbsp;&nbsp;
              <button type="button" class="btn btn-default">Cancel</button>
            </div>

          </div>

          <div class="tab-pane" id="preferences">

            <div class="body">
              <h6>Bank Information</h6>
              <div class="row clearfix">
                <div class="col-lg-12 col-md-12">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Account Name" [(ngModel)]="bank_info.account_name" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Account Number"[(ngModel)]="bank_info.account_number" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Bank Name" [(ngModel)]="bank_info.bank_name" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Bank Verification Number(BVN)" [(ngModel)]="bank_info.bvn" [ngModelOptions]="{standalone: true}">
                  </div>

                </div>
              </div>
              <button type="button" class="btn btn-primary">Update</button> &nbsp;&nbsp;
              <button type="button" class="btn btn-default">Cancel</button>
            </div>
            <div class="body">
              <h6>Next of Kin Information</h6>
              <div class="row clearfix">
                <div class="col-lg-12 col-md-12">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Full Name" [(ngModel)]="kin_info.full_name" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Phone Number" [(ngModel)]="kin_info.phone_number" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" [(ngModel)]="kin_info.email" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Relationship" [(ngModel)]="kin_info.relationship" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Address" [(ngModel)]="kin_info.address" [ngModelOptions]="{standalone: true}">
                  </div>

                </div>
              </div>
              <button type="button" class="btn btn-primary">Update</button> &nbsp;&nbsp;
              <button type="button" class="btn btn-default">Cancel</button>
            </div>
          </div>
-->
        </div>
      </div>
    </div>
  </div>








</div>





