<div class="landing-page-content">

  <header id="faq-hero">

    <app-l-header [active]="'shop'"></app-l-header>


    <div id="hero-content-2">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 text-left text-white">
            <h1 class="about-title mt--2">Browse Farm</h1>
          </div> <!-- END col-sm-12-->

          <div class="col-sm-2"></div>
          <div class="col-sm-4 text-right">
           <form (submit)="searchFarm()">
             <div class="input-group">
              <input type="text" class="form-control subscribe-form" placeholder="Search Shop" [(ngModel)]="farmSearchData" [ngModelOptions]="{standalone: true}">
              <div class="input-group-append" style="cursor: pointer">
                <span class="input-group-text green-color btn subscribe-btn" *ngIf="searchLoader"><i class="fa fa-spin fa-spinner"></i></span>
                <span class="input-group-text green-color btn subscribe-btn" *ngIf="!searchLoader" (click)="searchFarm()"><i class="fa fa-search"></i></span>
              </div>
            </div>
           </form>
          </div>


        </div> <!-- END row-->
      </div> <!-- END container-->
    </div> <!-- END hero-content-->

  </header>



  <section class="mt-3 mb-4">
  <div class="row">
    <div class="col-sm-12 text-center">
      <!--<h2 class="section-title" >Farm Shop</h2>-->
      <p class="section-tagline">
        Sponsor a farm and earn return
      </p>
    </div> <!-- END col-sm-12-->
  </div> <!-- END row-->

  <div class="container px-sm-5 px-md-0">
    <div class="row">
    <div class="col-lg-2 col-md-4 col-12 mb-4">
      <div class="mb-3" style="font-size: 18px;"><span>Farm Filter</span></div>
      <div class="accordion">
        <div class="mb-2">
          <div class="mb-3">
            <h5 class="mb-1" style="font-size: 16px;" (click)="triggerAccordion('farmType', 'farm-type-arrow')" >
              <a href="javascript:void(0)" data-toggle="collapse" data-target="#farmType" style="padding-bottom: 6px;border-bottom: 2px solid #89DB87" aria-expanded="true" aria-controls="farmType">
                Farm Type
                <i class="fa fa-chevron-down ml-4 d-none" id="farm-type-arrow-down" style="font-size: 12px;"></i>
                <i class="fa fa-chevron-right ml-4" id="farm-type-arrow-right" style="font-size: 12px;"></i>
              </a>
            </h5>
          </div>
          <div id="farmType" class="collapse show mt-4 ml-4">
            <div class="" *ngIf="clearFilterInput">
              <div *ngFor="let type of allTypes;let j = index">
                <input type="checkbox" class="form-check-input" [id]="'farmtype' + j" [value]="type._id" (change)="keepChange('farmtype', j)">
                <label class="form-check-label"  [for]="'farmtype' + j">{{type.name}}</label>

              </div>




            </div>
          </div>
        </div>
        <div class="mb-2">
          <div>
            <h5 class="mb-1 pt-3" style="font-size: 16px;" (click)="triggerAccordion('farmStatus', 'farm-status-arrow')" >
              <a href="javascript:void(0)" data-toggle="collapse" data-target="#farmStatus" style="padding-bottom: 6px;border-bottom: 2px solid #89DB87" aria-expanded="true" aria-controls="farmStatus">
                Farm Status
                <i class="fa fa-chevron-down ml-4 d-none" id="farm-status-arrow-down" style="font-size: 12px;"></i>
                <i class="fa fa-chevron-right ml-4" id="farm-status-arrow-right" style="font-size: 12px;"></i>
              </a>
            </h5>
          </div>
          <div id="farmStatus" class="collapse show mt-4 ml-4">
            <div class="" *ngIf="clearFilterInput">
              <div *ngFor="let status of allStatus;let k = index">
                <input type="checkbox" class="form-check-input" [id]="'farmtypestatus' + k" [value]="status._id" (change)="keepChange('farmtypestatus', k)">
                <label class="form-check-label"  [for]="'farmtypestatus' + k">{{status.name}}</label>

              </div>






            </div>
          </div>
        </div>
      </div>

      <hr>
      <div class="mb-3 text-left" style="">
        <button class="btn btn-sm btn-danger" (click)="clearFilter();">Clear</button>&nbsp;

        <button class="btn btn-sm btn-success"
                [disabled]="!arrData.farm_status.length && !arrData.farm_type.length"
                (click)="applyFilter();">Apply</button>
      </div>

    </div>




















    <div class="col-lg-10 col-md-8 col-12 pb-5">
        <div *ngIf="loading && !allShops.length">
      <div class="row">
        <div class="col-3">
          <div class="ph-item">
        <div class="ph-col-12">
          <div class="ph-picture"></div>
          <div class="ph-row">
            <div class="ph-col-6 big"></div>
            <div class="ph-col-4 empty big"></div>
            <div class="ph-col-2 big"></div>
            <div class="ph-col-4"></div>
            <div class="ph-col-8 empty"></div>
            <div class="ph-col-6"></div>
            <div class="ph-col-6 empty"></div>
            <div class="ph-col-12"></div>
          </div>
        </div>
      </div></div>
        <div class="col-3">
          <div class="ph-item">
        <div class="ph-col-12">
          <div class="ph-picture"></div>
          <div class="ph-row">
            <div class="ph-col-6 big"></div>
            <div class="ph-col-4 empty big"></div>
            <div class="ph-col-2 big"></div>
            <div class="ph-col-4"></div>
            <div class="ph-col-8 empty"></div>
            <div class="ph-col-6"></div>
            <div class="ph-col-6 empty"></div>
            <div class="ph-col-12"></div>
          </div>
        </div>
      </div></div>
        <div class="col-3">
          <div class="ph-item">
        <div class="ph-col-12">
          <div class="ph-picture"></div>
          <div class="ph-row">
            <div class="ph-col-6 big"></div>
            <div class="ph-col-4 empty big"></div>
            <div class="ph-col-2 big"></div>
            <div class="ph-col-4"></div>
            <div class="ph-col-8 empty"></div>
            <div class="ph-col-6"></div>
            <div class="ph-col-6 empty"></div>
            <div class="ph-col-12"></div>
          </div>
        </div>
      </div></div>
        <div class="col-3">
          <div class="ph-item">
        <div class="ph-col-12">
          <div class="ph-picture"></div>
          <div class="ph-row">
            <div class="ph-col-6 big"></div>
            <div class="ph-col-4 empty big"></div>
            <div class="ph-col-2 big"></div>
            <div class="ph-col-4"></div>
            <div class="ph-col-8 empty"></div>
            <div class="ph-col-6"></div>
            <div class="ph-col-6 empty"></div>
            <div class="ph-col-12"></div>
          </div>
        </div>
      </div></div>
    </div>

      <div class="row">
        <div class="col-3">
          <div class="ph-item">
        <div class="ph-col-12">
          <div class="ph-picture"></div>
          <div class="ph-row">
            <div class="ph-col-6 big"></div>
            <div class="ph-col-4 empty big"></div>
            <div class="ph-col-2 big"></div>
            <div class="ph-col-4"></div>
            <div class="ph-col-8 empty"></div>
            <div class="ph-col-6"></div>
            <div class="ph-col-6 empty"></div>
            <div class="ph-col-12"></div>
          </div>
        </div>
      </div></div>
        <div class="col-3">
          <div class="ph-item">
        <div class="ph-col-12">
          <div class="ph-picture"></div>
          <div class="ph-row">
            <div class="ph-col-6 big"></div>
            <div class="ph-col-4 empty big"></div>
            <div class="ph-col-2 big"></div>
            <div class="ph-col-4"></div>
            <div class="ph-col-8 empty"></div>
            <div class="ph-col-6"></div>
            <div class="ph-col-6 empty"></div>
            <div class="ph-col-12"></div>
          </div>
        </div>
      </div></div>
        <div class="col-3">
          <div class="ph-item">
        <div class="ph-col-12">
          <div class="ph-picture"></div>
          <div class="ph-row">
            <div class="ph-col-6 big"></div>
            <div class="ph-col-4 empty big"></div>
            <div class="ph-col-2 big"></div>
            <div class="ph-col-4"></div>
            <div class="ph-col-8 empty"></div>
            <div class="ph-col-6"></div>
            <div class="ph-col-6 empty"></div>
            <div class="ph-col-12"></div>
          </div>
        </div>
      </div></div>
        <div class="col-3">
          <div class="ph-item">
        <div class="ph-col-12">
          <div class="ph-picture"></div>
          <div class="ph-row">
            <div class="ph-col-6 big"></div>
            <div class="ph-col-4 empty big"></div>
            <div class="ph-col-2 big"></div>
            <div class="ph-col-4"></div>
            <div class="ph-col-8 empty"></div>
            <div class="ph-col-6"></div>
            <div class="ph-col-6 empty"></div>
            <div class="ph-col-12"></div>
          </div>
        </div>
      </div></div>
</div>

</div>
      <div class="row pt-5 mt-5" *ngIf="noRecordFound">
        <div class="col-12 text-center" >
        <div style="display:inline-block;"><span style="font-size: 29px;">No result found!!</span>

       <div> <button class="btn btn-lg btn-link" (click)="getFarmShops()">Load all</button></div></div>
      </div>
      </div>

      <div class="row landing-page mb-2" *ngIf="allShops.length">

        <div class="col-lg-3 col-md-6 col-sm-12 px-sm-5 px-md-0 px-lg-0 mb-2" *ngFor="let shop of allShops;let i = index;" (click)="loadThisShop(shop)">
          <div class="card bg-white  wow fadeInLeft farm-shop-card"  [attr.data-wow-delay]="'.6s'"
               [ngClass]="shop.farm_status.name === 'Now Selling' ?  'bouncer animated' : 'sold-out'">
            <div style="" class="card-status" [ngClass]="shop.farm_status.name === 'Now Selling' ?  'farm-card-status-new' : 'farm-card-status-sold'">
              {{ shop.farm_status.name === 'Now Selling' ? 'New' : shop.farm_status.name === 'Opening Soon' ? 'Soon' : 'Sold Out' }}</div>
            <img class="card-img-top farm-shop-image" [src]="shop?.display_img" alt="Shop" style="">
            <div class="card-body mt--1 card-body-format">
              <h4 class="card-title shop-card-title">{{shop?.farm_name}}</h4>
              <div class="card-text shop-card-text mt--1">
                <div class="row text-left ">
                  <div class="col-6">
                    <i class="fa fa-map-marker text-color-l-g"></i>&nbsp;
                    {{shop?.farm_location}}
                  </div>
                  <div class="col-6">
                    <i class="fa fa-bar-chart-o text-color-l-g"></i>&nbsp;
                    {{shop?.percentage_to_gain}}% ROI
                  </div>
                </div>
                <div class="row text-left ">
                  <div class="col-6">
                    <i class="fa fa-money text-color-l-g"></i>&nbsp;
                    {{ shop?.amount_to_invest || 0 | currency: '&#8358;' }}
                  </div>
                  <div class="col-6">
                    <i class="fa fa-calendar text-color-l-g"></i>&nbsp;
                    {{shop?.duration}} {{shop?.duration_type}}S
                  </div>
                </div>
              </div>
            </div>
          </div></div>
         </div>

<div class="row" *ngIf="false && allShops.length">
  <div class="pt-3 col-12 ml-5">
    <ul class="pagination m-34-p">
      <li class="page-item disabled" aria-disabled="true" aria-label="« Previous">
        <span class="page-link" aria-hidden="true">‹</span>
      </li>
      <li class="page-item active" aria-current="page"><span class="page-link">1</span></li>
      <li class="page-item"><a class="page-link" href="/farm-shop?page=2">2</a></li>
      <li class="page-item"><a class="page-link" href="/farm-shop?page=3">3</a></li>
      <li class="page-item"><a class="page-link" href="/farm-shop?page=4">4</a></li>
      <li class="page-item"><a class="page-link" href="/farm-shop?page=5">5</a></li>
      <li class="page-item">
        <a class="page-link" href="/farm-shop?page=2" rel="next" aria-label="Next »">›</a>
      </li>
    </ul>



  </div>
</div>

    </div>
  </div>
  </div>


</section>

<app-l-footer></app-l-footer>
</div>
