
<div class="landing-page-content">
  <header id="education-hero">

    <app-l-header [active]="'education'"></app-l-header>

    <div id="hero-content-2">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 text-left text-white">
            <h1 class="about-title mt--2">Education</h1>
            <p class="about-tagline">
              Everything you’ve ever wanted to know about farming and farm practices
            </p>
          </div> <!-- END col-sm-12-->

          <div class="col-sm-2"></div>
          <div class="col-sm-4 text-right">
            <!--<div class="input-group">
              <input type="text" class="form-control subscribe-form" placeholder="Search Video">
              <div class="input-group-append" style="cursor: pointer">
                <span class="input-group-text green-color btn subscribe-btn"><i class="fa fa-search"></i></span>
              </div>
            </div>-->
          </div>
        </div> <!-- END row-->
      </div> <!-- END container-->
    </div> <!-- END hero-content-->

  </header> <!-- END header-->
  <section>
    <div class="container py-5 px-0 mt-2">
      <div class="container">
        <div class="row mb-3">
          <div class="col-sm-8 col-md-8">
            <span>
              <i class="fa fa-arrow-left"></i>
            </span>&nbsp;
            <span class="text-uppercase"><a href="javascript:void(0)" (click)="previous()">Back</a></span>
          </div>
          <!--[(ngModel)]="newZone.state_id" [ngModelOptions]="{standalone: true}"-->
        </div>

        <div class="ph-item" *ngIf="loading">
          <div class="ph-col-12">
            <div class="ph-picture"></div>
            <div class="ph-row">
              <div class="ph-col-6 big"></div>
              <div class="ph-col-4 empty big"></div>
              <div class="ph-col-2 big"></div>
              <div class="ph-col-4"></div>
              <div class="ph-col-8 empty"></div>
              <div class="ph-col-6"></div>
              <div class="ph-col-6 empty"></div>
              <div class="ph-col-12"></div>
            </div>
          </div>
        </div>


        <div *ngIf="!loading" class="card">
          <div class="pb-5"  *ngIf="education?.video_link">
            <div style="height: 450px;">
              <iframe [src]="education?.video_link | safe" width="100%" height="450"
                      frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
          </div>
          <div class="pb-5"  *ngIf="!education?.video_link">
            <div>
              <img [src]="education?.img_link" width="100%" height="100%">
            </div>
          </div>
          <div class="px-3 pt-2">
            <h4 class="educ-title">
              {{education?.title}}
            </h4>
            <h5>{{education?.author}}<span class="educ-date ml-3">{{education?.createdAt | date}}</span></h5>
            <div class="pl-3">
              <div class="row" style="font-size: 23px;color: #B3B3B3">
                <div><span class="fa fa-thumbs-up" *ngIf="currentUser" (click)="feelingPost('LIKE')" style="cursor: pointer"></span>
                  <span data-balloon="Login Required" data-balloon-pos="up" *ngIf="!currentUser" >
                    <i class="fa fa-thumbs-up" style="cursor: not-allowed"></i></span>&nbsp;{{likes}}</div>&nbsp;
                <div style="" class="m-3"></div>
                <div>
                  <span class="fa fa-thumbs-down" *ngIf="currentUser" (click)="feelingPost('DISLIKE')" style="cursor: pointer"></span>
                  <span data-balloon="Login Required" data-balloon-pos="up"*ngIf="!currentUser" >
                    <span class="fa fa-thumbs-down" style="cursor: not-allowed"></span></span>&nbsp;{{dislikes}}</div>
              </div>
            </div>
            <div class="text-left">
              <p [innerHTML]="education?.message_body"></p>
            </div>

          </div>
        </div>


      </div>
      <div *ngIf="!loading" class="container-fluid mt-3">
        <div class="mb-4">
          <h4><i class="fa fa-comment"></i> &nbsp;&nbsp;Comments</h4>
        </div>
        <disqus [identifier]="education?._id" [url]="genURL" [category]="education?._id" [language]="'en'" (newComment)="onNewComment($event)"></disqus>
        <!--

        <disqus [identifier]="pageId" [url]="url" [category]="catId"
        [language]="language" (newComment)="onNewComment($event)"
        (ready)="onReady($event)" (paginate)="onPaginate($event)"></disqus>

TODO: Hide disqus for some seconds and show using the on Ready method.
        -->

      </div>


    </div>
  </section>







  <app-l-footer></app-l-footer>
</div>
