<div class="container-fluid">
  <app-breadcrumb [dataInput]="breadCrumb"></app-breadcrumb>








  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card">
        <div class="header">
          <h4>User Groups</h4>
          <div class="float-right">
            <button type="button" class="btn btn-outline-primary btn-sm">
              <i class="fa fa-plus"></i> &nbsp;<span>New Group</span></button>
          </div>
        </div>
        <div class="body mt-2">
          <div class="text-center mt-1 mb-3" *ngIf="loadingData">
            <span class="fa fa-spin fa-spinner fa-2x"></span>&nbsp;
            <br>
            <span> Loading, Please wait...</span>
          </div>
          <div class="table-responsive" *ngIf="showData">
            <table class="table table-bordered table-hover table-striped dataTable" cellspacing="0" width="100%">
              <thead>
              <tr >
                <th>S/N</th>
                <th>Group Name</th>
                <th>Privileges</th>
                <th>Action</th>
              </tr>
              </thead>
              <tfoot>
              <tr >
                <th>S/N</th>
                <th>Group Name</th>
                <th>Privileges</th>
                <th>Action</th>
              </tr>
              </tfoot>
              <tbody>
              <tr *ngFor="let group of userGroups;let i = index;">
                <td>{{ i + 1 }}</td>
                <td>{{ group?.name }}</td>
                <td>
                  {{ group?.privileges }}
                </td>
                <td>
                  <div>
                    <button role="button" data-balloon="Edit Group" data-balloon-pos="up" (click)="triggerEdit(group)" class="btn btn-sm btn-primary">
                      <i class="fa fa-edit"></i>
                    </button>&nbsp;&nbsp;
                    <button role="button" data-balloon="Delete Group" data-balloon-pos="up" class="btn btn-sm btn-danger">
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card">
        <div class="header">
          <h4>Manage Privileges
            <div class="float-right">
              <button type="button" class="btn btn-outline-primary btn-sm">
                <i class="fa fa-plus"></i> &nbsp;<span>New Privilege</span></button>
            </div>
          </h4>
        </div>
        <div class="body mt-2">
          <div class="text-center mt-1 mb-3" *ngIf="loadingData">
            <span class="fa fa-spin fa-spinner fa-2x"></span>&nbsp;
            <br>
            <span> Loading, Please wait...</span>
          </div>
          <div class="table-responsive" *ngIf="showData">
            <table class="table table-bordered table-hover table-striped dataTable" cellspacing="0" width="100%">
              <thead>
              <tr >
                <th>S/N</th>
                <th>Privilege</th>
                <th>Task List</th>
                <th>Action</th>
              </tr>
              </thead>
              <tfoot>
              <tr >
                <th>S/N</th>
                <th>Privilege</th>
                <th>Task List</th>
                <th>Action</th>
              </tr>
              </tfoot>
              <tbody>
              <tr *ngFor="let privilege of privileges;let i = index;">
                <td>{{ i + 1 }}</td>
                <td>{{ privilege?.privilege }}</td>
                <td>
                  {{ privilege?.task_list }}
                </td>
                <td>
                  <div>
                    <button role="button" data-balloon="Edit Privilege" data-balloon-pos="up" (click)="triggerEdit(privilege)" class="btn btn-sm btn-primary">
                      <i class="fa fa-edit"></i>
                    </button>&nbsp;&nbsp;
                    <button role="button" data-balloon="Delete Privilege" data-balloon-pos="up"  class="btn btn-sm btn-danger">
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card">
        <div class="header">
          <h4>Manage Tasks
            <div class="float-right">
              <button type="button" class="btn btn-outline-primary btn-sm">
                <i class="fa fa-plus"></i> &nbsp;<span>New Task</span></button>
            </div>
          </h4>
        </div>
        <div class="body mt-2">
          <div class="text-center mt-1 mb-3" *ngIf="loadingData">
            <span class="fa fa-spin fa-spinner fa-2x"></span>&nbsp;
            <br>
            <span> Loading, Please wait...</span>
          </div>
          <div class="table-responsive" *ngIf="showData">
            <table class="table table-bordered table-hover table-striped dataTable" cellspacing="0" width="100%">
              <thead>
              <tr >
                <th>S/N</th>
                <th>Task Name</th>
                <th>Task Description</th>
                <th>Action</th>
              </tr>
              </thead>
              <tfoot>
              <tr >
                <th>S/N</th>
                <th>Task Name</th>
                <th>Task Description</th>
                <th>Action</th>
              </tr>
              </tfoot>
              <tbody>
              <tr *ngFor="let task of tasks;let i = index;">
                <td>{{ i + 1 }}</td>
                <td>{{ task?.name }}</td>
                <td>
                  {{ task?.description }}
                </td>
                <td>
                  <div>
                    <button role="button" data-balloon="Edit Task" data-balloon-pos="up" (click)="triggerEdit(task)" class="btn btn-sm btn-primary">
                      <i class="fa fa-edit"></i>
                    </button>&nbsp;&nbsp;
                    <button role="button" data-balloon="Delete Task" data-balloon-pos="up"  class="btn btn-sm btn-danger">
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>





<!-- Create Admin Modal -->
<div class="modal fade" id="adminModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="title" id="defaultModalLabel">Edit Admin</h4>
      </div>
      <form class="form-auth-small" #adminForm="ngForm" (ngSubmit)="saveAdmin()">

        <div class="modal-body">
          <div class="form-group">
            <label for="admin_name" class="control-label">Admin Name</label>
            <input type="text" class="form-control" placeholder="Admin Name"
                   #name="ngModel"
                   id="admin_name"
                   [(ngModel)]="newAdmin.name" [ngModelOptions]="{standalone: true}" required>
            <div class="text-danger" *ngIf="name.errors && (name.dirty || name.touched)">
                  <span class="validation-message" [hidden]="!name.hasError('required')">
                    Admin name is required</span>
            </div>
          </div>
          <div class="form-group">
            <label for="admin" class="control-label">Admin</label>
            <select type="text" class="form-control"
                    #admin="ngModel"
                    id="admin"
                    [(ngModel)]="newAdmin.status" [ngModelOptions]="{standalone: true}">
              <option value="true" selected>Active</option>
              <option value="false">Inactive</option>
            </select>

          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" *ngIf="!loaders.saving" [disabled]="name.errors || admin.errors" class="btn btn-primary">UPDATE</button>
          <span *ngIf="loaders.saving" class="btn btn-primary">Loading&nbsp;<i class="fa fa-spin fa-spinner"></i></span>
          <button type="button" class="btn btn-danger" data-dismiss="modal">CLOSE</button>
        </div>
      </form>
    </div>
  </div>
</div>
