/*body {
  color: #444 !important;
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1) !important;
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1) !important;
}*/
.team-box a svg {
  height: 20px;
  width: 20px !important;
}
/*

body a {
  color: #444;
}
*/

.team-box .text-center .linkedin svg path {
  transition: all 0.45s;
  fill: rgba(0, 0, 0, 0.3) !important;
}
.team-box .text-center .twitter:hover svg path {
  transition: all 0.45s;
  fill: #0084ff !important;
}
.team-box .text-center .linkedin:hover svg path {
  fill: #0077b5 !important;
  transition: all 0.45s;
}
.team-box .text-center .twitter svg path {
  transition: all 0.45s;
  fill: rgba(0, 0, 0, 0.3) !important;
}
/*
body a:hover {
  color: #222;
  text-decoration: none;
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
*/
/*
#intro-text {
  padding: 100px 0px;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='3000' height='2800' viewBox='0 0 900 600'%3E%3Cg %3E%3Cpath fill='%23fafafa' d='M306.9 210.2c-1.2-22.8-13.5-42.7-40.8-41.1c-18.3 1.1-35.9 3.6-47.5 20.1c-5.2 7.4-10.6 15.6-11.4 24.9c-0.5 5.8 0.2 12 1.2 17.7c9 49.6 85.3 46.7 96.4 0.2C306.6 224.9 307.3 217.4 306.9 210.2z'/%3E%3Cpath fill='%23fafafa' d='M137.2 481.3c-13.2-9.9-31.2-13.3-48.5-3.2c-12.6 7.3-19.1 17.4-21.1 28.2c-0.7 2.4-1.2 4.7-1.5 7c-8.2 35.4 33.7 78.9 72.6 48.6C167.6 539.3 164.4 501.6 137.2 481.3z'/%3E%3Cg fill='%23fafafa' %3E%3Cpath d='M547.9 588.3c-7.1-34.2-61.6-52.7-87.5-16.9c-11.2 11.3-12.7 26.3-7.6 39.7c1.8 7.5 5.5 13.9 10.4 19.1c19.4 20.3 53.4 26.2 72.8 1.9C545.9 619.7 553.9 604.2 547.9 588.3z'/%3E%3Cpath d='M547.9-11.7c-7.1-34.2-61.6-52.7-87.5-16.9c-11.2 11.3-12.7 26.3-7.6 39.7c1.8 7.5 5.5 13.9 10.4 19.1c19.4 20.3 53.4 26.2 72.8 1.9C545.9 19.7 553.9 4.2 547.9-11.7z'/%3E%3C/g%3E%3Cpath fill='%23f9f9f9' d='M849.7 498c-22.3 1.3-43.2 7.5-52.7 29.5c-3.3 7.7-7.3 15.7-7 24.3c2 55.6 86.1 63.4 98.8 10.1C890.6 554.6 877.3 496.4 849.7 498z'/%3E%3Cpath fill='%23f9f9f9' d='M762 291.1c-8.2-6.1-19.1-1.9-27.3 2.2c-7.4 3.7-14.4 8.2-21.6 12.1c-6.6 3.6-13.7 7-19.8 11.5c-18.3 13.5-2.5 45.1 10.6 56.4c17 14.6 41.6 15.9 59.6 2.1C794.1 351.8 790.7 312.4 762 291.1z'/%3E%3Cpath fill='%23f9f9f9' d='M863.3 170.3c-4.5-15.7-17.9-28.8-33.4-34.4c-16.2-5.8-38.4-2.9-51.8 8.1c-14.9 12.2-14.5 31.7-11.4 49c9.6 53.9 84.3 47.7 97-1.3C865.6 184.4 865.3 177.1 863.3 170.3z'/%3E%3Cpath fill='%23f9f9f9' d='M598.4 86.1c-10.2 15.5-9.3 34.2-0.9 50.4c2.6 5 6.2 9.5 10.4 13.2c14.2 12.6 35.5 17.1 53.2 9.5c14.3-6.1 23.9-19.8 26.7-34.7C707.4 75.6 629.7 38.5 598.4 86.1z'/%3E%3Cpath fill='%23f9f9f9' d='M509.8 413.3c-17.3 22.6-11.8 59 17.5 75.3c22.6 12.6 52.2 1.7 63.8-20.9c21.4-42-9.2-85-56.5-71C523.8 399.9 515.6 405.8 509.8 413.3z'/%3E%3Cpath fill='%23f9f9f9' d='M607.4 232.3c-0.5-0.4-1-0.8-1.4-1.2c-16.5-12.8-30.2-22.1-50.3-8.4c-15.5 10.6-29 30.3-31.4 49.1c-4.2 33.6 30.6 46.9 58.6 40.6C619.6 304.2 640.6 259.5 607.4 232.3z'/%3E%3Cpath fill='%23f8f8f8' d='M410.6 95c-36.5 1.3-74.1 41.8-43.1 74.3c19.8 20.9 54.4 20.7 74.6 0.5c20.5-20.4 18.4-53.1-6.9-68.6C427.7 96.6 419.2 94.7 410.6 95z'/%3E%3Cpath fill='%23f8f8f8' d='M291.3 23c-0.1-0.1-0.1-0.1-0.2-0.2c-14.2-16.9-38.3-25.6-61.4-12.3c-13.5 7.8-20.5 18.7-22.7 30.2c-5.7 18 1.5 34.2 14.2 44.8c15.4 16.8 40.3 24.1 64.2 5.5c9.6-7.4 15-16.3 17.2-25.4C308.6 48.8 302.7 33.6 291.3 23z'/%3E%3Cpath fill='%23f8f8f8' d='M419.1 440.6c-16.9-14.5-41.8-21.5-61.7-9.5c-18.3 11.1-1 100.1 32.2 93.5c23.8-4.7 45.3-22.4 48.1-44.3C439.6 466.1 431.5 451.3 419.1 440.6z'/%3E%3Cpath fill='%23f8f8f8' d='M127 227c-12-4.3-25.4-2.1-38.7 11.4C71 255.9 61.4 286.1 80.4 306c21.3 22.3 86.9 27.5 89.6-14.9c0.5-8.9-2.7-17.9-6.5-25.8C155.1 248.3 142.1 232.5 127 227z'/%3E%3Cpath fill='%23f8f8f8' d='M281.5 407.6c-0.3-0.4-0.7-0.7-1-1c-19.3-17.6-59.1-0.6-78.1 10.3c-23.8 13.7-8.2 41.1 5.4 55.8c16.3 17.6 42.7 25.2 68 5.8C291.3 466.6 295.5 422.7 281.5 407.6z'/%3E%3Cpath fill='%23f8f8f8' d='M137.9 110.2c-10.4-25.7-43.3-32.1-67-23.6C60.1 90.4 50 97.8 45.1 108.6c-21.2 47.3 44.9 81.1 78.5 51c9.5-8.5 17.3-18.9 17.4-32.4C141 120.8 139.9 115.1 137.9 110.2z'/%3E%3Cpath fill='%23f7f7f7' d='M344.3 284.7c-10 14.9-9.2 34.1-0.9 49.5c3.4 6.3 8.6 13.8 16.1 15.8c7.1 1.9 15.1 0.7 22.1-0.6c15.7-3 45.6-10.5 52.3-26.8C453.5 274.4 375.6 237.9 344.3 284.7z'/%3E%3Cg fill='%23f7f7f7' %3E%3Cpath d='M-29.2 431.8c23.4 12.4 54.1 1.7 66.1-20.6c9.6-17.8 10.4-40.4-3.3-56.5c-10.5-12.4-44.2-25.8-58.5-11.3c-3 3.1-5.1 7.1-6.9 10.9C-41.1 373.2-55 418.1-29.2 431.8z'/%3E%3Cpath d='M870.8 431.8c23.4 12.4 54.1 1.7 66.1-20.6c9.6-17.8 10.4-40.4-3.3-56.5c-10.5-12.4-44.2-25.8-58.5-11.3c-3 3.1-5.1 7.1-6.9 10.9C858.9 373.2 845 418.1 870.8 431.8z'/%3E%3C/g%3E%3Cpath fill='%23f7f7f7' d='M671.4 460.5c-10.7 1.7-20.2 8.3-26.2 22.2c-21.5 49.5 45.4 84.9 79.4 53.3c16.3-15.2 24-31 6.5-48.1c-5.9-5.8-12.3-11-19.1-15.6C699.5 463.7 684.5 458.4 671.4 460.5z'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
}
#hero-top {
  padding: 300px 0px;
  background: url("/storage/images/female_farmers.jpg");
  background-size: cover;
  background-position: center center;
}
#youtube-cta {
  padding: 200px 0px;
  background: url("/storage/images/farmer_bg.jpeg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
#youtube-cta h2 {
  color: #fff;
}
#youtube-cta .button-youtube {
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #fff;
  margin-top: 30px;
  display: inline-block;
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
#youtube-cta .button-youtube:hover {
  background: #fff;
  color: #222;
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
*//*
#hero-cta {
  padding: 200px 0px;
  padding: 140px 0px;
  background: url("/storage/images/farmer_bg.jpeg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
#hero-cta:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #f5ffea, #f5ffea);
}
#hero-cta h2 {
  color: #fff;
  font-size: 2.2em;
  background: rgba(31, 119, 9, 0.863);
  padding: 30px;
}
#hero-cta .button-youtube {
  padding: 10px 20px;
  border: 1px solid #222;
  border-radius: 5px;
  color: #222;
  margin-top: 30px;
  display: inline-block;
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
#hero-cta .button-youtube:hover {
  background: #222;
  color: #fff;
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}*//*
#about-header {
  background: url("/storage/images/farmcrowdy_family.jpg");
  background-size: cover;
  background-position: bottom center;
  background-position-y: -100px;
  height: 65vh;
  background-attachment: fixed;
}
#about-header:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom right, #f5ffea, #f5ffea);
}
#about-header h2 {
  color: #fff;
  font-size: 2.2em;
  background: rgba(31, 119, 9, 0.863);
  padding: 30px;
}
#about-header .button-youtube {
  padding: 10px 20px;
  border: 1px solid #222;
  border-radius: 5px;
  color: #222;
  margin-top: 30px;
  display: inline-block;
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
#about-header .button-youtube:hover {
  background: #222;
  color: #fff;
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}*/
/*
#farmer-stories,
#team-stories {
  padding: 100px 0px;
}*//*
.super-title {
  font-size: 2.5em;
  line-height: 80% !important;
  color: #acbb16;
}
.intro-text-title {
  font-size: 1.8em;
}
.intro-text-content {
  -webkit-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 40px;
  column-gap: 40px;
  -webkit-column-rule: 1px solid #efefef;
  column-rule: 1px solid #efefef;
}
.sub-big-text {
  font-size: 1.4em;
}
.pages-wrapper {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
  -ms-grid-rows: max-content;
  grid-template-rows: -webkit-max-content;
  grid-template-rows: max-content;
  margin-top: 100px;
}
.pages-box {
  padding: 0px;
  border: 1px solid #efefef;
  background: #fff;
  border-radius: 5px;
  border-bottom: 5px solid #efefef;
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.super-title_careers {
  font-size: 1.5em;
  color: #acbb16;
}
.pages-box:hover {
  border-bottom: 5px solid #acbb16;
  -webkit-box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.page-img {
  padding: 0px;
}
.page-img img {
  width: 100%;
  height: auto;
  text-align: center;
}
.page-link-text {
  padding: 30px 30px;
}
.split-wrapper {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -ms-grid-rows: max-content;
  grid-template-rows: -webkit-max-content;
  grid-template-rows: max-content;
  grid-gap: 20px;
}
.split2-wrapper {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: max-content;
  grid-template-rows: -webkit-max-content;
  grid-template-rows: max-content;
  grid-gap: 20px;
}
.split-box {
  padding: 20px;
  background: #fff;
  border-radius: 5px;
}
.split-box .box-number {
  color: #acbb16;
}
.split-box .box-number:after {
  content: ".     ";
}
.split-box h4 {
  font-weight: 500;
}
.split-box h4:after {
  display: block;
  margin: 10px 0px 20px 0px;
  height: 3px;
  content: " ";
  text-shadow: none;
  background-color: #acbb16;
  width: 60px;
}*//*
.sectional-header {
  margin-bottom: 50px !important;
  font-size: 20px;
  margin-top: 20px;
}
.farmer-wrapper {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: max-content;
  grid-template-rows: -webkit-max-content;
  grid-template-rows: max-content;
  grid-gap: 30px;
}
.farmer-box {
  border-radius: 10px;
  border: 1px solid #efefef;
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.farmer-box:hover {
  -webkit-box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  border: none;
}
.farmer-box .farmer-img {
  width: 100%;
  height: auto;
  display: block;
  margin: 0px;
  padding: 0px;
}
.farmer-box .farmer-details {
  padding: 15px 15px;
}
.farmer-box .farmer-details .farmer-name {
  font-size: 1.2em;
  font-weight: 700;
}
.farmer-box .farmer-details .farmer-subtitle {
  font-size: 0.9em;
  font-weight: 400;
}
.farmer-box .farmer-details .farmer-cta {
  font-size: 0.9em;
  color: #018835;
}
.farmer-box .farmer-details .farmer-cta:hover {
  color: #acbb16;
}
.farmer-box .farmer-details .farmer-cta .farmer-btn {
  border-radius: 100px;
  width: 30px;
  height: 30px;
  text-align: center;
  vertical-align: middle;
  padding: 10px;
  -webkit-box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
}*/

.sectional-header {
  margin-bottom: 50px !important;
  font-size: 20px;
  margin-top: 10px;
}
#team-stories {
  padding: 50px 0px;
}
.team-wrapper {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: max-content !important;
  grid-template-rows: -webkit-max-content !important;
  grid-template-rows: max-content !important;
  grid-gap: 30px;
}
.team-box {
  border-radius: 10px;
  border: 1px solid #efefef;
  text-align: center;
  padding-top: 20px;
  color: #444;
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.team-box:hover {
  -webkit-box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
  border: none;
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.team-box .team-img {
  width: 90px;
  height: auto;
  height: 93px;
  display: block;
  margin: 0px auto;
  border: 1.5px solid #fafafa;
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.2);
  padding: 0px;
  border-radius: 500px;
}
.team-box .team-details {
  padding: 10px;
  display: block;
}
.team-box .team-details .team-name {
  font-size: 1em;
  font-weight: 500;
  line-height: 100%;
  margin-bottom: 5px;
}
.team-box .team-details .team-subtitle {
  font-size: 0.8em;
  font-weight: 400;
  line-height: 120%;
  color: #888;
}
.pulsate-css {
  -webkit-animation: pulsate 1s ease-out;
  animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  opacity: 0;
  border: 3px solid #acbb16;
  border-radius: 30px;
  height: 18px;
  width: 18px;
  position: relative;
  display: inline-block;
  margin-top: 20px;
  text-align: center;
}/*
#key-stats {
  padding: 100px 0px;
  background-color: #acbb16;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%232d7723' stroke-width='66.7' stroke-opacity='0.05' %3E%3Ccircle fill='%23acbb16' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%239eb218' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%2390a919' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%2383a01a' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%2376971b' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%236a8e1c' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%235f851c' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23547b1c' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%2349721b' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%233f691b' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%2335601a' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%232c5718' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23244e17' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%231c4615' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23143d12' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%230d3510' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23082c0c' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23042407' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}*//*
.stats-wrapper {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  -ms-grid-rows: max-content;
  grid-template-rows: -webkit-max-content;
  grid-template-rows: max-content;
  grid-gap: 20px;
}
.stats-box {
  padding: 20px;
  -webkit-box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
  border-radius: 5px;
  text-align: center;
  line-height: 100%;
  background: #fff;
  border-bottom: 5px solid #fff;
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.stats-box:hover {
  border-bottom: 5px solid #acbb16;
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.stats-box h2 {
  font-weight: 700;
  margin-top: 20px;
}
.stats-box p {
  margin-bottom: 0px;
}
#vision {
  padding: 100px 0px;
  background: url("/storage/images/fc_1.JPG");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
}
.vision-box {
  padding: 30px !important;
  -webkit-box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
  border-radius: 5px;
  border-bottom: 5px solid #acbb16;
  background: #fff;
  margin-bottom: 20px;
}
.vision-box h5 {
  font-weight: 700;
  font-size: 2.2em;
  color: #acbb16;
}
.vision-box p {
  font-size: 1.3em;
  margin-top: 20px;
}
#segmented {
  padding: 150px 0px;
  background: #fafafa;
}
.segmented-wrapper {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 20px;
  margin-top: 100px;
}
.segment-box {
  margin: 0px;
  padding: 0px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #efefef;
  border-bottom: 5px solid #efefef;
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.segment-box:hover {
  -webkit-box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
  box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
  border-bottom: 5px solid #acbb16;
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.segment-box img {
  width: 100%;
  height: auto;
}
.segment-box .segment-text {
  padding: 20px;
  font-weight: 700;
  font-size: 1.2em;
}
#core-values {
  padding: 100px 0px;
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1600 900'%3E%3Cpolygon fill='%23efefef' points='957 450 539 900 1396 900'/%3E%3Cpolygon fill='%23f7f7f7' points='957 450 872.9 900 1396 900'/%3E%3Cpolygon fill='%23f1f1f1' points='-60 900 398 662 816 900'/%3E%3Cpolygon fill='%23f8f8f8' points='337 900 398 662 816 900'/%3E%3Cpolygon fill='%23f3f3f3' points='1203 546 1552 900 876 900'/%3E%3Cpolygon fill='%23f8f8f8' points='1203 546 1552 900 1162 900'/%3E%3Cpolygon fill='%23f6f6f6' points='641 695 886 900 367 900'/%3E%3Cpolygon fill='%23f9f9f9' points='587 900 641 695 886 900'/%3E%3Cpolygon fill='%23f8f8f8' points='1710 900 1401 632 1096 900'/%3E%3Cpolygon fill='%23f9f9f9' points='1710 900 1401 632 1365 900'/%3E%3Cpolygon fill='%23fafafa' points='1210 900 971 687 725 900'/%3E%3Cpolygon fill='%23fafafa' points='943 900 1210 900 971 687'/%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}
.values-wrapper {
  display: -ms-grid;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -ms-grid-rows: max-content;
  grid-template-rows: -webkit-max-content;
  grid-template-rows: max-content;
  grid-gap: 30px;
}
.value-box {
  padding: 30px;
  border: 1px solid #efefef;
  background: #fff;
  border-bottom: 5px solid #efefef;
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.value-box:hover {
  border-bottom: 5px solid #acbb16;
  -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
}
.value-box img {
  width: 100px;
  height: auto;
  margin-bottom: 20px;
}*/
.hero_text_bg {
  z-index: 1;
  padding-top: 15px;
  padding-bottom: 20px;
  position: relative;
}
.hero_text_bg::before {
  content: " ";
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: -15px;
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
@media only screen and (min-width: 1640px) {
  #about-header {
    background-position-y: -350px;
    background-position-y: -250px;
  }
}
@media only screen and (min-width: 1900px) {
  #about-header {
    background-position-y: -350px;
  }
}
@media only screen and (min-width: 2100px) {
  #about-header {
    background-position-y: -487px;
  }
}
@media only screen and (min-width: 2564px) {
  #about-header {
    background-position-y: -657px;
  }
}
@media only screen and (max-width: 991px) {
  .team-wrapper {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: max-content !important;
    grid-template-rows: -webkit-max-content !important;
    grid-template-rows: max-content !important;
    grid-gap: 30px;
  }
}
@media only screen and (max-width: 991px) and (max-width: 900px) {
  .values-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .stats-wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
  .pages-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (max-width: 991px) {
  .split2-wrapper {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    -ms-grid-rows: max-content;
    grid-template-rows: -webkit-max-content;
    grid-template-rows: max-content;
    grid-gap: 20px;
  }
}
@media only screen and (max-width: 600px) {
  .segmented-wrapper,
  .stats-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
  .values-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
  .pages-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
    margin-top: 30px;
  }
  .pages-box .page-link-text {
    padding: 10px 10px;
  }
  .pages-box .page-link-text h4 {
    font-size: 1em;
  }
  .farmer-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    -ms-grid-rows: max-content;
    grid-template-rows: -webkit-max-content;
    grid-template-rows: max-content;
  }
  .team-wrapper {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
    -ms-grid-rows: max-content;
    grid-template-rows: -webkit-max-content;
    grid-template-rows: max-content;
  }
  #vision {
    padding: 50px 30px;
  }
  #key-stats {
    padding: 50px 10px;
  }
  #intro-text {
    padding: 50px 10px;
  }
  #segmented,
  #core-values {
    padding: 50px 10px;
  }
  .super-title {
    font-size: 1.8em;
  }
  .intro-text-title {
    margin-bottom: 20px;
  }
  .intro-text-title p {
    color: #888;
  }
  .intro-text-content {
    -webkit-column-count: 1;
    column-count: 1;
    -webkit-column-gap: 40px;
    column-gap: 40px;
    -webkit-column-rule: 1px solid #efefef;
    column-rule: 1px solid #efefef;
  }
  #about-header {
    padding: 100px 0px;
    background: url("/storage/images/farmcrowdy_family.jpg");
    background-size: cover;
    background-position: bottom center;
    background-position-y: -280px;
    background-position-y: -50px;
    background-attachment: fixed;
  }
  .carousel-cell {
    width: 100%;
    height: auto;
    margin-right: 10px;
  }
  .value-box {
    padding: 30px 50px;
    border: 1px solid #efefef;
    background: #fff;
    border-bottom: 5px solid #efefef;
    -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .value-box:hover {
    border-bottom: 5px solid #acbb16;
    -webkit-transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
    transition: all 600ms cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  .value-box img {
    width: 100px;
    height: auto;
    margin-bottom: 20px;
  }
  #youtube-cta {
    padding: 100px 30px;
    background-color: #acbb16;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 800 400'%3E%3Cdefs%3E%3CradialGradient id='a' cx='396' cy='281' r='514' gradientUnits='userSpaceOnUse'%3E%3Cstop offset='0' stop-color='%2368ac0f'/%3E%3Cstop offset='1' stop-color='%23acbb16'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='400' y1='148' x2='400' y2='333'%3E%3Cstop offset='0' stop-color='%231d7e10' stop-opacity='0'/%3E%3Cstop offset='1' stop-color='%231d7e10' stop-opacity='0.5'/%3E%3C/linearGradient%3E%3C/defs%3E%3Crect fill='url(%23a)' width='800' height='400'/%3E%3Cg fill-opacity='0.5'%3E%3Ccircle fill='url(%23b)' cx='267.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='532.5' cy='61' r='300'/%3E%3Ccircle fill='url(%23b)' cx='400' cy='30' r='300'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
  }
  .vision-box {
    padding: 30px !important;
    -webkit-box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
    box-shadow: 5px 5px 25px 0 rgba(46, 61, 73, 0.2);
    border-radius: 5px;
    border-bottom: 5px solid #acbb16;
    background: #fff;
    margin-bottom: 20px;
  }
  .vision-box h5 {
    font-weight: 700;
    font-size: 1.5em;
    color: #acbb16;
  }
  .vision-box p {
    font-size: 1em;
    margin-top: 20px;
  }
}/*
@media only screen and (max-width: 545px) {
  .split2-wrapper {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: max-content;
    grid-template-rows: -webkit-max-content;
    grid-template-rows: max-content;
    grid-gap: 20px;
  }
}*/
/*
@media only screen and (max-width: 435px) {
  .split-wrapper {
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    -ms-grid-rows: max-content;
    grid-template-rows: -webkit-max-content;
    grid-template-rows: max-content;
    grid-gap: 20px;
  }
}*//*
@media only screen and (max-width: 375px) {
  .farmer-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}*/
/*# sourceMappingURL=about-us.min.css.map */
