
<div class="landing-page-content">
  <header id="about-hero">

    <app-l-header [active]="'about'"></app-l-header>


    <div id="hero-content-2">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-left text-white">
            <p class="about-tagline">
              About
            </p>
            <h1 class="about-title mt--2">The Team</h1>
          </div> <!-- END col-sm-12-->
        </div> <!-- END row-->
      </div> <!-- END container-->
    </div> <!-- END hero-content-->

  </header> <!-- END header-->


  <section id="team-stories">

    <div class="container">
      <div *ngFor="let group of teamGroups;let i = index;">
        <h2 class="sectional-header">{{group?.name}}</h2>
      <div class="team-wrapper" >

        <div class="" *ngFor="let member of teamMembers[group.name];let j = index" >
          <div class="team-box h-100">
            <a href="javascript:void(0)" (click)="openModal(member)">
          <img alt="Member Image" class="team-img" [src]="member?.image">
          <div class="team-details pb-0">
            <h3 class="team-name">{{member?.name}}</h3>
            <p class="team-subtitle mb-1">{{member?.position}}</p>
          </div>
        </a>
            <div class="text-center social_position pb-2">
            <a [href]="member?.linkedin" target="_blank" class="linkedin" >
              <svg class="svg-inline--fa fa-linkedin fa-w-14 fa-2x" aria-hidden="true" data-prefix="fab" data-icon="linkedin" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512" data-fa-i2svg="">
                <path fill="currentColor" d="M416 32H31.9C14.3 32 0 46.5 0 64.3v383.4C0 465.5 14.3 480 31.9 480H416c17.6 0 32-14.5 32-32.3V64.3c0-17.8-14.4-32.3-32-32.3zM135.4 416H69V202.2h66.5V416zm-33.2-243c-21.3 0-38.5-17.3-38.5-38.5S80.9 96 102.2 96c21.2 0 38.5 17.3 38.5 38.5 0 21.3-17.2 38.5-38.5 38.5zm282.1 243h-66.4V312c0-24.8-.5-56.7-34.5-56.7-34.6 0-39.9 27-39.9 54.9V416h-66.4V202.2h63.7v29.2h.9c8.9-16.8 30.6-34.5 62.9-34.5 67.2 0 79.7 44.3 79.7 101.9V416z"></path>
              </svg>
            </a>&nbsp;
          <a [href]="member?.twitter" target="_blank" class="twitter" >
            <svg class="svg-inline--fa fa-twitter fa-w-16 fa-2x" aria-hidden="true" data-prefix="fab" data-icon="twitter" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" data-fa-i2svg="">
              <path fill="currentColor" d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z"></path>
            </svg>
          </a>
        </div>
        </div>
        </div>
      </div>
      <hr class="pb-5">
      </div>

    </div>
  </section>



  <app-l-footer></app-l-footer>
</div>

        <div class="modal fade" id="teamMemberModal" tabindex="-1" role="dialog"  aria-hidden="true">
          <div class="modal-dialog modal-lg" *ngIf="activeMember">
            <div class="modal-content" style="padding:30px;">
              <div class="text-right team_close">
                <button type="button" class="close" (click)="closeModal()" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
              </div>
              <img alt="Member Image" [src]="activeMember?.image" style="display:block; margin:0px auto 20px auto; width:120px; height:auto; border-radius:500px; ">

             <div [innerHTML]="activeMember?.about"></div>
            </div>
          </div>
        </div>
