
<div class="landing-page-content">
  <header id="education-hero">

    <app-l-header [active]="'education'"></app-l-header>


    <div id="hero-content-2">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 text-left text-white">
            <h1 class="about-title mt--2">Education</h1>
            <p class="about-tagline">
              Let’s teach you a thing or two on farming
            </p>
          </div> <!-- END col-sm-12-->

          <div class="col-sm-2"></div>
          <div class="col-sm-4 text-right">
            <div class="input-group">
              <input type="text" class="form-control subscribe-form" placeholder="Search Video" [(ngModel)]="searchTitle" [ngModelOptions]="{standalone: true}">
              <div class="input-group-append" style="cursor: pointer" >
                <span class="input-group-text green-color btn subscribe-btn" *ngIf="!searching" (click)="searchEducation()"><i class="fa fa-search"></i></span>
                <span class="input-group-text green-color btn subscribe-btn" *ngIf="searching"><i class="fa fa-spin fa-spinner"></i></span>
              </div>
            </div>
          </div>
        </div> <!-- END row-->
      </div> <!-- END container-->
    </div> <!-- END hero-content-->

  </header> <!-- END header-->
  <section class="mb-5">
    <div class="container py-5 px-5 mt-2">
      <div class="filter-set my-3">

        <div class="row" *ngIf="educations.length">
         <div class=" col-sm-4 col-md-4">
           <ng-select [items]="videoFilter" class="ng-select-form"
                     [notFoundText]="'Filter Videos'"
                     [placeholder]="'Filter Videos'" (change)="getEducationsByCategory($event)"
                     bindLabel="name"
                     bindValue="_id"
                     [multiple]="false">
          </ng-select>
         </div>
          <div class="col-sm-8 col-md-8">
            <span>
              <i class="fa fa-chevron-right"></i>
            </span>&nbsp;
            <span class="text-uppercase"><a href="javascript:void(0)" (click)="getEducations()">Browser All</a></span>
          </div>
          <!--[(ngModel)]="newZone.state_id" [ngModelOptions]="{standalone: true}"-->
        </div>

      </div>
    <div class="">
      <div>
        <div class="text-center" *ngIf="!loading && !educations.length">

          <div class="text-center">
            <div>
              <img src="assets/img/farm/no-record-img.png" style="width: 30%">
            </div>
            <div>Currently we have no post for you</div>
            <!--<div class="mt-2">
              <button class="btn btn-sm btn-success" (click)="gotoURL('/user/farm-update')">Go to sponsorship</button>
            </div>-->
          </div>

        </div>
      </div>
      <ng-container *ngIf="loading">
        <div class="row">
          <div class="col-3">
            <div class="ph-item">
              <div class="ph-col-12">
                <div class="ph-picture"></div>
                <div class="ph-row">
                  <div class="ph-col-6 big"></div>
                  <div class="ph-col-4 empty big"></div>
                  <div class="ph-col-2 big"></div>
                  <div class="ph-col-4"></div>
                  <div class="ph-col-8 empty"></div>
                  <div class="ph-col-6"></div>
                  <div class="ph-col-6 empty"></div>
                  <div class="ph-col-12"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="ph-item">
              <div class="ph-col-12">
                <div class="ph-picture"></div>
                <div class="ph-row">
                  <div class="ph-col-6 big"></div>
                  <div class="ph-col-4 empty big"></div>
                  <div class="ph-col-2 big"></div>
                  <div class="ph-col-4"></div>
                  <div class="ph-col-8 empty"></div>
                  <div class="ph-col-6"></div>
                  <div class="ph-col-6 empty"></div>
                  <div class="ph-col-12"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="ph-item">
              <div class="ph-col-12">
                <div class="ph-picture"></div>
                <div class="ph-row">
                  <div class="ph-col-6 big"></div>
                  <div class="ph-col-4 empty big"></div>
                  <div class="ph-col-2 big"></div>
                  <div class="ph-col-4"></div>
                  <div class="ph-col-8 empty"></div>
                  <div class="ph-col-6"></div>
                  <div class="ph-col-6 empty"></div>
                  <div class="ph-col-12"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="ph-item">
              <div class="ph-col-12">
                <div class="ph-picture"></div>
                <div class="ph-row">
                  <div class="ph-col-6 big"></div>
                  <div class="ph-col-4 empty big"></div>
                  <div class="ph-col-2 big"></div>
                  <div class="ph-col-4"></div>
                  <div class="ph-col-8 empty"></div>
                  <div class="ph-col-6"></div>
                  <div class="ph-col-6 empty"></div>
                  <div class="ph-col-12"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <div class="ph-item">
              <div class="ph-col-12">
                <div class="ph-picture"></div>
                <div class="ph-row">
                  <div class="ph-col-6 big"></div>
                  <div class="ph-col-4 empty big"></div>
                  <div class="ph-col-2 big"></div>
                  <div class="ph-col-4"></div>
                  <div class="ph-col-8 empty"></div>
                  <div class="ph-col-6"></div>
                  <div class="ph-col-6 empty"></div>
                  <div class="ph-col-12"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="ph-item">
              <div class="ph-col-12">
                <div class="ph-picture"></div>
                <div class="ph-row">
                  <div class="ph-col-6 big"></div>
                  <div class="ph-col-4 empty big"></div>
                  <div class="ph-col-2 big"></div>
                  <div class="ph-col-4"></div>
                  <div class="ph-col-8 empty"></div>
                  <div class="ph-col-6"></div>
                  <div class="ph-col-6 empty"></div>
                  <div class="ph-col-12"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="ph-item">
              <div class="ph-col-12">
                <div class="ph-picture"></div>
                <div class="ph-row">
                  <div class="ph-col-6 big"></div>
                  <div class="ph-col-4 empty big"></div>
                  <div class="ph-col-2 big"></div>
                  <div class="ph-col-4"></div>
                  <div class="ph-col-8 empty"></div>
                  <div class="ph-col-6"></div>
                  <div class="ph-col-6 empty"></div>
                  <div class="ph-col-12"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="ph-item">
              <div class="ph-col-12">
                <div class="ph-picture"></div>
                <div class="ph-row">
                  <div class="ph-col-6 big"></div>
                  <div class="ph-col-4 empty big"></div>
                  <div class="ph-col-2 big"></div>
                  <div class="ph-col-4"></div>
                  <div class="ph-col-8 empty"></div>
                  <div class="ph-col-6"></div>
                  <div class="ph-col-6 empty"></div>
                  <div class="ph-col-12"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-3">
            <div class="ph-item">
              <div class="ph-col-12">
                <div class="ph-picture"></div>
                <div class="ph-row">
                  <div class="ph-col-6 big"></div>
                  <div class="ph-col-4 empty big"></div>
                  <div class="ph-col-2 big"></div>
                  <div class="ph-col-4"></div>
                  <div class="ph-col-8 empty"></div>
                  <div class="ph-col-6"></div>
                  <div class="ph-col-6 empty"></div>
                  <div class="ph-col-12"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="ph-item">
              <div class="ph-col-12">
                <div class="ph-picture"></div>
                <div class="ph-row">
                  <div class="ph-col-6 big"></div>
                  <div class="ph-col-4 empty big"></div>
                  <div class="ph-col-2 big"></div>
                  <div class="ph-col-4"></div>
                  <div class="ph-col-8 empty"></div>
                  <div class="ph-col-6"></div>
                  <div class="ph-col-6 empty"></div>
                  <div class="ph-col-12"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="ph-item">
              <div class="ph-col-12">
                <div class="ph-picture"></div>
                <div class="ph-row">
                  <div class="ph-col-6 big"></div>
                  <div class="ph-col-4 empty big"></div>
                  <div class="ph-col-2 big"></div>
                  <div class="ph-col-4"></div>
                  <div class="ph-col-8 empty"></div>
                  <div class="ph-col-6"></div>
                  <div class="ph-col-6 empty"></div>
                  <div class="ph-col-12"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-3">
            <div class="ph-item">
              <div class="ph-col-12">
                <div class="ph-picture"></div>
                <div class="ph-row">
                  <div class="ph-col-6 big"></div>
                  <div class="ph-col-4 empty big"></div>
                  <div class="ph-col-2 big"></div>
                  <div class="ph-col-4"></div>
                  <div class="ph-col-8 empty"></div>
                  <div class="ph-col-6"></div>
                  <div class="ph-col-6 empty"></div>
                  <div class="ph-col-12"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </ng-container>

      <div class="row mb-2" *ngIf="educations.length">
        <div class="col-sm-12 col-md-3 mt-2" *ngFor="let education of educations">
          <div class="card">
            <img class="card-img-top" [src]="education?.img_link" [alt]="education?.title">
            <div class="card-img-overlay px-0">
              <div  style="padding-top: 26%" class="">
                <div class="text-center play-button" (click)="openNextPage(education)">
                  <img src="assets/img/education/play.png" style="padding-top: -10px;" width="45">
                </div>

                <div class="mt-4 px-2 " style="background-color: rgba(0,0,0,0.5);" [attr.data-balloon]="education?.title" data-balloon-pos="up">
                  <h6 class="px-0 card-title post-title text-white">{{education?.title}}</h6>
                  <p class="card-text text-white">by: {{education?.author}}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>

    </div>
  </section>







  <app-l-footer></app-l-footer>
</div>
