<div class="container-fluid">
  <app-breadcrumb [dataInput]="breadCrumb"></app-breadcrumb>








  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card">
        <div class="header">
          Farm Product Orders
        </div>
        <div class="body mt-2">
          <div class="text-center mt--3" *ngIf="!loadingData && !transactions.length">
            <div>
              <img src="assets/img/farm/no-record-img.png" style="width: 30%">
            </div>
            <div>No products saved to your account</div>
            <div class="mt-2">
              <button class="btn btn-sm btn-success" (click)="gotoURL('/user/farm-products')">Go to farm products</button>
            </div>
          </div>

          <div class="text-center mt-1 mb-3" *ngIf="loadingData">
            <span class="fa fa-spin fa-spinner fa-2x"></span>&nbsp;
            <br>
            <span> Loading, Please wait...</span>
          </div>
          <div class="table-responsive" *ngIf="showData && transactions.length">
            <table id="transaction-list" class="table table-bordered table-hover table-striped dataTable" cellspacing="0" width="100%">

              <thead>
              <tr >
                <th class="no-sort" width="5%"></th>
                <th>#</th>
                <!--<th>Action</th>-->

                <th>Transaction Type</th>
                <th>Payment Channel</th>
                <th>Status</th>

                <th>Initiator</th>
                <th>Recipient</th>
                <th>Amount</th>

                <th>Narration</th>

                <th>Trans Ref.</th>
                <th>Transaction Date</th>


              </tr>
              </thead>
              <tfoot>
              <tr >
                <th class="no-sort"></th>
                <th>#</th>
                <!--<th>Action</th>-->

                <th>Transaction Type</th>
                <th>Payment Channel</th>
                <th>Status</th>

                <th>Initiator</th>
                <th>Recipient</th>
                <th>Amount</th>

                <th>Narration</th>

                <th>Trans Ref.</th>
                <th>Transaction Date</th>

              </tr>
              </tfoot>

              <tbody>

              <tr *ngFor="let transaction of transactions;let i = index;">
                <td class=""></td>
                <td>{{ i + 1 }}</td>
                <td>{{ transaction?.name }}</td>
                <td>{{ transaction?.type }}</td>
                <td>{{ transaction?.payment_channel }}</td>
                <td>{{ transaction?.status }}</td>
                <td>{{ transaction?.initiator }}</td>
                <td>{{ transaction?.amount }}</td>
                <td>{{ transaction?.naration }}</td>
                <td>{{ transaction?.transaction_ref }}</td>
                <td>{{ transaction?.date }}</td>
                <td>
                  <!--<div>
                    <button role="button" data-balloon="Edit Category" data-balloon-pos="up" (click)="triggerEdit(transaction)" class="btn btn-sm btn-primary">
                      <i class="fa fa-edit"></i>
                    </button>&nbsp;&nbsp;
                    <button role="button" data-balloon="Delete Category" data-balloon-pos="up" (click)="deleteCategory(transaction)" class="btn btn-sm btn-danger">
                      <i class="fa fa-trash"></i>
                    </button>

                  </div>-->
                </td>
              </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>

  </div>








</div>




