<div class="container-fluid">
  <app-breadcrumb [dataInput]="breadCrumb"></app-breadcrumb>








  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card">
        <div class="header">
          <div class="row">
            <div class="col-4">
              <h4>Manage Admins</h4></div>
            <div class="col-8">
            <div class="float-right">
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="openDialog('adminModal')">
              <i class="fa fa-plus"></i> &nbsp;<span>Add Admin</span></button>
          </div></div>
          </div>
        </div>
        <div class="body mt-2">
          <div class="text-center mt-1 mb-3" *ngIf="loadingData">
            <span class="fa fa-spin fa-spinner fa-2x"></span>&nbsp;
            <br>
            <span> Loading, Please wait...</span>
          </div>
          <div class="table-responsive" *ngIf="showData">
            <table id="all-admin" class="table table-bordered table-hover table-striped dataTable" cellspacing="0" width="100%">
              <thead>
              <tr >
                <th class="no-sort"></th>
                <th>S/N</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Role</th>
                <th>Action</th>
              </tr>
              </thead>
              <tfoot>
              <tr >
                <th class="no-sort"></th>
                <th>S/N</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Role</th>
                <th>Action</th>
              </tr>
              </tfoot>
              <tbody>
              <tr *ngFor="let admin of admins;let i = index;">
                <td class="details-control" [id]="'td-' + i"></td>
                <td>{{ i + 1 }}</td>
                <td>{{ admin?.full_name }}</td>
                <td>
                  {{ admin?.email }}
                </td>
                <td>
                  {{ admin?.phone_number }}
                </td>
                <td>
                  {{ admin?.role }}
                </td>
                <td>
                  <div>
                    <button role="button" data-balloon="Manage Privilege" data-balloon-pos="up" class="btn btn-sm btn-info">
                     Manage Privilege
                    </button>&nbsp;&nbsp;
                    <button role="button" data-balloon="Edit Admin" data-balloon-pos="up" (click)="triggerEdit(admin)" class="btn btn-sm btn-primary">
                      <i class="fa fa-edit"></i>
                    </button>&nbsp;&nbsp;
                    <button role="button" data-balloon="Delete Admin" data-balloon-pos="up" (click)="deleteAdmin(admin)" class="btn btn-sm btn-danger">
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>





<!-- Create Admin Modal -->
<div class="modal fade" id="adminModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="title" id="defaultModalLabel">{{modal.title}}</h4>
      </div>
      <form class="form-auth-small" #adminForm="ngForm" (ngSubmit)="saveAdmin()">

        <div class="modal-body">
          <div class="form-group">
            <label for="admin_name" class="control-label">Admin First Name</label>
            <input type="text" class="form-control" placeholder="Admin First Name"
                   #name="ngModel"
                   id="admin_name"
                   [(ngModel)]="newAdmin.first_name" [ngModelOptions]="{standalone: true}" required>
            <div class="text-danger" *ngIf="name.errors && (name.dirty || name.touched)">
                  <span class="validation-message" [hidden]="!name.hasError('required')">
                    Admin firstname is required</span>
            </div>
          </div>
          <div class="form-group">
            <label for="admin_lastname" class="control-label">Admin Last Name</label>
            <input type="text" class="form-control" placeholder="Admin Last Name"
                   #last_name="ngModel"
                   id="admin_lastname"
                   [(ngModel)]="newAdmin.last_name" [ngModelOptions]="{standalone: true}" required>
            <div class="text-danger" *ngIf="last_name.errors && (last_name.dirty || last_name.touched)">
                  <span class="validation-message" [hidden]="!last_name.hasError('required')">
                    Admin lastname is required</span>
            </div>
          </div>
          <div class="form-group">
            <label for="admin_email" class="control-label">Admin Email</label>
            <input type="email" class="form-control" placeholder="Admin Email"
                   #email="ngModel"
                   id="admin_email"
                   [(ngModel)]="newAdmin.email" [ngModelOptions]="{standalone: true}" required>
            <div class="text-danger" *ngIf="email.errors && (email.dirty || email.touched)">
                  <span class="validation-message" [hidden]="!email.hasError('required')">
                    Admin email is required</span>
            </div>
          </div>
          <div class="form-group">
            <label for="admin_phone" class="control-label">Admin Phone</label>
            <input type="text" class="form-control" placeholder="Admin Phone"
                   #phone="ngModel"
                   id="admin_phone"
                   [(ngModel)]="newAdmin.phone_number" [ngModelOptions]="{standalone: true}" required>
            <div class="text-danger" *ngIf="phone.errors && (phone.dirty || phone.touched)">
                  <span class="validation-message" [hidden]="!phone.hasError('required')">
                    Admin phone number is required</span>
            </div>
          </div>
          <div class="form-group" *ngIf="!activeAdmin">
            <label for="admin_password" class="control-label">Admin Password</label>
            <input type="text" class="form-control" placeholder="Admin Password"
                   #password="ngModel"
                   id="admin_password"
                   [(ngModel)]="newAdmin.password" [ngModelOptions]="{standalone: true}" required>
            <div class="text-danger" *ngIf="password.errors && (password.dirty || password.touched)">
                  <span class="validation-message" [hidden]="!password.hasError('required')">
                    Admin password is required</span>
            </div>
          </div>
          <div class="form-group">
            <label for="admin_role" class="control-label">Admin Role</label>
            <select  class="form-control"
                   #role="ngModel"
                   id="admin_role"
                     [(ngModel)]="newAdmin.role" [ngModelOptions]="{standalone: true}" required>
              <option value="SUPER">Super Admin</option>
              <option value="BLOGGER">Blogger</option>
              <option value="ACCOUNTANT">Accountant</option>
            </select>
            <div class="text-danger" *ngIf="role.errors && (role.dirty || role.touched)">
                  <span class="validation-message" [hidden]="!role.hasError('required')">
                    Admin role is required</span>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="submit" *ngIf="!loaders.saving" [disabled]="name.errors || last_name.errors || email.errors || role.errors" class="btn btn-primary">{{modal.btnTxt}}</button>
          <span *ngIf="loaders.saving" class="btn btn-primary">Loading&nbsp;<i class="fa fa-spin fa-spinner"></i></span>
          <button type="button" class="btn btn-danger" data-dismiss="modal">CLOSE</button>
        </div>
      </form>
    </div>
  </div>
</div>
