<div class="landing-page-content">

  <header id="details-head">

    <app-l-header [active]="'shop'"></app-l-header>


  </header>



  <section class="mt-3 mb-4">
    <div class="container px-sm-5 px-md-0">
      <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-12 mb-4 d-none d-sm-none d-md-block d-lg-block">
          <div class="accordion">
            <div class="mb-2">
              <div class="mb-3">
                <h5 class="mb-1" style="font-size: 12px;">
                  <a href="javascript:void(0)" style="padding-bottom: 6px;border-bottom: 2px solid #89DB87" aria-expanded="true" aria-controls="farmType">
                    Farm Type
                  </a>
                </h5>
              </div>
              <div id="farmType" class="collapse show mt-4" style="font-size: 19px;">
                <div class="">
                  <div >
                    <span class="font-weight-bold">{{shopData?.farm_type?.name}}</span>

                  </div>




                </div>
              </div>
            </div>
            <div class="mb-2">
              <div>
                <h5 class="mb-1 pt-3"   style="font-size: 12px;">
                  <a href="javascript:void(0)" style="padding-bottom: 6px;border-bottom: 2px solid #89DB87" aria-expanded="true" aria-controls="farmStatus">
                    Farm Status
                  </a>
                </h5>
              </div>
              <div id="farmStatus" class="collapse show mt-4" style="font-size: 19px;">
                <div class="">
                  <div >
                    <span class="font-weight-bold" >{{shopData?.farm_status?.name}}</span>

                  </div>






                </div>
              </div>
            </div>
          </div>


        </div>

        <div class="col-lg-10 col-md-10 col-sm-12 pb-5">
          <div *ngIf="loading && !shopData">
            <div class="row">
              <div class="col-12">
                <div class="ph-item">
                  <div class="ph-col-12">
                    <div class="ph-picture"></div>
                    <div class="ph-row">
                      <div class="ph-col-6 big"></div>
                      <div class="ph-col-4 empty big"></div>
                      <div class="ph-col-2 big"></div>
                      <div class="ph-col-4"></div>
                      <div class="ph-col-8 empty"></div>
                      <div class="ph-col-6"></div>
                      <div class="ph-col-6 empty"></div>
                      <div class="ph-col-12"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>


         <div class="container px-5">
           <div class="landing-page mb-2" *ngIf="!loading && shopData">
            <h4 class="sponsor-farm-h4 mb-2">Sponsor farm</h4>
            <div class="row">
            <div class="col-md-6 col-sm-12 mb-4">
              <img [src]="shopData?.display_img" alt="Display Image" width="350px;" height="auto" style="border: 1px solid #89DB87" class="">
            </div>

            <div class="col-md-6 col-sm-12">
              <div class="farm-title mb-2 p-2">{{shopData?.farm_name}}</div>
              <div class="p-2">
                <img src="assets/img/dashboard/icons/roi.png" width="14" class="mr-2">

                <ng-container *ngIf="shopData?.farm_type?.name.toLowerCase() !== 'food trading' &&
                 shopData?.farm_type?.name.toLowerCase() !== 'food stuff trading'">
                  <span class="text-success font-weight-bold">{{shopData?.percentage_to_gain}}%</span> ROI in {{shopData?.duration}} <span class="text-lowercase">{{shopData?.duration_type}}s</span>
                </ng-container>

               <ng-container *ngIf="shopData?.farm_type?.name.toLowerCase() === 'food trading' ||
                shopData?.farm_type?.name.toLowerCase() === 'food stuff trading'">
                 <span
                      class="text-success font-weight-bold">{{shopData?.percentage_to_gain}}%</span> ROI in {{shopData?.roi_interval}}
                <span class="text-lowercase">months interval for {{shopData?.duration}} years</span>
               </ng-container>
              </div>
              <div class="p-2">
                <img src="assets/img/dashboard/icons/wallet-sm.png" width="14" class="mr-2">
                <b class="font-weight-bold">{{shopData?.amount_to_invest || 0 | currency: '&#8358;'}}</b> per unit
              </div>
              <div class="p-2">
                <img src="assets/img/icons/marker.png" width="14" class="mr-2">
                {{ shopData?.farm_location }}
              </div>
              <!--<div class="p-2 text-center">
                <div class="progress" style="height:20px">
                  <div class="progress-bar bg-success" style="width:40%;" [ngStyle]="{'width': percentageLeft + '%'}"></div>
                </div>
                <div class="">{{percentageLeft}}% Left</div>
              </div>-->


            <div class="p-2 mt-5">
             <div class="row">
               <div class="col-6">
                 <div class="number-input" *ngIf="shopData?.farm_status?.can_sponsor">
                   <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="" (click)="validateQty('quantity')" ></button>
                   <input class="quantity" min="1" [id]="'quantity'" name="quantity" type="number"
                          [(ngModel)]="quantity" [ngModelOptions]="{standalone: true}" (change)="validateQty('quantity')" (keyup)="validateQty('quantity')">
                   <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus" (click)="validateQty('quantity')"></button>
                 </div>
               </div>
               <div class="col-6">
                 <button class="btn btn-lg btn-default btn-sponsor-now-out-of-stock" *ngIf="shopData?.farm_status?.name === 'Sold Out'
                 || shopData.farm_status.name.toLowerCase().includes('sold')" >Out of Stock</button>
                 <button class="btn btn-lg btn-default btn-sponsor-now-out-of-stock" *ngIf="shopData?.farm_status?.name === 'Opening Soon'
                  || shopData.farm_status.name.toLowerCase().includes('opening')" >Opening Soon</button>

                 <button class="btn btn-lg btn-success text-uppercase btn-sponsor-now" *ngIf="shopData?.farm_status?.can_sponsor && !adding" (click)="handleInvestment(shopData);">SPONSOR NOW</button>
                 <button class="btn btn-lg btn-success text-uppercase btn-sponsor-now" *ngIf="adding"><i class="fa fa-spin fa-spinner"></i>&nbsp;Loading...</button>

               </div>
             </div>
              </div>
            </div>
            </div>
          </div>
           <div class="landing-page mt-5">
             <h4>Description</h4>
             <div class="row">
               <div class="col-12" >
                 <div [innerHTML]="shopData?.description"></div>
               </div>

             </div>
             <div class="mt-5"><a href="javascript:void(0)" [routerLink]="['/farm-shop']"><img src="assets/img/icons/arrow.png"></a></div>
           </div>
</div>

        </div>
      </div>
    </div>


  </section>

  <app-l-footer></app-l-footer>
</div>
