<div class="container-fluid">
  <app-breadcrumb [dataInput]="breadCrumb"></app-breadcrumb>


  <div class="row clearfix profilepage_1" style="" id="edit_section" *ngIf="editorDiv">
    <div class="col-lg-12">
      <div class="card animated bounceInUp">

        <form  #updateForm="ngForm" (ngSubmit)="saveUpdate()">

          <div class="body">
            <h6 class="mb-3">{{modal.title}}
              <span class="text-danger close font-weight-bold" (click)="closeEditor()">&times;</span>
            </h6>
            <div class="row clearfix">
              <div class="col-lg-12 col-md-12">
                <div class="form-group">
                  <label for="title" class="control-label">Title</label>
                  <input type="text" class="form-control" placeholder="Update Title"
                         #title="ngModel"
                         id="title"
                         [(ngModel)]="newUpdate.title" [ngModelOptions]="{standalone: true}" required>
                  <div class="text-danger" *ngIf="title.errors && (title.dirty || title.touched)">
                  <span class="validation-message" [hidden]="!title.hasError('required')">
                    Farm update title is required</span>
                  </div>

                </div>

              </div>

            </div>

          </div>


          <div class="body">
            <h6>Farm Update Body</h6>
            <!--<app-ngx-editor [placeholder]="'Post Body...'" [height]="'500px'" [spellcheck]="true" [(ngModel)]="newUpdate.message_body" [ngModelOptions]="{standalone: true}"></app-ngx-editor>-->


            <editor apiKey="a80c3qdo2khjvxz66zu0u4munv2w4zrd5v1b2l3bkkr4fe87"
                    id="updateEditor"
                    [init]="initEditor"
                    [(ngModel)]="newUpdate.message_body" [ngModelOptions]="{standalone: true}"
                    initialValue="<p>Farm Update Body...</p>"></editor>


          </div>

          <div class="body">
            <h6>Cover Image(*)</h6>
            <div class="text-center">
              <div>

                <div class="" *ngIf="!newUpdate.img_link && !loaders.loadingImg">
                  <app-croppie [croppieData] = "{id: 'UpdateDisplayImage', data: newUpdate, key: 'img_link', config: {vheight: 450, vwidth: 650, fheight: 500, fwidth: auto, enableResize: false}}" (updateUI)="getUploadEvent($event);"  (showLoad)="startLoading($event)"></app-croppie>
                </div>
                <div *ngIf="!newUpdate.img_link && loaders.loadingImg">
                  <!---->
                  <span class="fa fa-spin fa-spinner"></span>&nbsp;Saving...
                </div>


                <div class="media-left" *ngIf="newUpdate.img_link">
                  <!--newUpdate.display_img-->
                  <img [src]="newUpdate.img_link"
                       style=""
                       class="user-photo media-object" alt="Update Display Image">

                  <div class="media-body">
                    <p>Upload Image.
                      <br> <em>Image should be at least 450px x 450px</em></p>
                    <button type="button" class="btn btn-default-dark" id="btn-upload-photo" (click)="removeImageAndRestorePicker('img_link', null)">Change Image</button>
                    <input type="file" id="filePhoto" class="sr-only" (click)="removeImageAndRestorePicker('img_link', null)">
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="body text-center pt-5">
            <div>
              <button type="submit" class="btn btn-primary px-5"
                      *ngIf="!loaders.saving" [disabled]="title.errors || !newUpdate.img_link">
                {{modal.btnText}}</button>
              <span *ngIf="loaders.saving" class="btn btn-primary px-5">Loading&nbsp;<i class="fa fa-spin fa-spinner"></i></span>
              &nbsp;&nbsp;
              <button type="reset" class="btn btn-default px-5" (click)="closeEditor()">Cancel</button>
            </div>
          </div>
        </form>


      </div>
    </div>
  </div>



  <div class="row clearfix" id="main-table">
    <div class="col-lg-12">
      <div class="card">
        <div class="header">
          <div class="float-right" *ngIf="!editorDiv">
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="openDialog()">
              <i class="fa fa-plus"></i> &nbsp;<span>New Update</span></button>
          </div>
        </div>
        <div class="body mt-2">
          <div class="text-center mt-1 mb-3" *ngIf="loadingData"><span class="fa fa-spin fa-spinner fa-2x"></span>&nbsp; Loading, Please wait...</div>
          <div class="table-responsive" *ngIf="showData">
            <table id="all-updates" class="table table-bordered table-hover table-striped dataTable" cellspacing="0" width="100%">
              <thead>
              <tr >
                <th class="no-sort">#</th>
                <th>Title</th>
                <th>Image</th>
                <th>Published</th>
                <th>Action</th>

              </tr>
              </thead>
              <tfoot>
              <tr >
                <th class="no-sort">#</th>
                <th>Title</th>
                <th>Image</th>
                <th>Published</th>
                <th>Action</th>
              </tr>
              </tfoot>
              <tbody>

              <tr *ngFor="let update of updates;let i = index;">
                <td class="details-control" [id]="'td-' + i">{{ i + 1 }}</td>
                <td [attr.data-balloon]="update?.title" data-balloon-pos="up" data-balloon-length="large">&nbsp;
                  <div class="body-div" >{{ update?.title }}</div>
                </td>
                <td>
                  <img [src]="update?.img_link" width="80">
                </td>
                <td>
                  <span class="badge badge-success" *ngIf="update?.publish">PUBLISHED</span>
                  <span class="badge badge-info"  *ngIf="!update?.publish">PENDING</span>
                </td>
                <td>
                  <button  class="btn btn-sm btn-info" (click)="triggerPublish(update)">Publish</button>&nbsp;
                  <button  class="btn btn-sm btn-primary" (click)="triggerEdit(update)">Edit</button>&nbsp;
                  <button  class="btn btn-sm btn-danger" (click)="deleteUpdate(update)">Delete</button>
                </td>
              </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>



  </div>



</div>





<!-- Public farm update Modal -->
<div class="modal fade" id="updateFarmModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="title" id="defaultModalLabel">Publish Update</h4>
      </div>
        <div class="modal-body">
          <div class="form-group">
            <label class="control-label">Publish To</label>
            <select class="form-control"
                    [(ngModel)]="publishTo" [ngModelOptions]="{standalone: true}">
              <option value="undefined" disabled>Choose whom to publish to</option>
              <option value="ALL">All Customers as Notifications</option>
              <option *ngFor="let farm of allShops" [value]="farm?._id">{{farm?.farm_name}} Sponsors</option>
            </select>

          </div>
        </div>
        <div class="modal-footer">
          <button *ngIf="!loaders.saving" class="btn btn-primary" (click)="publishUpdate()">PUBLISH</button>
          <span *ngIf="loaders.saving" class="btn btn-primary">Loading&nbsp;<i class="fa fa-spin fa-spinner"></i></span>
          <button type="button" class="btn btn-danger" data-dismiss="modal">CLOSE</button>
        </div>

    </div>
  </div>
</div>
