<div id="left-sidebar" class="sidebar pb-5">
  <div class="sidebar-scroll">
    <div class="user-account">
      <img [src]="currentUser.user_image_url ? currentUser.user_image_url : 'assets/img/logo/user.jpg'" class="rounded-circle user-photo" alt="PP">
      <div class="dropdown">
        <span>Hello,</span>
        <a href="javascript:void(0);" class="dropdown-toggle user-name" (click)="forceAlignment()" data-toggle="dropdown">
          <strong>{{currentUser.full_name || 'Username'}}</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-left" style="width: 200px;" id="dropperBody" >
          <li><a href="javascript:void(0)" (click)="openProfile()"><i class="icon-user"></i>My Profile</a></li>
          <li class="divider"></li>
          <li class="" *ngIf="currentUser.role.toLowerCase() === 'user'">
            <a href="javascript:void(0);" class="bouncer animated" [routerLink]="['/user/wallet-history']">
              <i class="icon-wallet"></i>&nbsp;{{wallet_balance || 0.0 | currency: 'NGN '}}</a>
          </li>
          <li class="" *ngIf="currentUser.role.toLowerCase() === 'user'">
            <a href="javascript:void(0)" class="bouncer animated" [routerLink]="['/user/cart']"><i class="fa fa-shopping-cart fa-2x"></i>&nbsp;My Cart</a>
          </li>

          <li class="divider"></li>
          <li><a href="javascript:void(0)" (click)="logOut()"><i class="icon-power"></i>Logout</a></li>
        </ul>
      </div>

    </div>
    <!-- Nav tabs -->
   <!-- <ul class="nav nav-tabs text-center">
      <li class="nav-item"><a class="nav-link active" data-toggle="tab" href="#main-menu-tab">Menu</a></li>
      <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#WalletSystem"  >Wallet</a></li>
      <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#setting" ><i class="icon-settings"></i></a></li>

    </ul>-->

    <!-- Tab panes -->
    <div class="tab-content-sidebar">
      <div class="tab-pane" id="main-menu-tab">
        <nav id="left-sidebar-nav" class="sidebar-nav">
          <ul id="main-menu" class="metismenu">
            <li class="navLinks nav-link-special active"  id="dashboard" routerLinkActive="active">
              <a href="javascript:void(0)" [routerLink]="['/user/dashboard']">
                <img src="assets/img/dashboard/icons/overview-1.png" width="25" class="mr-2 img-default">
                <img src="assets/img/dashboard/icons/overview-colored.png" width="25" class="mr-2 img-colored">
                <span>Overview</span></a>
            </li>
            <li class="navLinks nav-link-special" id="my-farm" routerLinkActive="active">
              <a href="javascript:void(0)" [routerLink]="['/user/my-farm']">
                <img src="assets/img/dashboard/icons/history-1.png" width="25" class="mr-2 img-default">
                <img src="assets/img/dashboard/icons/history-colored.png" width="25" class="mr-2 img-colored">
                <span>Farm History</span></a>
            </li>
            <li class="navLinks nav-link-special" id="farm-updates-and-notifications" routerLinkActive="active">
              <a href="javascript:void(0)" [routerLink]="['/user/farm-updates-and-notifications']">
                <img src="assets/img/dashboard/icons/update-1.png" width="25" class="mr-2 img-default">
                <img src="assets/img/dashboard/icons/update-colored.png" width="25" class="mr-2 img-colored">
                <span>Farm Updates</span></a>
            </li>
            <li class="navLinks nav-link-special"  id="cart" routerLinkActive="active">
              <a href="javascript:void(0)" [routerLink]="['/user/cart']">
                <img src="assets/img/dashboard/icons/sponsor--1.png" width="25" class="mr-2 img-default">
                <img src="assets/img/dashboard/icons/sponsor-farm.png" width="25" class="mr-2 img-colored">
                <span>My Cart</span></a>
            </li>
            <li class="navLinks nav-link-special"  id="farm-update" routerLinkActive="active">
              <a href="javascript:void(0)" [routerLink]="['/user/farm-update']">
                <img src="assets/img/dashboard/icons/update-1.png" width="25" class="mr-2 img-default">
                <img src="assets/img/dashboard/icons/update-colored.png" width="25" class="mr-2 img-colored">
                <span>Farm Shop</span></a>
            </li><!--
            <li class="navLinks nav-link-special"  id="transaction-history" routerLinkActive="active">
              <a href="javascript:void(0)" [routerLink]="['/user/transaction-history']"><img src="assets/img/dashboard/icons/update-1.png" width="25" class="mr-2"><span>Transactions Report</span></a>
            </li>-->

            <li class="navLinks nav-link-special"  id="transaction-history" routerLinkActive="active">
              <a href="javascript:void(0)" class="has-arrow">
                <img src="assets/img/dashboard/icons/reports_1.png" width="25" class="mr-2 img-default">
                <img src="assets/img/dashboard/icons/reports.png" width="25" class="mr-2 img-colored">
                <span>Reports</span></a>
              <ul class="collapse childNavDropDown">
                <li><a href="javascript:void(0)" [routerLink]="['/user/transaction-history']" routerLinkActive="active">Transaction Report</a></li>
                <li><a href="javascript:void(0)" [routerLink]="['/user/wallet-history']" routerLinkActive="active">Wallet History</a></li>
               </ul>
            </li>

          <li class="navLinks nav-link-special"  id="bank-transfer" routerLinkActive="active">
              <a href="javascript:void(0)" [routerLink]="['/user/payment/bank-transfer']" class="has-arrow">
                <img src="assets/img/dashboard/icons/bank_transfer_1.png" width="25" class="mr-2 img-default">
                <img src="assets/img/dashboard/icons/bank_transfer.png" width="25" class="mr-2 img-colored">


                <span>Bank Transfers</span></a>
              <ul class="collapse childNavDropDown">
                <li><a href="javascript:void(0)" [routerLink]="['/user/payment/pending-transfer']" routerLinkActive="active">Pending Payment</a></li>
                <li><a href="javascript:void(0)" [routerLink]="['/user/payment/bank-transfer']" routerLinkActive="active">Confirm Bank Transfer</a></li>
               </ul>
            </li>

            <li class="container" style="border-top: 1px dotted #ffffff;width: 15px;padding: 10px 95px;"></li>
            <li class="navLinks nav-link-special"  id="farm-products" routerLinkActive="active">
              <a href="javascript:void(0)" class="has-arrow">
                <img src="assets/img/dashboard/icons/farm_products_1.png" width="25" class="mr-2 img-default">
                <img src="assets/img/dashboard/icons/farm_products.png" width="25" class="mr-2 img-colored">

                <span>Farm Products</span></a>
              <ul class="collapse childNavDropDown">
                <li><a href="javascript:void(0)" [routerLink]="['/farm-products']" routerLinkActive="active">Farm Products</a></li>
                <li><a href="javascript:void(0)" [routerLink]="['/user/farm-products/orders']"  routerLinkActive="active">Product Orders</a></li>
              </ul>
            </li>
            <li class="container" style="border-top: 1px dotted #ffffff;width: 15px;padding: 10px 95px;"></li>
            <li class="navLinks nav-link-special"  id="account-manager" routerLinkActive="active">
              <a href="javascript:void(0)" class="has-arrow">
                <img src="assets/img/dashboard/icons/more_1.png" width="25" class="mr-2 img-default">
                <img src="assets/img/dashboard/icons/more.png" width="25" class="mr-2 img-colored">

                <span>Referral & Others</span></a>
              <ul class="collapse childNavDropDown">
                <li><a href="javascript:void(0)" routerLinkActive="active" (click)="openAccountManager()">Account Manager</a></li>
                <li><a href="javascript:void(0)" [routerLink]="['/faq']"  routerLinkActive="active">Faqs</a></li>
                <li><a href="javascript:void(0)" [routerLink]="['/user/others/legals']" routerLinkActive="active">Legals</a></li>
                <li><a href="javascript:void(0)" [routerLink]="['/user/refer-a-friend']" routerLinkActive="active">Refer a Friend</a></li>
              </ul>
            </li>

          </ul>
        </nav>
      </div>





    </div>
  </div>
</div>





<!-- Account Manager -->
<div class="modal fade" id="AccountManager" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="title" id="defaultModalLabel">Contact Account Officer</h4>
      </div>
      <form class="form-auth-small" #accountManagerForm="ngForm" (ngSubmit)="messageAccountManager()">

        <div class="modal-body">
          <div class="form-group">
            <label for="topic" class="control-label">Topic</label>
            <input type="text" class="form-control"
                   #topic="ngModel"
                   id="topic"
                   [(ngModel)]="accountManager.topic" [ngModelOptions]="{standalone: true}" required>
            <div class="text-danger" *ngIf="topic.errors && (topic.dirty || topic.touched)">
                  <span class="validation-message" [hidden]="!topic.hasError('required')">
                    Topic is required</span>
            </div>
          </div>
          <div class="form-group">
            <label for="message" class="control-label">Message</label>
            <textarea class="form-control"
                      #message="ngModel" rows="4"
                      id="message"
                      [(ngModel)]="accountManager.message" [ngModelOptions]="{standalone: true}">
            </textarea>

          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" *ngIf="!loaders.saving" [disabled]="topic.errors || message.errors" class="btn btn-primary">Submit</button>
          <span *ngIf="loaders.saving" class="btn btn-primary">Loading&nbsp;<i class="fa fa-spin fa-spinner"></i></span>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>







<!--Fund Wallet Modal -->
<div class="modal fade" id="fundWallet" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content" style="" *ngIf="show">
      <div class="modal-header">
        <h4 class="title">Fund Wallet</h4>
      </div>
      <form class="form-auth-small" #fundWalletForm="ngForm" (ngSubmit)="proceedToFund()">

        <div class="modal-body">
          <div class="">
            <div class="form-group">
              <label for="selectPaymentChannel" class="control-label">Select Payment Channel</label>
              <ng-select [items]="paymentChannels" class="ng-select-form" #selectPaymentChannel="ngModel" required id="selectPaymentChannel"
                         [notFoundText]="'No Payment Channel available'"
                         [placeholder]="'Select Payment Channel'"
                         bindLabel="name"
                         bindValue="_id" (change)="changeSelected($event)"
                         [multiple]="false"
                         [(ngModel)]="fundWallet.payment_gateway" [ngModelOptions]="{standalone: true}" >
              </ng-select>
            </div>

            <div class="form-group">
              <label for="amount" class="control-label">Enter Amount(&#8358;)</label>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">NGN(&#8358;)</span>
                </div>
                <input type="number" class="form-control" min="100" max="10000000" placeholder="Ex: 90999" [disabled]="!fundWallet.payment_gateway"
                       #amount="ngModel"
                       id="amount" (change)="validateAmount()" (keyup)="validateAmount()"
                       [(ngModel)]="fundWallet.amount" [ngModelOptions]="{standalone: true}" required>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div *ngIf="selectedGateway?.name?.toLowerCase() !== 'paystack'">
          <button type="submit" *ngIf="!loaders.saving" [disabled]="selectPaymentChannel.errors || amount.errors" class="btn btn-primary">Proceed</button>
          <span *ngIf="loaders.saving" class="btn btn-primary">Loading&nbsp;<i class="fa fa-spin fa-spinner"></i></span>

            &nbsp;<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          </div>
          <div *ngIf="selectedGateway?.name?.toLowerCase() === 'paystack'">
            <button type="button" class="btn btn-primary" (click)="showCharge();" [disabled]="fundWallet.amount < 100">Show Charge</button>
            &nbsp;<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          </div>
        </div>

      </form>
    </div>

    <div class="modal-content"  style="border: 2px solid #CFFFC1" *ngIf="!show">
      <div class="modal-header" style="border: none!important;">
        <h4 class="title" style="font-size: 14px;">Total Amount Due</h4>
        <button type="button" class="close" style="margin-top: -10%;" (click)="closeShowCharge()">&times;</button>
      </div>
      <div *ngIf="loadingCharge">

        <div class="text-center">
          <span><i class="fa fa-spinner fa-spin"></i>&nbsp;&nbsp;Calculating Charge</span>
          <br>
          <br>
          <br>
        </div>

      </div>
      <div class="" *ngIf="!loadingCharge">
        <div class="body">
          <table class="table table-hover mb-0">
            <tbody>
            <tr>
              <td>Amount to Fund</td>
              <td>{{transactionData.subTotal || 0 | currency: '&#8358; '}}</td>
            </tr>
            <tr>
              <td>Paystack Charge</td>
              <td>{{transactionData.charge || 0 | currency: '&#8358; '}}</td>
            </tr>
            <tr class="bg-success text-white">
              <td>Total Amount</td>
              <td><b>{{transactionData.total || 0 | currency: '&#8358; '}}</b></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer" style="border: none!important;justify-content: center!important;">
        <div *ngIf="!loadingCharge">
          <button type="submit" *ngIf="!loaders.saving" class="btn btn-primary" (click)="proceedToFund()">Proceed</button>
          <span *ngIf="loaders.saving" class="btn btn-primary">Loading&nbsp;<i class="fa fa-spin fa-spinner"></i></span>
          &nbsp;&nbsp;<button type="button" class="btn btn-danger" (click)="closeShowCharge()">Cancel</button>
        </div>
        <div *ngIf="loadingCharge" class="text-center">
          <span>Please wait!</span>
        </div>
      </div>
    </div>


  </div>
</div>


