<div class="container-fluid">
  <app-breadcrumb [dataInput]="breadCrumb"></app-breadcrumb>













  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card">
        <div class="header font-weight-bold">
          <div class="row">
            <div class="col-sm-3">Completed Sponsorship</div>
            <div class="col-sm-3">
              <ng-select [items]="allStatus" class="ng-select-form"
                         [notFoundText]="'No data available'"
                         [placeholder]="'Filter by payment status'" (change)="filterSponsorshipByStatus($event)"
                         bindLabel="name"
                         bindValue="value"
                         [multiple]="false">

              </ng-select>
            </div>
            <div class="col-sm-3">
              <ng-select [items]="allYears" class="ng-select-form"
                         [notFoundText]="'No data available'"
                         [placeholder]="'Select year'"
                         bindLabel="name" [(ngModel)]="year" [ngModelOptions]="{standalone: true}"
                         bindValue="value"
                         [multiple]="false">

              </ng-select>
            </div>
            <div class="col-sm-3" *ngIf="year">
              <ng-select [items]="allMonths" class="ng-select-form"
                         [notFoundText]="'No data available'"
                         [placeholder]="'Filter by month'" (change)="filterSponsorByMonth($event)"
                         bindLabel="name"
                         bindValue="value"
                         [multiple]="false">

              </ng-select>
            </div>
          </div>
          <div class="row mt-2">
            <div class="col-4 font-weight-bold text-success" >Total: {{totalCompleted || 0 | currency: 'NGN '}}</div>
            <div class="col-2">
              <button class="btn btn-lg btn-success" (click)="checkAll()">Check All Visible</button>
            </div>
            <div class="col-3">
              <button class="btn btn-lg btn-primary">Pay All Ready Sponsors</button>
            </div>
            <div class="col-3">
              <button disabled class="btn btn-lg btn-info">Pay Checked Sponsors</button>
            </div>
          </div>
        </div>



        <div class="body mt-2">
          <div class="text-center mt-1 mb-3" *ngIf="loadingData">
            <span class="fa fa-spin fa-spinner fa-2x"></span>&nbsp;
            <br>
            <span> Loading, Please wait...</span>
          </div>
          <div class="table-responsive" *ngIf="showData">
            <table id="all-completed-sponsorship-history" class="table table-bordered table-hover table-striped dataTable" cellspacing="0" width="100%">
              <thead>
              <tr >
                <th class="no-sort"></th>
                <th>S/N</th>
                <th>

                </th>
                <th>Customer Name</th>
                <th>Amount</th>
                <th>Set Date</th>
                <th>ROI Date</th>
                <th>Farm Details</th>
                <th>Customer Email</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
              </thead>
              <tfoot>
              <tr >
                <th class="no-sort"></th>
                <th>S/N</th>
                <th></th>
                <th>Customer Name</th>
                <th>Amount</th>
                <th>Set Date</th>
                <th>ROI Date</th>
                <th>Farm Details</th>
                <th>Customer Email</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
              </tfoot>
              <tbody>

              <tr *ngFor="let sponsor of completedSponsorship;let i = index;">
                <td class="details-control" [id]="'td--' + i"></td>
                <td>{{i + 1}}</td>
                <td>
                 <div class="text-center" *ngIf="sponsor.status.toUpperCase() === 'PENDING'">
                   <input type="checkbox" class="form-check-input" [id]="'completed-sponsor' + j" [value]="sponsor?._id">
                 </div>
                </td>
                <td>{{ sponsor?.userId?.full_name }}</td>
                <td>{{sponsor?.roi_amount | currency: 'NGN' + ' '}}</td>

                <td>{{sponsor?.set_date | date}}</td>
                <td>{{sponsor?.roi_date | date}}</td>
                <td>{{ sponsor?.sponsorId?.farmId?.farm_name || sponsor?.archiveId?.farm_name}}</td>
                <td>{{ sponsor?.userId?.email }}</td>
                <td><span class="badge badge-info">{{sponsor?.status}}</span></td>
                <td>
                  <div *ngIf="!processing">
                     <button role="button" data-balloon="Pay To Wallet" *ngIf="sponsor.status.toUpperCase() === 'PENDING'" data-balloon-pos="up" class="btn btn-sm btn-success" (click)="payToWallet(sponsor, i)">
                       <i class="fa fa-wallet"></i>&nbsp;Pay To Wallet
                     </button>
                  </div>
                  <div class="processing- d-none" [id]="'processing-' + i">
                    <span><i class="fa fa-spin fa-spinner"></i>&nbsp;&nbsp;Processing...</span>
                  </div>
                </td>
              </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>

  </div>








</div>



