.card-status {
  -moz-transform: rotate(42deg);
  -webkit-transform: rotate(42deg);
  -o-transform: rotate(42deg);
  -ms-transform: rotate(42deg);
  transform: rotate(40deg);
}
.sold-out {
  opacity: 0.8;
}
.card {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(194, 199, 228, 0.5), 0px 2px 2px rgba(194, 199, 228, 0.5), 0px 0px 2px rgba(194, 199, 228, 0.5);
  border-radius: 10px;
  max-height: 350px;
  cursor: pointer;
  height: 330px;
  overflow: hidden;

}


input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  border: 1px solid #cbcbcb;
  display: inline-flex;
}

.number-input,
.number-input * {
  box-sizing: border-box;
}

.number-input button {
  outline:none;
  -webkit-appearance: none;
  background-color: #d3d3d3;
  color: #ffffff;
  border: none;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 9px;
  height: 1px;
  background-color: #212121;
  transform: translate(-50%, -50%);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
  font-family: "Nunito Sans";
  max-width: 4rem;
  padding: .3rem;
  border: solid #ddd;
  border-width: 0 2px;
  font-size: 15px;
  height: 2rem;
  /*font-weight: bold;*/
  text-align: center;
}

