<div class="container-fluid">
  <!--<app-breadcrumb [dataInput]="breadCrumb"></app-breadcrumb>-->








  <div *ngIf="!shopData" class="row mt-2 clearfix">
    <div class="col-lg-12">



      <div class="container px-sm-5 px-md-0">
        <div class="text-center mb-2" style="color: #3A3F5C;">
        <h4>Sponsor a shop</h4>
          <div class="mt--1">
            Sponsor a farm and get up to 35% return on investment
          </div>
        </div>
        <div>
          <div class="text-center" *ngIf="!loading && !allShops.length">
            <div>
              <img src="assets/img/farm/no-record-img.png" style="width: 30%">
            </div>
            <div>No transaction found, sponsor a farm to see transaction records</div>
            <div class="mt-2">
              <button class="btn btn-sm btn-success" (click)="gotoURL('/user/dashboard')">Go to dashboard</button>
            </div>
          </div>
        </div>
        <div class="row">

          <div class="col-12 pb-5">
            <div class="w-80 offset-1" *ngIf="loading && !allShops.length">
              <div class="row">
                <div class="col-4">
                  <div class="ph-item">
                    <div class="ph-col-12">
                      <div class="ph-picture"></div>
                      <div class="ph-row">
                        <div class="ph-col-6 big"></div>
                        <div class="ph-col-4 empty big"></div>
                        <div class="ph-col-2 big"></div>
                        <div class="ph-col-4"></div>
                        <div class="ph-col-8 empty"></div>
                        <div class="ph-col-6"></div>
                        <div class="ph-col-6 empty"></div>
                        <div class="ph-col-12"></div>
                      </div>
                    </div>
                  </div></div>
                <div class="col-4">
                  <div class="ph-item">
                    <div class="ph-col-12">
                      <div class="ph-picture"></div>
                      <div class="ph-row">
                        <div class="ph-col-6 big"></div>
                        <div class="ph-col-4 empty big"></div>
                        <div class="ph-col-2 big"></div>
                        <div class="ph-col-4"></div>
                        <div class="ph-col-8 empty"></div>
                        <div class="ph-col-6"></div>
                        <div class="ph-col-6 empty"></div>
                        <div class="ph-col-12"></div>
                      </div>
                    </div>
                  </div></div>
                <div class="col-4">
                  <div class="ph-item">
                    <div class="ph-col-12">
                      <div class="ph-picture"></div>
                      <div class="ph-row">
                        <div class="ph-col-6 big"></div>
                        <div class="ph-col-4 empty big"></div>
                        <div class="ph-col-2 big"></div>
                        <div class="ph-col-4"></div>
                        <div class="ph-col-8 empty"></div>
                        <div class="ph-col-6"></div>
                        <div class="ph-col-6 empty"></div>
                        <div class="ph-col-12"></div>
                      </div>
                    </div>
                  </div></div>

              </div>

              <div class="row">
                <div class="col-4">
                  <div class="ph-item">
                    <div class="ph-col-12">
                      <div class="ph-picture"></div>
                      <div class="ph-row">
                        <div class="ph-col-6 big"></div>
                        <div class="ph-col-4 empty big"></div>
                        <div class="ph-col-2 big"></div>
                        <div class="ph-col-4"></div>
                        <div class="ph-col-8 empty"></div>
                        <div class="ph-col-6"></div>
                        <div class="ph-col-6 empty"></div>
                        <div class="ph-col-12"></div>
                      </div>
                    </div>
                  </div></div>
                <div class="col-4">
                  <div class="ph-item">
                    <div class="ph-col-12">
                      <div class="ph-picture"></div>
                      <div class="ph-row">
                        <div class="ph-col-6 big"></div>
                        <div class="ph-col-4 empty big"></div>
                        <div class="ph-col-2 big"></div>
                        <div class="ph-col-4"></div>
                        <div class="ph-col-8 empty"></div>
                        <div class="ph-col-6"></div>
                        <div class="ph-col-6 empty"></div>
                        <div class="ph-col-12"></div>
                      </div>
                    </div>
                  </div></div>
                <div class="col-4">
                  <div class="ph-item">
                    <div class="ph-col-12">
                      <div class="ph-picture"></div>
                      <div class="ph-row">
                        <div class="ph-col-6 big"></div>
                        <div class="ph-col-4 empty big"></div>
                        <div class="ph-col-2 big"></div>
                        <div class="ph-col-4"></div>
                        <div class="ph-col-8 empty"></div>
                        <div class="ph-col-6"></div>
                        <div class="ph-col-6 empty"></div>
                        <div class="ph-col-12"></div>
                      </div>
                    </div>
                  </div></div>

              </div>

            </div>

          <div class="w-80 offset-1 text-center">
            <div class="row mb-2" *ngIf="allShops.length">
              <div class="col-lg-4 col-md-6 col-sm-12 px-3 mb-1" *ngFor="let shop of allShops;let i = index;" (click)="loadThisShop(shop)">
                <div class="card bg-white wow fadeInLeft farm-shop-card"  [attr.data-wow-delay]="'.6s'"
                     [ngClass]="shop.farm_status.name === 'Now Selling' ?  '' : 'sold-out'">
                  <div style="" class="card-status" [ngClass]="shop.farm_status.name === 'Now Selling' ?  'farm-card-status-new' : 'farm-card-status-sold'">
                    {{ shop.farm_status.name === 'Now Selling' ? 'New' : shop.farm_status.name === 'Opening Soon' ? 'Soon' : 'Sold Out' }}</div>
                  <img class="card-img-top farm-shop-image" [src]="shop?.display_img" alt="Shop" style="">
                  <div class="card-body mt--1 card-body-format">
                    <h4 class="card-title shop-card-title">{{shop?.farm_name}}</h4>
                    <div class="card-text shop-card-text mt--1">
                      <div class="row text-left ">
                        <div class="col-6">
                          <i class="fa fa-map-marker text-color-l-g"></i>&nbsp;
                          {{shop?.farm_location}}
                        </div>
                        <div class="col-6">
                          <i class="fa fa-bar-chart-o text-color-l-g"></i>&nbsp;
                          {{shop?.percentage_to_gain}}% ROI
                        </div>
                      </div>
                      <div class="row text-left ">
                        <div class="col-6">
                          <i class="fa fa-money text-color-l-g"></i>&nbsp;
                          {{ shop?.amount_to_invest || 0 | currency: '&#8358;' }}
                        </div>
                        <div class="col-6">
                          <i class="fa fa-calendar text-color-l-g"></i>&nbsp;
                          {{shop?.duration}} {{shop?.duration_type}}S
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          </div>
        </div>
      </div>


    </div>

  </div>


  <div class="row mt-2 clearfix" *ngIf="shopData">

   <div class="col-12">
     <div class="container px-sm-5 px-md-0">
      <div class="row">
        <div class="col-sm-12 pb-5">
          <div class="container px-5">
            <div class="mb-2">
              <h4 class="sponsor-farm-h4 mb-2">Sponsor farm</h4>
              <div class="row">
                <div class="col-md-6 col-sm-12 mb-4">
                  <img [src]="shopData?.display_img" alt="Display Image" width="350px;" height="auto" style="border: 1px solid #89DB87" class="">
                </div>

                <div class="col-md-6 col-sm-12">
                  <div class="farm-title mb-2 p-2">{{shopData?.farm_name}}</div>
                  <div class="p-2">
                    <img src="assets/img/dashboard/icons/roi.png" width="14" class="mr-2">

                    <!--<span class="text-success font-weight-bold">{{shopData?.percentage_to_gain}}%</span> ROI in {{shopData?.duration}} <span class="text-lowercase">{{shopData?.duration_type}}S</span>-->


                    <ng-container *ngIf="shopData?.farm_type?.name.toLowerCase() !== 'food trading' &&
                 shopData?.farm_type?.name.toLowerCase() !== 'food stuff trading'">
                      <span class="text-success font-weight-bold">{{shopData?.percentage_to_gain}}%</span> ROI in {{shopData?.duration}} <span class="text-lowercase">{{shopData?.duration_type}}s</span>
                    </ng-container>

                    <ng-container *ngIf="shopData?.farm_type?.name.toLowerCase() === 'food trading' ||
                shopData?.farm_type?.name.toLowerCase() === 'food stuff trading'">
                 <span
                   class="text-success font-weight-bold">{{shopData?.percentage_to_gain}}%</span> ROI in {{shopData?.roi_interval}}
                      <span class="text-lowercase">months interval for {{shopData?.duration}} years</span>
                    </ng-container>


                  </div>
                  <div class="p-2">
                    <img src="assets/img/dashboard/icons/wallet-sm.png" width="14" class="mr-2">
                    <b class="font-weight-bold">{{shopData?.amount_to_invest || 0 | currency: '&#8358;'}}</b> per unit
                  </div>
                  <div class="p-2">
                    <img src="assets/img/icons/marker.png" width="14" class="mr-2">
                    {{ shopData?.farm_location }}
                  </div>
                 <!-- <div class="p-2 text-center">
                    <div class="progress" style="height:20px">
                      <div class="progress-bar bg-success" style="width:40%;" [ngStyle]="{'width': percentageLeft + '%'}"></div>
                    </div>
                    <div class="">{{percentageLeft}}% Left</div>
                  </div>-->


                  <div class="p-2 mt-5">
                    <div class="row">
                      <div class="col-md-6 col-sm-12 mb-3">
                        <div class="number-input"  *ngIf="shopData?.farm_status?.can_sponsor">
                          <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="" (click)="validateQty('quantity')" ></button>
                          <input class="quantity" min="1" [id]="'quantity'" name="quantity" type="number"
                                 [(ngModel)]="quantity" [ngModelOptions]="{standalone: true}" (change)="validateQty('quantity')" (keyup)="validateQty('quantity')">
                          <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus" (click)="validateQty('quantity')"></button>
                        </div>
                      </div>
                      <div class="col-md-6 col-sm-12 mb-3">
                      <button class="btn btn-lg btn-default btn-sponsor-now-out-of-stock" *ngIf="shopData?.farm_status?.name === 'Sold Out'
                 || shopData.farm_status.name.toLowerCase().includes('sold')" >Out of Stock</button>
                        <button class="btn btn-lg btn-default btn-sponsor-now-out-of-stock" *ngIf="shopData?.farm_status?.name === 'Opening Soon'
                  || shopData.farm_status.name.toLowerCase().includes('opening')" >Opening Soon</button>

                        <button class="btn btn-lg btn-success text-uppercase btn-sponsor-now" *ngIf="shopData?.farm_status?.can_sponsor && !adding" (click)="handleInvestment(shopData);">SPONSOR NOW</button>
                        <button class="btn btn-lg btn-success text-uppercase btn-sponsor-now" *ngIf="adding"><i class="fa fa-spin fa-spinner"></i>&nbsp;Loading...</button>


                      </div>


                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="landing-page mt-5">
              <h4>Description</h4>
              <div class="row">
                <div class="col-12" >
                  <div [innerHTML]="shopData?.description"></div>
                </div>

              </div>
              <div class="mt-5"><a href="javascript:void(0)" [routerLink]="['/user/farm-update']" (click)="closeViewFarm()"><img src="assets/img/icons/arrow.png"></a></div>
            </div>
          </div>

        </div>
      </div>
    </div>
</div>
  </div>






</div>




