<div class="container-fluid">
  <app-breadcrumb [dataInput]="breadCrumb"></app-breadcrumb>








  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card">
        <div class="header">
          <h4>Farm Shop Orders</h4>
        </div>
        <div class="body mt-2">
          <div class="text-center mt-1 mb-3" *ngIf="loadingData">
            <span class="fa fa-spin fa-spinner fa-2x"></span>&nbsp;
            <br>
            <span>Loading, Please wait...</span>
          </div>
          <div class="table-responsive" *ngIf="showData">
            <table id="all-orders" class="table table-bordered table-hover table-striped dataTable" cellspacing="0" width="100%">
              <thead>
              <tr >
                <th class="no-sort"></th>
                <th>S/N</th>
                <th>Product Name</th>
                <th>Description</th>
                <th>Price Per Unit</th>
                <th>Quantity</th>
                <th>Amount</th>
                <th>Customer Name</th>
                <th>Customer Phone Number</th>
                <th>Action</th>
              </tr>
              </thead>
              <tfoot>
              <tr >
                <th class="no-sort"></th>
                <th>S/N</th>
                <th>Product Name</th>
                <th>Description</th>
                <th>Price Per Unit</th>
                <th>Quantity</th>
                <th>Amount</th>
                <th>Customer Name</th>
                <th>Customer Phone Number</th>
                <th>Action</th>
              </tr>
              </tfoot>
              <tbody>
              <tr *ngFor="let productOrder of productsOrders;let i = index;">
                <td class="details-control" [id]="'td-' + i"></td>
                <td>{{ i + 1 }}</td>
                <td>{{ productOrder?.name }}</td>
                <td>
                  {{ productOrder?.description }}
                </td>
                <td>
                  {{ productOrder?.price_per_unit }}
                </td>
                <td>
                  {{ productOrder?.quantity }}
                </td>
                <td>
                  {{ productOrder?.amount }}
                </td>
                <td>
                  {{ productOrder?.customer?.full_name }}
                </td>
                <td>
                  {{ productOrder?.customer?.phone_number }}
                </td>
                <td>
                  <div>
                    <button role="button" data-balloon="Delete Product" data-balloon-pos="up" class="btn btn-sm btn-danger">
                      <i class="fa fa-check"></i>&nbsp;Delete
                    </button>
                  </div>
                </td>
              </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>





<!-- Create Customer Modal -->
<!--
<div class="modal fade" id="customerModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="title" id="defaultModalLabel">Edit Customer</h4>
      </div>
      <form class="form-auth-small" #customerForm="ngForm" (ngSubmit)="saveCustomer()">

        <div class="modal-body">
          <div class="form-group">
            <label for="customer_name" class="control-label">Customer Name</label>
            <input type="text" class="form-control" placeholder="Customer Name"
                   #name="ngModel"
                   id="customer_name"
                   [(ngModel)]="newCustomer.name" [ngModelOptions]="{standalone: true}" required>
            <div class="text-danger" *ngIf="name.errors && (name.dirty || name.touched)">
                  <span class="validation-message" [hidden]="!name.hasError('required')">
                    Customer name is required</span>
            </div>
          </div>
          <div class="form-group">
            <label for="customer" class="control-label">Customer</label>
            <select type="text" class="form-control"
                    #customer="ngModel"
                    id="customer"
                    [(ngModel)]="newCustomer.customer" [ngModelOptions]="{standalone: true}">
              <option value="true" selected>Active</option>
              <option value="false">Inactive</option>
            </select>

          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" *ngIf="!loaders.saving" [disabled]="name.errors || customer.errors" class="btn btn-primary">UPDATE</button>
          <span *ngIf="loaders.saving" class="btn btn-primary">Loading&nbsp;<i class="fa fa-spin fa-spinner"></i></span>
          <button type="button" class="btn btn-danger" data-dismiss="modal">CLOSE</button>
        </div>
      </form>
    </div>
  </div>
</div>
-->
