<div class="container-fluid">
  <div class="block-header">
    <div class="row">
      <div class="col-lg-5 col-md-8 col-sm-12">
        <h2>
          <a href="javascript:void(0);" class="btn btn-xs btn-link btn-toggle-fullwidth" (click)="handleFullWidth()">
            <i class="fa fa-arrow-left" id="fullWithToggler"></i>
          </a>
          {{user?.full_name}}'s Dashboard</h2>
        <ul class="breadcrumb">
          <li class="breadcrumb-item">
            <a [routerLink]="['/super/manage-customers']" ><i class="fa fa-arrow-left"></i> Leave {{user?.full_name}}'s Dashboard</a></li>
        </ul>
      </div>
      <div class="col-lg-7 col-md-4 col-sm-12 text-right">

      </div>
    </div>
  </div>

  <div class="row clearfix" *ngIf="loaders.loading">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card p-3">
        <div class="ph-col-12">
          <div class="ph-row">
            <div class="ph-col-6 big"></div>
            <div class="ph-col-4 empty big"></div>
            <div class="ph-col-2 big"></div>
            <div class="ph-col-4"></div>
            <div class="ph-col-8 empty"></div>
            <div class="ph-col-6"></div>
            <div class="ph-col-6 empty"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card p-3"><div class="ph-col-12">
        <div class="ph-row">
          <div class="ph-col-6 big"></div>
          <div class="ph-col-4 empty big"></div>
          <div class="ph-col-2 big"></div>
          <div class="ph-col-4"></div>
          <div class="ph-col-8 empty"></div>
          <div class="ph-col-6"></div>
          <div class="ph-col-6 empty"></div>
        </div>
      </div></div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card p-3"><div class="ph-col-12">
        <div class="ph-row">
          <div class="ph-col-6 big"></div>
          <div class="ph-col-4 empty big"></div>
          <div class="ph-col-2 big"></div>
          <div class="ph-col-4"></div>
          <div class="ph-col-8 empty"></div>
          <div class="ph-col-6"></div>
          <div class="ph-col-6 empty"></div>
        </div>
      </div></div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card p-3"><div class="ph-col-12">
        <div class="ph-row">
          <div class="ph-col-6 big"></div>
          <div class="ph-col-4 empty big"></div>
          <div class="ph-col-2 big"></div>
          <div class="ph-col-4"></div>
          <div class="ph-col-8 empty"></div>
          <div class="ph-col-6"></div>
          <div class="ph-col-6 empty"></div>
        </div>
      </div></div>
    </div>
  </div>

  <div class="row clearfix" *ngIf="loaders.loading">
    <div class="card p-3">
      <div class="ph-col-12">
        <div class="ph-row">
          <div class="ph-col-6 big"></div>
          <div class="ph-col-4 empty big"></div>
          <div class="ph-col-2 big"></div>
          <div class="ph-col-4"></div>
          <div class="ph-col-8 empty"></div>
          <div class="ph-col-6"></div>
          <div class="ph-col-6 empty"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row clearfix"  *ngIf="!loaders.loading">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card overflowhidden number-chart">
        <div class="body">
          <div class="number">
            <h6>WALLET BALANCE</h6>
            <span>{{dashboard?.wallet?.wallet_balance || 0 | currency: dashboard?.wallet?.currency + ' '}}</span>
          </div>
          <small class="text-muted">As of {{dashboard?.wallet?.date | date}}</small>
        </div>
        <app-sparkline [data]="dashboard?.wallet?.spike"></app-sparkline>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card overflowhidden number-chart">
        <div class="pr-3 btn btn-link position-absolute" style="font-size: 11px; top: 0;right: 1%">View Sponsors</div>
        <div class="body">
          <div class="number">
            <h6>Start-of-Cycle Date</h6>
            <span *ngIf="dashboard?.active_sponsorship?.start_date">{{dashboard?.active_sponsorship?.start_date | date}}</span>
            <span *ngIf="!dashboard?.active_sponsorship?.start_date">No Data</span>
          </div>
          <small class="text-muted">Farm Name: {{dashboard?.active_sponsorship?.name || 'No Record' }}</small>

        </div>
        <app-sparkline [data]="dashboard?.active_sponsorship?.spike"></app-sparkline>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card overflowhidden number-chart">
        <div class="body">
          <div class="number">
            <h6>Next End-of-Cycle Date</h6>
            <span *ngIf="dashboard?.active_sponsorship?.end_date">{{dashboard?.active_sponsorship?.end_date | date}}</span>
            <span *ngIf="!dashboard?.active_sponsorship?.end_date">No Data</span>
          </div>
          <small class="text-muted" *ngIf="dashboard.active_sponsorship.roi">Farm ROI: {{ dashboard?.active_sponsorship?.roi }}% in {{dashboard?.active_sponsorship?.duration}} {{dashboard?.active_sponsorship?.duration_type}}S</small>
          <small class="text-muted" *ngIf="!dashboard.active_sponsorship.roi">Farm ROI: No Record</small>

        </div>
        <app-sparkline [data]="dashboard?.active_sponsorship?.spike"></app-sparkline>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card overflowhidden number-chart">
        <div class="body">
          <div class="number">
            <h6>Expected Cycle Return</h6>
            <span>{{dashboard?.active_sponsorship?.total || 0 | currency: dashboard?.active_sponsorship?.currency + ' '}}</span>

          </div>
          <small class="text-muted" >Interest {{ dashboard?.active_sponsorship?.interest || 0 | currency: dashboard?.active_sponsorship?.currency + ' '}}</small>
        </div>
        <app-sparkline [data]="dashboard?.active_sponsorship?.spike"></app-sparkline>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card">
        <div class="body">
          <h5>{{dashboard?.expected_returns?.total || 0 | currency: dashboard?.expected_returns?.currency + ' '}}</h5>
          <p class="text-muted">TOTAL EXPECTED RETURNS</p>
          <div class="progress progress-xs">
            <div class="progress-bar l-parpl" role="progressbar" style="width: 77%;"></div>
          </div>
          <small>As of {{dashboard?.expected_returns?.date | date}}</small>
        </div>
      </div>

    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card">
        <div class="body">
          <h5>{{dashboard?.total_investment?.total || 0 | currency: dashboard?.total_investment?.currency + ' '}}</h5>
          <p class="text-muted">TOTAL INVESTMENT</p>
          <div class="progress progress-xs">
            <div class="progress-bar l-amber" role="progressbar" style="width: 78%;"></div>
          </div>
          <small>As of {{dashboard?.total_investment?.date | date}}</small>
        </div>
      </div>

    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card">
        <a class="btn btn-link position-absolute" style="font-size: 11px; top: 0;right: 1%">Farms</a>
        <div class="body">
          <h5 class="number count-to" data-from="0" [attr.data-to]="dashboard?.expected_returns?.number_of_farms" data-speed="2000" data-fresh-interval="700">
            {{dashboard?.expected_returns?.number_of_farms}}
          </h5>
          <p class="text-muted">Active Farms</p>
          <div class="progress progress-xs">
            <div class="progress-bar l-blue" role="progressbar" style="width: 88%;"></div>
          </div>
          <small>As of {{dashboard?.expected_returns?.date | date}}</small>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card">
        <div class="body">
          <h5>{{dashboard?.withdraw?.total || 0 | currency: dashboard?.withdraw?.currency + ' '}}</h5>
          <p class="text-muted">TOTAL CASH-OUT</p>
          <div class="progress progress-xs">
            <div class="progress-bar l-green" role="progressbar" style="width: 98%;"></div>
          </div>
          <small>As of {{dashboard?.withdraw?.date | date}}</small>
        </div>

      </div>
    </div>

  </div>





  <div class="row clearfix d-none d-sm-none d-md-block d-lg-block" *ngIf="!loaders.loading && activeSponsor.length">
    <div class="col-lg-12">
      <div class="card">
        <div class="header">
          <h2>Bar Chart for Active Farm Sponsors(Last 5 Sponsors)</h2>
          <span class="float-right" data-balloon="Invite a friend and earn 2% of their first farm sponsor" data-balloon-pos="up"
                data-balloon-length="large">
            <a href="javascript:void(0)" >Refer a Friend</a></span>
        </div>
        <div class="body mt-2">

          <div>
            <div>
              <div style="display: block">
                <canvas baseChart
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [plugins]="barChartPlugins"
                        [legend]="barChartLegend"
                        [chartType]="barChartType">
                </canvas>
              </div>
            </div>
          </div>


        </div>
      </div>
    </div>

  </div>



  <div class="row clearfix  d-none d-sm-none d-md-block d-lg-block" id="shop-scroller" *ngIf="!loaders.loadingData && activeSponsor.length">
    <div class="col-lg-12" >
      <div class="card">
        <div class="header">
          <h2>Active Farm Sponsors</h2>
          <ul class="header-dropdown">
            <li class="dropdown">
              <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"></a>
              <ul class="dropdown-menu dropdown-menu-right" x-placement="bottom-end" style="top: 0px; position: absolute; transform: translate3d(28px, 31px, 0px); left: 0px; will-change: transform;">
                <li><a href="javascript:void(0);" >Sponsor New</a></li>
                <li><a href="javascript:void(0);" >View History</a></li>
                <li><a href="javascript:void(0);" >View Transaction</a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="body">
          <div class="table-responsive">
            <table class="table table-hover m-b-0">
              <thead class="thead-dark">
              <tr>

                <th>Farm Name</th>
                <th>Farm ROI</th>
                <th>Start of Cycle Date</th>
                <th>End of Cycle Date</th>
                <th>Amount Invested</th>
                <th>Expected Return</th>
                <th></th>
              </tr>
              </thead>
              <tbody>
              <tr *ngFor="let sponsor of activeSponsor;let i = index;">
                <td>
                  <ng-container *ngIf="sponsor?.advanceType === 'advance'">
                    <p class="px-0 d-inline font-weight-bold">{{ sponsor?.orderId?.farm_name }}</p>
                    <p  class="m-0 px-0 text-info"><a href="javascript:void(0)" (click)="viewROI(sponsor.roi_data)" style="font-size: 9px;">View Due Date</a></p>
                  </ng-container>
                  <ng-container *ngIf="sponsor?.advanceType !== 'advance'">
                    {{ sponsor?.orderId?.farm_name }}
                  </ng-container>
                </td>
                <td>{{ sponsor?.orderId?.roi }}% in {{sponsor?.orderId?.duration}} {{sponsor?.orderId?.duration_type}}S</td>
                <td>{{sponsor?.start_date | date }}</td>
                <td>{{sponsor?.expected_end_date | date}}</td>
                <td>{{sponsor?.orderId?.total_price | currency: sponsor?.orderId.currency || 'NGN' + ' '}}</td>
                <td>{{sponsor?.expected_return | currency: sponsor?.orderId.currency || 'NGN' + ' '}}</td>
                <td>
                  <button class="btn btn-info btn-sm" (click)="refundSponsor(sponsor)">Refund</button>&nbsp;
                  <button class="btn btn-danger btn-sm" (click)="cancelSponsor(sponsor)">Cancel</button>
                </td>
              </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row clearfix" *ngIf="archiveSponsors.length">
    <div class="col-lg-12">
      <div class="card">
        <div class="header font-weight-bold">
          Farm Sponsored on Letsfarm.co
        </div>
        <div class="body mt-2">
          <div class="table-responsive">
            <table id="archive-farm-sponsor" class="table table-bordered table-hover table-striped dataTable" cellspacing="0" width="100%">
              <thead>
              <tr >
                <th class="no-sort"></th>
                <th>S/N</th>
                <th>Order Number</th>
                <th>Farm Name</th>
                <th>Quantity</th>
                <th>Total Amount</th>
                <th>ROI Amount</th>

                <th>Start of Cycle Date</th>
                <th>End of Cycle Date</th>
                <th>Order Status</th>
              </tr>
              </thead>
              <tfoot>
              <tr >
                <th class="no-sort"></th>
                <th>S/N</th>
                <th>Order Number</th>
                <th>Farm Name</th>
                <th>Quantity</th>
                <th>Total Amount</th>
                <th>ROI Amount</th>
                <th>Start of Cycle Date</th>
                <th>End of Cycle Date</th>
                <th>Order Status</th>
              </tr>
              </tfoot>
              <tbody>

              <tr *ngFor="let archive of archiveSponsors;let i = index;">
                <td class="details-control" [id]="'td--' + i"></td>
                <td>{{i + 1}}</td>
                <td>{{ archive?.order_number }}</td>
                <td>{{ archive?.farm_name | titlecase }}</td>
                <td>{{ archive?.quantity }}</td>
                <td>{{archive?.order_total | currency: 'NGN '}}</td>
                <td>{{archive?.roi_amount | currency: 'NGN '}}</td>
                <td>{{archive?.date_of_sponsor }}</td>
                <td>{{archive?.roi_date}}</td>
                <td><span class="badge badge-info">{{archive?.order_status}}</span></td>

              </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>

  </div>


</div>




<!-- foodTrading -->
<div class="modal fade" id="foodTrading" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md" role="document" *ngIf="roiData.length">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="title">ROI List For Food Trading</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="closeTradingModal()">×</button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table center-aligned-table">
            <thead>
            <tr>
              <th>S/N</th>
              <th>Amount Due</th>
              <th>Status</th>
              <th>Due Date</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let roi of roiData; let i = index">
              <td>ROI {{i + 1}}</td>
              <td>{{roi?.roi || 0 | currency: 'NGN '}}</td>
              <td><label class="badge">{{roi?.status}}</label></td>
              <td>{{roi?.out_date | date}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="closeTradingModal()">Close</button>
      </div>

    </div>
  </div>
</div>

