
<div class="landing-page-content">
  <header id="team-hero">

    <app-l-header [active]="'about'"></app-l-header>


    <div id="hero-content">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-left text-white">
            <p class="about-tagline">
              About
            </p>
            <h1 class="about-title mt--2">Our App</h1>
            <div class="mt--4">
              <a href="https://play.google.com/store/apps/details?id=co.letsfarm.letsfarm">
                <img src="assets/img/logo/google-play-badge.png" width="120"></a>
            </div>
          </div> <!-- END col-sm-12-->
        </div> <!-- END row-->
      </div> <!-- END container-->
    </div> <!-- END hero-content-->

  </header> <!-- END header-->
  <section>

    <div class="container">
     <div class="p-5 my-4">
       <p>After running this community in a small cluster for 4 years and experiencing tremendous growth,<br>
      we thought it would be best to open up the cluster to a larger community.
      </p>
      <p>This will mean leveraging on bigger advantages and getting more returns for everyone involved.</p>

      <p>So, investing in <a href="/home">Letsfarm.co</a> is investing in food security,
      providing job opportunities,<br>empowering a young person and getting good returns on your investment.</p>

      <p>Here’s where we stand out:</p>
     </div>
    </div>
  </section>







  <app-l-footer></app-l-footer>
</div>
