<div class="container-fluid">
  <app-breadcrumb [dataInput]="breadCrumb"></app-breadcrumb>


  <div class="row clearfix sticky-top">
    <div class="w-100">
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        <i class="fa fa-warning"></i> Hello {{currentUser?.full_name}}, before uploading a proof of payment kindly check your <a [href]="location + '/user/payment/pending-transfer'">PENDING PAYMENTS</a> to select the correct transaction that you paid for, thank you.
      </div>
    </div>
  </div>


  <div class="row clearfix">
    <div class="col-lg-12">

      <div class="card">
        <div class="body">
          <div class="timeline-item green" date-is="Bank Deposit">
            <h5>Bank transfer procedure using bank teller</h5>
            <span>
              Sponsor a farm or fund your Letsfarm's wallet by walking into any of the underlisted banks and fill teller to make payment:
            </span>
            <div class="msg">
              <ol>
                <li class="mb-3 font-weight-bold">
                  <ul style="list-style-type: square">
                  <li>Bank Name: <b>WEMA BANK</b></li>
                  <li>Account Number: <code>0122980307</code></li>
                  <li>Account Name: <b>Letsfarm.co</b></li>
                </ul>
                </li>
                <!--<li class="mb-3">
                  <ul style="list-style-type: square">
                    <li>Bank Name: <b>Union Bank Of Nigeria</b></li>
                    <li>Account Number: <code style="font-size: 19px">0138013221</code></li>
                    <li>Account Name: <b>Letsfarm Integrated Services Ltd</b></li>
                  </ul>
                </li>-->
              </ol>
              <div>
                <p>You'll be given a deposit slip where you would be required to enter the following details:</p>

                <div>-Account name: <b>Letsfarm.co</b></div>
                <div>-Account Number: Choose from above <i class="fa fa-arrow-circle-o-up"></i></div>

               <p *ngIf="transactionRef"> On top of the deposit slip, kindly write this number <code style="font-size: 20px">{{transactionRef}}</code></p>

              <div>
               <div>-Depositor's Name: Your registered name on <b>Letsfarm</b></div>
                <div *ngIf="!transactionRef">-Amount: Amount you want to transfer into your <b>Letsfarm</b> Account</div>
                <div *ngIf="transactionRef && transaction && transaction.amount">-Amount: {{transaction.amount | currency: 'NGN '}}</div>
                <p *ngIf="transactionRef">P.S: At the upper part of the deposit slip,
                please kindly write this number <code style="font-size: 20px">{{transactionRef}}</code></p>
              </div>
              <a role="button" data-toggle="collapse" href="#collapseExample" aria-expanded="false"
                 aria-controls="collapseExample"><i class="icon-bubbles"></i> Already Made payment? Upload proof</a>
              <div class="collapse m-t-10" id="collapseExample">
                <div class="well">
                  <form (submit)="saveProof()">
                    <div class="form-group">
                      <button class="btn btn-sm btn-outline-primary"  type="button" (click)="triggerUploader('uploadBankDeposit')">Upload Payment Proofs</button>
                      <input class="form-control" multiple="true" type="file" hidden id="uploadBankDeposit" (change)="uploadFiles($event)" />
                      <p class="text-danger text-uppercase"><span>{{proof.rawImage.length}} files selected for upload</span></p>
                    </div>
                    <div class="form-group">
                      <textarea rows="2" [(ngModel)]="proof.message" [ngModelOptions]="{standalone: true}" class="form-control no-resize" placeholder="Enter any comment for the admin(Optional)..."></textarea>
                    </div>
                    <button class="btn btn-primary" type="submit" *ngIf="!loaders.loading">Submit Proof</button>
                    <button class="btn btn-primary" *ngIf="loaders.loading" type="button"><i class="fa fa-spin fa-spinner"></i>&nbsp;Uploading Proof</button>
                  </form>
                </div>
              </div>

            </div>
          </div>

          </div>
        <!--  <div class="mt-3 timeline-item blue" date-is="Pay at ATM">
            <h5>Funding / Sponsoring via ATM transfer</h5>
            <span>
              Sponsor a farm or fund your Letsfarm's wallet by using ATM to make payment into any of the underlisted banks:
            </span>
            <div class="msg">
              <ol>
                <li class="mb-3">
                  <ul style="list-style-type: square">
                    <li>Bank Name: <b>First Bank PLC</b></li>
                    <li>Account Number: <code>3065121123</code></li>
                    <li>Account Name: <b>Letsfarm Nigeria Limited</b></li>
                  </ul>
                </li>
                <li class="mb-3">
                  <ul style="list-style-type: square">
                    <li>Bank Name: <b>Guaranty Trust Bank</b></li>
                    <li>Account Number: <code>3065121126</code></li>
                    <li>Account Name: <b>Letsfarm Nigeria Limited</b></li>
                  </ul>
                </li>
              </ol>
              <div>
                <p>Make a transfer on the ATM into any of the account number above</p>
                <p>Ensure you print the receipt from the ATM</p>
                <p>If the ATM cannot print receipt, you'll have to snap the alert message from your phone or email</p>

              </div>
              <a role="button" data-toggle="collapse" href="#collapseExample1" aria-expanded="false"
                 aria-controls="collapseExample"><i class="icon-bubbles"></i> Already Made payment? Upload proof</a>
              <div class="collapse m-t-10" id="collapseExample1">
                <div class="well">
                  <form (submit)="saveProof()">
                    <div class="form-group">
                      <button class="btn btn-sm btn-outline-primary"  type="button" (click)="triggerUploader('uploadATMReceipt')">Upload Payment Proofs</button>
                      <input class="form-control" multiple="true" type="file" hidden id="uploadATMReceipt"  (change)="uploadFiles($event)" />
                      <p class="text-danger text-uppercase"><span>{{proof.rawImage.length}} files selected for upload</span></p>
                    </div>
                    <div class="form-group">
                      <textarea rows="2" [(ngModel)]="proof.message"  [ngModelOptions]="{standalone: true}" class="form-control no-resize" placeholder="Enter any comment for the admin(Optional)..."></textarea>
                    </div>
                    <button class="btn btn-primary" type="submit" *ngIf="!loaders.loading">Submit Proof</button>
                    <button class="btn btn-primary" *ngIf="loaders.loading" type="button"><i class="fa fa-spin fa-spinner"></i>&nbsp;Uploading Proof</button>

                  </form>
                </div>
              </div>

            </div>
          </div>

          <div class="mt-3 timeline-item warning" date-is="Transfer Via USSD">
            <h5>Bank USSD transfer</h5>
            <span>
              Sponsor a farm or fund your Letsfarm's wallet by transferring into any pf our account details listed below:
            </span>
            <div class="msg">
              <ol>
                <li class="mb-3">
                  <ul style="list-style-type: square">
                    <li>Bank USSD Code: <b>*894*AMOUNT*ACCT NUMBER#</b></li>
                    <li>Bank Name: <b>First Bank PLC</b></li>
                    <li>Account Number: <code>3065121123</code></li>
                    <li>Account Name: <b>Letsfarm Nigeria Limited</b></li>
                  </ul>
                </li>
                <li class="mb-3">
                  <ul style="list-style-type: square">
                    <li>Bank USSD Code: <b>*737#</b></li>
                    <li>Bank Name: <b>Guaranty Trust Bank</b></li>
                    <li>Account Number: <code>3065121126</code></li>
                    <li>Account Name: <b>Letsfarm Nigeria Limited</b></li>
                  </ul>
                </li>
              </ol>
              <div>
                <p>Make sure you configure your account to send receipt/alert to your phone number or email </p>
                <p>If your bank doesn't send you debit alert receipt, don't use this mode of payment</p>

              </div>
              <a role="button" data-toggle="collapse" href="#collapseExample2" aria-expanded="false"
                 aria-controls="collapseExample"><i class="icon-bubbles"></i> Already Made payment? Upload proof</a>
              <div class="collapse m-t-10" id="collapseExample2">
                <div class="well">
                  <form (submit)="saveProof()">
                    <div class="form-group">
                      <button class="btn btn-sm btn-outline-primary"  type="button" (click)="triggerUploader('uploadUSSDReceipt')">Upload Payment Proofs</button>
                      <input class="form-control" multiple="true" type="file" hidden id="uploadUSSDReceipt"  (change)="uploadFiles($event)" />
                      <p class="text-danger text-uppercase"><span>{{proof.rawImage.length}} files selected for upload</span></p>

                    </div>
                    <div class="form-group">
                      <input class="form-control" [(ngModel)]="proof.amount"  [ngModelOptions]="{standalone: true}" type="text" placeholder="Amount transferred"/>
                    </div>
                    <div class="form-group">
                      <input class="form-control" [(ngModel)]="proof.bank_name"  [ngModelOptions]="{standalone: true}" type="text" placeholder="Bank name"/>
                    </div>
                    <div class="form-group">
                      <textarea rows="2" class="form-control no-resize" [(ngModel)]="proof.message"  [ngModelOptions]="{standalone: true}" placeholder="Enter any comment for the admin(Optional)..."></textarea>
                    </div>
                    <button class="btn btn-primary" type="submit" *ngIf="!loaders.loading">Submit Proof</button>
                    <button class="btn btn-primary" *ngIf="loaders.loading" type="button"><i class="fa fa-spin fa-spinner"></i>&nbsp;Uploading Proof</button>

                  </form>
                </div>
              </div>

            </div>
          </div>-->
          <div class="mt-3 timeline-item info" date-is="Online Banking">
            <h5>Make payment using Online banking e.g Bank App on Phone or Web </h5>
            <span>
              Login to your online banking app and make a transfer into any of our list banks:
            </span>
            <div class="msg">
              <ol>
                <li class="mb-3">
                  <ul style="list-style-type: square">
                    <li>Bank Name: <b>WEMA BANK</b></li>
                    <li>Account Number: <code>0122980307</code></li>
                    <li>Account Name: <b>Letsfarm.co</b></li>
                  </ul>
                </li>
                <!--<li class="mb-3">
                  <ul style="list-style-type: square">
                    <li>Bank Name: <b>Union Bank Of Nigeria</b></li>
                    <li>Account Number: <code style="font-size: 19px">0138013221</code></li>
                    <li>Account Name: <b>Letsfarm Integrated Services Ltd</b></li>
                  </ul>
                </li>-->
               <!-- <li class="mb-3">
                  <ul style="list-style-type: square">
                    <li>Bank Name: <b>Guaranty Trust Bank</b></li>
                    <li>Account Number: <code>3065121126</code></li>
                    <li>Account Name: <b>Letsfarm Nigeria Limited</b></li>
                  </ul>
                </li>-->
              </ol>
              <div>
                <div>-Amount: Amount to fund wallet</div>

                <p *ngIf="transactionRef">On the comment detail enter this <code style="font-size: 20px">{{transactionRef}}</code></p>


              </div>
              <a role="button" data-toggle="collapse" href="#collapseExample3" aria-expanded="false"
                 aria-controls="collapseExample"><i class="icon-bubbles"></i> Already Made payment? Upload proof</a>
              <div class="collapse m-t-10" id="collapseExample3">
                <div class="well">
                  <form (submit)="saveProof()">
                    <div class="form-group">
                      <button class="btn btn-sm btn-outline-primary" type="button" (click)="triggerUploader('uploadOnlineBanking')">Upload Payment Proofs</button>
                      <input class="form-control" multiple="true" type="file" hidden id="uploadOnlineBanking"  (change)="uploadFiles($event)" />
                      <p class="text-danger text-uppercase"><span>{{proof.rawImage.length}} files selected for upload</span></p>

                    </div>
                    <div class="form-group">
                      <textarea rows="2" [(ngModel)]="proof.message"  [ngModelOptions]="{standalone: true}" class="form-control no-resize" placeholder="Enter any comment for the admin(Optional)..."></textarea>
                    </div>
                    <button class="btn btn-primary" type="submit" *ngIf="!loaders.loading">Submit Proof</button>
                    <button class="btn btn-primary" *ngIf="loaders.loading" type="button"><i class="fa fa-spin fa-spinner"></i>&nbsp;Uploading Proof</button>

                  </form>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>


    </div>
  </div>










</div>




