<div class="container-fluid">
  <app-breadcrumb [dataInput]="breadCrumb"></app-breadcrumb>


  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card">
        <div class="body mt-2">
          <div class="text-center mt-1 mb-3" *ngIf="loadingData"><span class="fa fa-spin fa-spinner fa-2x"></span>&nbsp; Loading, Please wait...</div>
          <div class="table-responsive" *ngIf="showData">
            <table id="all-newsletters" class="table table-bordered table-hover table-striped dataTable" cellspacing="0" width="100%">
              <thead>
              <tr >
                <th class="no-sort"></th>
                <th>#</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Title</th>
                <th>Message</th>
                <th>Action</th>

              </tr>
              </thead>
              <tfoot>
              <tr >
                <th class="no-sort"></th>
                <th>#</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Title</th>
                <th>Message</th>
                <th>Action</th>
              </tr>
              </tfoot>
              <tbody>

              <tr *ngFor="let message of accountManagers;let i = index;">
                <td  class="details-control" [id]="'td-' + i"></td>
                <td>{{ i + 1 }}</td>
                <td>&nbsp;
                  {{ message?.userId?.full_name }}
                </td>
                <td>{{ message?.userId?.email }}</td>
                <td>{{ message?.topic }}</td>
                <td>
                 <div style="overflow: scroll;height: 100%;width: 400px;">
                   <p>{{message.message}}</p>
                 </div>
                </td>
                <td>
                  <button  class="btn btn-sm btn-success" (click)="resolveMessage(message)">Resolved</button>&nbsp;
                </td>
              </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>

  </div>



</div>
