figure:hover .btn-add-cart {
  background-color: #51BE50;
  border-color: #89DB87;
  color: white;
}
figure:hover {
  -webkit-box-shadow: -2px 0px 11px 0px rgba(58, 63, 92, 0.52);
  -moz-box-shadow: -2px 0px 11px 0px rgba(58, 63, 92, 0.52);
  box-shadow: -2px 0px 11px 0px rgba(58, 63, 92, 0.52);
  -moz-transform: translate(1px, -0.4px);
  -webkit-transform: translate(1px, -0.4px);
  -o-transform: translate(1px, -0.4px);
  -ms-transform: translate(1px, -0.4px);
  transform: translate(1px, -0.4px);
}

.btn-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #ddd;
  border-radius: 50%;
  margin: 0 0 5px;
  width: 36px;
  height: 36px;
  padding: 0;
  opacity: 1;
  transition: all .3s;
  transform: none; }

.product-title {
  white-space: nowrap;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  /*width: 160px;*/
}
