
<div class="landing-page-content">
<header id="intro-hero" class="animated fadeInBig">

 <app-l-header [active]="'home'"></app-l-header>


  <div id="hero-content">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-left">
          <h1 class="hero-title">Changing lives one<br> farm at a time</h1>
          <p class="hero-tagline">
            Sponsor a farm an get up to <b>35%</b><br> return on investment
          </p>
          <div class="intro-btn mt-25 ">
            <a href="javascript:void(0)" [ngx-scroll-to]="'#farm-shop-scroller'" class="btn btn-success btn-farm-green px-5 scrolling  bouncer animated-2">
              <span style="font-size: 25px;font-weight: bold">Get Started</span>
            </a>
          </div>
        </div> <!-- END col-sm-12-->
      </div> <!-- END row-->
    </div> <!-- END container-->
  </div> <!-- END hero-content-->

</header> <!-- END header-->
<div id="farm-shop-scroller"></div>
<!--<div style="opacity: 1;margin-top: -50px;" class="d-none d-sm-none d-md-block d-lg-block">
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320" ><path fill="#f6f6f6" fill-opacity="0.9" d="M0,192L80,181.3C160,171,320,149,480,154.7C640,160,800,192,960,181.3C1120,171,1280,117,1360,90.7L1440,64L1440,0L1360,0C1280,0,1120,0,960,0C800,0,640,0,480,0C320,0,160,0,80,0L0,0Z"></path></svg>
</div>-->

<section id="farm-shop" >
  <div class="container">

    <div class="row">


      <div class="col-sm-12 text-center">
        <h2 class="section-title">Sponsor a farm</h2>
        <p class="section-tagline">
          Sponsor a farm and get up to 35% return on investment
        </p>
      </div> <!-- END col-sm-12-->
    </div> <!-- END row-->



    <div *ngIf="loading && !allShops.length">
      <div class="row">
        <div class="col-3">
          <div class="ph-item">
            <div class="ph-col-12">
              <div class="ph-picture"></div>
              <div class="ph-row">
                <div class="ph-col-6 big"></div>
                <div class="ph-col-4 empty big"></div>
                <div class="ph-col-2 big"></div>
                <div class="ph-col-4"></div>
                <div class="ph-col-8 empty"></div>
                <div class="ph-col-6"></div>
                <div class="ph-col-6 empty"></div>
                <div class="ph-col-12"></div>
              </div>
            </div>
          </div></div>
        <div class="col-3">
          <div class="ph-item">
            <div class="ph-col-12">
              <div class="ph-picture"></div>
              <div class="ph-row">
                <div class="ph-col-6 big"></div>
                <div class="ph-col-4 empty big"></div>
                <div class="ph-col-2 big"></div>
                <div class="ph-col-4"></div>
                <div class="ph-col-8 empty"></div>
                <div class="ph-col-6"></div>
                <div class="ph-col-6 empty"></div>
                <div class="ph-col-12"></div>
              </div>
            </div>
          </div></div>
        <div class="col-3">
          <div class="ph-item">
            <div class="ph-col-12">
              <div class="ph-picture"></div>
              <div class="ph-row">
                <div class="ph-col-6 big"></div>
                <div class="ph-col-4 empty big"></div>
                <div class="ph-col-2 big"></div>
                <div class="ph-col-4"></div>
                <div class="ph-col-8 empty"></div>
                <div class="ph-col-6"></div>
                <div class="ph-col-6 empty"></div>
                <div class="ph-col-12"></div>
              </div>
            </div>
          </div></div>
        <div class="col-3">
          <div class="ph-item">
            <div class="ph-col-12">
              <div class="ph-picture"></div>
              <div class="ph-row">
                <div class="ph-col-6 big"></div>
                <div class="ph-col-4 empty big"></div>
                <div class="ph-col-2 big"></div>
                <div class="ph-col-4"></div>
                <div class="ph-col-8 empty"></div>
                <div class="ph-col-6"></div>
                <div class="ph-col-6 empty"></div>
                <div class="ph-col-12"></div>
              </div>
            </div>
          </div></div>
      </div>

      <div class="row">
        <div class="col-3">
          <div class="ph-item">
            <div class="ph-col-12">
              <div class="ph-picture"></div>
              <div class="ph-row">
                <div class="ph-col-6 big"></div>
                <div class="ph-col-4 empty big"></div>
                <div class="ph-col-2 big"></div>
                <div class="ph-col-4"></div>
                <div class="ph-col-8 empty"></div>
                <div class="ph-col-6"></div>
                <div class="ph-col-6 empty"></div>
                <div class="ph-col-12"></div>
              </div>
            </div>
          </div></div>
        <div class="col-3">
          <div class="ph-item">
            <div class="ph-col-12">
              <div class="ph-picture"></div>
              <div class="ph-row">
                <div class="ph-col-6 big"></div>
                <div class="ph-col-4 empty big"></div>
                <div class="ph-col-2 big"></div>
                <div class="ph-col-4"></div>
                <div class="ph-col-8 empty"></div>
                <div class="ph-col-6"></div>
                <div class="ph-col-6 empty"></div>
                <div class="ph-col-12"></div>
              </div>
            </div>
          </div></div>
        <div class="col-3">
          <div class="ph-item">
            <div class="ph-col-12">
              <div class="ph-picture"></div>
              <div class="ph-row">
                <div class="ph-col-6 big"></div>
                <div class="ph-col-4 empty big"></div>
                <div class="ph-col-2 big"></div>
                <div class="ph-col-4"></div>
                <div class="ph-col-8 empty"></div>
                <div class="ph-col-6"></div>
                <div class="ph-col-6 empty"></div>
                <div class="ph-col-12"></div>
              </div>
            </div>
          </div></div>
        <div class="col-3">
          <div class="ph-item">
            <div class="ph-col-12">
              <div class="ph-picture"></div>
              <div class="ph-row">
                <div class="ph-col-6 big"></div>
                <div class="ph-col-4 empty big"></div>
                <div class="ph-col-2 big"></div>
                <div class="ph-col-4"></div>
                <div class="ph-col-8 empty"></div>
                <div class="ph-col-6"></div>
                <div class="ph-col-6 empty"></div>
                <div class="ph-col-12"></div>
              </div>
            </div>
          </div></div>
      </div>

    </div>
    <div class="landing-page text-center" *ngIf="!farmShopsAvailable">
      <div class="">
        <span>
          <a href="javascript:void(0)" (click)="openNewsletter()" class="font-weight-bold">Unfortunately, all our farms are sold out. <i class="text-underline text-danger">Click here</i> to be notified when new farms come up</a></span>
      <span class="">
        <img src="assets/img/alert.png" class="mx-3" width="20">
      </span>
      </div>
    </div>


    <div class="row landing-page"  *ngIf="allShops.length">

      <div class="col-lg-3 col-md-6 col-sm-12 mb-3" *ngFor="let shop of allShops;let i = index;" (click)="loadThisShop(shop)">
        <!--|| !farmShopsAvailable-->
        <div class="card bg-white  wow fadeInLeft farm-shop-card"  [attr.data-wow-delay]="'.2s'"
             [ngClass]="shop.farm_status.name === 'Now Selling' ?  'bouncer animated' : 'sold-out'">
          <!--|| !farmShopsAvailable-->
          <div style="" class="card-status" [ngClass]="shop.farm_status.name === 'Now Selling' ?  'farm-card-status-new' : 'farm-card-status-sold'">
            {{ shop.farm_status.name === 'Now Selling' ? 'New' : shop.farm_status.name === 'Opening Soon' ? 'Soon' : 'Sold Out' }}</div>
          <img class="card-img-top farm-shop-image" [src]="shop?.display_img" alt="Shop" style="">
          <div class="card-body mt--1 card-body-format">
            <h4 class="card-title shop-card-title" style="font-size: 1.4rem">{{shop?.farm_name}}</h4>
            <div class="card-text shop-card-text mt--1">
              <div class="row text-left ">
                <div class="col-6">
                  <i class="fa fa-map-marker text-color-l-g"></i>&nbsp;
                  {{shop?.farm_location}}
                </div>
                <div class="col-6">
                  <i class="fa fa-bar-chart-o text-color-l-g"></i>&nbsp;
                  {{shop?.percentage_to_gain}}% ROI
                </div>
              </div>
              <div class="row text-left ">
                <div class="col-6">
                  <i class="fa fa-money text-color-l-g"></i>&nbsp;
                  {{ shop?.amount_to_invest || 0 | currency: '&#8358;' }}
                </div>
                <div class="col-6">
                  <i class="fa fa-calendar text-color-l-g"></i>&nbsp;
                  {{shop?.duration}} {{shop?.duration_type}}S
                </div>
              </div>
            </div>
          </div>
        </div></div>

    </div>



    <div class="mt-4 load-more">
      <div class="text-center" ><a href="#" [routerLink]="'/farm-shop'" >See all farms &nbsp;<i class="fa fa-long-arrow-right"></i></a></div>
    </div>







    <!-- END row-->
  </div> <!-- END container-->
</section> <!-- END steps-->


<section id="farm-products" style="position: relative" *ngIf="allProducts.length">
  <div class="container">

    <div class="row">
      <div style="opacity: 0.4" class="floating-object wow fadeInRightBig"  data-wow-delay=".2s">
        <img src="assets/img/farm/cassava_leaf.png">
      </div>
      <div class="col-sm-12 text-center">
        <h2 class="section-title">Letsfarm products</h2>
        <p class="section-tagline">
          Shop from our retail store
        </p>
      </div> <!-- END col-sm-12-->
    </div> <!-- END row-->



    <div class="row">

      <div *ngFor="let product of allProducts;let j = index" class="col-md-3 col-sm-6 text-center mt-30" [ngClass]="(j % 2 === 0) ? 'wow fadeInLeft' : 'wow fadeInRight'" [attr.data-wow-delay]="'.' + (j + 1) + 's'">
        <div class="">
          <div class="position-relative">
            <figure>
              <a href="javascript:void(0)" (click)="openProduct(product)">
                <img [src]="product?.display_img" width="200">
              </a>
              <div class="position-absolute" style="top: 5%;right: 5%" [attr.data-balloon]="product?.product_status?.name?.toLowerCase() === 'in stock' ? 'Add To Cart' : 'Out of Stock'" data-balloon-pos="up">
                <button class="btn-icon btn-add-cart form-control" (click)="addToCart(product)" style="cursor: pointer">
                  <i class="icon-bag"></i></button>
              </div>
            </figure>
            <div class="product-details" style="line-height: normal;letter-spacing: normal">
              <div data-balloon-pos="up" data-balloon-length="large" [attr.data-balloon]="product?.product_name">
                <h4 class="block-title product-title">
                  <a href="javascript:void(0)">{{product?.product_name}}</a>
                </h4>
              </div>
              <div >
                <span class="product-price">{{product?.product_location}}</span>
              </div>
              <div >
                <span class="product-price font-weight-bold">{{product?.price || 0 | currency: product?.currency + ' '}}</span>
              </div>
            </div>

          </div>

        </div>
      </div>

      <div style="opacity: 0.5" class="floating-object-base wow fadeInLeftBig" data-wow-delay=".2s">
        <img src="assets/img/farm/cassava_leaf.png">
      </div>
    </div>

    <div class="mt-4 load-more">
      <div class="text-center">
        <a href="" [routerLink]="['/farm-products']">See all products &nbsp;<i class="fa fa-long-arrow-right"></i></a></div>
    </div>


    <!-- END row-->
  </div> <!-- END container-->
</section> <!-- END steps-->



<section id="media-coverage">
  <div class="container-fluid">

    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="section-title">Partners</h2>
      </div>
    </div> <!-- END row-->

    <div class="mt-5 mb-3">
      <div class="">
        <div class="row">
          <div class="col-sm-12 text-center">
            <ul class="list-inline logos">
              <li class="wow fadeIn py-3" data-wow-duration="1s" data-wow-delay=".1s">
                <a href="#">
                  <img src="assets/img/partners/panoglogo-227x300.png" class="bouncer animated" alt="">
                </a>
              </li>
              <li class="wow fadeIn  py-3" data-wow-duration="1s" data-wow-delay=".2s">
                <a href="#">
                  <img src="assets/img/partners/fishgate.png" class="bouncer animated" alt="">
                </a>
              </li>
              <li class="wow fadeIn py-3" data-wow-duration="1s" data-wow-delay=".3s">
                <a href="#">
                  <img src="assets/img/partners/FUNAAB_Logo.png" class="bouncer animated" alt="">
                </a>
              </li>
              <li class="wow fadeIn py-3" data-wow-duration="1s" data-wow-delay=".4s">
                <a href="#">
                  <img src="assets/img/partners/leadway.png" class="bouncer animated" alt="">
                </a>
              </li>
              <li class="wow fadeIn py-3" data-wow-duration="1s" data-wow-delay=".5s">
                <a href="#"><img src="assets/img/partners/NCAPMA.png" class="bouncer animated" alt=""></a>
              </li>
            </ul>
          </div> <!-- END col-sm-12 text-center-->
        </div></div></div> <!-- END row-->



  </div> <!-- END container-->
</section> <!-- END media-coverage-->





<section id="testimonials">
  <div class="container">
    <div class="row">

      <div class="col-md-5">
        <div class="testimonials-box">
          <h4>Solving Problems and Keeping Clients Happy</h4>
          <p>
            There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.
          </p>
          <p>
            If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet.
          </p>
        </div>
      </div> <!-- END col-md-5 -->

      <div class="col-md-7">






        <div class="testimonial-slides owl-carousel">

          <div class="tm-item">
            <div class="tm-author-avatar">
              <img src="assets/img/author/testimony1.png" alt="" >
            </div>
            <div class="tm-text">
              <p>
                One way or the other Letsfarm has helped me a lot more than I can imagine, have been able to save  money and plan ever since I started my investment with Letsfarm. And I hope to keep partnering with them for a long time.
              </p>
              <h4>Abiodun Ọlálékan</h4>
              <span>Lagos</span>
            </div>
          </div> <!-- END tm-item-->

          <div class="tm-item">
            <div class="tm-author-avatar">
              <img src="assets/img/author/testimony2.png" alt="">
            </div>
            <div class="tm-text">
              <p>
                One thing I love about letsfarm.co is how they care about Agriculture and food security. I cant wait to see them roll out all the services they have in stock. And yes, I got paid.
              </p>
              <h4>Ibrahim Abba</h4>
              <span>Kaduna</span>
            </div>
          </div> <!-- END tm-item-->

          <div class="tm-item">
            <div class="tm-author-avatar">
              <img src="assets/img/author/testimony3.png" alt="">
            </div>
            <div class="tm-text">
              <p>

                Letsfarm has really helped and blessed my life. With letsfarm I have been able to upgrade my business and also write my exams. It is 100% safe and their interest rate is the best. I'm not afraid to invest as much as possible because since I have started investing, I have never heard any story or delay in payment. Thanks LETSFARM
              </p>
              <h4>Idowu Akinola</h4>
              <span>Lagos</span>
            </div>
          </div>
          <div class="tm-item">
            <div class="tm-author-avatar">
              <img src="assets/img/author/testimony4.png" alt="">
            </div>
            <div class="tm-text">
              <p>
                I was quite skeptical when I heard about this at first and so I sponsored just a single pig unit. After 6 months I got my ROI and I've decided to sponsor more units
              </p>
              <h4>Jessica Anih</h4>
              <span>Germany</span>
            </div>
          </div>
          <div class="tm-item">
            <div class="tm-author-avatar">
              <img src="assets/img/author/testimony5.png" alt="">
            </div>
            <div class="tm-text">
              <p>

                LetsFarm is a great initiative with wonderful benefits and no hidden charges whatsoever...

                When I joined LetsFarm, I finally understood what investment meant; Good returns that comes on time!

                God bless the team because they are changing people's lives. Higher you go, I pray!

              </p>
              <h4>Glory Okhomina</h4>
              <span>Sango Ota</span>
            </div>
          </div>
          <div class="tm-item">
            <div class="tm-author-avatar">
              <img src="assets/img/author/testimony8.png" alt="">
            </div>
            <div class="tm-text">
              <p>

                I enjoy letting my money work for me. With letsfarm, I am not only earning passively, but I am ending poverty. Purpose fulfilled

              </p>
              <h4>Lawal Mudashir</h4>
              <span>Ibadan</span>
            </div>
          </div>

          <!-- END tm-item-->

        </div> <!-- END testimonil-slider-->
      </div> <!--END col-md-7 -->

    </div> <!-- END row-->



  </div> <!-- END container-->
  <div class="mt-5 load-more">
    <div class="text-center"  style="margin-top: 80px;">Want to share your story?</div>
  </div>
</section> <!-- END testimonials-->




<section id="approach">
  <div class="container">
    <div class="container"><div class="row">

      <div class="col-md-5 wow fadeIn">
        <div class="approch-text text-center">
          <!--<span class="color-text">Our approach</span>-->
          <h4 class="safe-confidential">
            Safe, Confidential and Insured
          </h4>
          <p class="safe-confidential-text mt--2">
            All our farms are comprehensively insured<br> by Leadway Assurance
          </p>
        </div>
      </div> <!-- END col-md-5-->

      <div class="col-md-4 text-center">
        <div class="approach-thumb">
          <img src="assets/img/partners/handshake-stars.png" alt=""  width="262">
        </div>
      </div>
      <div class="col-md-3 text-center">
        <div class="approach-thumb " style="margin-top: 50px;">
          <img src="assets/img/partners/leadway.png" alt="" width="175">
        </div>
      </div> <!-- END col-md-7-->

    </div></div> <!-- END row-->
  </div> <!-- END container-->
</section> <!-- END approach-->













<app-l-footer></app-l-footer>
</div>


<!--Fund Wallet Modal -->
<div class="modal fade" id="newsletterModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content" style="">
      <div class="modal-header">
        <h4 class="title">Get Notified  <img src="assets/img/alert.png" class="mx-3" width="20"></h4>
      </div>
      <form class="form-auth-small" #newsletterForm="ngForm" (ngSubmit)="saveNewsletter()">

        <div class="modal-body">
          <div class="">


            <div class="form-group">
              <label for="email" class="control-label">Enter Email</label>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><span class="icon-envelope-letter"></span></span>
                </div>
                <input type="email" class="form-control" placeholder="Enter a valid email"
                       #email="ngModel"
                       id="email"
                       [(ngModel)]="newsLetter.email" [ngModelOptions]="{standalone: true}" required>
              </div>
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" [disabled]="email.errors" class="btn btn-primary">Get Notified</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
        </div>

      </form>
    </div>

  </div>
</div>


