

<header id="intro-hero">

  <nav id="main-nav" class="navbar navbar-expand-lg navbar-light fixed-top padding-header is-scrolling">
    <a href="javascript:void(0)" [routerLink]="['/home']" class="navbar-brand" style="margin-top: -10px;" (click)="openHomePage()">
      <img src="assets/img/logo/logo-color.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="beborn-nav-collapse">
      <ul class="navbar-nav ml-auto justify-content-left px-5 clearfix mt--1">
        <li class="nav-item mr-2" [ngClass]="active === 'home' ? 'active' : ''">
          <a class="nav-link" href="" [routerLink]="['/home']">Home <span class="sr-only">(current)</span></a>
        </li><!--
        <li class="nav-item mr-2" [ngClass]="active === 'about' ? 'active' : ''">
          <a class="nav-link"  href="javascript:void(0)" [routerLink]="['/about']">About</a>
        </li>-->
        <li class="nav-item mr-2 dropdown" [ngClass]="active === 'about' ? 'active' : ''">
          <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbarabout" data-toggle="dropdown">
            About
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="" [routerLink]="['/about-company']">The Company</a>
            <a class="dropdown-item" href="" [routerLink]="['/about-team']">The Team</a>
            <a class="dropdown-item" href="" [routerLink]="['/about-app']">Our App</a>
          </div>
        </li>
        <li class="nav-item mr-2 dropdown" [ngClass]="active === 'shop' ? 'active' : ''">
          <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="navbardrop" data-toggle="dropdown">
            Shop
          </a>
          <div class="dropdown-menu" *ngIf="active === 'home'">
            <a class="dropdown-item" href="javascript:void(0)" [ngx-scroll-to]="'#farm-shop-scroller'">Farm Shop (Sponsorship farms)</a>
            <a class="dropdown-item" href="javascript:void(0)" [ngx-scroll-to]="'#farm-products'">Farm Products (Letsfarm products)</a>
          </div>
          <div class="dropdown-menu" *ngIf="active !== 'home'">
            <a class="dropdown-item" href="" [routerLink]="['/farm-shop']">Farm Shop (Sponsorship farms)</a>
            <a class="dropdown-item" href="" [routerLink]="['/farm-products']">Farm Products (Letsfarm products)</a>
          </div>
        </li>
        <li class="nav-item mr-2" [ngClass]="active === 'education' ? 'active' : ''">
          <a class="nav-link" href="" [routerLink]="['/education']">Education</a>
        </li>
        <li class="nav-item mr-2" [ngClass]="active === 'blog' ? 'active' : ''">
          <a class="nav-link" href="" [routerLink]="['/blog']">Blog</a>
        </li>
        <li class="nav-item mr-2" [ngClass]="active === 'faq' ? 'active' : ''">
          <a class="nav-link" href="" [routerLink]="['/faq']">FAQs</a>
        </li>
        <li class="ml-2 mt-2 nav-item d-none d-md-inline-block d-lg-inline-block" *ngIf="currentUser?.role === 'USER' || cartCountNumber > 0">
          <a href="javascript:void(0)" class="icon-menu bouncer animated" (click)="openCart()">
              <span class="" style="width: 10px;height: 10px;position: absolute;top:2%;right: 19%;">
                <strong *ngIf="cartCountNumber < 9" style="font-size: 12px">{{cartCountNumber}}</strong><strong *ngIf="cartCountNumber > 9" style="font-size: 12px">9<sup>+</sup></strong>
              </span>
            <!--<img src="assets/img/dashboard/icons/shopping_cart_1.png" width="25" class="mr-2 img-default">-->
            <!--<img src="assets/img/dashboard/icons/shopping_cart.png" width="25" class="mr-2 img-colored">-->
            <i class="fa fa-shopping-cart " style="font-size: 1.6em;"></i>
          </a>
        </li>

      </ul>
      <div class="mt--1" *ngIf="buttonLess !== 'no'">
        <ul class="navbar-nav mr-auto justify-content-right clearfix">
          <!--<div class="" *ngIf="false">
            <a class="btn btn-success btn-farm-green px-3 text-uppercase" href="javascript:void(0)" [routerLink]="['/sign-up']">Sign Up</a>
          </div>-->




          <ng-container  *ngIf="!currentUser">
            <li class="d-block pt-3 d-sm-block d-md-none d-lg-none"></li>
            <li class="nav-item px-2">
            <a class="nav-link btn btn-link text-success sign-in-btn" href="javascript:void(0)" [routerLink]="['/login']">Sign In</a>
          </li>
          <li class="nav-item">
            <a class="nav-link btn btn-success btn-farm-green px-3 text-uppercase text-white" href="javascript:void(0)" [routerLink]="['/sign-up']">Sign Up</a>
          </li>
          </ng-container>
          <ng-container class="" *ngIf="currentUser">
            <li class="d-block pt-3 d-sm-block d-md-none d-lg-none"></li>

            <li class="nav-item">
          <a class="nav-link btn btn-success btn-farm-green px-2
          text-uppercase text-white" href="javascript:void(0)" style="font-size: 12px;" (click)="openDashboard()">My Dashboard</a>
        </li>
        <li class="dropdown">
          <a class="nav-link dropdown-toggle" href="javascript:void(0)" id="btnGroupDrop1" data-toggle="dropdown"></a>
          <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" href="javascript:void(0);" (click)="openProfile()">View Profile</a>
            <a class="dropdown-item" href="javascript:void(0);" (click)="logOut()">Logout</a>
          </div>
        </li>
            <li>
              <div>
                <img [src]="currentUser.user_image_url ? currentUser.user_image_url : 'assets/img/logo/user.jpg'" width="35" height="35" style="border-radius: 50%;border: 2px dotted #51BE50">
              </div>
            </li>
          </ng-container>

        </ul>


        <!--<button id="btnGroupDrop1" type="button" class="nav-link btn btn-success btn-farm-green px-3 text-uppercase dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          My Dashboard
        </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
          <a class="dropdown-item" href="javascript:void(0);">Dropdown link</a>
          <a class="dropdown-item" href="javascript:void(0);">Dropdown link</a>
        </div>

        <div class="btn-group" role="group">

        </div>-->


      </div>
    </div>
  </nav>

</header>
