
<div class="landing-page-content">
  <header id="about-hero">

    <app-l-header [active]="'about'"></app-l-header>
    <div id="hero-content-2">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-left text-white">
            <p class="about-tagline">
              About
            </p>
            <h1 class="about-title mt--2">The Company</h1>
          </div> <!-- END col-sm-12-->
        </div> <!-- END row-->
      </div> <!-- END container-->
    </div> <!-- END hero-content-->

  </header> <!-- END header-->
  <section class="py-5 my-4">
    <div class="container pl-lg-5">

      <div class="container pl-lg-5">
        <div class="animated fadeIn">
          <h4>About Letsfarm</h4>
        </div>
        <div class="row clearfix mt-3">
        <div class="col-md-5 col-sm-12 wow fadeInLeft" data-wow-duration="2s" data-wow-delay=".1s">
          <img src="assets/img/about/about1.png" width="400" >
        </div>
        <div class="col-md-7 col-sm-12 text-left wow fadeInRightBig" data-wow-delay=".1s">
          <p>We are a group of farmers who are committed to providing food security,
            job opportunities and investment opportunities in Nigeria.</p>

          <p>According to Food and Agriculture Organisation of the United Nations,
            two-thirds of the Nigerian labour force works in agriculture</p>

          <a href="http://www.fao.org/nigeria/fao-in-nigeria/nigeria-at-a-glance/en/" target="_blank">(http://www.fao.org/nigeria/fao-in-nigeria/nigeria-at-a-glance/en/).</a>

          <p>You would think that for a country with such numbers, food security would be high and easily achievable.<br>

          However, the reverse is the case and the reason is because of the old practices that are still being used in the farming sector today.</p>

          <p>This was what prompted us to set up a community where farmers can come together and leverage on one another’s knowledge and expertise to improve on their farming operations.</p>

        </div>
      </div>
        <div class="row clearfix mt-4">
        <div class="col-md-7 col-sm-12 wow fadeInLeft" data-wow-delay=".2s">
          <div>
            <p>
              After running this community in a small cluster for 4 years and experiencing tremendous growth,
              we thought it would be best to open up the cluster to a larger community.<br>
              This will mean leveraging on bigger advantages and getting more returns for everyone involved.</p>

            <p>So, investing in Letsfarm.co is investing in food security, providing job opportunities,
              empowering a young person and getting good returns on your investment.</p>

            <div class="mt-2">Here’s where we stand out:
            <ul>
              <li>We are first farmers before any other thing. </li>
              <li>We train students and farmers on hands-on current farming trends.</li>
              <li>We have a better ROI.</li>
              <li>We have empowered 38 farmers and counting.</li>
            </ul></div>
             </div>
        </div>
          <div class="col-md-5 col-sm-12 wow fadeInRightBig" data-wow-delay=".2s">
            <img src="assets/img/about/about2.png" width="300">
          </div>
      </div>
      </div>
      <hr class="animated slideInLeft">
    </div>
  </section>

  <section style="padding: 0 0 70px 30px;" class="my-4">
    <div class="container pl-lg-5">
      <div class="container pl-lg-5" style="margin-bottom: 40px;">
        <div class="animated bounceInLeft">
          <h4>Why Choose Us</h4>
        </div>
       <div class="container">
         <div class="row mt-5">
          <div class="col-sm-12 col-md-6 mt-3 wow fadeInLeft" data-wow-delay=".3s">
            <div class="container">
              <div class="row">
              <div class="col-2 m-l--30">
                <img src="assets/img/about/icons/icon1.png" width="55">
              </div>
            <div class="col-10 m-r--20">
              <h5>Empowering Farmers</h5>
              <span class="mt--2">Funding Small Scale Farmers all over Nigeria</span>
            </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 mt-3 wow fadeInRight" data-wow-delay=".3s">
            <div class="container">
              <div class="row">
              <div class="col-2 m-l--30">
                <img src="assets/img/about/icons/icon2.png" width="55">
              </div>
            <div class="col-10 m-r--20">
              <h5>Up To 35% Returns</h5>
              <span class="mt--2">Reasonable returns in the shortest possible time</span>
            </div>
              </div>
            </div>
          </div>
        </div>
         <div class="row mt-4">
          <div class="col-sm-12 col-md-6 mt-3 wow fadeInLeft" data-wow-delay=".4s">
            <div class="container">
              <div class="row">
              <div class="col-2 m-l--30">
                <img src="assets/img/about/icons/icon3.png" width="55">
              </div>
            <div class="col-10 m-r--20">
              <h5>Enhancing Food Security</h5>
              <span class="mt--2">Ensuring that food is consistently produced</span>
            </div>
              </div>
            </div>
          </div>
          <div class="col-sm-12 col-md-6 mt-3 wow fadeInRight" data-wow-delay=".4s">
            <div class="container">
              <div class="row">
              <div class="col-2 m-l--30">
                <img src="assets/img/about/icons/icon4.png" width="55">
              </div>
            <div class="col-10 m-r--20">
              <h5>Employment</h5>
              <span class="mt--2">Creating Employment opportunities for all</span>
            </div>
              </div>
            </div>
          </div>
        </div>
       </div>
      </div>

      <hr >
    </div>
  </section>


<section class="mb-5 about-ring" style="margin-top: -30px;">
  <div class="container px-5 py-4">
    <div class="container">
      <div class="row offset-lg-4">
      <div class="col-md-12 col-sm-12 col-lg-6 wow fadeInUp" data-wow-delay=".5s">
        <div>
        <div class="text-center mb-1">
          <img src="assets/img/about/rings/recycles.png" width="55">
        </div>
        <h4>Recycling</h4>
        <p class="mt--1">Letsfarm recycling aims at converting seeming farm waste to biogas,
          feed for livestock and raw materials for manufacturing industries</p>
      </div>
      </div>
    </div>
    <div class="row mt--2 px-md-5  px-sm-0  px-lg-5">
      <div class="col-md-12 col-sm-12 col-lg-4 wow fadeInLeftBig" data-wow-delay=".6s">
        <div>
          <div class="text-center mb-1">
            <img src="assets/img/about/rings/education.png" width="55">
          </div>
          <h4>EDUCATION</h4>
          <p class="mt--1">
            Letsfarm Edu is an online agricultural research database
            for students of Agriculture, potential
            farmers and enthusiasts via video
            courses and offline workshops
          </p>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-lg-4"></div>
      <div class="col-md-12 col-sm-12 col-lg-4 wow fadeInRightBig" data-wow-delay=".6s">
        <div style="">
          <div class="text-center mb-1">
            <img src="assets/img/about/rings/logistic.png" width="55">
          </div>
          <h4>LOGISTICS</h4>
          <p class="mt--1">
            Full fledged dedicated logistics arm dedicated
            to moving farm produce from the farms to the market all over Nigeria
          </p>
        </div>
      </div>
    </div>
    <div class="row offset-lg-4 mt--5 d-sm-none d-md-none d-none d-lg-block" style="margin-top: -70px;">
      <div class="col-md-12 col-sm-12 col-lg-6 wow bounceIn" data-wow-delay=".9s" data-wow-duration="7s">
        <div>
          <div class="text-center mb-1">
            <img src="assets/img/about/rings/center-icon.png" width="55%">
          </div>
        </div>
      </div>
    </div>
    <div class="row mt--5 px-md-5 px-sm-0 px-lg-5" >
      <div class="col-md-12 col-sm-12 col-lg-4 wow fadeInLeftBig" data-wow-delay=".7s">
        <div>
          <div class="text-center mb-1">
            <img src="assets/img/about/rings/letseat.png" width="45">
          </div>
          <h4>LETS EAT</h4>
          <p class="mt--1">
            Letseat is letsfarm's restaurant franchise where priority
            is placed on serving healthy and affordable meals
          </p>
        </div>
      </div>
      <div class="col-md-12 col-sm-12 col-lg-4"></div>
      <div class="col-md-12 col-sm-12 col-lg-4 wow fadeInRightBig" data-wow-delay=".7s">
        <div style="">
          <div class="text-center mb-1">
            <img src="assets/img/about/rings/processing.png" width="55">
          </div>
          <h4>PROCESSING</h4>
          <p class="mt--1">
            100% of Letsfarm's produce go into processing.
            This ensures that we have market for whatever
            the farmers produce even before harvest.
          </p>
        </div>
      </div>
    </div></div>
  </div>
</section>

<section id="approach" class="approach-2">
    <div class="container">
      <div class="container"><div class="row">

        <div class="col-md-5 wow fadeIn">
          <div class="approch-text text-center">
            <!--<span class="color-text">Our approach</span>-->
            <h4 class="safe-confidential">
              Safe, Confidential and Insured
            </h4>
            <p class="safe-confidential-text mt--2">
              All our farms are comprehensively insured<br> by Leadway Assurance
            </p>
          </div>
        </div> <!-- END col-md-5-->

        <div class="col-md-4 text-center">
          <div class="approach-thumb">
            <img src="assets/img/partners/handshake-stars.png" alt=""  width="262">
          </div>
        </div>
        <div class="col-md-3 text-center">
          <div class="approach-thumb " style="margin-top: 50px;">
            <img src="assets/img/partners/leadway.png" alt="" width="175">
          </div>
        </div> <!-- END col-md-7-->

      </div></div> <!-- END row-->
    </div> <!-- END container-->
  </section> <!-- END approach-->

<app-l-footer></app-l-footer>
</div>
