<div class="container-fluid">
  <app-breadcrumb [dataInput]="breadCrumb"></app-breadcrumb>








  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card">
        <div class="header">
          <h4>List Referrals</h4>
        </div>
        <div class="body mt-2">
          <div class="text-center mt-1 mb-3" *ngIf="loadingData">
            <span class="fa fa-spin fa-spinner fa-2x"></span>&nbsp;
            <br>
            <span>Loading, Please wait...</span>
          </div>
          <div class="table-responsive" *ngIf="showData">
            <table id="referral-list" class="table table-bordered table-hover table-striped dataTable" cellspacing="0" width="100%">

              <thead>
              <tr >
                <th class="no-sort"></th>
                <th>S/N</th>
                <th>Referral Name</th>
                <th>Referral Email</th>
                <th>Referee Name</th>
                <th>Referee Email</th>
                <th>Amount Sponsored</th>
                <th>Bonus Amount</th>
                <th>Is Cycle Completed</th>
                <th>Is Bonus Earned</th>
                <th>Referred Date</th>

              </tr>
              </thead>
              <tfoot>
              <tr >
                <th class="no-sort"></th>
                <th>S/N</th>
                <th>Referral Name</th>
                <th>Referral Email</th>
                <th>Referee Name</th>
                <th>Referee Email</th>
                <th>Amount Sponsored</th>
                <th>Bonus Amount</th>
                <th>Is Cycle Completed</th>
                <th>Is Bonus Earned</th>
                <th>Referred Date</th>
              </tr>
              </tfoot>

              <tbody>

              <tr *ngFor="let referral of referrals;let i = index;">
                <td  class="details-control" [id]="'td-' + i"></td>
                <td>{{ i + 1 }}</td>
                <td>{{ referral?.referral?.full_name }}</td>
                <td>{{ referral?.referral?.email }}</td>
                <td>{{ referral?.referree?.full_name }}</td>
                <td>{{ referral?.referree?.email }}</td>
                <td>{{ referral?.amount_sponsor | currency: 'NGN '}}</td>
                <td>{{ referral?.expected_bonus | currency: 'NGN '}}</td>
                <td>
                  <span class="badge badge-success" *ngIf="referral?.is_cycle_completed">Yes</span>
                  <span class="badge badge-danger" *ngIf="!referral?.is_cycle_completed">No</span>
                </td>
                <td>
                  <span class="badge badge-success" *ngIf="referral?.is_bonus_earned">Yes</span>
                  <span class="badge badge-danger" *ngIf="!referral?.is_bonus_earned">No</span></td>
                <td>{{ referral?.createdAt | date }}                </td>
                <!--<td>
                  <div class="row">
                    <div class="col-6" *ngIf="transaction?.transactionType === 'OTHERS' && transaction?.narration.includes('Transaction for ')">
                      <button [id]="'btn-' + i" data-balloon="View Orders" data-balloon-pos="up" class="btn btn-sm btn-primary" (click)="viewDetails(transaction, i)">
                        <i class="fa fa-eye"></i> Details
                      </button>
                      <span [id]="'load-' + i" class="loaders-btn btn btn-sm btn-primary d-none" >
                      <i class="fa fa-spin fa-spinner"></i> Loading...
                    </span>
                    </div>
                    <div class="col-6">
                      <button data-balloon="View Initiator" data-balloon-pos="up" class="btn btn-sm btn-warning text-white" (click)="viewInitiator(transaction)">
                        <i class="fa fa-user"></i> Initiator
                      </button>
                    </div>
                  </div>
                </td>-->
              </tr>
              </tbody>

            </table>

          </div>
        </div>
      </div>
    </div>

  </div>

</div>


<!--



&lt;!&ndash;Transaction details Modal &ndash;&gt;
<div class="modal fade" id="transactionDetails" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content" style="">
      <div class="modal-header">
        <h4 class="title">Transaction Detail</h4>
      </div>

      <div class="modal-body" *ngIf="loaders.loading">

        <div class="table-responsive">
          <table class="table">
            <thead class="thead-dark">
            <tr>
              <th>Description</th>
              <th class="">Quantity</th>
              <th class="text-right">Unit Price</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="">{{orderDetail?.farm_name}}</td>
              <td class="">{{orderDetail?.quantity || 0}}</td>
              <td class="text-right">{{orderDetail?.price_per_unit || 0 | currency: orderDetail?.currency}}</td>
            </tr>
            <tr>
              <td class="text-left">
                <p>Trans Date:</p>
                <p>Trans ROI:</p>
                <p>Trans Duration:</p>
              </td>
              <td class="text-right" colspan="2">
                <p><strong>{{orderDetail?.createdAt | date }}</strong></p>
                <p><strong>{{orderDetail?.roi }}%</strong></p>
                <p><strong>{{orderDetail?.duration }} {{orderDetail?.duration_type | lowercase}}s</strong></p>
              </td>
            </tr>
            <tr>
              <td class="text-left">
                <p>Total Amount:</p>
                <p>Trans Charge:</p>
              </td>
              <td class="text-right" colspan="2">
                <p><strong>{{orderDetail?.total_price || 0 | currency: orderDetail?.currency }}</strong></p>
                <p><strong>{{orderDetail?.transaction_charge || 0 | currency: orderDetail?.currency }}</strong></p>
              </td>
            </tr>
            <tr>
              <td class="text-left">
                <h6>Total:</h6>
              </td>
              <td class="text-danger text-right"  colspan="2">
                <h6>{{orderDetail?.total_price || 0 | currency: orderDetail?.currency }}</h6>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>



&lt;!&ndash;Transaction details Modal &ndash;&gt;
<div class="modal fade" id="initiatorModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content" style="">
      <div class="modal-header">
        <h4 class="title">Initiator Details</h4>
      </div>

      <div class="modal-body">

        <div class="table-responsive">
          <table class="table" *ngIf="initiator">
            <tbody>
            <tr>
              <td class="text-left">
                <p>Name</p>
                <p>Email</p>
                <p>Account</p>
                <p>Bank</p>
                <p>BVN</p>
              </td>
              <td class="text-right" colspan="2">
                <p><strong>{{initiator?.full_name  }}</strong></p>
                <p><strong>{{initiator?.email}}</strong></p>
                <p><strong>{{initiator?.bank?.account_number}}</strong></p>
                <p><strong>{{initiator?.bank?.bank_name}}</strong></p>
                <p><strong>{{initiator?.bank?.bvn }}</strong></p>

              </td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>


-->
