<div class="landing-page-content">
  <app-l-header></app-l-header> <!-- END header-->




  <div id="wrapper">

    <div class="vertical-align-wrap">
      <div class="vertical-align-middle auth-main">
        <div class="auth-box">
          <div class="card">
            <div class="header">
              <p class="lead mb-0">Resend Email Verification Link</p>
            </div>
            <div class="body">
              <p>Please enter the email address you used in registering</p>
              <form class="form-auth-small"  #resendVerificationEmailForm="ngForm" (ngSubmit)="resendEmail()">
                <div class="form-group">
                  <input type="email" class="form-control"  placeholder="Email"
                         #email="ngModel" id="email"
                         [(ngModel)]="credentials.email" [pattern]="EMAIL_VALIDATION" [ngModelOptions]="{standalone: true}" required>
                  <div class="text-danger"  *ngIf="email.errors && (email.dirty || email.touched)" style="margin-top: -5px;">
                  <span class="validation-message" [hidden]="!email.hasError('pattern')">
                 Invalid Email Address</span>
                    <span class="validation-message" [hidden]="!email.hasError('required')">
                 Email Address is required</span>
                  </div>
                </div>
                <button type="submit" class="btn btn-success btn-lg btn-block" *ngIf="!loaders.loading" [disabled]="email.errors" >SEND VERIFICATION LINK</button>
                <span *ngIf="loaders.loading" class="btn btn-success btn-lg btn-block">Loading&nbsp;<i class="fa fa-spin fa-spinner"></i></span >

                <div class="bottom">
                  <span class="helper-text">Remember password? <a class="text-success" href="javascript:void(0)" [routerLink]="['/login']">Login</a></span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
