
<div class="landing-page-content">
  <header id="faq-hero">

    <app-l-header [active]="'faq'"></app-l-header>


    <div id="hero-content-2">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-left text-white">
            <h1 class="about-title mt--2">FAQs</h1>
          </div> <!-- END col-sm-12-->
        </div> <!-- END row-->
      </div> <!-- END container-->
    </div> <!-- END hero-content-->

  </header> <!-- END header-->
  <section>

    <div class="container">
      <div class="px-sm-0 px-md-5 px-lg-5 my-4 py-5">
        <div class="card">
          <div class="body">
            <h6 class="p-10 text-light" style="background-color: #51BE50;font-size: 17px;">Most frequent questions and answers</h6>
            <div class="accordion custom" id="accordion">
              <div>
                <div class="card-header" id="headingOne">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                      What is Letsfarm.com.ng?
                    </button>
                  </h5>
                </div>
                <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion" style="">
                  <div class="card-body">
                    Letsfarm.com.ng is a an all round Agricultural solutions provider with
                    services expertise in Agricultural investments, Education, Recycling, Logistics, Manufacturing & Exports
                  </div>
                </div>
              </div>
              <div>
                <div class="card-header" id="headingTwo">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                      How do I Sponsor A Farm?
                    </button>
                  </h5>
                </div>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                  <div class="card-body">
                    Create an account an visit the farmshop to sponsor as many units of your chosen farm as available for sponsorship
                  </div>
                </div>
              </div>
              <div>
                <div class="card-header" id="headingThree">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                      What Is The ROI ?
                    </button>
                  </h5>
                </div>
                <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                  <div class="card-body">
                    ROI differs according to the type of farms. Sponsors can earn up to 35%. Visit the farmshop  to see all farms
                  </div>
                </div>
              </div>
              <div>
                <div class="card-header" id="headingFour">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                      Are Your Farms Insured ?
                    </button>
                  </h5>
                </div>
                <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                  <div class="card-body">
                    Your sponsorship caters farm insurance with Leadway Assurance PLC against losses resulting from theft, death, floods etc
                  </div>
                </div>
              </div>
              <div>
                <div class="card-header" id="headingFive">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                      Can I Cancel My Sponsorship Before Due Date?
                    </button>
                  </h5>
                </div>
                <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                  <div class="card-body">
                    No, you cant! Our packages are carefully crafted to ensure that your
                    sponsorship cater for farms operations within a specific period.
                    A contract is signed when you sponsor which you must see through.
                  </div>
                </div>
              </div>
              <div>
                <div class="card-header" id="headingSix">
                  <h5 class="mb-0">
                    <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                      Can I apply As A Farmer ?
                    </button>
                  </h5>
                </div>
                <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                  <div class="card-body">
                    Yes, you can. Send us a message via info@letsfarm.co with the subject “FARMER APPLICATION”
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>







  <app-l-footer></app-l-footer>
</div>
