<div class="landing-page-content">
  <app-l-header></app-l-header> <!-- END header-->




<div id="wrapper">

  <div class="vertical-align-wrap">
    <div class="vertical-align-middle auth-main">
      <div class="auth-box">
        <div class="card">
          <div class="header">
            <p class="lead mb-0">Login to Letsfarm</p>
          </div>
          <div class="body">
            <form class="form-auth-small" #loginForm="ngForm" (ngSubmit)="recaptchaExecute()">
              <div class="form-group">
                <label for="user_email" class="control-label sr-only">Username</label>
                <!--[pattern]="EMAIL_VALIDATION"-->
                <input type="email" class="form-control" autocomplete="" placeholder="Username"
                       #user_email="ngModel" minlength="4"
                       id="user_email"
                       [(ngModel)]="credentials.email" [ngModelOptions]="{standalone: true}" required>
                <div class="text-danger" *ngIf="user_email.errors && (user_email.dirty || user_email.touched)">
                  <!--  <span class="validation-message" [hidden]="!user_email.hasError('pattern')">
                      Invalid Email Address<br>
                    </span>-->
                  <span class="validation-message" [hidden]="!user_email.hasError('required')">
                    Email Address is required</span>
                </div>
              </div>
              <div class="form-group">
                <label for="password" class="control-label sr-only">Password</label>
                <input type="password" class="form-control" placeholder="Password"
                       #password="ngModel" minlength="4" id="password"
                       [(ngModel)]="credentials.password" [ngModelOptions]="{standalone: true}" required>
                <div class="text-danger"  *ngIf="password.errors && (password.dirty || password.touched)">
                  <span class="validation-message" [hidden]="!password.hasError('minlength')">
                 Invalid password<br></span>
                  <span class="validation-message" [hidden]="!password.hasError('required')">
                 Password is required</span>
                </div>
              </div>
              <!--<div class="form-group clearfix">
                <label class="fancy-checkbox element-left">
                  <input type="checkbox">
                  <span>Remember me</span>
                </label>
              </div>-->
              <button type="submit" class="btn btn-success btn-lg btn-block"
                      *ngIf="!loaders.login" [disabled]="password.errors || user_email.errors">LOGIN</button>
              <re-captcha (resolved)="resolved($event)" #captchaRef="reCaptcha"></re-captcha>
              <span *ngIf="loaders.login" class="btn btn-success btn-lg btn-block">Loading&nbsp;<i class="fa fa-spin fa-spinner"></i></span >

              <div class="bottom">
                <span class="helper-text"><i class="fa fa-lock"></i>&nbsp;
                  <a href="javascript:void(0)" [routerLink]="['/forgot-password']" class="text-success">Forgot password?</a></span>
                <span>Don't have an account? <a href="javascript:void(0)" (click)="logoutAndRoute()" class="text-success">Register</a></span><br>
                <span>Didn't get verification mail? <a routerLink="/resend-signup-verification-link" class="text-info">Resend Mail</a></span>
              </div>
            </form>

            <div class="separator-linethrough"><span>OR</span></div>


            <div class="social_icons">
              <button type="button" (click)="signInWithFB()" class="btn btn-link">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate" viewBox="0 0 40 40" width="40px" height="40px"><defs><clipPath id="_clipPath_8VvQ1xh1GLBNYJihQI2co6sEKMpW0SIo"><rect width="40" height="40"></rect></clipPath></defs><g clip-path="url(#_clipPath_8VvQ1xh1GLBNYJihQI2co6sEKMpW0SIo)"><path d=" M 34.611 0 L 5.388 0 C 2.412 0 0 2.412 0 5.388 L 0 34.61 C 0 37.585 2.412 39.997 5.388 39.997 L 19.803 39.997 L 19.827 25.703 L 16.114 25.703 C 15.631 25.703 15.24 25.313 15.238 24.831 L 15.22 20.227 C 15.22 19.742 15.612 19.348 16.097 19.345 L 19.804 19.345 L 19.804 14.889 C 19.804 9.723 22.959 6.91 27.568 6.91 L 31.346 6.91 C 31.829 6.912 32.22 7.303 32.222 7.786 L 32.222 11.671 C 32.22 12.154 31.829 12.545 31.347 12.548 L 29.028 12.548 C 26.521 12.548 26.036 13.739 26.036 15.487 L 26.036 19.346 L 31.542 19.346 C 31.792 19.346 32.03 19.453 32.197 19.64 C 32.363 19.828 32.441 20.077 32.411 20.326 L 31.866 24.93 C 31.811 25.369 31.439 25.7 30.996 25.702 L 26.059 25.702 L 26.036 40 L 34.611 40 C 37.587 40 39.999 37.588 39.999 34.612 L 39.999 5.388 C 39.999 2.412 37.587 0 34.611 0 Z " fill="rgb(71,89,147)"></path></g></svg>
              </button>
              <button type="button" (click)="signInWithGoogle()" class="btn btn-link">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" style="isolation:isolate" viewBox="0 0 40 40" width="40px" height="40px"><defs><clipPath id="_clipPath_bDMqrf6sZ9kWKgw1VXMWS9Gnhr9grtIg"><rect width="40" height="40"></rect></clipPath></defs><g clip-path="url(#_clipPath_bDMqrf6sZ9kWKgw1VXMWS9Gnhr9grtIg)"><g><path d=" M 8.864 24.175 L 7.472 29.371 L 2.383 29.479 C -0.742 23.659 -0.797 16.673 2.236 10.805 L 2.236 10.805 L 6.766 11.635 L 8.751 16.138 C 7.858 18.749 7.898 21.588 8.863 24.173 L 8.864 24.175 Z " fill="rgb(251,187,0)"></path><path d=" M 39.647 16.266 C 41.03 23.533 38.288 30.969 32.518 35.597 L 32.518 35.597 L 26.812 35.305 L 26.004 30.263 C 28.361 28.882 30.171 26.733 31.133 24.177 L 20.438 24.177 L 20.438 16.265 L 39.647 16.265 L 39.647 16.266 Z " fill="rgb(81,142,248)"></path><path d=" M 32.518 35.597 L 32.518 35.597 C 27.885 39.315 21.839 40.782 16.017 39.6 C 10.195 38.418 5.2 34.709 2.383 29.479 L 8.864 24.174 C 10.095 27.457 12.713 30.029 16.017 31.203 C 19.322 32.377 22.975 32.033 26.002 30.263 L 32.518 35.597 Z " fill="rgb(40,180,70)"></path><path d=" M 32.763 4.608 L 26.284 9.912 C 23.21 7.996 19.429 7.586 16.015 8.799 C 12.601 10.011 9.926 12.714 8.749 16.14 L 2.234 10.807 L 2.234 10.807 C 5.016 5.431 10.083 1.605 16.015 0.401 C 21.947 -0.803 28.104 0.744 32.763 4.608 Z " fill="rgb(241,67,54)"></path></g></g></svg>
              </button>

            </div>

            <!--<button class="btn btn-signin-social"><i class="fa fa-google text-red"></i> Sign in with Google</button>

            <button class="btn btn-signin-social"><i class="fa fa-facebook-official facebook-color"></i> Sign in with Facebook</button>-->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
