<div class="container-fluid">
  <app-breadcrumb [dataInput]="breadCrumb"></app-breadcrumb>

  <div class="row clearfix profilepage_1" style="" id="edit_section" *ngIf="editorDiv">
    <div class="col-lg-12">
      <div class="card animated bounceInUp">

        <form  #productForm="ngForm" (ngSubmit)="saveProduct()">

          <div class="body">
            <h6 class="mb-3">{{modal.title}}
              <span class="text-danger close font-weight-bold" (click)="closeEditor()">&times;</span>
            </h6>
            <div class="row clearfix">
              <div class="col-lg-6 col-md-12">
                <div class="form-group">
                  <label for="product_name" class="control-label">Product Name</label>
                  <input type="text" class="form-control" placeholder="Product Name"
                         #product_name="ngModel"
                         id="product_name"
                         [(ngModel)]="newProduct.product_name" [ngModelOptions]="{standalone: true}" required>
                  <div class="text-danger" *ngIf="product_name.errors && (product_name.dirty || product_name.touched)">
                  <span class="validation-message" [hidden]="!product_name.hasError('required')">
                    Product name is required</span>
                  </div>

                </div>
                <div class="form-group">
                  <label for="farm_location" class="control-label">Product Location</label>
                  <input type="text" class="form-control" placeholder="Product Location"
                         #farm_location="ngModel"
                         id="farm_location"
                         [(ngModel)]="newProduct.product_location" [ngModelOptions]="{standalone: true}">

                </div>
                <div class="form-group">
                  <label for="currency" class="control-label">Currency</label>
                  <div>
                    <label class="fancy-radio">
                      <input name="currency" value="NGN" id="currency" type="radio" checked=""
                             [(ngModel)]="newProduct.currency" [ngModelOptions]="{standalone: true}">
                      <span><i></i>Naira</span>
                    </label>
                    <label class="fancy-radio">
                      <input name="currency" value="USD" type="radio"
                             [(ngModel)]="newProduct.currency" [ngModelOptions]="{standalone: true}">
                      <span><i></i>Dollar</span>
                    </label>
                  </div>
                </div>

              </div>
              <div class="col-lg-6 col-md-12">
                <div class="form-group">
                  <label for="price" class="control-label">Selling Price</label>

                  <div class="input-group">

                    <input type="number" class="form-control" placeholder="Product Selling Price"
                           #price="ngModel"
                           id="price" (blur)="validateNumber('price')" (keyup)="validateNumber('price')"
                           [(ngModel)]="newProduct.price" [ngModelOptions]="{standalone: true}" required>
                    <div class="input-group-append">
                      <span class="input-group-text">{{newProduct.currency || 'NGN'}}</span>
                    </div>
                  </div>
                  <div class="text-danger" *ngIf="price.errors && (price.dirty || price.touched)">
                  <span class="validation-message" [hidden]="!price.hasError('required')">
                    Price is required</span>
                  </div>
                </div>
                <div class="row">
                  <div class="col-6">
                    <div class="form-group">
                      <label for="total_in_stock" class="control-label">Number In Stock</label>
                      <input type="number" class="form-control" placeholder="Number In Stock"
                             #total_in_stock="ngModel"
                             id="total_in_stock" min="1" (blur)="validateNumber('total_in_stock')" (keyup)="validateNumber('total_in_stock')"
                             [(ngModel)]="newProduct.total_in_stock" [ngModelOptions]="{standalone: true}" required>
                      <div class="text-danger" *ngIf="total_in_stock.errors && (total_in_stock.dirty || total_in_stock.touched)">
                  <span class="validation-message" [hidden]="!total_in_stock.hasError('required')">
                    Number in Stock is required</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-6">
                    <div class="form-group">
                      <label for="remaining_in_stock" class="control-label">Remaining In Stock</label>
                      <input type="number" min="0" class="form-control" placeholder="Remaining In Stock" [disabled]="!activeProduct"
                             #remaining_in_stock="ngModel"
                             id="remaining_in_stock"
                             [(ngModel)]="newProduct.remaining_in_stock" [ngModelOptions]="{standalone: true}">
                    </div>
                  </div>

                </div>
                <div class="form-group">
                  <div class="row">
                    <div class="col-sm-6">
                      <label for="selectStatus" class="control-label">Select Product Status</label>
                      <ng-select [items]="allStatus" class="ng-select-form" #selectStatus="ngModel" required id="selectStatus"
                                 [notFoundText]="'No data available'"
                                 [placeholder]="'Select Status'"
                                 bindLabel="name"
                                 bindValue="_id"
                                 [multiple]="false"
                                 [(ngModel)]="newProduct.product_status" [ngModelOptions]="{standalone: true}" >

                      </ng-select>
                      <div class="text-danger" *ngIf="selectStatus.errors && (selectStatus.dirty || selectStatus.touched)">
                  <span class="validation-message" [hidden]="!selectStatus.hasError('required')">
                    Product Status is required</span>
                      </div>
                    </div>

                    <div class="col-6">
                      <label for="selectTypes" class="control-label">Select Product Types</label>
                      <ng-select [items]="allTypes" class="ng-select-form" #selectType="ngModel" required id="selectTypes"
                                 [notFoundText]="'No data available'"
                                 [placeholder]="'Select Product Category'"
                                 bindLabel="name"
                                 bindValue="_id"
                                 [multiple]="false"
                                 [(ngModel)]="newProduct.product_type" [ngModelOptions]="{standalone: true}" >
                      </ng-select>

                      <div class="text-danger" *ngIf="selectType.errors && (selectType.dirty || selectType.touched)">
                  <span class="validation-message" [hidden]="!selectType.hasError('required')">
                    Product Type is required</span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

          </div>


          <div class="body">
            <h6>Product Description</h6>
            <app-ngx-editor [placeholder]="'Product Description...'" [height]="'120px'" [spellcheck]="true" [(ngModel)]="newProduct.description" [ngModelOptions]="{standalone: true}"></app-ngx-editor>
          </div>

          <div class="body">
            <h6>Farm Product Image</h6>
            <div class="text-center">
              <div>
                <div class="" *ngIf="!newProduct.display_img && !loaders.loadingImg">
                  <app-croppie [croppieData] = "{id: 'displayImage', data: newProduct, key: 'display_img', config: {vheight: 350, vwidth: 250, fheight: 400, fwidth: auto, enableResize: false}}" (updateUI)="getUploadEvent($event);"  (showLoad)="startLoading($event)"></app-croppie>
                </div>
                <div *ngIf="!newProduct.display_img && loaders.loadingImg">
                  <!---->
                  <span class="fa fa-spin fa-spinner"></span>&nbsp;Saving...
                </div>
                <div class="media-left" *ngIf="newProduct.display_img">
                  <!--newProduct.display_img-->
                  <img [src]="newProduct.display_img"
                       style=""
                       class="user-photo media-object" alt="Farm Display Image">

                  <div class="media-body">
                    <p>Upload Image.
                      <br> <em>Image should be at least 300px x 400px</em></p>
                    <button type="button" class="btn btn-default-dark" id="btn-upload-photo" (click)="removeImageAndRestorePicker('display_img', null)">Change Image</button>
                    <input type="file" id="filePhoto" class="sr-only" (click)="removeImageAndRestorePicker('display_img', null)">
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="body text-center pt-5">
            <div>
              <button type="submit" class="btn btn-primary px-5"
                      *ngIf="!loaders.saving" [disabled]="product_name.errors || price.errors || !newProduct.display_img">
                {{modal.btnText}}</button>
              <span *ngIf="loaders.saving" class="btn btn-primary px-5">Loading&nbsp;<i class="fa fa-spin fa-spinner"></i></span>
              &nbsp;&nbsp;
              <button type="reset" class="btn btn-default px-5" (click)="closeEditor()">Cancel</button>
            </div>
          </div>
        </form>


      </div>
    </div>
  </div>








  <div class="row clearfix" id="main-table">
    <div class="col-lg-12">
      <div class="card">
        <div class="header">
          <div class="float-right"  *ngIf="!editorDiv">
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="openDialog()">
              <i class="fa fa-plus"></i> &nbsp;<span>New Farm Product</span></button>
          </div>
        </div>
        <div class="body mt-2">
          <div class="text-center mt-1 mb-3" *ngIf="loadingData">
            <span class="fa fa-spin fa-spinner fa-2x"></span>&nbsp;
            <br>
            <span> Loading, Please wait...</span>
          </div>
          <div class="table-responsive" *ngIf="showData">
            <table id="all-farm-products" class="table table-bordered table-hover table-striped dataTable" cellspacing="0" width="100%">
              <thead>
              <tr >
                <th class="no-sort">S/N</th>
                <th></th>
                <th>Name</th>
                <th>Price</th>
                <th>Initial Stock</th>
                <th>Remaining Stock</th>
                <th>Product Type</th>
                <th>Product Status</th>
                <th>Location</th>
                <th>Av. Rating</th>
                <th>Total Reviews</th>
                <th>Description</th>
                <th>Action</th>
              </tr>
              </thead>
              <tfoot>
              <tr >
                <th class="no-sort">S/N</th>
                <th></th>
                <th>Name</th>
                <th>Price</th>
                <th>Initial Stock</th>
                <th>Remaining Stock</th>
                <th>Product Type</th>
                <th>Product Status</th>
                <th>Location</th>
                <th>Av. Rating</th>
                <th>Total Reviews</th>
                <th>Description</th>
                <th>Action</th>
              </tr>
              </tfoot>
              <tbody>
              <tr *ngFor="let product of allProducts;let i = index;">
                <td class="details-control" [id]="'td-' + i">{{ i + 1 }}</td>
                <td><img [src]="product?.display_img" width="48" alt="Product img"></td>
                <td>{{product?.product_name}}</td>
                <td>{{product?.price || 0 | currency: product?.currency}}</td>

                <td>{{product?.total_in_stock}}</td>
                <td>{{product?.remaining_in_stock}}</td>
                <td>{{product?.product_type?.name}}</td>
                <td>{{product?.product_status?.name}}</td>
                <td>{{product?.product_location}}</td>
                <td>{{product?.average_rating}}</td>
                <td>{{product?.total_review}}</td>
                <td data-balloon-pos="up" data-balloon-length="xlarge"
                    [attr.data-balloon]="product?.description">
                  <div>
                    <div class="small-text-container" [innerHtml]="product?.description"></div></div>
                </td>
                <td>
                  <div>
                    <button role="button" data-balloon="Edit Product" data-balloon-pos="up" (click)="triggerEdit(product)" class="btn btn-sm btn-primary">
                      <i class="fa fa-edit"></i>
                    </button>&nbsp;&nbsp;
                    <button role="button" data-balloon="Delete Product" data-balloon-pos="up" (click)="deleteProduct(product)" class="btn btn-sm btn-danger">
                      <i class="fa fa-trash"></i>
                    </button>

                  </div>
                </td>
              </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>

  </div>








</div>




