<div class="container-fluid">
  <app-breadcrumb [dataInput]="breadCrumb"></app-breadcrumb>








  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card">
        <!-- <div class="header">
           Transactions Report
         </div>-->
        <div class="body">
          <div class="text-center mt-3" *ngIf="!loadingData && !pendingTransfers.length">
            <div>
              <img src="assets/img/farm/no-record-img.png" style="width: 30%">
            </div>
            <div>No pending bank transfer at the moment.</div>
            <div class="mt-2">
              <button class="btn btn-sm btn-success" (click)="gotoURL('/user/farm-update')">Go to sponsorship</button>
            </div>
          </div>

          <div class="text-center mt-1 mb-3" *ngIf="loadingData">
            <span class="fa fa-spin fa-spinner fa-2x"></span>&nbsp;
            <br>
            <span> Loading, Please wait...</span>
          </div>
          <div class="table-responsive" *ngIf="showData && pendingTransfers.length">
            <table id="pending-bank-transfer" class="table table-bordered table-hover table-striped dataTable" cellspacing="0" width="100%">

              <thead>
              <tr >
                <th class="no-sort"></th>
                <th>S/N</th>
                <th>Narration</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Payment Channel</th>
                <th>Order Reference</th>
                <th>Transaction Date</th>
                <th>Action</th>

              </tr>
              </thead>
              <tfoot>
              <tr >
                <th class="no-sort"></th>
                <th>S/N</th>
                <th>Narration</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Payment Channel</th>
                <th>Order Reference</th>
                <th>Transaction Date</th>
                <th>Action</th>

              </tr>
              </tfoot>

              <tbody>

              <tr *ngFor="let pendingTransfer of pendingTransfers;let i = index;">
                <td  class="details-control" [id]="'td-' + i"></td>
                <td>{{ i + 1 }}</td>
                <td>{{ pendingTransfer?.narration }}</td>
                <td>{{ pendingTransfer?.total_price | currency: 'NGN '}}</td>
                <td>{{pendingTransfer?.payment_proof ? 'Awaiting Confirmation' : 'Awaiting Proofs' }}</td>
                <td>{{ pendingTransfer?.payment_channel?.name }}</td>
                <td>{{ pendingTransfer?.orderReference }}</td>
                <td>{{ pendingTransfer?.createdAt | date }}</td>
                <td>
                  <div *ngIf="!pendingTransfer?.payment_proof">
                    <button data-balloon="Upload proof of payment" data-balloon-pos="up" class="btn btn-sm btn-primary btn-link" (click)="uploadProof(pendingTransfer)">
                      <i class="fa fa-upload"></i> Upload Proofs
                    </button>
                  </div>
                </td>
              </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>

  </div>








</div>




