

@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700");
@font-face {
    font-family: 'simple-Line-Icons';
    src: url("../fonts/simple-Line-Icons.eot");
    src: url("../fonts/simple-Line-Icons.eot") format("embedded-opentype"), url("../fonts/simple-Line-Icons.woff") format("woff"), url("../fonts/simple-Line-Icons.ttf") format("truetype"), url("../fonts/simple-Line-Icons.svg#Simple-Line-Icons") format("svg");
    font-weight: normal;
    font-style: normal
}
body {
    /*background-color: #f4f7f6;*/
    /*font-size: 14px;*/
    /*color: #5A5A5A;*/
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none
}

 body::-webkit-scrollbar {
    width: 10px
}

.landing-page-content #wrapper:before,
.landing-page-content #wrapper:after {
    height: 100vh;
    width: 5px;
    position: fixed;
    content: '';
    z-index: 999;
    top: 0
}

.landing-page-content #wrapper:before {
    left: 0
}

.landing-page-content #wrapper:after {
    right: 0
}

@media screen and (max-width: 992px) {
    .landing-page-content #wrapper:before,
    .landing-page-content #wrapper:after {
        width: 2px
    }
}


.landing-page-content .vertical-align-wrap {
    position: absolute;
    width: 100%;
    height: 100%;
    display: table
}

.landing-page-content .vertical-align-middle {
    display: table-cell;
    vertical-align: middle
}


.landing-page-content .auth-main::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 400px;
    height: 100%;
    z-index: -1;
    /*background: #191f28*/
}

@media screen and (max-width: 640px) {
    .landing-page-content .auth-main::before {
        width: 100%
    }
}

.landing-page-content .auth-main:after {
    content: '';
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
    background: url(../../assets/img/farm/landing.png) no-repeat top left fixed
}

.landing-page-content .auth-main .card {
    padding: 10px
}

.landing-page-content .auth-box {
    width: 380px;
    height: auto;
    margin-left: 38.5%

}

.landing-page-content .auth-box .top img {
    width: 130px
}

.landing-page-content .auth-box .form-auth-small .element-left {
    float: left
}

.landing-page-content .auth-box .form-auth-small .element-right {
    float: right
}

.landing-page-content .auth-box .lead {
    font-size: 18px
}

.landing-page-content .auth-box .helper-text {
    color: #9A9A9A
}

.landing-page-content .auth-box .btn-signin-social {
    padding: 10px 22px;
    width: 100%;
    background-color: #fff;
    border-color: #f0f0f0
}

.landing-page-content .auth-box .btn-signin-social:hover,
.landing-page-content .auth-box .btn-signin-social:focus {
    background-color: #f0f0f0
}

.landing-page-content .auth-box .btn-signin-social i {
    font-size: 16px;
    margin: 5px
}

@media screen and (max-width: 992px) {
  .landing-page-content .auth-box {
        width: 80%;
        margin: 0 auto
    }
}

@media screen and (max-width: 640px) {
    .landing-page-content .auth-box {
        width: 90%;
        margin: 0 auto

    }
}

.landing-page-content .auth-main .card,
.landing-page-content .auth-main .card li {
    display: inline-block
}
.landing-page-content .auth-main .card {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(194, 199, 228, 0.5), 0px 2px 2px rgba(194, 199, 228, 0.5), 0px 0px 2px rgba(194, 199, 228, 0.5);
    /*border-radius: 10px;*/
    transition: .5s;
    border: 0;
    margin-bottom: 30px;
    border-radius: .55rem;
    position: relative;
    width: 100%;
}

.landing-page-content .auth-main .card .header {
    color: #444;
    padding: 20px;
    position: relative;
    box-shadow: none
}

.landing-page-content .auth-main .card .header .header-dropdown {
    position: absolute;
    top: 14px;
    right: 10px;
    list-style: none
}

.landing-page-content .auth-main.card .header .header-dropdown li a {
    padding: 5px 10px
}

.landing-page-content .auth-main .card .header .header-dropdown li .dropdown-menu {
    background: #17191c;
    border-radius: .55rem;
    overflow: hidden;
    transform: none !important;
    left: auto !important;
    right: 0;
    padding: 10px;
    box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.5);
    border: 0
}

.landing-page-content .auth-main .card .header .header-dropdown li .dropdown-menu li {
    display: block !important
}

.landing-page-content .auth-main .card .header .header-dropdown li .dropdown-menu li a {
    padding: 10px;
    color: #999;
    white-space: nowrap;
    font-size: 14px
}

.landing-page-content .auth-main .card .header .header-dropdown li .dropdown-menu li a:hover {
    color: #fff
}

.landing-page-content .auth-main .card .header .header-dropdown i {
    font-size: 20px;
    color: #999;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s
}

.landing-page-content .auth-main .card .header h2 {
    font-size: 16px;
    color: #444;
    position: relative
}

.landing-page-content .auth-main .card .header h2 small {
    font-size: 13px;
    color: #999;
    line-height: 15px
}

.landing-page-content .auth-main .card .header h2 small a {
    font-weight: 700;
    color: #777
}

.landing-page-content .auth-main .card .p-15 {
    padding: 15px !important
}

.landing-page-content .auth-main .card .body {
    color: #444;
    padding: 20px;
    font-weight: 400
}
.landing-page-content .auth-main .form-control {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-color: #5DC45C;
    background-color: #fff;
    font-size: 14px
}

.landing-page-content .auth-main .form-control:focus {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    border-color: #5DC45C
}


.landing-page-content .fancy-checkbox {
    margin-right: 10px
}

.landing-page-content .fancy-checkbox,
.landing-page-content .fancy-checkbox label {
    font-weight: normal
}

.landing-page-content .fancy-checkbox input[type="checkbox"] {
    display: none
}

.landing-page-content .fancy-checkbox input[type="checkbox"]+span {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    cursor: pointer;
    position: relative
}

.landing-page-content .fancy-checkbox input[type="checkbox"]+span:before {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    position: relative;
    bottom: 1px;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    content: "";
    border: 1px solid #ccc;
    border-radius: 3px
}

.landing-page-content .fancy-checkbox input[type="checkbox"]:checked+span:before {
    font-family: FontAwesome;
    content: '\f00c';
    font-size: 10px;
    color: #fff;
    text-align: center;
    line-height: 21px
}

.landing-page-content .fancy-checkbox.custom-color-green input[type="checkbox"]:checked+span:before {
    color: #22af46;
    background-color: #fff
}

.landing-page-content .fancy-checkbox.custom-bgcolor-green input[type="checkbox"]:checked+span:before {
    color: #fff;
    background-color: #22af46;
    border-color: #1b8d38
}


.landing-page-content .m-t-20,
.landing-page-content .auth-box .form-auth-small .btn,
.landing-page-content .auth-box .form-auth-small .bottom {
    margin-top: 20px
}

.landing-page-content .auth-box .form-auth-small .bottom {
    text-align: center
}
.landing-page-content .auth-box .helper-text {
    display: block

}


.landing-page-content .separator-linethrough {
    position: relative;
    margin: 30px 0
}

.landing-page-content .separator-linethrough span {
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    *zoom: 1;
    *display: inline;
    padding: 0 10px;
    position: inherit;
    font-size: 18px;
    background-color: #fff;
    z-index: 9
}

.landing-page-content .separator-linethrough:after {
    position: absolute;
    top: 50%;
    width: 100%;
    content: '';
    border-top: 1px solid #f0f0f0;
    z-index: 0
}
.landing-page-content .separator-linethrough {
    text-align: center
}
.landing-page-content .auth-box .btn-signin-social,
.landing-page-content .separator-linethrough:after {
    display: block
}
.landing-page-content .m-b-5,
.landing-page-content .auth-box .btn-signin-social,
.landing-page-content .weather .days li img {
    margin-bottom: 5px
}

.landing-page-content .facebook-color {
    color: #3b5998 !important
}
