
.theme-green::selection {
  color: #fff;
  background: #EBFCDA
}

.theme-green .page-loader-wrapper {
  background: #EBFCDA
}

.theme-green #left-sidebar .nav-tabs .nav-link.active {
  /*color: #323755*/
}

.theme-green:before,
.theme-green:after {
  background: #EBFCDA
}
/*
.theme-green #wrapper:before,
.theme-green #wrapper:after {
  background: #EBFCDA
}*/

.theme-green .sidebar-nav .metismenu>li.active>a {
  /*border-left-color: #323755*/
}

.theme-green .navbar-nav ul.menu-icon {
  /*background: #EBFCDA*/
}

.theme-green .fancy-checkbox input[type="checkbox"]:checked+span:before {
  background: #92fc8d;
  border-color: #92fc8d
}

.theme-green .chat-widget li.right .chat-info:before {
  border-left: 10px solid #EBFCDA
}

.theme-green .fc .fc-view-container .fc-view.fc-basic-view>table>thead tr th.fc-widget-header {
  background: #EBFCDA;
  border-color: #EBFCDA;
  color: #fff
}

.theme-green .blog-page .single_post .footer .stats li a:hover {
  color: #EBFCDA
}

.theme-green .sidebar-nav .metismenu>li i {
  color: #323755;
  font-weight: bold;
}
.theme-green .sidebar-nav .metismenu>li .has-arrow::after {
  color: #323755;
  font-weight: bold;
}

.theme-green .right_chat li a:hover .media-object {
  border-color: #EBFCDA
}
