@import url("https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700");
@font-face {
  font-family: 'simple-Line-Icons';
  src: url("../fonts/simple-Line-Icons.eot");
  src: url("../fonts/simple-Line-Icons.eot") format("embedded-opentype"), url("../fonts/simple-Line-Icons.woff") format("woff"), url("../fonts/simple-Line-Icons.ttf") format("truetype"), url("../fonts/simple-Line-Icons.svg#Simple-Line-Icons") format("svg");
  font-weight: normal;
  font-style: normal
}

[data-icon]:before {
  font-family: 'simple-Line-Icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 17px
}
/*html, body {
  font-family: "Nunito Sans", "Poppins", sans-serif;
}*/
.icon-user-female,
.icon-user-follow,
.icon-user-following,
.icon-user-unfollow,
.icon-trophy,
.icon-screen-smartphone,
.icon-screen-desktop,
.icon-plane,
.icon-notebook,
.icon-moustache,
.icon-mouse,
.icon-magnet,
.icon-energy,
.icon-emoticon-smile,
.icon-disc,
.icon-cursor-move,
.icon-crop,
.icon-credit-card,
.icon-chemistry,
.icon-user,
.icon-speedometer,
.icon-social-youtube,
.icon-social-twitter,
.icon-social-tumblr,
.icon-social-facebook,
.icon-social-dropbox,
.icon-social-dribbble,
.icon-shield,
.icon-screen-tablet,
.icon-magic-wand,
.icon-hourglass,
.icon-graduation,
.icon-ghost,
.icon-game-controller,
.icon-fire,
.icon-eyeglasses,
.icon-envelope-open,
.icon-envelope-letter,
.icon-bell,
.icon-badge,
.icon-anchor,
.icon-wallet,
.icon-vector,
.icon-speech,
.icon-puzzle,
.icon-printer,
.icon-present,
.icon-playlist,
.icon-pin,
.icon-picture,
.icon-map,
.icon-layers,
.icon-handbag,
.icon-globe-alt,
.icon-globe,
.icon-frame,
.icon-folder-alt,
.icon-film,
.icon-feed,
.icon-earphones-alt,
.icon-earphones,
.icon-drop,
.icon-drawer,
.icon-docs,
.icon-directions,
.icon-direction,
.icon-diamond,
.icon-cup,
.icon-compass,
.icon-call-out,
.icon-call-in,
.icon-call-end,
.icon-calculator,
.icon-bubbles,
.icon-briefcase,
.icon-book-open,
.icon-basket-loaded,
.icon-basket,
.icon-bag,
.icon-action-undo,
.icon-action-redo,
.icon-wrench,
.icon-umbrella,
.icon-trash,
.icon-tag,
.icon-support,
.icon-size-fullscreen,
.icon-size-actual,
.icon-shuffle,
.icon-share-alt,
.icon-share,
.icon-rocket,
.icon-question,
.icon-pie-chart,
.icon-pencil,
.icon-note,
.icon-music-tone-alt,
.icon-music-tone,
.icon-microphone,
.icon-loop,
.icon-logout,
.icon-login,
.icon-list,
.icon-like,
.icon-home,
.icon-grid,
.icon-graph,
.icon-equalizer,
.icon-dislike,
.icon-cursor,
.icon-control-start,
.icon-control-rewind,
.icon-control-play,
.icon-control-pause,
.icon-control-forward,
.icon-control-end,
.icon-calendar,
.icon-bulb,
.icon-bar-chart,
.icon-arrow-up,
.icon-arrow-right,
.icon-arrow-left,
.icon-arrow-down,
.icon-ban,
.icon-bubble,
.icon-camcorder,
.icon-camera,
.icon-check,
.icon-clock,
.icon-close,
.icon-cloud-download,
.icon-cloud-upload,
.icon-doc,
.icon-envelope,
.icon-eye,
.icon-flag,
.icon-folder,
.icon-heart,
.icon-info,
.icon-key,
.icon-link,
.icon-lock,
.icon-lock-open,
.icon-magnifier,
.icon-magnifier-add,
.icon-magnifier-remove,
.icon-paper-clip,
.icon-paper-plane,
.icon-plus,
.icon-pointer,
.icon-power,
.icon-refresh,
.icon-reload,
.icon-settings,
.icon-star,
.icon-symbol-female,
.icon-symbol-male,
.icon-target,
.icon-volume-1,
.icon-volume-2,
.icon-volume-off,
.icon-users {
  font-family: 'Simple-Line-Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased
}

.icon-user-female:before {
  content: "\e000"
}

.icon-user-follow:before {
  content: "\e002"
}

.icon-user-following:before {
  content: "\e003"
}

.icon-user-unfollow:before {
  content: "\e004"
}

.icon-trophy:before {
  content: "\e006"
}

.icon-screen-smartphone:before {
  content: "\e010"
}

.icon-screen-desktop:before {
  content: "\e011"
}

.icon-plane:before {
  content: "\e012"
}

.icon-notebook:before {
  content: "\e013"
}

.icon-moustache:before {
  content: "\e014"
}

.icon-mouse:before {
  content: "\e015"
}

.icon-magnet:before {
  content: "\e016"
}

.icon-energy:before {
  content: "\e020"
}

.icon-emoticon-smile:before {
  content: "\e021"
}

.icon-disc:before {
  content: "\e022"
}

.icon-cursor-move:before {
  content: "\e023"
}

.icon-crop:before {
  content: "\e024"
}

.icon-credit-card:before {
  content: "\e025"
}

.icon-chemistry:before {
  content: "\e026"
}

.icon-user:before {
  content: "\e005"
}

.icon-speedometer:before {
  content: "\e007"
}

.icon-social-youtube:before {
  content: "\e008"
}

.icon-social-twitter:before {
  content: "\e009"
}

.icon-social-tumblr:before {
  content: "\e00a"
}

.icon-social-facebook:before {
  content: "\e00b"
}

.icon-social-dropbox:before {
  content: "\e00c"
}

.icon-social-dribbble:before {
  content: "\e00d"
}

.icon-shield:before {
  content: "\e00e"
}

.icon-screen-tablet:before {
  content: "\e00f"
}

.icon-magic-wand:before {
  content: "\e017"
}

.icon-hourglass:before {
  content: "\e018"
}

.icon-graduation:before {
  content: "\e019"
}

.icon-ghost:before {
  content: "\e01a"
}

.icon-game-controller:before {
  content: "\e01b"
}

.icon-fire:before {
  content: "\e01c"
}

.icon-eyeglasses:before {
  content: "\e01d"
}

.icon-envelope-open:before {
  content: "\e01e"
}

.icon-envelope-letter:before {
  content: "\e01f"
}

.icon-bell:before {
  content: "\e027"
}

.icon-badge:before {
  content: "\e028"
}

.icon-anchor:before {
  content: "\e029"
}

.icon-wallet:before {
  content: "\e02a"
}

.icon-vector:before {
  content: "\e02b"
}

.icon-speech:before {
  content: "\e02c"
}

.icon-puzzle:before {
  content: "\e02d"
}

.icon-printer:before {
  content: "\e02e"
}

.icon-present:before {
  content: "\e02f"
}

.icon-playlist:before {
  content: "\e030"
}

.icon-pin:before {
  content: "\e031"
}

.icon-picture:before {
  content: "\e032"
}

.icon-map:before {
  content: "\e033"
}

.icon-layers:before {
  content: "\e034"
}

.icon-handbag:before {
  content: "\e035"
}

.icon-globe-alt:before {
  content: "\e036"
}

.icon-globe:before {
  content: "\e037"
}

.icon-frame:before {
  content: "\e038"
}

.icon-folder-alt:before {
  content: "\e039"
}

.icon-film:before {
  content: "\e03a"
}

.icon-feed:before {
  content: "\e03b"
}

.icon-earphones-alt:before {
  content: "\e03c"
}

.icon-earphones:before {
  content: "\e03d"
}

.icon-drop:before {
  content: "\e03e"
}

.icon-drawer:before {
  content: "\e03f"
}

.icon-docs:before {
  content: "\e040"
}

.icon-directions:before {
  content: "\e041"
}

.icon-direction:before {
  content: "\e042"
}

.icon-diamond:before {
  content: "\e043"
}

.icon-cup:before {
  content: "\e044"
}

.icon-compass:before {
  content: "\e045"
}

.icon-call-out:before {
  content: "\e046"
}

.icon-call-in:before {
  content: "\e047"
}

.icon-call-end:before {
  content: "\e048"
}

.icon-calculator:before {
  content: "\e049"
}

.icon-bubbles:before {
  content: "\e04a"
}

.icon-briefcase:before {
  content: "\e04b"
}

.icon-book-open:before {
  content: "\e04c"
}

.icon-basket-loaded:before {
  content: "\e04d"
}

.icon-basket:before {
  content: "\e04e"
}

.icon-bag:before {
  content: "\e04f"
}

.icon-action-undo:before {
  content: "\e050"
}

.icon-action-redo:before {
  content: "\e051"
}

.icon-wrench:before {
  content: "\e052"
}

.icon-umbrella:before {
  content: "\e053"
}

.icon-trash:before {
  content: "\e054"
}

.icon-tag:before {
  content: "\e055"
}

.icon-support:before {
  content: "\e056"
}

.icon-size-fullscreen:before {
  content: "\e057"
}

.icon-size-actual:before {
  content: "\e058"
}

.icon-shuffle:before {
  content: "\e059"
}

.icon-share-alt:before {
  content: "\e05a"
}

.icon-share:before {
  content: "\e05b"
}

.icon-rocket:before {
  content: "\e05c"
}

.icon-question:before {
  content: "\e05d"
}

.icon-pie-chart:before {
  content: "\e05e"
}

.icon-pencil:before {
  content: "\e05f"
}

.icon-note:before {
  content: "\e060"
}

.icon-music-tone-alt:before {
  content: "\e061"
}

.icon-music-tone:before {
  content: "\e062"
}

.icon-microphone:before {
  content: "\e063"
}

.icon-loop:before {
  content: "\e064"
}

.icon-logout:before {
  content: "\e065"
}

.icon-login:before {
  content: "\e066"
}

.icon-list:before {
  content: "\e067"
}

.icon-like:before {
  content: "\e068"
}

.icon-home:before {
  content: "\e069"
}

.icon-grid:before {
  content: "\e06a"
}

.icon-graph:before {
  content: "\e06b"
}

.icon-equalizer:before {
  content: "\e06c"
}

.icon-dislike:before {
  content: "\e06d"
}

.icon-cursor:before {
  content: "\e06e"
}

.icon-control-start:before {
  content: "\e06f"
}

.icon-control-rewind:before {
  content: "\e070"
}

.icon-control-play:before {
  content: "\e071"
}

.icon-control-pause:before {
  content: "\e072"
}

.icon-control-forward:before {
  content: "\e073"
}

.icon-control-end:before {
  content: "\e074"
}

.icon-calendar:before {
  content: "\e075"
}

.icon-bulb:before {
  content: "\e076"
}

.icon-bar-chart:before {
  content: "\e077"
}

.icon-arrow-up:before {
  content: "\e078"
}

.icon-arrow-right:before {
  content: "\e079"
}

.icon-arrow-left:before {
  content: "\e07a"
}

.icon-arrow-down:before {
  content: "\e07b"
}

.icon-ban:before {
  content: "\e07c"
}

.icon-bubble:before {
  content: "\e07d"
}

.icon-camcorder:before {
  content: "\e07e"
}

.icon-camera:before {
  content: "\e07f"
}

.icon-check:before {
  content: "\e080"
}

.icon-clock:before {
  content: "\e081"
}

.icon-close:before {
  content: "\e082"
}

.icon-cloud-download:before {
  content: "\e083"
}

.icon-cloud-upload:before {
  content: "\e084"
}

.icon-doc:before {
  content: "\e085"
}

.icon-envelope:before {
  content: "\e086"
}

.icon-eye:before {
  content: "\e087"
}

.icon-flag:before {
  content: "\e088"
}

.icon-folder:before {
  content: "\e089"
}

.icon-heart:before {
  content: "\e08a"
}

.icon-info:before {
  content: "\e08b"
}

.icon-key:before {
  content: "\e08c"
}

.icon-link:before {
  content: "\e08d"
}

.icon-lock:before {
  content: "\e08e"
}

.icon-lock-open:before {
  content: "\e08f"
}

.icon-magnifier:before {
  content: "\e090"
}

.icon-magnifier-add:before {
  content: "\e091"
}

.icon-magnifier-remove:before {
  content: "\e092"
}

.icon-paper-clip:before {
  content: "\e093"
}

.icon-paper-plane:before {
  content: "\e094"
}

.icon-plus:before {
  content: "\e095"
}

.icon-pointer:before {
  content: "\e096"
}

.icon-power:before {
  content: "\e097"
}

.icon-refresh:before {
  content: "\e098"
}

.icon-reload:before {
  content: "\e099"
}

.icon-settings:before {
  content: "\e09a"
}

.icon-star:before {
  content: "\e09b"
}

.icon-symbol-female:before {
  content: "\e09c"
}

.icon-symbol-male:before {
  content: "\e09d"
}

.icon-target:before {
  content: "\e09e"
}

.icon-volume-1:before {
  content: "\e09f"
}

.icon-volume-2:before {
  content: "\e0a0"
}

.icon-volume-off:before {
  content: "\e0a1"
}

.icon-users:before {
  content: "\e001"
}

@font-face {
  font-family: 'weathericons';
  src: url("../fonts/weathericons-regular-webfont.eot");
  src: url("../fonts/weathericons-regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/weathericons-regular-webfont.woff") format("woff"), url("../fonts/weathericons-regular-webfont.ttf") format("truetype"), url("../fonts/weathericons-regular-webfont.svg#weathericons-regular-webfontRg") format("svg");
  font-weight: normal;
  font-style: normal
}

.wi {
  display: inline-block;
  font-family: 'weathericons';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.wi-day-cloudy-gusts:before {
  content: "\f000"
}

.wi-day-cloudy-windy:before {
  content: "\f001"
}

.wi-day-cloudy:before {
  content: "\f002"
}

.wi-day-fog:before {
  content: "\f003"
}

.wi-day-hail:before {
  content: "\f004"
}

.wi-day-lightning:before {
  content: "\f005"
}

.wi-day-rain-mix:before {
  content: "\f006"
}

.wi-day-rain-wind:before {
  content: "\f007"
}

.wi-day-rain:before {
  content: "\f008"
}

.wi-day-showers:before {
  content: "\f009"
}

.wi-day-snow:before {
  content: "\f00a"
}

.wi-day-sprinkle:before {
  content: "\f00b"
}

.wi-day-sunny-overcast:before {
  content: "\f00c"
}

.wi-day-sunny:before {
  content: "\f00d"
}

.wi-day-storm-showers:before {
  content: "\f00e"
}

.wi-day-thunderstorm:before {
  content: "\f010"
}

.wi-cloudy-gusts:before {
  content: "\f011"
}

.wi-cloudy-windy:before {
  content: "\f012"
}

.wi-cloudy:before {
  content: "\f013"
}

.wi-fog:before {
  content: "\f014"
}

.wi-hail:before {
  content: "\f015"
}

.wi-lightning:before {
  content: "\f016"
}

.wi-rain-mix:before {
  content: "\f017"
}

.wi-rain-wind:before {
  content: "\f018"
}

.wi-rain:before {
  content: "\f019"
}

.wi-showers:before {
  content: "\f01a"
}

.wi-snow:before {
  content: "\f01b"
}

.wi-sprinkle:before {
  content: "\f01c"
}

.wi-storm-showers:before {
  content: "\f01d"
}

.wi-thunderstorm:before {
  content: "\f01e"
}

.wi-windy:before {
  content: "\f021"
}

.wi-night-alt-cloudy-gusts:before {
  content: "\f022"
}

.wi-night-alt-cloudy-windy:before {
  content: "\f023"
}

.wi-night-alt-hail:before {
  content: "\f024"
}

.wi-night-alt-lightning:before {
  content: "\f025"
}

.wi-night-alt-rain-mix:before {
  content: "\f026"
}

.wi-night-alt-rain-wind:before {
  content: "\f027"
}

.wi-night-alt-rain:before {
  content: "\f028"
}

.wi-night-alt-showers:before {
  content: "\f029"
}

.wi-night-alt-snow:before {
  content: "\f02a"
}

.wi-night-alt-sprinkle:before {
  content: "\f02b"
}

.wi-night-alt-storm-showers:before {
  content: "\f02c"
}

.wi-night-alt-thunderstorm:before {
  content: "\f02d"
}

.wi-night-clear:before {
  content: "\f02e"
}

.wi-night-cloudy-gusts:before {
  content: "\f02f"
}

.wi-night-cloudy-windy:before {
  content: "\f030"
}

.wi-night-cloudy:before {
  content: "\f031"
}

.wi-night-hail:before {
  content: "\f032"
}

.wi-night-lightning:before {
  content: "\f033"
}

.wi-night-rain-mix:before {
  content: "\f034"
}

.wi-night-rain-wind:before {
  content: "\f035"
}

.wi-night-rain:before {
  content: "\f036"
}

.wi-night-showers:before {
  content: "\f037"
}

.wi-night-snow:before {
  content: "\f038"
}

.wi-night-sprinkle:before {
  content: "\f039"
}

.wi-night-storm-showers:before {
  content: "\f03a"
}

.wi-night-thunderstorm:before {
  content: "\f03b"
}

.wi-celsius:before {
  content: "\f03c"
}

.wi-cloud-down:before {
  content: "\f03d"
}

.wi-cloud-refresh:before {
  content: "\f03e"
}

.wi-cloud-up:before {
  content: "\f040"
}

.wi-cloud:before {
  content: "\f041"
}

.wi-degrees:before {
  content: "\f042"
}

.wi-down-left:before {
  content: "\f043"
}

.wi-down:before {
  content: "\f044"
}

.wi-fahrenheit:before {
  content: "\f045"
}

.wi-horizon-alt:before {
  content: "\f046"
}

.wi-horizon:before {
  content: "\f047"
}

.wi-left:before {
  content: "\f048"
}

.wi-lightning:before {
  content: "\f016"
}

.wi-night-fog:before {
  content: "\f04a"
}

.wi-refresh-alt:before {
  content: "\f04b"
}

.wi-refresh:before {
  content: "\f04c"
}

.wi-right:before {
  content: "\f04d"
}

.wi-sprinkles:before {
  content: "\f04e"
}

.wi-strong-wind:before {
  content: "\f050"
}

.wi-sunrise:before {
  content: "\f051"
}

.wi-sunset:before {
  content: "\f052"
}

.wi-thermometer-exterior:before {
  content: "\f053"
}

.wi-thermometer-internal:before {
  content: "\f054"
}

.wi-thermometer:before {
  content: "\f055"
}

.wi-tornado:before {
  content: "\f056"
}

.wi-up-right:before {
  content: "\f057"
}

.wi-up:before {
  content: "\f058"
}

.wi-wind-west:before {
  content: "\f059"
}

.wi-wind-south-west:before {
  content: "\f05a"
}

.wi-wind-south-east:before {
  content: "\f05b"
}

.wi-wind-south:before {
  content: "\f05c"
}

.wi-wind-north-west:before {
  content: "\f05d"
}

.wi-wind-north-east:before {
  content: "\f05e"
}

.wi-wind-north:before {
  content: "\f060"
}

.wi-wind-east:before {
  content: "\f061"
}

.wi-smoke:before {
  content: "\f062"
}

.wi-dust:before {
  content: "\f063"
}

.wi-snow-wind:before {
  content: "\f064"
}

.wi-day-snow-wind:before {
  content: "\f065"
}

.wi-night-snow-wind:before {
  content: "\f066"
}

.wi-night-alt-snow-wind:before {
  content: "\f067"
}

.wi-day-sleet-storm:before {
  content: "\f068"
}

.wi-night-sleet-storm:before {
  content: "\f069"
}

.wi-night-alt-sleet-storm:before {
  content: "\f06a"
}

.wi-day-snow-thunderstorm:before {
  content: "\f06b"
}

.wi-night-snow-thunderstorm:before {
  content: "\f06c"
}

.wi-night-alt-snow-thunderstorm:before {
  content: "\f06d"
}

.wi-solar-eclipse:before {
  content: "\f06e"
}

.wi-lunar-eclipse:before {
  content: "\f070"
}

.wi-meteor:before {
  content: "\f071"
}

.wi-hot:before {
  content: "\f072"
}

.wi-hurricane:before {
  content: "\f073"
}

.wi-smog:before {
  content: "\f074"
}

.wi-alien:before {
  content: "\f075"
}

.wi-snowflake-cold:before {
  content: "\f076"
}

.wi-stars:before {
  content: "\f077"
}

.wi-night-partly-cloudy:before {
  content: "\f083"
}

.wi-umbrella:before {
  content: "\f084"
}

.wi-day-windy:before {
  content: "\f085"
}

.wi-night-alt-cloudy:before {
  content: "\f086"
}

.wi-up-left:before {
  content: "\f087"
}

.wi-down-right:before {
  content: "\f088"
}

.wi-time-12:before {
  content: "\f089"
}

.wi-time-1:before {
  content: "\f08a"
}

.wi-time-2:before {
  content: "\f08b"
}

.wi-time-3:before {
  content: "\f08c"
}

.wi-time-4:before {
  content: "\f08d"
}

.wi-time-5:before {
  content: "\f08e"
}

.wi-time-6:before {
  content: "\f08f"
}

.wi-time-7:before {
  content: "\f090"
}

.wi-time-8:before {
  content: "\f091"
}

.wi-time-9:before {
  content: "\f092"
}

.wi-time-10:before {
  content: "\f093"
}

.wi-time-11:before {
  content: "\f094"
}

.wi-day-sleet:before {
  content: "\f0b2"
}

.wi-night-sleet:before {
  content: "\f0b3"
}

.wi-night-alt-sleet:before {
  content: "\f0b4"
}

.wi-sleet:before {
  content: "\f0b5"
}

.wi-day-haze:before {
  content: "\f0b6"
}

.wi-beafort-0:before {
  content: "\f0b7"
}

.wi-beafort-1:before {
  content: "\f0b8"
}

.wi-beafort-2:before {
  content: "\f0b9"
}

.wi-beafort-3:before {
  content: "\f0ba"
}

.wi-beafort-4:before {
  content: "\f0bb"
}

.wi-beafort-5:before {
  content: "\f0bc"
}

.wi-beafort-6:before {
  content: "\f0bd"
}

.wi-beafort-7:before {
  content: "\f0be"
}

.wi-beafort-8:before {
  content: "\f0bf"
}

.wi-beafort-9:before {
  content: "\f0c0"
}

.wi-beafort-10:before {
  content: "\f0c1"
}

.wi-beafort-11:before {
  content: "\f0c2"
}

.wi-beafort-12:before {
  content: "\f0c3"
}

.wi-wind-default:before {
  content: "\f0b1"
}

.wi-wind-default._0-deg {
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg)
}

.wi-wind-default._15-deg {
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg)
}

.wi-wind-default._30-deg {
  -webkit-transform: rotate(30deg);
  -moz-transform: rotate(30deg);
  -ms-transform: rotate(30deg);
  -o-transform: rotate(30deg);
  transform: rotate(30deg)
}

.wi-wind-default._45-deg {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg)
}

.wi-wind-default._60-deg {
  -webkit-transform: rotate(60deg);
  -moz-transform: rotate(60deg);
  -ms-transform: rotate(60deg);
  -o-transform: rotate(60deg);
  transform: rotate(60deg)
}

.wi-wind-default._75-deg {
  -webkit-transform: rotate(75deg);
  -moz-transform: rotate(75deg);
  -ms-transform: rotate(75deg);
  -o-transform: rotate(75deg);
  transform: rotate(75deg)
}

.wi-wind-default._90-deg {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  transform: rotate(90deg)
}

.wi-wind-default._105-deg {
  -webkit-transform: rotate(105deg);
  -moz-transform: rotate(105deg);
  -ms-transform: rotate(105deg);
  -o-transform: rotate(105deg);
  transform: rotate(105deg)
}

.wi-wind-default._120-deg {
  -webkit-transform: rotate(120deg);
  -moz-transform: rotate(120deg);
  -ms-transform: rotate(120deg);
  -o-transform: rotate(120deg);
  transform: rotate(120deg)
}

.wi-wind-default._135-deg {
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg)
}

.wi-wind-default._150-deg {
  -webkit-transform: rotate(150deg);
  -moz-transform: rotate(150deg);
  -ms-transform: rotate(150deg);
  -o-transform: rotate(150deg);
  transform: rotate(150deg)
}

.wi-wind-default._165-deg {
  -webkit-transform: rotate(165deg);
  -moz-transform: rotate(165deg);
  -ms-transform: rotate(165deg);
  -o-transform: rotate(165deg);
  transform: rotate(165deg)
}

.wi-wind-default._180-deg {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg)
}

.wi-wind-default._195-deg {
  -webkit-transform: rotate(195deg);
  -moz-transform: rotate(195deg);
  -ms-transform: rotate(195deg);
  -o-transform: rotate(195deg);
  transform: rotate(195deg)
}

.wi-wind-default._210-deg {
  -webkit-transform: rotate(210deg);
  -moz-transform: rotate(210deg);
  -ms-transform: rotate(210deg);
  -o-transform: rotate(210deg);
  transform: rotate(210deg)
}

.wi-wind-default._225-deg {
  -webkit-transform: rotate(225deg);
  -moz-transform: rotate(225deg);
  -ms-transform: rotate(225deg);
  -o-transform: rotate(225deg);
  transform: rotate(225deg)
}

.wi-wind-default._240-deg {
  -webkit-transform: rotate(240deg);
  -moz-transform: rotate(240deg);
  -ms-transform: rotate(240deg);
  -o-transform: rotate(240deg);
  transform: rotate(240deg)
}

.wi-wind-default._255-deg {
  -webkit-transform: rotate(255deg);
  -moz-transform: rotate(255deg);
  -ms-transform: rotate(255deg);
  -o-transform: rotate(255deg);
  transform: rotate(255deg)
}

.wi-wind-default._270-deg {
  -webkit-transform: rotate(270deg);
  -moz-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  -o-transform: rotate(270deg);
  transform: rotate(270deg)
}

.wi-wind-default._285-deg {
  -webkit-transform: rotate(295deg);
  -moz-transform: rotate(295deg);
  -ms-transform: rotate(295deg);
  -o-transform: rotate(295deg);
  transform: rotate(295deg)
}

.wi-wind-default._300-deg {
  -webkit-transform: rotate(300deg);
  -moz-transform: rotate(300deg);
  -ms-transform: rotate(300deg);
  -o-transform: rotate(300deg);
  transform: rotate(300deg)
}

.wi-wind-default._315-deg {
  -webkit-transform: rotate(315deg);
  -moz-transform: rotate(315deg);
  -ms-transform: rotate(315deg);
  -o-transform: rotate(315deg);
  transform: rotate(315deg)
}

.wi-wind-default._330-deg {
  -webkit-transform: rotate(330deg);
  -moz-transform: rotate(330deg);
  -ms-transform: rotate(330deg);
  -o-transform: rotate(330deg);
  transform: rotate(330deg)
}

.wi-wind-default._345-deg {
  -webkit-transform: rotate(345deg);
  -moz-transform: rotate(345deg);
  -ms-transform: rotate(345deg);
  -o-transform: rotate(345deg);
  transform: rotate(345deg)
}

.wi-moon-new:before {
  content: "\f095"
}

.wi-moon-waxing-cresent-1:before {
  content: "\f096"
}

.wi-moon-waxing-cresent-2:before {
  content: "\f097"
}

.wi-moon-waxing-cresent-3:before {
  content: "\f098"
}

.wi-moon-waxing-cresent-4:before {
  content: "\f099"
}

.wi-moon-waxing-cresent-5:before {
  content: "\f09a"
}

.wi-moon-waxing-cresent-6:before {
  content: "\f09b"
}

.wi-moon-first-quarter:before {
  content: "\f09c"
}

.wi-moon-waxing-gibbous-1:before {
  content: "\f09d"
}

.wi-moon-waxing-gibbous-2:before {
  content: "\f09e"
}

.wi-moon-waxing-gibbous-3:before {
  content: "\f09f"
}

.wi-moon-waxing-gibbous-4:before {
  content: "\f0a0"
}

.wi-moon-waxing-gibbous-5:before {
  content: "\f0a1"
}

.wi-moon-waxing-gibbous-6:before {
  content: "\f0a2"
}

.wi-moon-full:before {
  content: "\f0a3"
}

.wi-moon-waning-gibbous-1:before {
  content: "\f0a4"
}

.wi-moon-waning-gibbous-2:before {
  content: "\f0a5"
}

.wi-moon-waning-gibbous-3:before {
  content: "\f0a6"
}

.wi-moon-waning-gibbous-4:before {
  content: "\f0a7"
}

.wi-moon-waning-gibbous-5:before {
  content: "\f0a8"
}

.wi-moon-waning-gibbous-6:before {
  content: "\f0a9"
}

.wi-moon-3rd-quarter:before {
  content: "\f0aa"
}

.wi-moon-waning-crescent-1:before {
  content: "\f0ab"
}

.wi-moon-waning-crescent-2:before {
  content: "\f0ac"
}

.wi-moon-waning-crescent-3:before {
  content: "\f0ad"
}

.wi-moon-waning-crescent-4:before {
  content: "\f0ae"
}

.wi-moon-waning-crescent-5:before {
  content: "\f0af"
}

.wi-moon-waning-crescent-6:before {
  content: "\f0b0"
}
