@charset "UTF-8";
@import url('https://fonts.googleapis.com/css?family=Nunito Sans:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700');

html {
  font-family: "Nunito Sans", "Poppins", sans-serif;
}

body {
  font-family: "Nunito Sans", "Poppins", sans-serif;
  font-size: 14px;
  line-height: 30px;
  color: #666;
  overflow-x: hidden;
}

.landing-page-content img {
  max-width: 100%;
}

.landing-page-content a {
  color: inherit;
  font-size: inherit;
  -webkit-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}

.landing-page-content a:hover, a:focus, a:active {
  text-decoration: none;
  color: #89DB87;
  outline: none;
}

.landing-page-content h1, h2, h3, h4, h5, h6 {
  font-weight: 600;
  color: #000;
}

.landing-page-content h1, h2 {
  font-size: 48px;
}

.landing-page-content .no-padding {
  padding: 0;
}

.landing-page-content .no-padding-right {
  padding-right: 0;
}

.landing-page-content .no-padding-left {
  padding-left: 0;
}

.landing-page-content .no-margin {
  margin: 0;
}

.landing-page-content .mt-5 {
  margin-top: 5px;
}

.landing-page-content .mt-10 {
  margin-top: 10px;
}

.landing-page-content .mt-15 {
  margin-top: 15px;
}

.landing-page-content .mt-20 {
  margin-top: 20px;
}

.landing-page-content .mt-25 {
  margin-top: 25px;
}

.landing-page-content .mt-30 {
  margin-top: 30px;
}

.landing-page-content .mt-35 {
  margin-top: 35px;
}

.landing-page-content .mt-40 {
  margin-top: 40px;
}

.landing-page-content .mt-45 {
  margin-top: 45px;
}

.landing-page-content .mt-50 {
  margin-top: 50px;
}

.landing-page-content .mb-5 {
  margin-bottom: 5px;
}

.landing-page-content .mb-10 {
  margin-bottom: 10px;
}

.landing-page-content .mb-15 {
  margin-bottom: 15px;
}

.landing-page-content .mt-20 {
  margin-bottom: 20px;
}

.landing-page-content .mb-25 {
  margin-bottom: 25px;
}

.landing-page-content .mb-30 {
  margin-bottom: 30px;
}

.landing-page-content .mb-35 {
  margin-bottom: 35px;
}

.landing-page-content .mb-40 {
  margin-bottom: 40px;
}

.landing-page-content .mb-45 {
  margin-bottom: 45px;
}

.landing-page-content .mb-50 {
  margin-bottom: 50px;
}

.landing-page-content .section-title {
  font-weight: 900;
  font-family: Nunito Sans;
  font-style: normal;
  font-size: 40px;
  line-height: 54px;
  margin-bottom: -10px;
  color: #3A3F5C;
}

.landing-page-content .section-tagline {
  margin-bottom: 30px;
}

.landing-page-content .color-text {
  color: #89DB87;
}

.landing-page-content .bg-yellow {
  background: #ffb81e;
}

.landing-page-content .bg-theme {
  background: #89DB87;
}

.landing-page-content .bg-light-green {
  background: #76de51;
}

.landing-page-content .bg-light-red {
  background: #f75e61;
}

.landing-page-content .block-title {
  color: #000;
  font-size: 14px;
  font-weight: 600;
  margin-top: 22px;
}

.landing-page-content .btn.btn-theme {
  background: #89DB87;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: 700;
  min-width: 170px;
  height: 50px;
  padding: 15px;
  color: #fff;
  line-height: normal;
}

@media screen and (max-width: 767px) {
  .landing-page-content .section-title {
    font-size: 30px;
  }

  .landing-page-content .bg-success-farm {
    top: 60%;
  }
}

.intro-random-1 {
  background: #f6f6f6 url(../img/farm/first_img.png) no-repeat scroll 0 0;
}
.intro-random-2 {
  background: #f6f6f6 url(../img/farm/img-35.png) no-repeat scroll 0 0;
}
.intro-random-3 {
  background: #f6f6f6 url(../img/farm/fish_corn.png) no-repeat scroll 0 0;
}
.intro-random-4 {
  background: #f6f6f6 url(../img/farm/first_img.png) no-repeat scroll 0 0;
}
.landing-page-content #intro-hero {
  background-size: cover;
  padding-bottom: 50px;
  position: relative;
  z-index: 10;
  color: #fff;
}
.landing-page-content #about-hero {
  background: #f6f6f6 url(../img/farm/about-head.png) no-repeat scroll 0 0;
  background-size: cover;
  padding-bottom: 20px;
  position: relative;
  z-index: 10;
  color: #fff;
}

.landing-page-content #team-hero {
  background: #f6f6f6 url(../img/farm/team-head.png) no-repeat scroll 0 0;
  background-size: cover;
  padding-bottom: 20px;
  position: relative;
  z-index: 10;
  color: #fff;
}
.landing-page-content #faq-hero {
  background: #f6f6f6 url(../img/farm/faq-head.png) no-repeat scroll 0 0;
  background-size: cover;
  padding-bottom: 20px;
  position: relative;
  z-index: 10;
  color: #fff;
}
.landing-page-content #education-hero {
  background: #f6f6f6 url(../img/farm/education-head.png) no-repeat scroll 0 0;
  background-size: cover;
  padding-bottom: 20px;
  position: relative;
  z-index: 10;
  color: #fff;
}

.landing-page-content #details-head {
  height: 0px;
  position: relative;
  padding-bottom: 90px;
  z-index: 10;
  color: #fff;
}

.landing-page-content #details-head:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.landing-page-content #blog-head {
  background: #f6f6f6;
  padding-bottom: 50px;
  height: 420px;
  position: relative;
  z-index: 10;
  color: #fff;
}

.landing-page-content #blog-head:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.landing-page-content .floating-object {
  background-color: transparent;
  /*background: transparent url(../img/farm/cassava_leaf.png) no-repeat scroll 0 0;*/
  position: absolute;
  top: 4%;
  right: 3%;
  height: 150px;
  width: 150px;
}

.landing-page-content .floating-object-base {
  background-color: transparent;
  /*background: transparent url(../img/farm/cassava_leaf.png) no-repeat scroll 0 0;*/
  position: absolute;
  bottom: 9%;
  left: -3%;
  height: 150px;
  width: 150px;
}

.landing-page-content #intro-hero:after {
  content: '';
  /*background: rgba(246, 246, 246, 0.36);*/
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.landing-page-content #about-hero:after {
  content: '';
  /*background: rgba(246, 246, 246, 0.36);*/
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.landing-page-content #team-hero:after {
  content: '';
  /*background: rgba(246, 246, 246, 0.36);*/
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.landing-page-content #faq-hero:after {
  content: '';
  /*background: rgba(246, 246, 246, 0.36);*/
  position: absolute;
  width: 100%;
  height: 70%;
  top: 0;
  left: 0;
  z-index: -1;
}
.landing-page-content #education-hero:after {
  content: '';
  /*background: rgba(246, 246, 246, 0.36);*/
  position: absolute;
  width: 100%;
  height: 70%;
  top: 0;
  left: 0;
  z-index: -1;
}

.landing-page-content #hero-content {
  color: #fff;
  padding-top: 200px;
  padding-bottom: 100px;
}
.landing-page-content #hero-content-2 {
  /*color: #fff;*/
  padding-top: 100px;
  /*padding-bottom: 100px;*/
}

.landing-page-content #blog-content {
  color: #fff;
  padding-top: 200px;
  padding-bottom: -30px;
}

.landing-page-content .hero-title {
  font-size: 48px;
  font-weight: 900;
  color: #3A3F5C;
  line-height: 54px;
  display: flex;
  align-items: flex-end;
}

.landing-page-content .about-title {
  font-size: 38px;
  font-weight: 900;
  color: #ffffff;
  line-height: 54px;
  display: flex;
  align-items: flex-end;
}

.landing-page-content .hero-tagline {
  color: #323755;
  font-size: 16px;
}
.landing-page-content .about-tagline {
  color: #ffffff;
  font-size: 16px;
}

.landing-page-content .play-video {
  font-size: 14px;
  font-weight: 600;
}

.landing-page-content .play-video .icon.icon-play-button2 {
  vertical-align: middle;
  margin-left: 5px;
  font-size: 30px;
}

.landing-page-content .intro-btn > a {
  margin: 0 10px;
}

@media screen and (max-width: 767px) {

  .landing-page-content .bg-success-farm {
    top: 60%;
  }

  .landing-page-content #hero-content {
    padding-top: 120px;
    padding-bottom: 50px;
  }

  .landing-page-content .hero-title {
    font-size: 34px;
    line-height: 40px;
  }

  .landing-page-content .intro-btn > a {
    margin: 20px 10px;
  }

  .border-special {
    border-right: none;
  }

  .landing-page-content .no-padding {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.landing-page-content #main-nav {
  /*padding-top: 15px;*/
  /*padding-bottom: 15px;*/
  transition: .3s;
}

.landing-page-content .nav.navbar-nav > li > a {
  font-weight: 500;
  text-transform: capitalize;
  display: inline-block;
  padding: 10px 15px;
  line-height: normal;
}

.landing-page-content .nav.navbar-nav > li > a.btn-call-to-action {
  background: #89DB87;
  border-radius: 100px;
  padding-left: 20px;
  padding-right: 20px;
  color: #fff;
}

.landing-page-content .nav.navbar-nav > li > a:hover,
.landing-page-content .nav.navbar-nav > li > a:active,
.landing-page-content .nav.navbar-nav > li > a:focus {
  background: inherit;
  color: #89DB87;
}

.landing-page-content .nav.navbar-nav > li > a.btn-call-to-action:hover,
.landing-page-content .nav.navbar-nav > li > a.btn-call-to-action:active,
.landing-page-content .nav.navbar-nav > li > a.btn-call-to-action:focus {
  background: #89DB87;
  color: #fff;
}

.landing-page-content .is-scrolling {
  background: #fff;
  color: #000;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.landing-page-content .navbar-brand {
  font-size: 20px;
  font-weight: bold;
  position: relative;
  height: auto;
  max-height: 50px;
}

.landing-page-content .logo-dark {
  position: absolute;
  top: 0;
  padding: 15px;
  left: 0;
  opacity: 0;
  transition: .3s;
}

.landing-page-content .navbar-fixed-top.is-scrolling .logo-default {
  opacity: 0;
}

.landing-page-content .navbar-fixed-top.is-scrolling .logo-dark {
  opacity: 1;
}

@media screen and (max-width: 991px) {
  .landing-page-content .navbar-header {
    float: none;
  }

  .landing-page-content .navbar-toggle {
    display: block;
  }

  .landing-page-content .navbar-collapse.collapse {
    display: none !important;
  }

  .landing-page-content .navbar-collapse.collapse.in {
    display: block !important;
  }

  .landing-page-content .nav.navbar-nav.pull-right {
    float: none !important;
    padding-left: 15px;
  }

  .landing-page-content .nav.navbar-nav > li {
    float: none;
  }

  .landing-page-content .navbar-toggle {
    background: #89DB87;
  }

  .landing-page-content .navbar-toggle .icon-bar {
    background: #fff;
  }

  .landing-page-content .navbar-fixed-bottom .navbar-collapse, .navbar-fixed-top .navbar-collapse {
    max-height: 500px;
  }

  .landing-page-content #main-nav {
    background: #fff;
    color: #000;
    font-weight: bold;
  }

  .landing-page-content .logo-default {
    opacity: 0;
  }

  .landing-page-content .logo-dark {
    opacity: 1;
  }
}

.landing-page-content .registration-form {
  background: #fff;
  padding: 35px;
  border-radius: 4px;
}

.landing-page-content .registration-form .form-control {
  background: #f6f6f6;
  border: 1px solid transparent;
  box-shadow: none;
  padding: 13px;
  height: 50px;
}

.landing-page-content .registration-form .has-error .form-control {
  border-color: red;
}

.landing-page-content .has-error .form-control:focus {
  box-shadow: none;
}

.landing-page-content .registration-form .form-group {
  margin-bottom: 0;
}

@media screen and (max-width: 991px) {
  .landing-page-content .registration-form .form-group {
    margin-bottom: 15px;
  }

  .landing-page-content .bg-success-farm {
    top: 60%;
  }
}

.landing-page-content #farm-shop {
  padding-top: 30px;
  margin-top: 70px;
  padding-bottom: 50px;
}

.landing-page-content #blog-space {
  padding-top: 30px;
  margin-top: 70px;
  padding-bottom: 50px;
}

.landing-page-content .step-iocn {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  position: relative;
  margin: 0 auto 20px;
  color: #fff;
  font-size: 36px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.landing-page-content .step-count {
  position: absolute;
  width: 30px;
  height: 30px;
  background: #333;
  border-radius: 50%;
  color: #fff;
  font-weight: 600;
  top: -5px;
  left: -5px;
  font-size: 14px;
  line-height: 30px;
}

@media screen and (max-width: 767px) {
  .landing-page-content #farm-shop {
    padding-top: 70px;
    margin-top: 10px;
    padding-bottom: 70px;
  }

  .landing-page-content #blog-space {
    padding-top: 70px;
    margin-top: 10px;
    padding-bottom: 70px;
  }

  .landing-page-content .bg-success-farm {
    top: 60%;
  }
}

.landing-page-content #approach {
  /*
    /*background: url(../img/approach-bg.jpg) no-repeat scroll 0 0;*/
  /*background-size: cover;*!*/
  padding-top: 40px;
  padding-bottom: 80px;

}
.landing-page-content .approach-2 {
  background: url(../img/wavy/wave.png) no-repeat scroll 0 0;
  background-size: cover;
  padding: 20px 0;
}

.landing-page-content .approch-text .color-text {
  font-weight: 600;
}

@media screen and (max-width: 991px) {
  .landing-page-content #approach {
    padding-bottom: 80px;
  }

  .landing-page-content .approach-thumb {
    margin-bottom: 50px;
  }

  .farm-card-status-new, .farm-card-status-sold {
    right: -17%;
    top: 7%;
  }

}

@media screen and (max-width: 767px) {
   #approach {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .border-special {
    border-right: none;
  }
  .farm-card-status-new, .farm-card-status-sold {
    right: -17%;
    top: 7%;
  }

}

.landing-page-content #features {
  padding-top: 120px;
  padding-bottom: 120px;
}

.landing-page-content .feature-slider .owl-nav > div {
  width: 50px;
  height: 50px;
  background: #eee;
  color: #666;
  border-radius: 4px;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 18px;
  transition: .3s;
}

.landing-page-content .feature-slider .owl-nav > div:hover {
  background: #89DB87;
  color: #fff;
}

.landing-page-content .feature-slider .owl-nav {
  position: absolute;
  top: 25%;
  width: 100%;
}

.landing-page-content .feature-slider .owl-prev {
  float: left;
  margin-left: -60px;
}

.landing-page-content .feature-slider .owl-next {
  float: right;
  margin-right: -60px;
}
.grid-footer {
  background-color: rgba(249, 249, 249, 0.3);
  font-weight: bold;
  font-size: 17px;
  margin-bottom: -10px;
}
@media screen and (max-width: 1200px) {
  .landing-page-content .feature-slider .owl-prev {
    margin-left: 0;
  }
  .landing-page-content .feature-slider .owl-next {
    margin-right: 0;
  }

  .bg-success-farm {
    top: 60%;
    right: 10%;
  }

  .farm-card-status-new, .farm-card-status-sold {
    right: -17%;
    top: 7%;
  }

  .image-blog {
    width: auto;
    height: auto;
  }

  .border-special {
    border-right: 1px solid #DEE2E6
  }

}

@media screen and (min-width: 1200px) {
  .landing-page-content .navbar-light .navbar-nav .active {
    border-bottom: 2px solid green;
  }


  .grid-container2 {
    display: grid;
    /*grid-gap: 5px;*/
    border-radius: 5px;
    align-content: center;
    grid-template-columns: 400px auto auto auto;
  }
  .grid-header {
    background-color: rgba(249, 249, 249, 0.3);
    font-weight: bold;
    font-size: 17px;
    margin-bottom: -10px;
  }



  .item2 {
    grid-column: 2;
    justify-content: center;
    padding-top: 40px;
  }
  .item3 {
    grid-column: 3;
    padding-top: 40px;
  }
  .border-special {
    border-right: 1px solid #DEE2E6
  }
  .m-34-p {
    margin-left: 34%
  }

  .bg-success-farm {
    top: 30%;
    right: 20%;
  }

  .padding-header {
    padding-left: 100px;
    padding-right: 50px;
  }

  .farm-card-status-new, .farm-card-status-sold {
    right: -17%;
    top: 7%;
  }

  .landing-page-content .image-blog {
    width: auto;
    height: 390px;
  }

}

@media screen and (max-width: 767px) {
  .grid-header {
    display: none;
  }


  .item2 {
    grid-column: 2;
    justify-content: center;
    padding-top: 10px;
  }
  .item3 {
    grid-column: 3;
    padding-top: 10px;
  }
  .landing-page-content #features {
    padding-top: 70px;
    padding-bottom: 70px;
  }

}

.landing-page-content #fun-facts {
  /*background: url(../img/fun-fact-bg.jpg) no-repeat fixed;*/
  background-position: center center;
  background-size: cover;
  padding-top: 120px;
  padding-bottom: 120px;
  position: relative;
  color: #fff;
  z-index: 1;
}

.landing-page-content #fun-facts:after {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: #89DB87;
  background: rgba(145, 94, 223, 0.9);
  z-index: -1;
}

.landing-page-content .fun-fact-block > h2 {
  color: #fff;
}

.landing-page-content .fact-icon {
  font-size: 18px;
}

@media screen and (max-width: 991px) {
  .landing-page-content .fun-fact-block {
    margin-bottom: 30px;
  }

}

@media screen and (max-width: 767px) {
  .landing-page-content #fun-facts {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.landing-page-content #media-coverage {
  padding-top: 100px;
  padding-bottom: 200px;
}

.landing-page-content .list-inline.logos > li {
  width: 20%;
  float: left;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  margin-top: 20px;
}

@media screen and (max-width: 767px) {
  .landing-page-content #media-coverage {
    padding-top: 70px;
    padding-bottom: 150px;
  }

  .landing-page-content .list-inline.logos > li {
    width: 33.33337%;
    height: 100px;
  }
}

.landing-page-content #farm-products {

  background: url(../img/wavy/wave.png) no-repeat scroll 0 0;
  background-size: cover;
  /*background: #f6f6f6;*/
  padding-bottom: 50px;
  padding-top: 40px;
}

.landing-page-content #testimonials {
  background: #f6f6f6;
  padding-bottom: 80px;
  padding-top: 120px;
}

.landing-page-content .testimonials-box > h4 {
  color: #ffb81e;
  font-size: 24px;
  line-height: 35px;
  font-weight: 600;
}

.landing-page-content .testimonials-box {
  background: #3e3e3e;
  color: #fff;
  padding: 30px;
  border-radius: 4px;
  position: absolute;
  min-height: 530px;
  top: -200px;
}

.landing-page-content .testimonial-slides:before {
  content: '';
  position: absolute;
  top: 0;
  left: 100px;
  font-family: "icomoon";
  font-size: 150px;
  color: #ececec;
  top: -110px;
}

.landing-page-content .tm-item {
  background: #fff;
  padding: 30px;
  border-radius: 4px;
}

.landing-page-content .tm-author-avatar {
  width: 80px;
  height: 80px;
  float: left;
  border-radius: 50%;
  overflow: hidden;
}

.landing-page-content .tm-text {
  margin-left: 100px;
}

.landing-page-content .tm-text > h4 {
  color: #000000;
  margin-bottom: 0;
  margin-top: 20px;
  font-weight: 600;
  text-transform: capitalize;
}

.landing-page-content .tm-text > span {
  color: #bbb;
}

.landing-page-content .owl-dots {
  text-align: center;
  margin-top: 30px;
}

.landing-page-content .owl-dot {
  width: 10px;
  height: 10px;
  background: #e3e3e3;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
  margin: 4px;
}

.landing-page-content .owl-dot.active {
  background: #89DB87;
}

@media screen and (max-width: 991px) {
  .landing-page-content .testimonials-box {
    padding-top: 50px;
    padding-bottom: 50px;
    position: relative;
    min-height: auto;
    top: -200px;
  }
}

@media screen and (max-width: 991px) {
  .landing-page-content #testimonials {
    padding-bottom: 70px;
  }
}

.landing-page-content #main-benefits {
  padding-top: 100px;
  padding-bottom: 120px;
}

.landing-page-content .benefit-count {
  height: 70px;
  overflow: hidden;
}

.landing-page-content .benefit-count > span {
  font-size: 100px;
  vertical-align: bottom;
  line-height: 1.07;
  font-weight: 600;
  color: #eeeeee;
}

@media screen and (max-width: 767px) {
  .landing-page-content #main-benefits {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.landing-page-content #faq {
  /*background: url(../img/fag-bg.jpg) no-repeat scroll 0 0;*/
  background-size: cover;
  padding-top: 100px;
  padding-bottom: 120px;
}

.landing-page-content #faq .section-title {
  font-size: 24px;
}

.landing-page-content .faq-block {
  margin-top: 30px;
}

.landing-page-content .faq-block > h4 {
  color: #000;
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 0;
  line-height: 28px;
}

@media screen and (max-width: 767px) {
  .landing-page-content #faq {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.landing-page-content #pricing {
  padding-top: 90px;
  padding-bottom: 120px;
}

.landing-page-content .pricing-plan {
  border-top: 1px solid #eee;
  min-height: 560px;
  margin-top: 50px;
  transition: .5s;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
}

.landing-page-content .plan-head {
  padding: 15px 0 5px;
  border-bottom: 1px solid #eee;
  font-size: 16px;
  color: #000000;
  font-weight: 600;
}

.landing-page-content .plan-value {
  border-bottom: 1px solid #eee;
  height: 150px;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.landing-page-content .plan-value > h4 {
  font-size: 48px;
  color: #000000;
  font-weight: bold;
  transition: .5s;
}

.landing-page-content .plan-value > h4 > sup {
  font-weight: normal;
  font-size: 14px;
  top: -30px;
}

.landing-page-content .plan-feature ul {
  padding: 0;
  margin: 0;
}

.landing-page-content .plan-feature li {
  padding: 10px;
  list-style: none;
  border-bottom: 1px solid #eee;
}

.landing-page-content .plan-feature li .text-muted {
  color: #bbbbbb;
}

.landing-page-content .plan-buy > .btn.btn-theme {
  background: #222;
  border-radius: 50px;
  margin: 30px;
  font-size: 12px;
  letter-spacing: 2px;
}

.landing-page-content #pricing .col-md-3.col-sm-6:last-child .pricing-plan {
  border-right: 1px solid #eee;
}

.landing-page-content .pricing-plan.recommanded {
  box-shadow: 0 0 40px 5px rgba(0, 0, 0, 0.1);
  -webkit-transform: scaleY(1.01);
  -ms-transform: scaleY(1.01);
  transform: scaleY(1.01);
}

.landing-page-content .pricing-plan:hover .plan-value > h4,
.landing-page-content .pricing-plan.recommanded .plan-value > h4 {
  color: #89DB87;
}

.landing-page-content .pricing-plan:hover .plan-head,
.landing-page-content .pricing-plan.recommanded .plan-head {
  color: #89DB87;
}

.landing-page-content .pricing-plan:hover .btn.btn-theme,
.landing-page-content .pricing-plan.recommanded .btn.btn-theme {
  background: #89DB87;
}

@media screen and (max-width: 991px) {
  .landing-page-content .pricing-plan {
    margin-bottom: 30px;
    border: 1px solid #eee;
  }

  .border-special {
    border-right: none;
  }
}

@media screen and (max-width: 767px) {
  .landing-page-content #pricing {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}

.landing-page-content .team-top-title .section-title {
  color: #fff;
  font-size: 36px;
  margin-top: 10px;
}

.landing-page-content .team-top-title {
  background: #333;
  color: #fff;
  padding-top: 50px;
  padding-bottom: 30px;
}

.landing-page-content .team-single {
  position: relative;
}

.landing-page-content .team-img img {
  width: 100%;
}

.landing-page-content .team-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
  top: 0;
  left: 0;
  text-align: center;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #89DB87;
  background: rgba(145, 94, 223, 0.8);
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #fff;
  opacity: 0;
  transition: .5s;
}

.landing-page-content .team-overlay > h4 {
  font-size: 24px;
  margin-bottom: 0;
  color: #fff;
}

.landing-page-content .team-social > a {
  width: 30px;
  height: 30px;
  background: #89DB87;
  border-radius: 50%;
  display: inline-block;
  margin: 0 5px;
}

.landing-page-content .team-social > a:hover {
  color: #89DB87;
  background: #fff;
}

.landing-page-content .team-single:hover .team-overlay {
  opacity: 1;
}

@media screen and (max-width: 767px) {
  .landing-page-content .team-single {
    margin-bottom: 30px;
  }
}

.landing-page-content #contact {
  padding-top: 100px;
  padding-bottom: 120px;
}

.landing-page-content #contact .block-title {
  font-size: 20px;
  line-height: 30px;
  margin-bottom: 20px;
  margin-top: 0;
}

.landing-page-content .social > .list-inline > li > a > i {
  width: 40px;
  height: 40px;
  display: block;
  border-radius: 50%;
  line-height: 40px;
  text-align: center;
  color: #fff;
  -webkit-transform: .5s;
  -ms-transform: .5s;
  transform: .5s;
}

.landing-page-content .social > .list-inline > li > a > i.fa-facebook {
  background: #365493;
}

.landing-page-content .social > .list-inline > li > a > i.fa-twitter {
  background: #33ccff;
}

.landing-page-content .social > .list-inline > li > a > i.fa-google-plus {
  background: #d44132;
}

.landing-page-content .social > .list-inline > li > a > i.fa-pinterest-p {
  background: #cb2027;
}

.landing-page-content .social > .list-inline > li > a > i:hover {
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
}

.landing-page-content #contact .form-control {
  border: 1px solid #eeeeee;
  box-shadow: none;
  padding: 13px;
  height: 44px;
  font-size: 13px;
}

.landing-page-content .success-message {
  position: absolute;
  top: -50px;
  color: #89DB87;
  width: 100%;
  height: 30px;
  z-index: 1;
  font-weight: bold;
  opacity: 0;
  transition: .5s;
  left: 0;
}

.landing-page-content #contact .has-error .form-control {
  border-color: red !important;
}

.landing-page-content #contact textarea.form-control {
  height: auto;
}

@media (min-width: 576px) {
  .landing-page-content .mt-sm--9 {
    margin-top: -190px !important;
  }

}

@media screen and (max-width: 767px) {
  .landing-page-content #contact {
    padding-top: 70px;
    padding-bottom: 70px;
  }

  .landing-page-content .contact-form {
    margin-top: 50px;
  }
}

.landing-page-content .footer-top {
  background: #fdfdfc;
  font-family: "Nunito Sans";
  padding-top: 40px;
  padding-bottom: 100px;
  color: #333333;
  font-size: 13px;
  line-height: 26px;
}

.landing-page-content .footer-bottom {
  /*background: #222;*/
  background: #51BE50;
  /*background: linear-gradient(180deg, #7FD67D 0%, #51BE50 83.11%);*/
  padding-left: 15px;
  /*text-align: center;*/
  color: #FFFFFF;
  /*text-transform: uppercase;*/
  /*font-weight: bold;*/
  padding-right: 15px;
  padding-top: 30px;
  opacity: 0.9;
  padding-bottom: 20px;
}

.landing-page-content .footer-bottom .copyright {
  text-align: center;
}

.landing-page-content .footer-widget > h4 {
  margin-bottom: 20px;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
  line-height: 19px;
  color: #3A3F5C;
}

.landing-page-content .footer-widget ul {
  padding: 0;
  list-style: none;
}

@media screen and (max-width: 991px) {
  .landing-page-content .footer-widget {
    margin-bottom: 30px;
  }
  .margin-top-70 {
    margin-top: 70px;
  }
  .border-special {
    border-right: none;
  }
  br {
    display: none !important;
  }
}
@media (min-width: 576px) {
  .margin-top-70 {
    margin-top: 970px;
  }
}
/*
@media (min-width: 992px) {

  .margin-top-70 {
    margin-top: -70px;
  }
}
*/

.landing-page-content .switcher-wrap {
  position: fixed;
  top: 100px;
  width: 250px;
  background: #fff;
  z-index: 100;
  padding: 20px;
  color: #000;
  left: -250px;
  transition: .3s;
}

.landing-page-content .switcher-wrap.active {
  left: 0;
}

.landing-page-content .switcher-wrap ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.landing-page-content .color-switcher ul li {
  width: 28px;
  height: 28px;
  float: left;
  margin: 3px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: .3s;
}

.landing-page-content .color-switcher ul li.active {
  border: 3px solid #fff;
}

.landing-page-content .switcher-wrap h4 {
  border-bottom: 1px solid #eee;
  padding-bottom: 5px;
}

.landing-page-content .switcher-trigger {
  position: absolute;
  left: 100%;
  width: 40px;
  height: 40px;
  background: #fff;
  top: 0;
  font-size: 20px;
  text-align: center;
  color: #000;
  cursor: pointer;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 0 2px 2px 0;
}

.landing-page-content .color-default {
  background: #89DB87;
}

.landing-page-content .color-blue {
  background: #3598dc;
}

.landing-page-content .color-green {
  background: #32c5d2;
}

.landing-page-content .color-green-jungle {
  background: #26C281;
}

.landing-page-content .color-maroon-light {
  background: #c49f47;
}

.landing-page-content .color-yellow {
  background: #ffb81e;
}

@media screen and (max-width: 767px) {
  .landing-page-content .switcher-wrap {
    display: none;
  }
}

.landing-page-content #page-loader {
  background: #fff;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 999;
}

.landing-page-content .loader-icon {
  background: none repeat scroll 0 0 #fff;
  border-bottom: 3px solid rgba(19, 19, 19, 0.1) !important;
  border-left: 3px solid rgba(19, 19, 19, 0.1) !important;
  border-radius: 100px;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  -o-border-radius: 100px;
  -ms-border-radius: 100px;
  border-right: 3px solid #89DB87 !important;
  border-top: 3px solid rgba(19, 19, 19, 0.1) !important;
  height: 50px;
  left: 50%;
  margin: -20px 0 0 -20px;
  position: absolute;
  text-align: center;
  top: 50%;
  width: 50px;
}

.landing-page-content .colored-border {
  border-color: #fff;
}

.landing-page-content .fa-spin {
  -webkit-animation: fa-spin 1s infinite linear;
  animation: fa-spin 1s infinite linear;
}

@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.landing-page-content .scroll-top {
  background: #3A3F5C;
  bottom: 20px;
  color: #fff;
  font-size: 20px;
  height: 40px;
  position: fixed;
  text-align: center;
  width: 40px;
  z-index: 10;
  cursor: pointer;
  transition: .3s;
  border-radius: 50%;
  line-height: 40px;
  right: -100px;
}

.landing-page-content .scroll-top.active {
  left: 20px;
}

.landing-page-content .padding-header {
  background: #FFFFFF;
  box-sizing: border-box;
  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: flex-end;
  text-align: center;
  color: #3A3F5C;
}

.landing-page-content .dropdown-menu {
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  z-index: 99;
  min-width: 210px;
  background-color: #fff;
  white-space: nowrap;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  animation: fadeIn 0.4s;
  -webkit-animation: fadeIn 0.4s;
  -moz-animation: fadeIn 0.4s;
  -o-animation: fadeIn 0.4s;
  -ms-animation: fadeIn 0.4s;
}

.landing-page-content .dropdown-menu:before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 100%;
  left: 20%;
  margin-left: -5px;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #fff;
}

.landing-page-content .dropdown:hover .dropdown-menu {
  display: block;
  position: absolute;
  text-align: left;
  top: 100%;
  border: none;
  animation: fadeIn 0.4s;
  -webkit-animation: fadeIn 0.4s;
  -moz-animation: fadeIn 0.4s;
  -o-animation: fadeIn 0.4s;
  -ms-animation: fadeIn 0.4s;
}

.landing-page-content .dropdown .dropdown-menu .dropdown-item {
  width: 100%;
  padding: 12px 20px;
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid #f1f1f1;
  text-decoration: none;
  display: inline-block;
  float: left;
  clear: both;
  position: relative;
  outline: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.landing-page-content .dropdown .dropdown-menu .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.landing-page-content .dropdown .dropdown-menu .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.landing-page-content .dropdown .dropdown-item:focus,
.landing-page-content .dropdown .dropdown-item:hover,
.landing-page-content .dropdown .dropdown-item.active {
  color: #3A3F5C;
  background: #f7f7f7;
}

.landing-page-content .dropdown-item.active, .dropdown-item:active {
  background: transparent;
}

 .landing-page .card {
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(194, 199, 228, 0.5), 0px 2px 2px rgba(194, 199, 228, 0.5), 0px 0px 2px rgba(194, 199, 228, 0.5);
  border-radius: 10px;
  max-height: 350px;
  cursor: pointer;
  height: 330px;
  overflow: hidden;

}

 .page-link {
  color: #51BE50!important;
}

 .page-item.active .page-link {
  background-color: #51BE50!important;
  border-color: #51BE50!important;
   color: #ffffff!important;
   z-index: 1;
}

 .page-link:hover {
  color: #51BE50 !important;
}

.pagination>li>a, .pagination>li>span {
  color: #51BE50;
}
 .farm-shop-card {
  margin: 6px;
}

 .farm-shop-card:hover {
  -webkit-box-shadow: -2px 0px 11px 0px rgba(58, 63, 92, 0.52);
  -moz-box-shadow: -2px 0px 11px 0px rgba(58, 63, 92, 0.52);
  box-shadow: -2px 0px 11px 0px rgba(58, 63, 92, 0.52);
  -moz-transform: translate(1px, -0.4px);
  -webkit-transform: translate(1px, -0.4px);
  -o-transform: translate(1px, -0.4px);
  -ms-transform: translate(1px, -0.4px);
  transform: translate(1px, -0.4px);
}

 .bg-success-farm {
  background-color: #51BE50;
  min-height: 110px;
   height: auto;
  width: 260px;
  position: absolute;
  padding: 10px 20px;
  /*top: 30%;*/
  /*right: 29%;*/
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
}
 .farm-shop-image {
  /*width:100%;*/
  height: 210px;
  /*width:200px;*/
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

 .mt--1 {
  margin-top: -10px;
}

 .mt--2 {
  margin-top: -20px;
}

 .mt--3 {
  margin-top: -30px;
}

.mt--4 {
  margin-top: -40px;
}

.mt--9 {
  margin-top: -190px !important;
}

.card-body-format {
  margin-left: -10px !important;
  color: #3A3F5C;
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 900;
}

.shop-card-title {
  font-size: 24px;
}

.shop-card-text {
  font-size: 12px;
}

.text-color-l-g {
  /*color: #ACE2CF;*/
  color: #ace2cf !important;

}

.farm-card-status-new {
  height: 30px;
  width: 180px;
  background: linear-gradient(43.77deg, #FF4848 22.56%, #942A2A 78.75%);
  text-align: center;
  position: absolute;
  font-size: 20px;
  color: #ffffff;
  font-weight: bold
}

.farm-card-status-sold {
  height: 30px;
  width: 180px;
  background: linear-gradient(43.77deg, #C5C5C5 22.56%, #737373 78.75%);
  text-align: center;
  position: absolute;
  font-size: 15px;
  color: #ffffff;
  font-weight: bold
}

.landing-page-content .card-status {
  -moz-transform: rotate(42deg);
  -webkit-transform: rotate(42deg);
  -o-transform: rotate(42deg);
  -ms-transform: rotate(42deg);
  transform: rotate(40deg);
}

.landing-page-content .sold-out {
  opacity: 0.8;
}

.landing-page-content .load-more {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 33px;
  text-align: center;
  color: #3A3F5C;
  cursor: pointer;
}

.landing-page-content .safe-confidential {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 54px;
  /* identical to box height, or 225% */
  color: #3A3F5C;

}

.landing-page-content .safe-confidential-text {

  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 25px;

  color: #3A3F5C;
}

.landing-page-content .approch-text {
  margin-top: 40px;
  text-align: left;
}

.landing-page-content #footer h4 {
  color: #3A3F5C;
}

.landing-page-content .join-us {

  font-family: "Nunito Sans";
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 42px;

  color: #333333;
}

.landing-page-content .join-us-text {
  font-style: normal;
  font-weight: normal;
  font-size: 13px;
  line-height: 19px;
  /* identical to box height */
  color: #333333;

}

.landing-page-content .social-data {
  color: #3A3F5C !important;
  font-size: 26px;
  padding: 15px;
  cursor: pointer;
}

.landing-page-content .default-color {
  background: #3A3F5C;
  color: #ffffff;
}
.landing-page-content .green-color {
  background: #51BE50;
  color: #ffffff;
}

.landing-page-content .subscribe-form {
  border-radius: 25px;
  padding: 0 0 0 15px;
}

.landing-page-content .subscribe-form:focus {
  outline: none;
  /*box-shadow: none!important;*/
  /*border-color: none;*/
  /*border-color: #3A3F5C;*/
  border: none;
  box-shadow: 0px 1px 3px rgba(194, 199, 228, 0.5);
}

.landing-page-content .subscribe-btn {
  color: #ffffff;
  border-bottom-right-radius: 25px;
  border-top-right-radius: 25px;
}

.landing-page-content .btn-farm-green {
  color: #ffffff;
  border: none;
  background: linear-gradient(90deg, #89DB87 -5.03%, #51BE50 68.18%);
  box-shadow: 0px 4px 10px rgba(194, 199, 228, 0.5);
  border-radius: 32px;
}
.landing-page-content .btn-farm-green:hover {
  color: #ffffff;
  background: linear-gradient(90deg, #89DB87 -5.03%, #51BE50 68.18%);
}

.landing-page-content .sign-in-btn:hover {
  text-decoration: none;
}

.landing-page-content .social_icons {
  width: 80%;
  margin: -10px auto;
  text-align: center;
}
.about-ring {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  color: #323755;
  text-align: center;
}
.about-ring h4 {
  font-size: 19px;
  line-height: 33px;
  text-transform: uppercase;
}
.about-ring p {
  font-size: 13px;
}
.w-80 {
  width: 80% !important;
}

.margin-top-70 {
  margin-top: -70px;
}
.educ-title {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 30px;
  line-height: 41px;
  color: #3A3F5C;

}
.educ-date {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;

  color: #B3B3B3;
}
.sponsor-farm-h4 {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 54px;
  display: flex;
  align-items: flex-end;
  color: #3A3F5C;
}
.farm-title {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 20px;
  /* identical to box height */

  display: flex;
  align-items: flex-end;

  color: #3A3F5C;
}
.progress, .progress-bar {
  border-radius: 25px;
}
.btn-sponsor-now {
  background: linear-gradient(90deg, #89DB87 -5.03%, #51BE50 68.18%);
  box-shadow: 0px 4px 10px rgba(194, 199, 228, 0.5);
  border-radius: 5px;
}
.btn-sponsor-now-out-of-stock {
  background: linear-gradient(90deg, #d3d3d3 -5.03%, #b0b0b0 68.18%);
  box-shadow: 0px 4px 10px rgba(194, 199, 228, 0.5);
  border-radius: 5px;
  border: none;

}
