<div class="container-fluid">
  <app-breadcrumb [dataInput]="breadCrumb"></app-breadcrumb>








  <div class="row clearfix">

    <div class="col-lg-12">
      <div class="card">
        <div class="body">
          <ul class="nav nav-tabs">
            <li class="nav-item"><a class="nav-link active show" data-toggle="tab" href="#Settings">Personal Details</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#billings">Business Information</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#preferences">Bank Setting</a></li>
            <li class="nav-item"><a class="nav-link" data-toggle="tab" href="#shippingAddress" id="shipping_address_tab">Shipping Address</a></li>
          </ul>
        </div>
        <div class="tab-content">

          <div class="tab-pane active show" id="Settings">

            <div class="body">
              <h6>Profile Photo</h6>
              <div class="media" *ngIf="basic_info.user_image_url">
                <div class="media-left m-r-15">
                  <img [src]="basic_info.user_image_url ? basic_info.user_image_url : 'assets/img/logo/user.jpg'" width="140px" class="user-photo media-object" alt="User">
                </div>
                <div class="media-body">
                  <p>Upload your photo.</p>
                  <button type="button" class="btn btn-default-dark" id="btn-upload-photo" (click)="basic_info.user_image_url = null;">Update Photo</button>
                  <input type="file" id="filePhoto" class="sr-only">
                </div>
              </div>
              <div class="mt-5">
               <div class="row">
                 <div class="" *ngIf="!basic_info.user_image_url">
                <app-croppie (updateUI)="saveUpdate()" [croppieData] = "{id: 'user_image_url_port', data: basic_info, key: 'user_image_url', config: {vheight: 170, vwidth: 170, fheight: 250, fwidth: 250, enableResize: false, type: 'circle', profile: true}}"  (showLoad)="startLoading($event)"></app-croppie>
                   <!---->
                   <div  class="text-center font-weight-bold" style="font-size: 17px;" *ngIf="!basic_info.user_image_url && loaders.loadingImg">
                  <span class="fa fa-spin fa-spinner"></span>&nbsp;Saving...
                </div>
              </div></div>
              </div>
            </div>

            <div class="body">
              <h6>Basic Information</h6>
             <form (submit)="updateBasicInfo()"> <div class="row clearfix">
                <div class="col-lg-6 col-md-12">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="First Name" [(ngModel)]="basic_info.first_name" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Last Name" [(ngModel)]="basic_info.last_name" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group">
                    <div>
                      <label class="fancy-radio">
                        <input name="gender2" value="male" type="radio" checked="" [(ngModel)]="basic_info.gender" [ngModelOptions]="{standalone: true}">
                        <span><i></i>Male</span>
                      </label>
                      <label class="fancy-radio">
                        <input name="gender2" value="female" type="radio" [(ngModel)]="basic_info.gender" [ngModelOptions]="{standalone: true}">
                        <span><i></i>Female</span>
                      </label>
                    </div>
                  </div>
                  <div class="form-group">
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-calendar"></i></span>
                      </div>
                      <input class="form-control datepicker" placeholder="Date of Birth"
                             (blur)="updateField('dob')"
                             id="dob"
                             [(ngModel)]="basic_info.dob" [ngModelOptions]="{standalone: true}"
                      >
                    </div>
                  </div>

                </div>

                <div class="col-lg-6 col-md-12">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Address" [(ngModel)]="basic_info.address" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="City" [(ngModel)]="basic_info.city" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="State/Province" [(ngModel)]="basic_info.state_province" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group">
                    <select class="form-control" [(ngModel)]="basic_info.country" [ngModelOptions]="{standalone: true}">
                      <option value="">-- Select Country --</option>
                      <option value="Afghanistan">Afghanistan</option>
                      <option value="Åland Islands">Åland Islands</option>
                      <option value="Albania">Albania</option>
                      <option value="Algeria">Algeria</option>
                      <option value="American Samoa">American Samoa</option>
                      <option value="Andorra">Andorra</option>
                      <option value="Angola">Angola</option>
                      <option value="Anguilla">Anguilla</option>
                      <option value="Antarctica">Antarctica</option>
                      <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                      <option value="Argentina">Argentina</option>
                      <option value="Armenia">Armenia</option>
                      <option value="Aruba">Aruba</option>
                      <option value="Australia">Australia</option>
                      <option value="Austria">Austria</option>
                      <option value="Azerbaijan">Azerbaijan</option>
                      <option value="Bahamas">Bahamas</option>
                      <option value="Bahrain">Bahrain</option>
                      <option value="Bangladesh">Bangladesh</option>
                      <option value="Barbados">Barbados</option>
                      <option value="BY">Belarus</option>
                      <option value="Belarus">Belgium</option>
                      <option value="Belize">Belize</option>
                      <option value="Benin">Benin</option>
                      <option value="Bermuda">Bermuda</option>
                      <option value="Bhutan">Bhutan</option>
                      <option value="Bolivia, Plurinational State of">Bolivia, Plurinational State of</option>
                      <option value="Bonaire, Sint Eustatius and Saba">Bonaire, Sint Eustatius and Saba</option>
                      <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                      <option value="Botswana">Botswana</option>
                      <option value="Bouvet Island">Bouvet Island</option>
                      <option value="Brazil">Brazil</option>
                      <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
                      <option value="Brunei Darussalam">Brunei Darussalam</option>
                      <option value="Bulgaria">Bulgaria</option>
                      <option value="Burkina Faso">Burkina Faso</option>
                      <option value="Burundi">Burundi</option>
                      <option value="Cambodia">Cambodia</option>
                      <option value="Cameroon">Cameroon</option>
                      <option value="Canada">Canada</option>
                      <option value="Cape Verde">Cape Verde</option>
                      <option value="Cayman Islands">Cayman Islands</option>
                      <option value="Central African Republic">Central African Republic</option>
                      <option value="Chad">Chad</option>
                      <option value="Chile">Chile</option>
                      <option value="China">China</option>
                      <option value="Christmas Island">Christmas Island</option>
                      <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
                      <option value="Colombia">Colombia</option>
                      <option value="Comoros">Comoros</option>
                      <option value="Congo">Congo</option>
                      <option value="Congo, the Democratic Republic of the">Congo, the Democratic Republic of the</option>
                      <option value="Cook Islands">Cook Islands</option>
                      <option value="Costa Rica">Costa Rica</option>
                      <option value="Côte d'Ivoire">Côte d'Ivoire</option>
                      <option value="Croatia">Croatia</option>
                      <option value="Cuba">Cuba</option>
                      <option value="Curaçao">Curaçao</option>
                      <option value="Cyprus">Cyprus</option>
                      <option value="Czech Republic">Czech Republic</option>
                      <option value="Denmark">Denmark</option>
                      <option value="Djibouti">Djibouti</option>
                      <option value="Dominica">Dominica</option>
                      <option value="Dominican Republic">Dominican Republic</option>
                      <option value="Ecuador">Ecuador</option>
                      <option value="Egypt">Egypt</option>
                      <option value="El Salvador">El Salvador</option>
                      <option value="Equatorial Guinea">Equatorial Guinea</option>
                      <option value="Eritrea">Eritrea</option>
                      <option value="Estonia">Estonia</option>
                      <option value="Ethiopia">Ethiopia</option>
                      <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
                      <option value="Faroe Islands">Faroe Islands</option>
                      <option value="Fiji">Fiji</option>
                      <option value="Finland">Finland</option>
                      <option value="France">France</option>
                      <option value="French Guiana">French Guiana</option>
                      <option value="French Polynesia">French Polynesia</option>
                      <option value="French Southern Territories">French Southern Territories</option>
                      <option value="Gabon">Gabon</option>
                      <option value="Gambia">Gambia</option>
                      <option value="Georgia">Georgia</option>
                      <option value="Germany">Germany</option>
                      <option value="Ghana">Ghana</option>
                      <option value="Gibraltar">Gibraltar</option>
                      <option value="Greece">Greece</option>
                      <option value="Greenland">Greenland</option>
                      <option value="Grenada">Grenada</option>
                      <option value="Guadeloupe">Guadeloupe</option>
                      <option value="Guam">Guam</option>
                      <option value="Guatemala">Guatemala</option>
                      <option value="Guernsey">Guernsey</option>
                      <option value="Guinea">Guinea</option>
                      <option value="Guinea-Bissau">Guinea-Bissau</option>
                      <option value="Guyana">Guyana</option>
                      <option value="Haiti">Haiti</option>
                      <option value="Heard Island and McDonald Islands">Heard Island and McDonald Islands</option>
                      <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
                      <option value="Honduras">Honduras</option>
                      <option value="Hong Kong">Hong Kong</option>
                      <option value="Hungary">Hungary</option>
                      <option value="Iceland">Iceland</option>
                      <option value="India">India</option>
                      <option value="Indonesia">Indonesia</option>
                      <option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
                      <option value="Iraq">Iraq</option>
                      <option value="Ireland">Ireland</option>
                      <option value="Isle of Man">Isle of Man</option>
                      <option value="Israel">Israel</option>
                      <option value="Italy">Italy</option>
                      <option value="Jamaica">Jamaica</option>
                      <option value="Japan">Japan</option>
                      <option value="Jersey">Jersey</option>
                      <option value="Jordan">Jordan</option>
                      <option value="Kazakhstan">Kazakhstan</option>
                      <option value="Kenya">Kenya</option>
                      <option value="Kiribati">Kiribati</option>
                      <option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
                      <option value="Korea, Republic of">Korea, Republic of</option>
                      <option value="Kuwait">Kuwait</option>
                      <option value="Kyrgyzstan">Kyrgyzstan</option>
                      <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
                      <option value="Latvia">Latvia</option>
                      <option value="Lebanon">Lebanon</option>
                      <option value="Lesotho">Lesotho</option>
                      <option value="Liberia">Liberia</option>
                      <option value="Libya">Libya</option>
                      <option value="Liechtenstein">Liechtenstein</option>
                      <option value="Lithuania">Lithuania</option>
                      <option value="Luxembourg">Luxembourg</option>
                      <option value="Macao">Macao</option>
                      <option value="Macedonia, the former Yugoslav Republic of">Macedonia, the former Yugoslav Republic of</option>
                      <option value="Madagascar">Madagascar</option>
                      <option value="Malawi">Malawi</option>
                      <option value="Malaysia">Malaysia</option>
                      <option value="Maldives">Maldives</option>
                      <option value="Mali">Mali</option>
                      <option value="Malta">Malta</option>
                      <option value="Marshall Islands">Marshall Islands</option>
                      <option value="Martinique">Martinique</option>
                      <option value="Mauritania">Mauritania</option>
                      <option value="Mauritius">Mauritius</option>
                      <option value="Mayotte">Mayotte</option>
                      <option value="Mexico">Mexico</option>
                      <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
                      <option value="Moldova, Republic of">Moldova, Republic of</option>
                      <option value="Monaco">Monaco</option>
                      <option value="Mongolia">Mongolia</option>
                      <option value="Montenegro">Montenegro</option>
                      <option value="Montserrat">Montserrat</option>
                      <option value="Morocco">Morocco</option>
                      <option value="Mozambique">Mozambique</option>
                      <option value="Myanmar">Myanmar</option>
                      <option value="Namibia">Namibia</option>
                      <option value="Nauru">Nauru</option>
                      <option value="Nepal">Nepal</option>
                      <option value="Netherlands">Netherlands</option>
                      <option value="New Caledonia">New Caledonia</option>
                      <option value="New Zealand">New Zealand</option>
                      <option value="Nicaragua">Nicaragua</option>
                      <option value="Niger">Niger</option>
                      <option value="Nigeria">Nigeria</option>
                      <option value="Niue">Niue</option>
                      <option value="Norfolk Island">Norfolk Island</option>
                      <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                      <option value="Norway">Norway</option>
                      <option value="Oman">Oman</option>
                      <option value="Pakistan">Pakistan</option>
                      <option value="Palau">Palau</option>
                      <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
                      <option value="Panama">Panama</option>
                      <option value="Papua New Guinea">Papua New Guinea</option>
                      <option value="Paraguay">Paraguay</option>
                      <option value="Peru">Peru</option>
                      <option value="Philippines">Philippines</option>
                      <option value="Pitcairn">Pitcairn</option>
                      <option value="Poland">Poland</option>
                      <option value="Portugal">Portugal</option>
                      <option value="Puerto Rico">Puerto Rico</option>
                      <option value="Qatar">Qatar</option>
                      <option value="Réunion">Réunion</option>
                      <option value="Romania">Romania</option>
                      <option value="Russian Federation">Russian Federation</option>
                      <option value="Rwanda">Rwanda</option>
                      <option value="Saint Barthélemy">Saint Barthélemy</option>
                      <option value="Saint Helena, Ascension and Tristan da Cunha">Saint Helena, Ascension and Tristan da Cunha</option>
                      <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                      <option value="Saint Lucia">Saint Lucia</option>
                      <option value="Saint Martin (French part)">Saint Martin (French part)</option>
                      <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
                      <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
                      <option value="Samoa">Samoa</option>
                      <option value="San Marino">San Marino</option>
                      <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                      <option value="Saudi Arabia">Saudi Arabia</option>
                      <option value="Senegal">Senegal</option>
                      <option value="Serbia">Serbia</option>
                      <option value="Seychelles">Seychelles</option>
                      <option value="Sierra Leone">Sierra Leone</option>
                      <option value="Singapore">Singapore</option>
                      <option value="Sint Maarten (Dutch part)">Sint Maarten (Dutch part)</option>
                      <option value="Slovakia">Slovakia</option>
                      <option value="Slovenia">Slovenia</option>
                      <option value="Solomon Islands">Solomon Islands</option>
                      <option value="Somalia">Somalia</option>
                      <option value="South Africa">South Africa</option>
                      <option value="South Georgia and the South Sandwich Islands">South Georgia and the South Sandwich Islands</option>
                      <option value="South Sudan">South Sudan</option>
                      <option value="Spain">Spain</option>
                      <option value="Sri Lanka">Sri Lanka</option>
                      <option value="Sudan">Sudan</option>
                      <option value="Suriname">Suriname</option>
                      <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
                      <option value="Swaziland">Swaziland</option>
                      <option value="Sweden">Sweden</option>
                      <option value="Switzerland">Switzerland</option>
                      <option value="Syrian Arab Republic">Syrian Arab Republic</option>
                      <option value="Taiwan, Province of China">Taiwan, Province of China</option>
                      <option value="Tajikistan">Tajikistan</option>
                      <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
                      <option value="Thailand">Thailand</option>
                      <option value="Timor-Leste">Timor-Leste</option>
                      <option value="Togo">Togo</option>
                      <option value="Tokelau">Tokelau</option>
                      <option value="Tonga">Tonga</option>
                      <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                      <option value="Tunisia">Tunisia</option>
                      <option value="Turkey">Turkey</option>
                      <option value="Turkmenistan">Turkmenistan</option>
                      <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
                      <option value="Tuvalu">Tuvalu</option>
                      <option value="Uganda">Uganda</option>
                      <option value="Ukraine">Ukraine</option>
                      <option value="United Arab Emirates">United Arab Emirates</option>
                      <option value="United Kingdom">United Kingdom</option>
                      <option value="United States">United States</option>
                      <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
                      <option value="Uruguay">Uruguay</option>
                      <option value="Uzbekistan">Uzbekistan</option>
                      <option value="Vanuatu">Vanuatu</option>
                      <option value="Venezuela, Bolivarian Republic of">Venezuela, Bolivarian Republic of</option>
                      <option value="Viet Nam">Viet Nam</option>
                      <option value="Virgin Islands, British">Virgin Islands, British</option>
                      <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
                      <option value="Wallis and Futuna">Wallis and Futuna</option>
                      <option value="Western Sahara">Western Sahara</option>
                      <option value="Yemen">Yemen</option>
                      <option value="Zambia">Zambia</option>
                      <option value="Zimbabwe">Zimbabwe</option>
                    </select>
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Update Profile</button> &nbsp;&nbsp;
              </form>
            </div>

            <div class="body">
              <div class="row clearfix">
                <div class="col-lg-6 col-md-12">
                  <h6>Account Data</h6>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" [(ngModel)]="basic_info.username" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" [(ngModel)]="basic_info.email" [ngModelOptions]="{standalone: true}" disabled="" placeholder="Email">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Phone Number" [(ngModel)]="basic_info.phone_number" [ngModelOptions]="{standalone: true}">
                  </div>

                  <div>
                    <button type="button" class="btn btn-primary" (click)="updateUsername()">Update Username</button> &nbsp;&nbsp;
                  </div>
                </div>

                <div class="col-lg-6 col-md-12 mt-sm-4">
                  <span class="text-danger"
                        *ngIf="currentUser.auth_type !== 'NO_AUTH'">Please Note: Once you change your password, you won't be able to sign in using {{currentUser.auth_type | lowercase}}, but using your email and the new password</span>
                  <form (submit)="changePassword()">
                    <h6>Change Password</h6>
                  <div class="form-group" *ngIf="currentUser.auth_type === 'NO_AUTH'">
                    <input type="password" class="form-control" placeholder="Current Password" [(ngModel)]="password.old_password" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" placeholder="New Password" minlength="10" maxlength="20" [(ngModel)]="password.new_password" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group">
                    <input type="password" class="form-control" placeholder="Confirm New Password" minlength="10" maxlength="20" [(ngModel)]="password.confirm_password" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div>
                    <button type="submit" class="btn btn-primary" [disabled]="password.new_password !== password.confirm_password">Update Password</button> &nbsp;&nbsp;
                    <button type="reset" class="btn btn-default">Cancel</button>
                  </div>
                  </form>
                </div>
              </div>

            </div>


          </div>

          <div class="tab-pane" id="billings">

            <div class="body">
              <h6>Business Information</h6>
              <form (submit)="updateBusinessInfo()"><div class="row clearfix">
                <div class="col-lg-6 col-md-12">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Company Name" [(ngModel)]="business_info.company_name" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="Company Email" [(ngModel)]="business_info.company_email" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>

                <div class="col-lg-6 col-md-12">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Company Address" [(ngModel)]="business_info.company_address" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Company Phone Number" [(ngModel)]="business_info.company_phone" [ngModelOptions]="{standalone: true}">
                  </div>
                </div>
              </div>
              <button type="submit" class="btn btn-primary">Update</button> &nbsp;&nbsp;
              <button type="reset" class="btn btn-default">Cancel</button>
              </form>
            </div>

          </div>

          <div class="tab-pane" id="preferences">

            <div class="body">
              <h6>Bank Information</h6>
             <form (submit)="updateBankInfo()"> <div class="row clearfix">
                <div class="col-lg-12 col-md-12">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Account Name" [(ngModel)]="bank_info.account_name" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Account Number"[(ngModel)]="bank_info.account_number" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group">
                    <select class="form-control" [(ngModel)]="bank_info.bank_name" [ngModelOptions]="{standalone: true}" (change)="changeBank()">
                      <option *ngFor="let bank of banks" [value]="bank.name" >{{bank.name}}</option>
                    </select>
                  </div>
                 <!-- <div class="form-group">
                    <input type="text" class="form-control" placeholder="Bank Verification Number(BVN)" [(ngModel)]="bank_info.bvn" [ngModelOptions]="{standalone: true}">
                  </div>
-->
                </div>
              </div>
              <button type="submit" class="btn btn-primary" *ngIf="!updating">Validate</button> &nbsp;&nbsp;
              <button type="button" class="btn btn-primary" *ngIf="updating"><i class="fa fa-spin fa-spinner"></i>&nbsp;Validating...</button> &nbsp;&nbsp;
              <button type="button" class="btn btn-default">Cancel</button>
             </form>
            </div>
            <div class="body">
              <h6>Next of Kin Information</h6>
           <form (submit)="updateNextOfKin()">
             <div class="row clearfix">
                <div class="col-lg-12 col-md-12">
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Full Name" [(ngModel)]="kin_info.name" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Phone Number" [(ngModel)]="kin_info.phone_number" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group">
                    <input type="email" class="form-control" placeholder="Email" [(ngModel)]="kin_info.email" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Relationship" [(ngModel)]="kin_info.relationship" [ngModelOptions]="{standalone: true}">
                  </div>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Address" [(ngModel)]="kin_info.address" [ngModelOptions]="{standalone: true}">
                  </div>

                </div>
              </div>
              <button type="submit" class="btn btn-primary">Update</button> &nbsp;&nbsp;
              <button type="reset" class="btn btn-default">Cancel</button></form>
            </div>
          </div>
          <div class="tab-pane" id="shippingAddress">

            <div class="body">
              <div class="row clearfix">
                <div class="col-sm-12 col-md-6"><h6>Addresses ({{addressBooks.length}})</h6></div>
              <div class="col-sm-12 col-md-6">
                <div class="float-md-right">
                <button class="btn btn-sm btn-info" (click)="createAddressBook()">ADD NEW ADDRESS</button></div>
              </div></div>
              <div class="row clearfix mt-4" *ngIf="addressBooks.length">
                <div class="col-md-6 col-sm-12" *ngFor="let address of addressBooks;let i = index">
                  <div class="card ">
                    <div class="card-body shipping_addresses">
                      <div class="">
                        <h6 class="mb-0">{{address?.last_name + ' ' + address?.first_name}}</h6>
                        <p class="mb-0"><b>Address :</b> {{address?.address_line}}</p>
                        <p class="mb-0"><b>Details :</b> <span *ngIf="address?.nearest_bus_stop">{{address?.nearest_bus_stop}}</span><span *ngIf="address?.city">, {{address?.city}}</span>
                          <span *ngIf="address?.state">, {{address?.state}}</span><span *ngIf="address?.country">, {{address?.country}}</span></p>
                        <p class="mb-0"><b>Mobile :</b> {{address?.phone_number}}<span *ngIf="address?.alt_phone_number"> / {{address?.alt_phone_number}}</span></p>
                        <p class="mb-0" *ngIf="address?.postal_code"><b>Postal Code :</b> {{address?.postal_code}}</p>
                        <p class="mb-0" *ngIf="address?.additional_information"><b>More Information :</b> {{address?.additional_information}}</p>
                      </div>
                    </div>
                    <div class="card-footer">
                      <a href="javascript:void(0)" *ngIf="!address?.default" (click)="setDefaultAddress(address)">
                      <span class="text-warning font-weight-bold" >SET AS DEFAULT</span></a>
                      <a href="javascript:void(0)" *ngIf="address?.default">
                      <span class="text-muted font-weight-bold" >DEFAULT ADDRESS</span></a>

                      <div class="float-lg-right" style="font-size: 20px;">
                        <span class="px-3" data-balloon="Edit Address" data-balloon-pos="up"><a href="javascript:void(0)" (click)="triggerEditAddress(address)">
                          <span class="fa fa-pencil"></span></a></span>
                      <span class="px-1" data-balloon="Delete Address" data-balloon-pos="up"><a href="javascript:void(0)" (click)="deleteAddress(address)"><span class="fa fa-trash"></span></a></span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>

          </div>

        </div>
      </div>
    </div>
  </div>








</div>








<!-- Address Book -->
<div class="modal fade" id="AddressBook" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="title" id="defaultModalLabel">{{modal.title}}</h4>
      </div>
      <form class="form-auth-small" #shippingAddressForm="ngForm" (ngSubmit)="saveUpdateShippingAddress()">

        <div class="modal-body">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label for="first_name" class="control-label">First Name</label>
                <input type="text" class="form-control"
                       #first_name="ngModel"
                       id="first_name"
                       [(ngModel)]="addressBook.first_name" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label for="last_name" class="control-label">Last Name</label>
                <input type="text" class="form-control"
                       #last_name="ngModel"
                       id="last_name"
                       [(ngModel)]="addressBook.last_name" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
          </div>
          <div class="row">
           <div class="col-md-12 col-sm-12">
             <div class="form-group">
            <label for="address_line" class="control-label">Address(*)</label>
            <textarea class="form-control"
                      #address_line="ngModel" rows="2"
                      id="address_line" required
                      [(ngModel)]="addressBook.address_line" [ngModelOptions]="{standalone: true}">
            </textarea>
              <div class="text-danger" *ngIf="address_line.errors && (address_line.dirty || address_line.touched)">
                  <span class="validation-message" [hidden]="!address_line.hasError('required')">
                    Address is required</span>
              </div>
          </div></div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label for="phone_number" class="control-label">Phone Number(*)</label>
                <input type="text" class="form-control"
                       #phone_number="ngModel"
                       id="phone_number" placeholder="Example +2349070907077"
                       [(ngModel)]="addressBook.phone_number" [ngModelOptions]="{standalone: true}" required>
                <div class="text-danger" *ngIf="phone_number.errors && (phone_number.dirty || phone_number.touched)">
                  <span class="validation-message" [hidden]="!phone_number.hasError('required')">
                    Phone Number is required</span>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label for="alt_phone_number" class="control-label">Other Phone Number</label>
                <input type="text" class="form-control" placeholder="Example +2349018120290"
                       #alt_phone_number="ngModel"
                       id="alt_phone_number"
                       [(ngModel)]="addressBook.alt_phone_number" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label for="nearest_bus_stop" class="control-label">Nearest Busstop</label>
                <input type="text" class="form-control"
                       #nearest_bus_stop="ngModel"
                       id="nearest_bus_stop"
                       [(ngModel)]="addressBook.nearest_bus_stop" [ngModelOptions]="{standalone: true}" >
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label for="city" class="control-label">City</label>
                <input type="text" class="form-control"
                       #city="ngModel"
                       id="city"
                       [(ngModel)]="addressBook.city" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label for="state" class="control-label">State</label>
                <input type="text" class="form-control"
                       #state="ngModel"
                       id="state"
                       [(ngModel)]="addressBook.state" [ngModelOptions]="{standalone: true}" >
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label for="country" class="control-label">Country</label>
                <select class="form-control" #country="ngModel"
                        id="country" [(ngModel)]="addressBook.country" [ngModelOptions]="{standalone: true}">
                  <option value="">-- Select Country --</option>
                  <option value="Afghanistan">Afghanistan</option>
                  <option value="Åland Islands">Åland Islands</option>
                  <option value="Albania">Albania</option>
                  <option value="Algeria">Algeria</option>
                  <option value="American Samoa">American Samoa</option>
                  <option value="Andorra">Andorra</option>
                  <option value="Angola">Angola</option>
                  <option value="Anguilla">Anguilla</option>
                  <option value="Antarctica">Antarctica</option>
                  <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                  <option value="Argentina">Argentina</option>
                  <option value="Armenia">Armenia</option>
                  <option value="Aruba">Aruba</option>
                  <option value="Australia">Australia</option>
                  <option value="Austria">Austria</option>
                  <option value="Azerbaijan">Azerbaijan</option>
                  <option value="Bahamas">Bahamas</option>
                  <option value="Bahrain">Bahrain</option>
                  <option value="Bangladesh">Bangladesh</option>
                  <option value="Barbados">Barbados</option>
                  <option value="BY">Belarus</option>
                  <option value="Belarus">Belgium</option>
                  <option value="Belize">Belize</option>
                  <option value="Benin">Benin</option>
                  <option value="Bermuda">Bermuda</option>
                  <option value="Bhutan">Bhutan</option>
                  <option value="Bolivia, Plurinational State of">Bolivia, Plurinational State of</option>
                  <option value="Bonaire, Sint Eustatius and Saba">Bonaire, Sint Eustatius and Saba</option>
                  <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                  <option value="Botswana">Botswana</option>
                  <option value="Bouvet Island">Bouvet Island</option>
                  <option value="Brazil">Brazil</option>
                  <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
                  <option value="Brunei Darussalam">Brunei Darussalam</option>
                  <option value="Bulgaria">Bulgaria</option>
                  <option value="Burkina Faso">Burkina Faso</option>
                  <option value="Burundi">Burundi</option>
                  <option value="Cambodia">Cambodia</option>
                  <option value="Cameroon">Cameroon</option>
                  <option value="Canada">Canada</option>
                  <option value="Cape Verde">Cape Verde</option>
                  <option value="Cayman Islands">Cayman Islands</option>
                  <option value="Central African Republic">Central African Republic</option>
                  <option value="Chad">Chad</option>
                  <option value="Chile">Chile</option>
                  <option value="China">China</option>
                  <option value="Christmas Island">Christmas Island</option>
                  <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
                  <option value="Colombia">Colombia</option>
                  <option value="Comoros">Comoros</option>
                  <option value="Congo">Congo</option>
                  <option value="Congo, the Democratic Republic of the">Congo, the Democratic Republic of the</option>
                  <option value="Cook Islands">Cook Islands</option>
                  <option value="Costa Rica">Costa Rica</option>
                  <option value="Côte d'Ivoire">Côte d'Ivoire</option>
                  <option value="Croatia">Croatia</option>
                  <option value="Cuba">Cuba</option>
                  <option value="Curaçao">Curaçao</option>
                  <option value="Cyprus">Cyprus</option>
                  <option value="Czech Republic">Czech Republic</option>
                  <option value="Denmark">Denmark</option>
                  <option value="Djibouti">Djibouti</option>
                  <option value="Dominica">Dominica</option>
                  <option value="Dominican Republic">Dominican Republic</option>
                  <option value="Ecuador">Ecuador</option>
                  <option value="Egypt">Egypt</option>
                  <option value="El Salvador">El Salvador</option>
                  <option value="Equatorial Guinea">Equatorial Guinea</option>
                  <option value="Eritrea">Eritrea</option>
                  <option value="Estonia">Estonia</option>
                  <option value="Ethiopia">Ethiopia</option>
                  <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
                  <option value="Faroe Islands">Faroe Islands</option>
                  <option value="Fiji">Fiji</option>
                  <option value="Finland">Finland</option>
                  <option value="France">France</option>
                  <option value="French Guiana">French Guiana</option>
                  <option value="French Polynesia">French Polynesia</option>
                  <option value="French Southern Territories">French Southern Territories</option>
                  <option value="Gabon">Gabon</option>
                  <option value="Gambia">Gambia</option>
                  <option value="Georgia">Georgia</option>
                  <option value="Germany">Germany</option>
                  <option value="Ghana">Ghana</option>
                  <option value="Gibraltar">Gibraltar</option>
                  <option value="Greece">Greece</option>
                  <option value="Greenland">Greenland</option>
                  <option value="Grenada">Grenada</option>
                  <option value="Guadeloupe">Guadeloupe</option>
                  <option value="Guam">Guam</option>
                  <option value="Guatemala">Guatemala</option>
                  <option value="Guernsey">Guernsey</option>
                  <option value="Guinea">Guinea</option>
                  <option value="Guinea-Bissau">Guinea-Bissau</option>
                  <option value="Guyana">Guyana</option>
                  <option value="Haiti">Haiti</option>
                  <option value="Heard Island and McDonald Islands">Heard Island and McDonald Islands</option>
                  <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
                  <option value="Honduras">Honduras</option>
                  <option value="Hong Kong">Hong Kong</option>
                  <option value="Hungary">Hungary</option>
                  <option value="Iceland">Iceland</option>
                  <option value="India">India</option>
                  <option value="Indonesia">Indonesia</option>
                  <option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
                  <option value="Iraq">Iraq</option>
                  <option value="Ireland">Ireland</option>
                  <option value="Isle of Man">Isle of Man</option>
                  <option value="Israel">Israel</option>
                  <option value="Italy">Italy</option>
                  <option value="Jamaica">Jamaica</option>
                  <option value="Japan">Japan</option>
                  <option value="Jersey">Jersey</option>
                  <option value="Jordan">Jordan</option>
                  <option value="Kazakhstan">Kazakhstan</option>
                  <option value="Kenya">Kenya</option>
                  <option value="Kiribati">Kiribati</option>
                  <option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
                  <option value="Korea, Republic of">Korea, Republic of</option>
                  <option value="Kuwait">Kuwait</option>
                  <option value="Kyrgyzstan">Kyrgyzstan</option>
                  <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
                  <option value="Latvia">Latvia</option>
                  <option value="Lebanon">Lebanon</option>
                  <option value="Lesotho">Lesotho</option>
                  <option value="Liberia">Liberia</option>
                  <option value="Libya">Libya</option>
                  <option value="Liechtenstein">Liechtenstein</option>
                  <option value="Lithuania">Lithuania</option>
                  <option value="Luxembourg">Luxembourg</option>
                  <option value="Macao">Macao</option>
                  <option value="Macedonia, the former Yugoslav Republic of">Macedonia, the former Yugoslav Republic of</option>
                  <option value="Madagascar">Madagascar</option>
                  <option value="Malawi">Malawi</option>
                  <option value="Malaysia">Malaysia</option>
                  <option value="Maldives">Maldives</option>
                  <option value="Mali">Mali</option>
                  <option value="Malta">Malta</option>
                  <option value="Marshall Islands">Marshall Islands</option>
                  <option value="Martinique">Martinique</option>
                  <option value="Mauritania">Mauritania</option>
                  <option value="Mauritius">Mauritius</option>
                  <option value="Mayotte">Mayotte</option>
                  <option value="Mexico">Mexico</option>
                  <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
                  <option value="Moldova, Republic of">Moldova, Republic of</option>
                  <option value="Monaco">Monaco</option>
                  <option value="Mongolia">Mongolia</option>
                  <option value="Montenegro">Montenegro</option>
                  <option value="Montserrat">Montserrat</option>
                  <option value="Morocco">Morocco</option>
                  <option value="Mozambique">Mozambique</option>
                  <option value="Myanmar">Myanmar</option>
                  <option value="Namibia">Namibia</option>
                  <option value="Nauru">Nauru</option>
                  <option value="Nepal">Nepal</option>
                  <option value="Netherlands">Netherlands</option>
                  <option value="New Caledonia">New Caledonia</option>
                  <option value="New Zealand">New Zealand</option>
                  <option value="Nicaragua">Nicaragua</option>
                  <option value="Niger">Niger</option>
                  <option value="Nigeria">Nigeria</option>
                  <option value="Niue">Niue</option>
                  <option value="Norfolk Island">Norfolk Island</option>
                  <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                  <option value="Norway">Norway</option>
                  <option value="Oman">Oman</option>
                  <option value="Pakistan">Pakistan</option>
                  <option value="Palau">Palau</option>
                  <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
                  <option value="Panama">Panama</option>
                  <option value="Papua New Guinea">Papua New Guinea</option>
                  <option value="Paraguay">Paraguay</option>
                  <option value="Peru">Peru</option>
                  <option value="Philippines">Philippines</option>
                  <option value="Pitcairn">Pitcairn</option>
                  <option value="Poland">Poland</option>
                  <option value="Portugal">Portugal</option>
                  <option value="Puerto Rico">Puerto Rico</option>
                  <option value="Qatar">Qatar</option>
                  <option value="Réunion">Réunion</option>
                  <option value="Romania">Romania</option>
                  <option value="Russian Federation">Russian Federation</option>
                  <option value="Rwanda">Rwanda</option>
                  <option value="Saint Barthélemy">Saint Barthélemy</option>
                  <option value="Saint Helena, Ascension and Tristan da Cunha">Saint Helena, Ascension and Tristan da Cunha</option>
                  <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                  <option value="Saint Lucia">Saint Lucia</option>
                  <option value="Saint Martin (French part)">Saint Martin (French part)</option>
                  <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
                  <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
                  <option value="Samoa">Samoa</option>
                  <option value="San Marino">San Marino</option>
                  <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                  <option value="Saudi Arabia">Saudi Arabia</option>
                  <option value="Senegal">Senegal</option>
                  <option value="Serbia">Serbia</option>
                  <option value="Seychelles">Seychelles</option>
                  <option value="Sierra Leone">Sierra Leone</option>
                  <option value="Singapore">Singapore</option>
                  <option value="Sint Maarten (Dutch part)">Sint Maarten (Dutch part)</option>
                  <option value="Slovakia">Slovakia</option>
                  <option value="Slovenia">Slovenia</option>
                  <option value="Solomon Islands">Solomon Islands</option>
                  <option value="Somalia">Somalia</option>
                  <option value="South Africa">South Africa</option>
                  <option value="South Georgia and the South Sandwich Islands">South Georgia and the South Sandwich Islands</option>
                  <option value="South Sudan">South Sudan</option>
                  <option value="Spain">Spain</option>
                  <option value="Sri Lanka">Sri Lanka</option>
                  <option value="Sudan">Sudan</option>
                  <option value="Suriname">Suriname</option>
                  <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
                  <option value="Swaziland">Swaziland</option>
                  <option value="Sweden">Sweden</option>
                  <option value="Switzerland">Switzerland</option>
                  <option value="Syrian Arab Republic">Syrian Arab Republic</option>
                  <option value="Taiwan, Province of China">Taiwan, Province of China</option>
                  <option value="Tajikistan">Tajikistan</option>
                  <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
                  <option value="Thailand">Thailand</option>
                  <option value="Timor-Leste">Timor-Leste</option>
                  <option value="Togo">Togo</option>
                  <option value="Tokelau">Tokelau</option>
                  <option value="Tonga">Tonga</option>
                  <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                  <option value="Tunisia">Tunisia</option>
                  <option value="Turkey">Turkey</option>
                  <option value="Turkmenistan">Turkmenistan</option>
                  <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
                  <option value="Tuvalu">Tuvalu</option>
                  <option value="Uganda">Uganda</option>
                  <option value="Ukraine">Ukraine</option>
                  <option value="United Arab Emirates">United Arab Emirates</option>
                  <option value="United Kingdom">United Kingdom</option>
                  <option value="United States">United States</option>
                  <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
                  <option value="Uruguay">Uruguay</option>
                  <option value="Uzbekistan">Uzbekistan</option>
                  <option value="Vanuatu">Vanuatu</option>
                  <option value="Venezuela, Bolivarian Republic of">Venezuela, Bolivarian Republic of</option>
                  <option value="Viet Nam">Viet Nam</option>
                  <option value="Virgin Islands, British">Virgin Islands, British</option>
                  <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
                  <option value="Wallis and Futuna">Wallis and Futuna</option>
                  <option value="Western Sahara">Western Sahara</option>
                  <option value="Yemen">Yemen</option>
                  <option value="Zambia">Zambia</option>
                  <option value="Zimbabwe">Zimbabwe</option>
                </select>



              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label for="postal_code" class="control-label">Postal Code</label>
                <input type="text" class="form-control"
                       #postal_code="ngModel"
                       id="postal_code"
                       [(ngModel)]="addressBook.postal_code" [ngModelOptions]="{standalone: true}" >
              </div>
            </div>
            <div class="col-md-6 col-sm-12">
              <div class="form-group">
                <label for="additional_information" class="control-label">Additional Information</label>
                <input type="text" class="form-control"
                       #additional_information="ngModel"
                       id="additional_information"
                       [(ngModel)]="addressBook.additional_information" [ngModelOptions]="{standalone: true}">
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="submit" *ngIf="!loaders.saving" [disabled]="address_line.errors || phone_number.errors" class="btn btn-primary">{{modal.btnTxt}}</button>
          <span *ngIf="loaders.saving" class="btn btn-primary">Loading&nbsp;<i class="fa fa-spin fa-spinner"></i></span>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>



