<div class="container-fluid">
  <app-breadcrumb [dataInput]="breadCrumb"></app-breadcrumb>













  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card">
        <div class="header font-weight-bold">

          <div class="row">
            <div class="col-sm-3">Sponsorship History</div>
            <div  class="col-sm-3">
              <ng-select [items]="allStatus" class="ng-select-form"
                         [notFoundText]="'No data available'"
                         [placeholder]="'Filter by Status'" (change)="filterOrdersByStatus($event)"
                         bindLabel="name"
                         bindValue="value"
                         [multiple]="false">

              </ng-select>
            </div>

            <div class="col-sm-3">
              <ng-select [items]="allYears" class="ng-select-form"
                         [notFoundText]="'No data available'"
                         [placeholder]="'Select year'"
                         bindLabel="name" [(ngModel)]="year" [ngModelOptions]="{standalone: true}"
                         bindValue="value"
                         [multiple]="false">

              </ng-select>
            </div>
            <div class="col-sm-3" *ngIf="year">
              <ng-select [items]="allMonths" class="ng-select-form"
                         [notFoundText]="'No data available'"
                         [placeholder]="'Filter by month'" (change)="filterSponsorByMonth($event)"
                         bindLabel="name"
                         bindValue="value"
                         [multiple]="false">

              </ng-select>
            </div>
          </div>
        </div>
        <div class="body mt-2">

          <div class="text-center mt-1 mb-3" *ngIf="loadingData">
            <span class="fa fa-spin fa-spinner fa-2x"></span>&nbsp;
            <br>
            <span> Loading, Please wait...</span>
          </div>
          <div class="table-responsive" *ngIf="showData">
            <table id="all--history" class="table table-bordered table-hover table-striped dataTable" cellspacing="0" width="100%">
              <thead>
              <tr >
                <th class="no-sort"></th>
                <th>S/N</th>
                <th>Customer Name</th>
                <th>Customer Phone</th>
                <th>Farm Name</th>
                <th>End of Cycle Date</th>
                <th>Amount Returned</th>
                <th>Amount Invested</th>
                <th>Start of Cycle Date</th>
                <th>Farm ROI</th>
                <th>Customer Email</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
              </thead>
              <tfoot>
              <tr >
                <th class="no-sort"></th>
                <th>S/N</th>
                <th>Customer Name</th>
                <th>Customer Phone</th>
                <th>Farm Name</th>
                <th>End of Cycle Date</th>
                <th>Amount Returned</th>
                <th>Amount Invested</th>
                <th>Start of Cycle Date</th>
                <th>Farm ROI</th>
                <th>Customer Email</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
              </tfoot>
              <tbody>

              <tr *ngFor="let history of farmHistory;let i = index;">
                <td class="details-control" [id]="'td--' + i"></td>
                <td>{{i + 1}}</td>
                <td>{{ history?.userId?.full_name }}</td>
                <td>{{ history?.userId?.phone_number }}</td>
                <td>
                  <ng-container *ngIf="history?.advanceType === 'advance'">
                    <p class="px-0 d-inline font-weight-bold">{{ history?.orderId?.farm_name }}</p>
                    <p  class="m-0 px-0 text-info"><a href="javascript:void(0)" (click)="viewROI(history)" style="font-size: 9px;">View Due Date</a></p>
                  </ng-container>
                  <ng-container *ngIf="history?.advanceType !== 'advance' && !processing">
                    {{ history?.orderId?.farm_name }}
                  </ng-container>
                </td>
                <td>{{history?.expected_end_date | date}}</td>
                <td>{{history?.expected_return | currency: history?.orderId.currency || 'NGN' + ' '}}</td>
                <td>{{history?.orderId?.total_price | currency: history?.orderId.currency || 'NGN' + ' '}}</td>
                <td>{{history?.start_date | date }}</td>
                <td>{{ history?.orderId?.roi }}% in {{history?.orderId?.duration}} {{history?.orderId?.duration_type}}S</td>
                <td>{{ history?.userId?.email }}</td>
                <td><span class="badge badge-info">{{history?.status}}</span></td>
                <td>
                  <div>
                    Status: <span class="badge badge-info">{{history?.status}}</span>
                    <ng-container *ngIf="history?.advanceType !== 'advance' && !processing">
                     <button class="btn btn-sm btn-success" (click)="markCompleted(history, i)" *ngIf="history.status.toUpperCase() === 'STARTED'">Mark Completed</button>
                    </ng-container>
                    <span class="btn btn-sm btn-success d-none processing-" [id]="'processing-' + i"><i class="fa fa-spin fa-spinner"></i>&nbsp;&nbsp;Processing...</span>
                    <ng-container *ngIf="history?.advanceType === 'advance' && !processing">
                     <button class="btn btn-sm btn-success" (click)="viewROI(history)" >Mark Completed</button>
                  </ng-container>
                  </div>
                </td>
              </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>

  </div>








</div>




<!-- foodTrading -->
<div class="modal fade" id="foodTrading" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document" *ngIf="roiData.length">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="title">ROI List For Food Trading</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="closeTradingModal()">×</button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table center-aligned-table">
            <thead>
            <tr>
              <th>S/N</th>
              <th>Amount Due</th>
              <th>Status</th>
              <th>Due Date</th>
              <th>Action</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let roi of roiData; let i = index">
              <td>ROI {{i + 1}}</td>
              <td>{{roi?.roi || 0 | currency: 'NGN '}}</td>
              <td><label class="badge">{{roi?.status}}</label></td>
              <td>{{roi?.out_date | date}}</td>
              <td><button class="btn btn-sm btn-success" (click)="markCompleted(activeSponsor, null, i, 'advance');" *ngIf="roi.status.toUpperCase() === 'STARTED'">Mark Completed</button></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="closeTradingModal()">Close</button>
      </div>

    </div>
  </div>
</div>


