.contact-us-add {
  font-family: Nunito Sans;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  text-align: center;

  color: #3A3F5C;
}

.contact-us-value {
  font-weight: bold;
  font-size: 11px;
  line-height: 22px;
  text-align: center;
  color: #3A3F5C;
}
