
<div class="landing-page-content">
  <header id="contact-hero">
    <app-l-header [active]="'others'"></app-l-header>
   <!-- <div class="mapouter">
      <div class="gmap_canvas"><iframe width="100%" height="500" id="gmap_canvas" src="https://maps.google.com/maps?q=99%2C%20Adekunle%20Fajuyi%20Road%2C%20sapon%20abeokuta&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.emojilib.com"></a></div>
      <style>.mapouter{position:relative;text-align:right;height:500px;width:100%;}.gmap_canvas {overflow:hidden;background:none!important;height:500px;width:100%;}</style></div>-->

    <iframe src="https://www.google.com/maps/embed?pb=!1m17!1m8!1m3!1d3913.262211943026!2d3.3384487995924914!3d7.156932925747263!3m2!1i1024!2i768!4f13.1!4m6!3e6!4m0!4m3!3m2!1d7.1569385!2d3.3383996!5e0!3m2!1sen!2sus!4v1586790088377!5m2!1sen!2sus" width="100%" height="500" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>

  </header> <!-- END header-->
  <section class="mb-3">

    <div class="container">
      <div class="px-sm-0 px-md-5 px-lg-5 my-3 py-3">
        <div class="">
          <div class="p-10">
            <div class="row">
              <div class="offset-2 col-md-10 col-sm-12">
                <div class="row">
                  <div class="col-md-4 col-sm-12">
                    <div class="container">
                     <div class="text-center">
                       <img src="assets/img/icons/marker.png"></div>
                    <hr style="width: 60px; height: 3px; background-color: #51BE50">
                    <div class="text-center contact-us-addr">Address</div>
                    <div class="text-center contact-us-value">99, Adekunle Fajuyi Road, Sapon, <br>Abeokuta</div></div>
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <div class="container">
                     <div class="text-center">
                       <img src="assets/img/icons/phone_email.png"></div>
                    <hr style="width: 60px; height: 3px; background-color: #51BE50">
                    <div class="text-center contact-us-addr">Phone / Email</div>
                    <div class="text-center contact-us-value">Phone: +2349018120290<br>
                    Email: info@letsfarm.co</div></div>
                  </div>
                  <div class="col-md-4 col-sm-12">
                    <div class="container">
                     <div class="text-center">
                       <img src="assets/img/icons/working_hour.png"></div>
                    <hr style="width: 60px; height: 3px; background-color: #51BE50">
                    <div class="text-center contact-us-addr">Working Hour</div>
                    <div class="text-center contact-us-value">
                      Week Days: 8:00 AM – 5:00 PM<br>
                      Weekends: Closed
                    </div></div>
                  </div>
                </div>

              </div>
            </div>



          </div>
        </div>
      </div>
      <div class="mt-2">
        <div><h2 class="font-weight-bold" style="font-size: 29px;">Leave a Message</h2></div>
        <div class="col-sm-12 col-md-6">
          <form id="basic-form" method="post" novalidate="">
            <div class="form-group">
              <label>Name</label>
              <input type="text" class="form-control" required="">
            </div>
            <div class="form-group">
              <label>Email</label>
              <input type="email" class="form-control" required="">
            </div>
            <div class="form-group">
              <label>Message</label>
              <textarea class="form-control" rows="5" cols="30" required=""></textarea>
            </div>
            <br>
            <div class="text-center"><button type="submit" class="btn btn-success btn-farm-green px-3">Send</button></div>
          </form>
        </div>
      </div>
    </div>
  </section>







  <app-l-footer></app-l-footer>
</div>
