<div class="container-fluid">
  <app-breadcrumb [dataInput]="breadCrumb"></app-breadcrumb>





<div class="row clearfix" >

  <div class="col-sm-6">
    <div class="input-group mb-3">
      <input type="text" class="form-control linkToCopy" readonly disabled placeholder="Referral Link" id="myInput" [value]="url + currentUser.referral_code">
      <div class="input-group-append">
        <button class="btn btn-outline-secondary copyButton" type="button" id="copyButton" (click)="copyMessage(url + currentUser.referral_code)" >Copy Referral Link</button>
      </div>
    </div>
  </div>
  <div class="col-sm-6" >
    <div class="float-right" *ngIf="!loaders.loading && referrals.length">
      <button class="btn btn-success btn-sm" (click)="openReferFriend('referFriend')"><i class="fa fa-plus"></i>&nbsp;&nbsp;Refer a Friend</button>
    </div>
  </div>
</div>

  <div class="row clearfix mt-2" *ngIf="!loaders.loading && !referrals.length">
    <div class="card">
      <div class="body py-5">
        <div class="text-center mt--3" >
          <div>
            <img src="assets/img/farm/no-record-img.png" style="width: 30%">
          </div>
          <div>Refer a friend and earn 2% from their first farm sponsor if they sponsor up to {{50000 | currency: '&#8358;'}}</div>
          <div class="mt-2">
            <button class="btn btn-sm btn-success" (click)="openReferFriend('referFriend')">Refer a Friend</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row clearfix mt-2">


    <div class="col-lg-6 col-md-6" *ngFor="let referral of referrals">
      <div class="card top_counter">
        <div class="body">
          <div class="position-absolute" style="top: 2%; right: 2%">
            <button [disabled]="!referral?.is_cycle_completed" class="btn btn-sm btn-success" (click)="handleCashout()">Cash-Out</button>
          </div>
          <div class="icon text-info"><i class="fa fa-user"></i> </div>
          <div class="content">
            <div class="text">{{referral?.referree_email}}</div>
            <h6 class="number">Registration Status: {{ referral?.has_joined ? 'Joined': 'Invited'}}</h6>
          </div>
          <hr>
          <div class="icon text-warning">
            <i class="fa fa-pie-chart"></i> </div>
          <div class="content" *ngIf="referral?.has_sponsor">

            <div class="text">First Sponsor Amount: {{referral?.amount_sponsor || 0 | currency: referral?.currency + ' '}}</div>
            <h6 class="text">Expected Bonus: {{referral?.percentage}}%: {{referral?.expected_bonus || 0 | currency: referral?.currency + ' '}}</h6>
          </div>
          <div class="content" *ngIf="!referral?.has_sponsor">
            <h6 class="text pt-3">Pending: Awaiting Sponsor</h6>
          </div>
        </div>
      </div>
    </div>


  </div>






</div>







<!-- Refer friend Modal -->
<div class="modal fade" id="referFriend" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content"  style="border: 2px solid #CFFFC1">
      <div class="modal-header" style="border: none!important;">
        <h4 class="title" id="defaultModalLabel" style="font-size: 16px;">Refer a Friend</h4>
        <button type="button" class="close" data-dismiss="modal" style="margin-top: -10%;">&times;</button>

      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="email" class="control-label">Enter Friend Email</label>
          <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text"><i class="fa fa-envelope"></i></span>
            </div>
            <input type="email" id="email" [(ngModel)]="refer.email" [ngModelOptions]="{standalone: true}" class="form-control" placeholder="Email Adress" >
          </div>
        </div>
        <div style="line-height: normal;font-size: 11px;">
          <p>We'll send a mail to your friend containing a link to sign up.</p>
          <p>Once they sign up and sponsor a farm, you'll earn 2% of that sponsor if they sponsor up to NGN 50,000.</p>
        </div>

      </div>
      <div class="modal-footer" style="border: none!important;justify-content: center!important;">
        <div>
          <button type="button" class="btn btn-primary" (click)="proceedToRefer()" [disabled]="!refer.email" *ngIf="!loaders.sending">Send</button>
          <button type="button" class="btn btn-primary" *ngIf="loaders.sending"><i class="fa fa-spin fa-spinner"></i>&nbsp;Sending...</button>
        </div>
      </div>

    </div>
  </div>
</div>


<!--

&lt;!&ndash; Referral Link Modal &ndash;&gt;
<div class="modal fade" id="referralLink" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content"  style="border: 2px solid #CFFFC1">
      <div class="modal-header" style="border: none!important;">
        <h4 class="title" style="font-size: 16px;">Share your referral</h4>
        <button type="button" class="close" data-dismiss="modal" style="margin-top: -10%;">&times;</button>

      </div>
      <div class="modal-body">
        <div style="line-height: normal;font-size: 13px;">

          <p>
            I got 2% bonus when my referee sign up and sponsored a farm using my referral code <b>{{ currentUser.referral_code }}</b>.

            You also can download the app and signup to Letsfarm so you can also refer your friends too.

            If you refer friends and they sign up to sponsor farm you'll also get 2% of the amount sponsored.
            Download the Letsfarm app here:
            Android - https://play.google.com/store/apps/details?id=com.ng.letsfarm.

          </p>

        </div>

      </div>
      <div class="modal-footer" style="border: none!important;justify-content: center!important;">
        <div>
          <button type="button" class="btn btn-primary">Copy Link</button>
        </div>
      </div>

    </div>
  </div>
</div>

-->

