<div class="container-fluid">
  <app-breadcrumb [dataInput]="breadCrumb"></app-breadcrumb>


  <div class="row clearfix profilepage_1" style="" id="edit_section" *ngIf="editorDiv">
    <div class="col-lg-12">
      <div class="card animated bounceInUp">

        <form  #shopForm="ngForm" (ngSubmit)="saveEducation()">

          <div class="body">
            <h6 class="mb-3">{{modal.title}}
              <span class="text-danger close font-weight-bold" (click)="closeEditor()">&times;</span>
            </h6>
            <div class="row clearfix">
              <div class="col-lg-6 col-md-12">
                <div class="form-group">
                  <label for="title" class="control-label">Title</label>
                  <input type="text" class="form-control" placeholder="Post Title"
                         #title="ngModel"
                         id="title"
                         [(ngModel)]="newEducation.title" [ngModelOptions]="{standalone: true}" required>
                  <div class="text-danger" *ngIf="title.errors && (title.dirty || title.touched)">
                  <span class="validation-message" [hidden]="!title.hasError('required')">
                    Post title is required</span>
                  </div>

                </div>
                <div class="form-group">
                  <label for="video_link" class="control-label">Video Link</label>
                  <input type="url" class="form-control" placeholder="Video Link: Youtube, vimeo"
                         #video_link="ngModel"
                         id="video_link"
                         [(ngModel)]="newEducation.video_link" [ngModelOptions]="{standalone: true}">
                  <div class="text-danger" *ngIf="video_link.errors && (video_link.dirty || video_link.touched)">
                    <span class="validation-message" [hidden]="!video_link.hasError('required')">
                    Video link is required</span>
                  </div>
                </div>



              </div>
              <div class="col-lg-6 col-md-12">

                <div class="form-group">
                  <label for="author" class="control-label">Post Author</label>
                  <input type="text" class="form-control" placeholder="Post Author"
                         #author="ngModel"
                         id="author"
                         [(ngModel)]="newEducation.author" [ngModelOptions]="{standalone: true}" required>
                  <div class="text-danger" *ngIf="author.errors && (author.dirty || author.touched)">
                  <span class="validation-message" [hidden]="!author.hasError('required')">
                    Post Author is required</span>
                  </div>

                </div>

                <div class="form-group">
                  <label for="selectTypes" class="control-label">Select Category</label>
                  <ng-select [items]="allTypes" class="ng-select-form" #selectTypes="ngModel" required id="selectTypes"
                             [notFoundText]="'No data available'"
                             [placeholder]="'Select Category'"
                             bindLabel="name"
                             bindValue="_id"
                             [multiple]="false"
                             [(ngModel)]="newEducation.edu_category" [ngModelOptions]="{standalone: true}" >

                  </ng-select>
                  <div class="text-danger" *ngIf="selectTypes.errors && (selectTypes.dirty || selectTypes.touched)">
                  <span class="validation-message" [hidden]="!selectTypes.hasError('required')">
                    Education Category is required</span>
                  </div>
                </div>

              </div>
            </div>

          </div>


          <div class="body">
            <h6>Post Body</h6>
           <!-- <app-ngx-editor [placeholder]="'Post Body...'" [height]="'500px'" [spellcheck]="true"
                            [(ngModel)]="newEducation.message_body" [ngModelOptions]="{standalone: true}"></app-ngx-editor>
         -->
            <editor apiKey="a80c3qdo2khjvxz66zu0u4munv2w4zrd5v1b2l3bkkr4fe87"
               id="educationEditor"
              [init]="initEditor" [(ngModel)]="newEducation.message_body" [ngModelOptions]="{standalone: true}"
               initialValue="<p>Post Body...</p>"></editor>
          </div>

          <div class="body">
            <h6>Cover Image</h6>
            <div class="text-center">
              <div>

                <div class="" *ngIf="!newEducation.img_link && !loaders.loadingImg">
                  <app-croppie [croppieData] = "{id: 'displayImage', data: newEducation, key: 'img_link', config: {vheight: 350, vwidth: 390, fheight: 500, fwidth: auto, enableResize: false}}" (updateUI)="getUploadEvent($event);"  (showLoad)="startLoading($event)"></app-croppie>
                </div>
                <div *ngIf="!newEducation.img_link && loaders.loadingImg">
                  <!---->
                  <span class="fa fa-spin fa-spinner"></span>&nbsp;Saving...
                </div>


                <div class="media-left" *ngIf="newEducation.img_link">
                  <!--newEducation.display_img-->
                  <img [src]="newEducation.img_link"
                       style=""
                       class="user-photo media-object" alt="Education Display Image">

                  <div class="media-body">
                    <p>Upload Image.
                      <br> <em>Image should be at least 450px x 450px</em></p>
                    <button type="button" class="btn btn-default-dark" id="btn-upload-photo" (click)="removeImageAndRestorePicker('img_link', null)">Change Photo</button>
                    <input type="file" id="filePhoto" class="sr-only" (click)="removeImageAndRestorePicker('img_link', null)">
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="body text-center pt-5">
            <div>
              <button type="submit" class="btn btn-primary px-5"
                      *ngIf="!loaders.saving" [disabled]="title.errors || !newEducation.img_link">
                {{modal.btnText}}</button>
              <span *ngIf="loaders.saving" class="btn btn-primary px-5">Loading&nbsp;<i class="fa fa-spin fa-spinner"></i></span>
              &nbsp;&nbsp;
              <button type="reset" class="btn btn-default px-5" (click)="closeEditor()">Cancel</button>
            </div>
          </div></form>


      </div>
    </div>
  </div>



  <div class="row clearfix" id="main-table">
    <div class="col-lg-12">
      <div class="card">
        <div class="header">
          <div class="float-right" *ngIf="!editorDiv">
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="openDialog()">
              <i class="fa fa-plus"></i> &nbsp;<span>New Post</span></button>
          </div>
        </div>
        <div class="body mt-2">
          <div class="text-center mt-1 mb-3" *ngIf="loadingData"><span class="fa fa-spin fa-spinner fa-2x"></span>&nbsp; Loading, Please wait...</div>
          <div class="table-responsive" *ngIf="showData">
            <table id="all-educations" class="table table-bordered table-hover table-striped dataTable" cellspacing="0" width="100%">
              <thead>
              <tr >
                <th class="no-sort">#</th>
                <th>Title</th>
                <th>Image</th>
                <th>Video</th>
                <th>Author</th>
                <th>Likes</th>
                <th>Dislikes</th>
                <th>Comments Count</th>
                <!--<th>Content</th>-->

                <th>Action</th>

              </tr>
              </thead>
              <tfoot>
              <tr >
                <th class="no-sort">#</th>
                <th>Title</th>
                <th>Image</th>
                <th>Video</th>
                <th>Author</th>
                <th>Likes</th>
                <th>Dislikes</th>
                <th>Comments Count</th>
                <!--<th>Content</th>-->

                <th>Action</th>
              </tr>
              </tfoot>
              <tbody>

              <tr *ngFor="let education of educations;let i = index;">
                <td class="details-control" [id]="'td-' + i">{{ i + 1 }}</td>
                <!--<td>{{ i + 1 }}</td>-->
                <td>&nbsp;
                  <div class="body-div">{{ education?.title }}</div>
                </td>
                <td>
                  <img [src]="education?.img_link" width="80">
                </td>
                <td>
                 <a *ngIf="education?.video_link" [href]="education?.video_link" target="_blank">Watch Video</a>
                </td>
                <td>
                  {{education?.author}}
                </td>
                <td>
                  {{education?.total_likes}}
                </td>
                <td>
                  {{education?.total_dislikes}}
                </td>
                <td>
                  {{education?.comments_count}}
                </td>
                <!--<td>
                  <textarea >{{education?.message_body}}</textarea>
                </td>-->
                <td>
                  <button  class="btn btn-sm btn-info" *ngIf="!education?.publish" (click)="triggerPublish(education, true)">Publish</button>&nbsp;
                  <button  class="btn btn-sm btn-secondary" *ngIf="education?.publish"  (click)="triggerPublish(education, false)">Unpublish</button>&nbsp;
                  <button  class="btn btn-sm btn-primary" (click)="triggerEdit(education)">Edit</button>&nbsp;&nbsp;
                  <button  class="btn btn-sm btn-danger" (click)="deleteEducation(education)">Delete</button>
                </td>
              </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>


    <div class="col-lg-12">
      <div class="text-center mt-1 mb-3" *ngIf="loaders.loading"><span class="fa fa-spin fa-spinner fa-2x"></span>&nbsp; Loading, Please wait...</div>

      <div class="card" *ngIf="!loaders.loading">
        <div class="header">
          <h4>Education Category</h4>
          <div class="float-right">
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="createCategory()">
              <i class="fa fa-plus"></i> &nbsp;<span>New Category</span></button>
          </div>
        </div>
        <div class="body mt-2">
          <div class="table-responsive">
            <table id="educations-categories" class="table table-bordered table-hover table-striped dataTable" cellspacing="0" width="100%">
              <thead>
              <tr >
                <th>#</th>
                <th>Name</th>
                <th>Action</th>

              </tr>
              </thead>
              <tfoot>
              <tr >
                <th>#</th>
                <th>Title</th>
                <th>Action</th>
              </tr>
              </tfoot>
              <tbody>

              <tr *ngFor="let category of allTypes;let j = index;">
                <td>{{ j + 1 }}</td>
                <td>&nbsp;
                  {{ category?.name }}
                </td>
                <td class="text-center">
                  <button  class="btn btn-sm btn-primary" (click)="editCategory(category)">Edit</button>&nbsp;&nbsp;
                  <button  class="btn btn-sm btn-danger" (click)="deleteCategory(category)">Delete</button>&nbsp;&nbsp;
                </td>
              </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>



  </div>



</div>





<!-- Create Type Modal -->
<div class="modal fade" id="typeModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="title" id="defaultModalLabel">{{catModal.title}}</h4>
      </div>
      <form class="" #typeForm="ngForm" (ngSubmit)="saveType()">

        <div class="modal-body">
          <div class="form-group">
            <label for="type_name" class="control-label">Category Name</label>
            <input type="text" class="form-control" placeholder="Category Name"
                   #name="ngModel"
                   id="type_name"
                   [(ngModel)]="newType.name" [ngModelOptions]="{standalone: true}" required>
            <div class="text-danger" *ngIf="name.errors && (name.dirty || name.touched)">
                  <span class="validation-message" [hidden]="!name.hasError('required')">
                    Category name is required</span>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" *ngIf="!loaders.saving" [disabled]="name.errors" class="btn btn-primary">{{catModal.btnText}}</button>
          <span *ngIf="loaders.saving" class="btn btn-primary">Loading&nbsp;<i class="fa fa-spin fa-spinner"></i></span>
          <button type="button" class="btn btn-danger" data-dismiss="modal">CLOSE</button>
        </div>
      </form>
    </div>
  </div>
</div>
