<div class="container-fluid">
  <app-breadcrumb [dataInput]="breadCrumb"></app-breadcrumb>








  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card">
        <div class="header">
          <h4>List Transactions</h4>
        </div>
        <div class="body mt-2">
          <div class="text-center mt-1 mb-3" *ngIf="loadingData">
            <span class="fa fa-spin fa-spinner fa-2x"></span>&nbsp;
            <br>
            <span>Loading, Please wait...</span>
          </div>
          <div class="table-responsive" *ngIf="showData">
            <table id="transaction-list" class="table table-bordered table-hover table-striped dataTable" cellspacing="0" width="100%">

              <thead>
              <tr >
                <th class="no-sort"></th>
                <th>S/N</th>
                <th>Initiator</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Narration</th>
                <th>Payment Channel</th>
                <th>Order Ref.</th>
                <th>Payment Ref.</th>
                <th>Transaction Date</th>
                <th>Action</th>

              </tr>
              </thead>
              <tfoot>
              <tr >
                <th class="no-sort"></th>
                <th>S/N</th>
                <th>Initiator</th>
                <th>Amount</th>
                <th>Status</th>
                <th>Narration</th>

                <th>Payment Channel</th>
                <th>Order Ref.</th>
                <th>Payment Ref.</th>
                <th>Transaction Date</th>
                <th>Action</th>

              </tr>
              </tfoot>

              <tbody>

              <tr *ngFor="let transaction of transactions;let i = index;">
                <td  class="details-control" [id]="'td-' + i"></td>
                <td>{{ i + 1 }}</td>
                <td>{{ transaction?.userId?.full_name }}</td>
                <td>{{ transaction?.total_price | currency: 'NGN '}}</td>
                <td>{{ transaction?.status }}</td>
                <td>{{ transaction?.narration }}</td>

                <td>{{ transaction?.payment_channel?.name }}</td>
                <td>{{ transaction?.orderReference }}</td>
                <td>{{ transaction?.paymentReference }}</td>
                <td>{{ transaction?.createdAt | date }}</td>
                <td>
                 <!-- <button *ngIf="transaction?.status === 'INITIATED' && transaction?.payment_channel?.name === 'Paystack'" data-balloon="Trigger Manual Verification" data-balloon-pos="up" class="btn btn-sm btn-info text-white" (click)="verifyManually(transaction)">
                    <i class="fa fa-check"></i> Verify
                  </button>&nbsp;-->
                  <button data-balloon="View Initiator" data-balloon-pos="up" class="btn btn-sm btn-warning text-white" (click)="viewInitiator(transaction)">
                    <i class="fa fa-user"></i> Initiator Details
                  </button>&nbsp;
                  <span  *ngIf="transaction?.transactionType === 'OTHERS' && transaction?.narration.includes('Transaction for ')">
                    <button [id]="'btn-' + i" data-balloon="View Orders" data-balloon-pos="up" class="btn btn-sm btn-primary" (click)="viewDetails(transaction, i)">
                      <i class="fa fa-eye"></i> Details
                    </button>
                    <span [id]="'load-' + i" class="loaders-btn btn btn-sm btn-primary d-none" >
                      <i class="fa fa-spin fa-spinner"></i> Loading...
                    </span>
                  </span>
                </td>
              </tr>
              </tbody>

            </table>

          </div>
        </div>
      </div>
    </div>

  </div>

</div>





<!--Transaction details Modal -->
<div class="modal fade" id="transactionDetails" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content" style="">
      <div class="modal-header">
        <h4 class="title">Transaction Detail</h4>
      </div>

      <div class="modal-body" *ngIf="loaders.loading">

        <div class="table-responsive">
          <table class="table">
            <thead class="thead-dark">
            <tr>
              <th>Description</th>
              <th class="">Quantity</th>
              <th class="text-right">Unit Price</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td class="">{{orderDetail?.farm_name}}</td>
              <td class="">{{orderDetail?.quantity || 0}}</td>
              <td class="text-right">{{orderDetail?.price_per_unit || 0 | currency: orderDetail?.currency}}</td>
            </tr>
            <tr>
              <td class="text-left">
                <p>Trans Date:</p>
                <p>Trans ROI:</p>
                <p>Trans Duration:</p>
              </td>
              <td class="text-right" colspan="2">
                <p><strong>{{orderDetail?.createdAt | date }}</strong></p>
                <p><strong>{{orderDetail?.roi }}%</strong></p>
                <p><strong>{{orderDetail?.duration }} {{orderDetail?.duration_type | lowercase}}s</strong></p>
              </td>
            </tr>
            <tr>
              <td class="text-left">
                <p>Total Amount:</p>
                <p>Trans Charge:</p>
              </td>
              <td class="text-right" colspan="2">
                <p><strong>{{orderDetail?.total_price || 0 | currency: orderDetail?.currency }}</strong></p>
                <p><strong>{{orderDetail?.transaction_charge || 0 | currency: orderDetail?.currency }}</strong></p>
              </td>
            </tr>
            <tr>
              <td class="text-left">
                <h6>Total:</h6>
              </td>
              <td class="text-danger text-right"  colspan="2">
                <h6>{{orderDetail?.total_price || 0 | currency: orderDetail?.currency }}</h6>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>



<!--Transaction details Modal -->
<div class="modal fade" id="initiatorModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content" style="">
      <div class="modal-header">
        <h4 class="title">Initiator Details</h4>
      </div>

      <div class="modal-body">

        <div class="table-responsive">
          <table class="table" *ngIf="initiator">
            <tbody>
            <tr>
              <td class="text-left">
                <p>Name</p>
                <p>Email</p>
                <p>Account</p>
                <p>Bank</p>
                <p>BVN</p>
              </td>
              <td class="text-right" colspan="2">
                <p><strong>{{initiator?.full_name  }}</strong></p>
                <p><strong>{{initiator?.email}}</strong></p>
                <p><strong>{{initiator?.bank?.account_number}}</strong></p>
                <p><strong>{{initiator?.bank?.bank_name}}</strong></p>
                <p><strong>{{initiator?.bank?.bvn }}</strong></p>

              </td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>


