<div class="container-fluid">
  <app-breadcrumb [dataInput]="breadCrumb"></app-breadcrumb>

  <div class="row clearfix profilepage_1" style="" id="edit_section" *ngIf="editorDiv">
    <div class="col-lg-12">
      <div class="card animated bounceInUp">

        <form  #shopForm="ngForm" (ngSubmit)="saveShop()">

        <div class="body">
          <h6 class="mb-3">{{modal.title}}
          <span class="text-danger close font-weight-bold" (click)="closeEditor()">&times;</span>
          </h6>
          <div class="row clearfix">
            <div class="col-lg-6 col-md-12">
              <div class="form-group">
                <label for="farm_name" class="control-label">Farm Name</label>
                <input type="text" class="form-control" placeholder="Farm Name"
                       #farm_name="ngModel"
                       id="farm_name"
                       [(ngModel)]="newShop.farm_name" [ngModelOptions]="{standalone: true}" required>
                <div class="text-danger" *ngIf="farm_name.errors && (farm_name.dirty || farm_name.touched)">
                  <span class="validation-message" [hidden]="!farm_name.hasError('required')">
                    Farm name is required</span>
                </div>

              </div>
              <div class="form-group">
                <label for="farm_location" class="control-label">Farm Location</label>
                <input type="text" class="form-control" placeholder="Farm Location"
                       #farm_location="ngModel"
                       id="farm_location"
                       [(ngModel)]="newShop.farm_location" [ngModelOptions]="{standalone: true}" required>
                <div class="text-danger" *ngIf="farm_location.errors && (farm_location.dirty || farm_location.touched)">
                  <span class="validation-message" [hidden]="!farm_location.hasError('required')">
                    Farm location is required</span>
                </div>

              </div>
              <div class="form-group">
                <label for="currency" class="control-label">Farm Currency</label>

                <div>
                  <label class="fancy-radio">
                    <input name="currency" value="NGN" id="currency" type="radio" checked=""
                           [(ngModel)]="newShop.currency" [ngModelOptions]="{standalone: true}">
                    <span><i></i>Naira</span>
                  </label>
                  <label class="fancy-radio">
                    <input name="currency" value="USD" type="radio"
                           [(ngModel)]="newShop.currency" [ngModelOptions]="{standalone: true}">
                    <span><i></i>Dollar</span>
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label for="opening_date" class="control-label">Opening Date</label>

                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-calendar"></i></span>
                  </div>
                  <input class="form-control datepicker" placeholder="Opening Date"
                         #opening_date="ngModel" (blur)="updateField('opening_date')"
                         id="opening_date"
                         [(ngModel)]="newShop.opening_date" [ngModelOptions]="{standalone: true}"
                  >
                </div>


              </div>
              <div class="form-group">
                <label for="closing_date" class="control-label">Closing Date</label>

                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-calendar"></i></span>
                  </div>
                  <input class="form-control datepicker" placeholder="Closing Date" (blur)="updateField('closing_date')"
                         #closing_date="ngModel"
                         id="closing_date"
                         [(ngModel)]="newShop.closing_date" [ngModelOptions]="{standalone: true}"
                  >
                </div>


              </div>

            </div>
            <div class="col-lg-6 col-md-12">
              <div class="form-group">
                <label for="percentage_to_gain" class="control-label">Percentage Gain</label>

                <div class="input-group">

                  <input type="number" class="form-control" placeholder="Percentage Gain" (blur)="validateNumber('percentage_to_gain')" (keyup)="validateNumber('percentage_to_gain')"
                         #percentage_to_gain="ngModel"
                         id="percentage_to_gain"
                         [(ngModel)]="newShop.percentage_to_gain" [ngModelOptions]="{standalone: true}" required>
                  <div class="input-group-append">
                    <span class="input-group-text"><i>%</i></span>
                  </div>

                </div>

                <div class="text-danger" *ngIf="percentage_to_gain.errors && (percentage_to_gain.dirty || percentage_to_gain.touched)">
                  <span class="validation-message" [hidden]="!percentage_to_gain.hasError('required')">
                    Percentage is required</span>
                </div>
              </div>

              <div class="form-group">
                <label for="amount_to_invest" class="control-label">Amount to Invest</label>

                <div class="input-group">

                  <input type="number" class="form-control" placeholder="Amount to Invest"
                         #amount_to_invest="ngModel"
                         id="amount_to_invest" (blur)="validateNumber('amount_to_invest')" (keyup)="validateNumber('amount_to_invest')"
                         [(ngModel)]="newShop.amount_to_invest" [ngModelOptions]="{standalone: true}" required>
                  <div class="input-group-append">
                    <span class="input-group-text">{{newShop.currency || 'NGN'}}</span>
                  </div>
                </div>
                <div class="text-danger" *ngIf="amount_to_invest.errors && (amount_to_invest.dirty || amount_to_invest.touched)">
                  <span class="validation-message" [hidden]="!amount_to_invest.hasError('required')">
                    Amount is required</span>
                </div>
              </div>
            <div class="row">
              <div class="col-6">
                <div class="form-group">
                  <label for="total_in_stock" class="control-label">Number In Stock</label>
                  <input type="number" class="form-control" placeholder="Number In Stock"
                         #total_in_stock="ngModel"
                         id="total_in_stock" min="1" (blur)="validateNumber('total_in_stock')" (keyup)="validateNumber('total_in_stock')"
                         [(ngModel)]="newShop.total_in_stock" [ngModelOptions]="{standalone: true}" required>
                  <div class="text-danger" *ngIf="total_in_stock.errors && (total_in_stock.dirty || total_in_stock.touched)">
                  <span class="validation-message" [hidden]="!total_in_stock.hasError('required')">
                    Number in Stock is required</span>
                  </div>
                </div>
              </div>
             <div class="col-6">
                <div class="form-group">
                  <label for="remaining_in_stock" class="control-label">Remaining In Stock</label>
                  <input type="number" min="0" class="form-control" placeholder="Remaining In Stock" [disabled]="!activeShop"
                         #remaining_in_stock="ngModel"
                         id="remaining_in_stock"
                         [(ngModel)]="newShop.remaining_in_stock" [ngModelOptions]="{standalone: true}">
                </div>
              </div>

            </div>
            <div class="form-group">
                <div class="row">
                  <div class="col-sm-6">
                    <label for="selectStatus" class="control-label">Select Farm Status</label>
                    <ng-select [items]="allStatus" class="ng-select-form" #selectStatus="ngModel" required id="selectStatus"
                               [notFoundText]="'No data available'"
                               [placeholder]="'Select Status'"
                               bindLabel="name"
                               bindValue="_id"
                               [multiple]="false"
                               [(ngModel)]="newShop.farm_status" [ngModelOptions]="{standalone: true}" >

                    </ng-select>
                    <div class="text-danger" *ngIf="selectStatus.errors && (selectStatus.dirty || selectStatus.touched)">
                  <span class="validation-message" [hidden]="!selectStatus.hasError('required')">
                    Farm Status is required</span>
                    </div>
                  </div>

                  <div class="col-6">
                    <label for="selectTypes" class="control-label">Select Farm Types</label>
                    <ng-select [items]="allTypes" class="ng-select-form" #selectType="ngModel" required id="selectTypes"
                               [notFoundText]="'No data available'"
                               [placeholder]="'Select Type'"
                               bindLabel="name"
                               bindValue="_id"
                               [multiple]="false" (change)="fixDuration($event)"
                               [(ngModel)]="newShop.farm_type" [ngModelOptions]="{standalone: true}" >
                    </ng-select>

                    <div class="text-danger" *ngIf="selectType.errors && (selectType.dirty || selectType.touched)">
                  <span class="validation-message" [hidden]="!selectType.hasError('required')">
                    Farm Type is required</span>
                    </div>

                  </div>


                </div>


              </div>

              <div class="form-group">
                <label for="duration" class="control-label">Invest Duration</label>
                <div class="row">
                 <div class="col-sm-8">
                   <input type="number" class="form-control" placeholder="Invest Duration"
                         #duration="ngModel" (blur)="validateNumber('duration')" (keyup)="validateNumber('duration')"
                         id="duration"
                         [(ngModel)]="newShop.duration" [ngModelOptions]="{standalone: true}" required>
                 </div>

                  <div class="col-sm-4">
                    <select  class="form-control" [disabled]="foodStuff"
                           #duration_type="ngModel"
                           [(ngModel)]="newShop.duration_type" [ngModelOptions]="{standalone: true}" required>
                    <option value="DAY">Day</option>
                    <option value="WEEK">Week</option>
                    <option value="MONTH">Month</option>
                    <option value="YEAR">Year</option>
                  </select>
                  </div>
                </div>

                <div class="text-danger" *ngIf="duration.errors && (duration.dirty || duration.touched)">
                  <span class="validation-message" [hidden]="!duration.hasError('required')">
                    Invest Duration is required</span>
                </div>
              </div>

              <div class="form-group" *ngIf="foodStuff">
                <label for="roi_interval" class="control-label">ROI Interval</label>
                <div class="input-group">
                  <input type="number" class="form-control" placeholder="ROI Interval" (blur)="validateNumber('roi_interval')" (keyup)="validateNumber('roi_interval')"
                         #roi_interval="ngModel" max="12"
                         id="roi_interval"
                         [(ngModel)]="newShop.roi_interval" [ngModelOptions]="{standalone: true}" required>
                  <div class="input-group-append">
                    <span class="input-group-text"><i>Months</i></span>
                  </div>
                </div>
                <div class="text-danger" *ngIf="roi_interval.errors && (roi_interval.dirty || roi_interval.touched)">
                  <span class="validation-message" [hidden]="!roi_interval.hasError('required')">
                    Roi Interval is required</span>
                </div>
              </div>



            </div>
          </div>

        </div>


        <div class="body">
          <h6>Farm Description</h6>
          <app-ngx-editor [placeholder]="'Farm Description...'" [height]="'200px'" [spellcheck]="true" [(ngModel)]="newShop.description" [ngModelOptions]="{standalone: true}"></app-ngx-editor>
          <!--<ngx-editor [(ngModel)]="newShop.description" [height]="'200px'" [ngModelOptions]="{standalone: true}"></ngx-editor>-->

        </div>

        <div class="body">
          <h6>Farm Shop Image</h6>
          <div class="text-center">
            <div>

              <div class="" *ngIf="!newShop.display_img && !loaders.loadingImg">
                <app-croppie [croppieData] = "{id: 'displayImage', data: newShop, key: 'display_img', config: {vheight: 250, vwidth: 290, fheight: 400, fwidth: auto, enableResize: false}}" (updateUI)="getUploadEvent($event);"  (showLoad)="startLoading($event)"></app-croppie>
              </div>
              <div *ngIf="!newShop.display_img && loaders.loadingImg">
                <!---->
                <span class="fa fa-spin fa-spinner"></span>&nbsp;Saving...
              </div>





              <div class="media-left" *ngIf="newShop.display_img">
                <!--newShop.display_img-->
                <img [src]="newShop.display_img"
                     style=""
                     class="user-photo media-object" alt="Farm Display Image">

                <div class="media-body">
                  <p>Upload Image.
                    <br> <em>Image should be at least 250px x 250px</em></p>
                  <button type="button" class="btn btn-default-dark" id="btn-upload-photo" (click)="removeImageAndRestorePicker('display_img', null)">Change Photo</button>
                  <input type="file" id="filePhoto" class="sr-only" (click)="removeImageAndRestorePicker('display_img', null)">
                </div>
              </div>
            </div>

          </div>
        </div>

        <div class="body text-center pt-5">
        <div>
          <button type="submit" class="btn btn-primary px-5"
                  *ngIf="!loaders.saving" [disabled]="farm_name.errors || !newShop.display_img">
            {{modal.btnText}}</button>
          <span *ngIf="loaders.saving" class="btn btn-primary px-5">Loading&nbsp;<i class="fa fa-spin fa-spinner"></i></span>
          &nbsp;&nbsp;
          <button type="reset" class="btn btn-default px-5" (click)="closeEditor()">Cancel</button>
        </div>
        </div></form>


      </div>
    </div>
  </div>








  <div class="row clearfix" id="main-table">
    <div class="col-lg-12">
      <div class="card">
        <div class="header">
          <div class="float-right"  *ngIf="!editorDiv">
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="openDialog()">
              <i class="fa fa-plus"></i> &nbsp;<span>New FarmShop</span></button>
          </div>
        </div>
        <div class="body mt-2">
          <div class="text-center mt-1 mb-3" *ngIf="loadingData">
            <span class="fa fa-spin fa-spinner fa-2x"></span>&nbsp;
            <br>
            <span> Loading, Please wait...</span>
          </div>
          <div class="table-responsive" *ngIf="showData">
            <table id="all-farm-shop" class="table table-bordered table-hover table-striped dataTable" cellspacing="0" width="100%">
              <thead>
              <tr >
                <th class="no-sort">S/N</th>
                <!--<th class="no-sort"></th>-->

                <th>Name</th>
                <th>Location</th>
                <th>Percentage</th>
                <th>Amount</th>
                <!--<th>Currency</th>-->
                <th>Duration</th>

                <th>Description</th>
                <th>Initial Stock</th>
                <th>Remaining Stock</th>
                <th>Farm Type</th>
                <th>Farm Status</th>
                <th>Propose Opening Date</th>
                <th>Closing Date</th>
                <th>Action</th>
              </tr>
              </thead>
              <tfoot>
              <tr >
                <th class="no-sort">S/N</th>
                <!--<th class="no-sort"></th>-->

                <th>Name</th>
                <th>Location</th>
                <th>Percentage</th>
                <th>Amount</th>
                <!--<th>Currency</th>-->
                <th>Duration</th>

                <th>Description</th>
                <th>Initial Stock</th>
                <th>Remaining Stock</th>
                <th>Farm Type</th>
                <th>Farm Status</th>
                <th>Propose Opening Date</th>
                <th>Closing Date</th>
                <th>Action</th>
              </tr>
              </tfoot>
              <tbody>

              <tr *ngFor="let shop of allShops;let i = index;">
                <td class="details-control" [id]="'td-' + i">{{ i + 1 }}</td>
                <td>{{shop?.farm_name}}</td>
                <td>{{shop?.farm_location}}</td>
                <td>{{shop?.percentage_to_gain}}%</td>
                <td>{{shop?.amount_to_invest || 0 | currency: shop?.currency}}</td>
                <!--<td>{{ shop?.currency}}</td>-->
                <td>{{shop?.duration}} {{shop?.duration_type}}</td>
                <td data-balloon-pos="up" data-balloon-length="xlarge"
                    [attr.data-balloon]="shop?.description">
                  <div
                       >
                    <div class="small-text-container" [innerHtml]="shop?.description"></div></div>
                </td>
                <td>{{shop?.total_in_stock}}</td>
                <td>{{shop?.remaining_in_stock}}</td>
                <td>{{shop?.farm_type?.name}}</td>
                <td>{{shop?.farm_status?.name}}</td>
                <td>{{shop?.opening_date}}</td>
                <td>{{shop?.closing_date}}</td>
                <td >
                  <div>
                    <button role="button" data-balloon="Edit Shop" data-balloon-pos="up" (click)="triggerEdit(shop)" class="btn btn-sm btn-primary">
                      <i class="fa fa-edit"></i>
                    </button>&nbsp;&nbsp;
                    <button role="button" data-balloon="Delete Shop" data-balloon-pos="up" (click)="deleteShop(shop)" class="btn btn-sm btn-danger">
                      <i class="fa fa-trash"></i>
                    </button>

                  </div>
                </td>
              </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>

  </div>








</div>




