<div class="container-fluid">
  <app-breadcrumb [dataInput]="breadCrumb"></app-breadcrumb>








  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card">
        <div class="header">
          <h4>List Paystack Payment</h4>
        </div>
        <div class="body mt-2">
          <div class="text-center mt-1 mb-3" *ngIf="loadingData">
            <span class="fa fa-spin fa-spinner fa-2x"></span>&nbsp;
            <br>
            <span>Loading, Please wait...</span>
          </div>
          <div class="table-responsive" *ngIf="showData">
            <table id="paystack_transaction-list" class="table table-bordered table-hover table-striped dataTable" cellspacing="0" width="100%">

              <thead>
              <tr >
                <th class="no-sort"></th>
                <th>S/N</th>
                <th>Payer Name</th>
                <th>Payer Phone Number</th>
                <th>Amount Paid</th>
                <th>Narration</th>
                <th>Status</th>
                <th>Order Ref.</th>
                <th>Payment Ref.</th>
                <th>Transaction Date</th>

              </tr>
              </thead>
              <tfoot>
              <tr >
                <th class="no-sort"></th>
                <th>S/N</th>

                <th>Payer Name</th>
                <th>Payer Phone Number</th>
                <th>Amount Paid</th>
                <th>Narration</th>
                <th>Status</th>
                <th>Order Ref.</th>
                <th>Payment Ref.</th>
                <th>Transaction Date</th>

              </tr>
              </tfoot>

              <tbody>

              <tr *ngFor="let transaction of transactions;let i = index;">
                <td  class="details-control" [id]="'td-' + i"></td>
                <td>{{ i + 1 }}</td>
                <td>{{ transaction?.userId?.full_name }}</td>
                <td>{{ transaction?.userId?.phone_number }}</td>
                <td>{{ transaction?.total_price | currency: 'NGN '}}</td>
                <td>{{ transaction?.narration }}</td>
                <td>{{ transaction?.status }}</td>
                <td>{{ transaction?.orderReference }}</td>
                <td>{{ transaction?.paymentReference }}</td>
                <td>{{ transaction?.createdAt | date }}</td>

              </tr>
              </tbody>

            </table>

          </div>
        </div>
      </div>
    </div>

  </div>

</div>




