<div class="container-fluid">
  <app-breadcrumb [dataInput]="breadCrumb"></app-breadcrumb>








  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card">
        <div class="header">
          <div class="float-right">
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="openDialog('productStatusModal')">
              <i class="fa fa-plus"></i> &nbsp;<span>New Status</span></button>
          </div>
        </div>
        <div class="body mt-2">
          <div class="text-center mt-1 mb-3" *ngIf="loadingData">
            <span class="fa fa-spin fa-spinner fa-2x"></span>&nbsp;
            <br>
            <span> Loading, Please wait...</span>
          </div>
          <div class="table-responsive" *ngIf="showData">
            <table id="all-farm-product-status" class="table table-bordered table-hover table-striped dataTable" cellspacing="0" width="100%">
              <thead>
              <tr >
                <th>S/N</th>
                <th>Status Name</th>
                <th>Can Order</th>
                <th>Activeness</th>
                <th>Action</th>
              </tr>
              </thead>
              <tfoot>
              <tr >
                <th>S/N</th>
                <th>Status Name</th>
                <th>Can Order</th>
                <th>Activeness</th>
                <th>Action</th>
              </tr>
              </tfoot>
              <tbody>

              <tr *ngFor="let fStatus of allStatus;let i = index;">
                <td>{{ i + 1 }}</td>
                <td>{{ fStatus?.name }}</td>
                <td>
                 <span class="badge badge-success" *ngIf="fStatus?.can_order" data-balloon="Can Order Products" data-balloon-pos="up">
                  {{fStatus?.can_order}}
                </span>
                  <span class="badge badge-danger" *ngIf="!fStatus?.can_order" data-balloon="Cannot Order Products" data-balloon-pos="up">
                  {{fStatus?.can_order}}
                </span>
                </td>
                <td>
                <span class="badge badge-success" *ngIf="fStatus?.status">
                  {{fStatus?.status}}
                </span>
                  <span class="badge badge-danger" *ngIf="!fStatus?.status">
                  {{fStatus?.status}}
                </span>
                </td>
                <td>
                  <div>
                    <button role="button" data-balloon="Edit Status" data-balloon-pos="up" (click)="triggerEdit(fStatus)" class="btn btn-sm btn-primary">
                      <i class="fa fa-edit"></i>
                    </button>&nbsp;&nbsp;
                    <button role="button" data-balloon="Delete Status" data-balloon-pos="up" (click)="deleteStatus(fStatus)" class="btn btn-sm btn-danger">
                      <i class="fa fa-trash"></i>
                    </button>&nbsp;&nbsp;
                    <button class="btn btn-sm btn-success" (click)="toggleOrder(true, fStatus)" *ngIf="!fStatus?.can_order" data-balloon="Click to allow users to start ordering products" data-balloon-pos="up">
                      Can Order
                    </button>
                    <button class="btn btn-sm btn-warning" (click)="toggleOrder(false, fStatus)" *ngIf="fStatus?.can_order" data-balloon="Click to stop users from ordering products" data-balloon-pos="up">
                      Cannot Order
                    </button>

                  </div>
                </td>
              </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>





<!-- Create Status Modal -->
<div class="modal fade" id="productStatusModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="title" id="defaultModalLabel">{{modal.title}}</h4>
      </div>
      <form class="form-auth-small" #statusForm="ngForm" (ngSubmit)="saveStatus()">

        <div class="modal-body">
          <div class="form-group">
            <label for="status_name" class="control-label">Status Name</label>
            <input type="text" class="form-control" placeholder="Status Name"
                   #name="ngModel"
                   id="status_name"
                   [(ngModel)]="newStatus.name" [ngModelOptions]="{standalone: true}" required>
            <div class="text-danger" *ngIf="name.errors && (name.dirty || name.touched)">
                  <span class="validation-message" [hidden]="!name.hasError('required')">
                    Status name is required</span>
            </div>
          </div>
          <div class="form-group">
            <label for="status" class="control-label">Status</label>
            <select type="text" class="form-control"
                    #status="ngModel"
                    id="status"
                    [(ngModel)]="newStatus.status" [ngModelOptions]="{standalone: true}">
              <option value="true" selected>Active</option>
              <option value="false">Inactive</option>
            </select>

          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" *ngIf="!loaders.saving" [disabled]="name.errors || status.errors" class="btn btn-primary">{{modal.btnText}}</button>
          <span *ngIf="loaders.saving" class="btn btn-primary">Loading&nbsp;<i class="fa fa-spin fa-spinner"></i></span>
          <button type="button" class="btn btn-danger" data-dismiss="modal">CLOSE</button>
        </div>
      </form>
    </div>
  </div>
</div>
