<div class="container-fluid">
  <app-breadcrumb [dataInput]="breadCrumb"></app-breadcrumb>

  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card">
        <div class="header">
          <div class="row">
            <div class="col-md-6 col-sm-12">
              <h4>Manage Repay <small>for year</small></h4>
            </div>
            <div class="col-md-6 col-sm-12">
              <select class="form-control" (change)="switchRepay()" [(ngModel)]="activeYear" [disabled]="pauseUI">
                <option *ngFor="let year of years">{{year}}</option>
              </select>
            </div>
          </div>
        </div>
      </div>
      <div class="card" style="min-height: 300px">
        <div class="body mt-2">
          <div class="text-center pt-5" *ngIf="!loading && !repays.length">
            <span>No repay has been generated for {{activeYear}}</span><br>
            <span class="text-bold">Once you generate repay, it will automatically appear here.</span><br><br>
            <button class="btn btn-lg btn-primary" [disabled]="pauseUI" (click)="generateRepay()" *ngIf="!pauseUI">Generate Repay for {{activeYear}}</button>
            <button disabled class="btn btn-lg btn-primary" *ngIf="pauseUI"><i class="fa fa-spin fa-spinner"></i>&nbsp;Generating, please wait...</button>
          </div>
          <div class="text-center pt-5" *ngIf="loading">
            <span class="fa fa-spin fa-spinner fa-3x"></span><br><br>
            <span class="text-bold">Loading, please wait...</span>
          </div>

          <ul class="list-unstyled feeds_widget" *ngIf="!loading && repays.length">

            <li *ngFor="let repay of repays; index as i">
              <div class="feeds-left">
                <i [ngClass]="repay.status === 'PENDING' ? 'fa fa-minus-circle text-info' : repay.status === 'ONGOING' ? 'fa fa-circle text-primary' : 'fa fa-check-circle-o text-success'"
                ></i>
              </div>
              <div class="feeds-body">
                <h4 class="title">{{repay.month | uppercase}} <small class="float-right text-muted font-weight-bold updater" style="cursor: pointer" (click)="updateRepay(repay, i)">UPDATE</small></h4>
                <small [ngClass]="repay.status === 'PENDING' ? 'text-info' : repay.status === 'ONGOING' ? 'text-primary' : 'text-success'">
                  {{repay.status === 'PENDING' ? 'Payouts commence ' + repay._commencement_date : repay.status === 'ONGOING' ? 'Payment currently ongoing' : 'Payout complete' }}
                </small>
                <div class="row pl-5 pt-3 d-none" *ngIf="activePayout" [id]="'payout_repay_' + i" >
                  <div class="col-4">
                  <div class="form-group">
                  <label>Select Status</label>
                  <select class="form-control"
                          [(ngModel)]="activePayoutRepay.status" [ngModelOptions]="{standalone: true}">
                    <option value="ONGOING">Payout Ongoing</option>
                    <option value="PENDING">Payout Pending</option>
                    <option value="COMPLETE">Payout Completed</option>
                  </select>
                </div>
                  </div>
                  <div class="col-4">
                  <div class="form-group">
                  <label>Select Commencement date</label>
                    <div class="input-group">
                      <div class="input-group-prepend">
                        <span class="input-group-text"><i class="icon-calendar"></i></span>
                      </div>
                      <input class="form-control datepicker" placeholder="Payment commence on?" [disabled]="this.activePayoutRepay.status !== 'PENDING'"
                             [(ngModel)]="this.activePayoutRepay.commencement_date" [ngModelOptions]="{standalone: true}"
                             (blur)="updateField(i)"
                             [id]="'commencement_date_' + i">
                    </div>
                </div>
                  </div>
                  <div class="col-4">
                    <div class="form-group">
                      <label></label>
                      <div class="mt-2">
                      <button class="btn btn-lg btn-secondary" *ngIf="!saving" (click)="cancelUpdate(i)">Cancel</button>&nbsp;&nbsp;
                      <button class="btn btn-lg btn-success" *ngIf="!saving" (click)="saveRepayUpdate(repay, i)">Save</button>
                      <button class="btn btn-lg btn-success" *ngIf="saving"><i class="fa fa-spinner fa-spin"></i>&nbsp;Saving...</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </li>
          </ul>



        </div>
      </div>
    </div>

  </div>

</div>
