


<footer id="footer">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-12 col-sm-12 mr-3 border-special" style="">
          <div><img src="assets/img/logo/logo-dark.png" class="mr-2" width="190" style="opacity: 0.8">
          </div>
          <div class="row mt-5">
            <div class="col-md-4 col-sm-4">
              <div class="footer-widget">
                <h4>Term & Policies</h4>
                <ul>
                  <li><a href="javascript:void(0)" [routerLink]="['/terms-of-sponsorship']">Terms of Sponsorship</a></li>
                  <li><a href="javascript:void(0)" [routerLink]="['/disclaimer']">Disclaimer</a></li>
                  <!--<li><a href="javascript:void(0)" [routerLink]="['/terms-of-farm-visit']">Terms of Farm Visit</a></li>-->
                  <li><a href="javascript:void(0)" [routerLink]="['/terms-of-use']">Terms Of Use</a></li>
                  <li><a href="javascript:void(0)" [routerLink]="['/privacy-policy']">Privacy Policy</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="footer-widget">
                <h4>Quick Links</h4>
                <ul>
                  <li><a href="javascript:void(0)" (click)="navigateToPage()">My Dashboard</a></li>
                  <li><a href="/farm-shop">Farm Shop</a></li>
                  <li><a href="/products-shop">Products Shop</a></li>
                  <li><a href="javascript:void(0)" [routerLink]="['/education']">Education</a></li>
                </ul>
              </div>
            </div>
            <div class="col-md-4 col-sm-4">
              <div class="footer-widget">
                <h4>Resources</h4>
                <ul>
                  <li><a href="javascript:void(0)" [routerLink]="['/about-company']">Who We Are</a></li>
                  <li><a href="javascript:void(0)" [routerLink]="['/blog']">Blog</a></li>
                  <li><a href="javascript:void(0)" [routerLink]="['/terms-of-sponsorship']">FAQ</a></li>
                  <li><a href="javascript:void(0)" [routerLink]="['/contact']">Contact</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-5 col-md-12 col-sm-12 px-5">
          <h4 class="join-us">Join Us</h4>
          <h6 class="join-us-text">Get E-mail updates about our latest farm openings and updates</h6>
          <div class="row mt-5">

            <div class="col-12">
              <div class="input-group mb-3">
                <input type="email" class="form-control subscribe-form" placeholder="your email address" [(ngModel)]="subscribe" [ngModelOptions]="{standalone: true}">
                <div class="input-group-append" style="cursor: pointer">
                  <span class="input-group-text default-color btn subscribe-btn" (click)="subscribeToNewsletter()">Subscribe</span>
                </div>
              </div>
            </div>

            <div class="ml-3">
              <div class="row mt-4">
              <span data-balloon="Instagram" data-balloon-pos="up">
                <a href="https://instagram.com/letsfarm.co" target="_blank"><i class="fa fa-instagram social-data"></i></a></span>
              <span data-balloon="Twitter" data-balloon-pos="up">
                <a href="https://twitter.com/letsfarm_co" target="_blank">
                  <i class="fa fa-twitter social-data"></i></a></span>
              <span data-balloon="Facebook" data-balloon-pos="up">
                <a href="https://www.facebook.com/letsfarm.co" target="_blank">
                  <i class="fa fa-facebook-square social-data"></i></a></span>
              <span data-balloon="LinkedIn" data-balloon-pos="up">
                <a href="https://www.linkedin.com/company/letsfarm-co/" target="_blank">
                  <i class="fa fa-linkedin social-data"></i></a></span>
              <span data-balloon="Whatsapp" data-balloon-pos="up">
                <a href="https://wa.me/2349018120290" target="_blank">
                  <i class="fa fa-whatsapp social-data"></i></a></span>
              <span data-balloon="Youtube" data-balloon-pos="up">
                <a href="https://www.youtube.com/channel/UCGrm2v41Hf6BNwAbFL_7T8w" target="_blank">
                <i class="fa fa-youtube-play social-data"></i></a></span>
            </div></div>
          </div>
        </div>

      </div>
      <!-- END row-->
    </div> <!-- END container-->
  </div> <!-- END footer-top-->

  <div class="mt-sm--9">
    <div style="opacity: 1;margin-bottom: 0;" class="d-none d-sm-none d-md-block d-lg-block"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 200" ><path fill="#51BE50" fill-opacity="0.9" d="M0,160L80,160C160,160,320,160,480,149.3C640,139,800,117,960,117.3C1120,117,1280,139,1360,149.3L1440,160L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>
  </div>
    <div class="footer-bottom" id="contact-scroller">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <span> <i class="fa fa-map-marker text-white"></i>&nbsp;&nbsp;66, De-Palace Building beside Dambold Filling Station, Quarry Road, Abeokuta</span>
          </div>
          <div class="col-sm-12 col-md-4"><span><i class="fa fa-phone text-white"></i>&nbsp;&nbsp;<a href="tel:+2349018120290">+2349018120290</a>
       &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-phone text-white"></i>&nbsp;&nbsp;<a href="tel: +2349070907077">+2349070907077</a></span>
          </div>
          <div class="col-sm-12 col-md-2">
            <span><i class="fa fa-envelope text-white"></i>&nbsp;&nbsp;<a href="mail-to: info@letsfarm.co">info@letsfarm.co</a></span>
          </div>
        </div>
        <div class="copyright">
          <span>Copyright © 2020 Letsfarm – All Rights Reserved.</span>
        </div>
      </div>
    </div></div>

</footer> <!-- END footer-->



<div class="scroll-top">
  <i class="fa fa-angle-up" aria-hidden="true"></i>
</div>
