<div class="landing-page-content">
  <header [id]="topPost ? 'blog-head': 'education-hero'">
    <app-l-header [active]="'blog'"></app-l-header>
    <div id="blog-content" *ngIf="topPost" style="margin-top: -130px;">
      <div class="container">
        <div class=" d-none d-md-block d-lg-block">
          <div class="input-group position-absolute col-3" style="top: 25%;right: 7%;">
          <input type="text" class="form-control subscribe-form" placeholder="Search Blog" [(ngModel)]="searchTitle" [ngModelOptions]="{standalone: true}">
          <div class="input-group-append" style="cursor: pointer" >
            <span class="input-group-text green-color btn subscribe-btn" *ngIf="!searching" (click)="searchBlog()"><i class="fa fa-search"></i></span>
            <span class="input-group-text green-color btn subscribe-btn" *ngIf="searching"><i class="fa fa-spin fa-spinner"></i></span>
          </div>
        </div>
        </div>
        <div class="container"><h1 class="hero-title">Blog & News</h1>
          <p class="hero-tagline">Discover what we are doing and keep up to date</p>
          <div class="mt-4" style="position: relative">
            <div class="bg-success-farm">{{topPost?.title}}<br>
              <div style="cursor: pointer"><a href="javascript:void(0)" (click)="readPost(topPost)">Read <i class="fa fa-arrow-right"></i></a></div>
            </div>
            <img [src]="topPost?.large_img_link" class="image-blog"></div>
        </div>
      </div> <!-- END container-->
    </div>
    <div id="hero-content-2" *ngIf="!topPost">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 text-left text-white">
            <h1 class="about-title mt--2">Blog & News</h1>
            <p class="about-tagline">
              Discover what we are doing and keep up to date
            </p>
          </div> <!-- END col-sm-12-->

          <div class="col-sm-2"></div>
          <div class="col-sm-4 text-right">
            <div class="input-group">
              <input type="text" class="form-control subscribe-form" placeholder="Search Blog" [(ngModel)]="searchTitle" [ngModelOptions]="{standalone: true}">
              <div class="input-group-append" style="cursor: pointer" >
                <span class="input-group-text green-color btn subscribe-btn" *ngIf="!searching" (click)="searchBlog()"><i class="fa fa-search"></i></span>
                <span class="input-group-text green-color btn subscribe-btn" *ngIf="searching"><i class="fa fa-spin fa-spinner"></i></span>
              </div>
            </div>
          </div>
        </div> <!-- END row-->
      </div> <!-- END container-->
    </div>



    <!-- END hero-content-->
  </header>

  <section id="blog-space" *ngIf="topPost"></section>

  <section [id]="topPost ? 'features' : '_'">
    <div class="container">
      <div class="filter-set my-2">
        <div class="row" *ngIf="blogs.length">
          <div class=" col-sm-4 col-md-4">
            <ng-select [items]="videoFilter" class="ng-select-form"
                       [notFoundText]="'Filter Posts'"
                       [placeholder]="'Filter Posts'" (change)="getBlogsByCategory($event)"
                       bindLabel="name"
                       bindValue="_id"
                       [multiple]="false">
            </ng-select>
          </div>
          <div class="col-sm-8 col-md-8">
            <span>
              <i class="fa fa-chevron-right"></i>
            </span>&nbsp;
            <span class="text-uppercase"><a href="javascript:void(0)" (click)="getPosts()">Browser All</a></span>
          </div>
          <!--[(ngModel)]="newZone.state_id" [ngModelOptions]="{standalone: true}"-->
        </div>

      </div>
      <ng-container *ngIf="loaders.posts">
      <div class="row">
        <div class="col-6">
          <div class="ph-item">
            <div class="ph-col-12">
              <div class="ph-picture"></div>
              <div class="ph-row">
                <div class="ph-col-6 big"></div>
                <div class="ph-col-4 empty big"></div>
                <div class="ph-col-2 big"></div>
                <div class="ph-col-4"></div>
                <div class="ph-col-8 empty"></div>
                <div class="ph-col-6"></div>
                <div class="ph-col-6 empty"></div>
                <div class="ph-col-12"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="ph-item">
            <div class="ph-col-12">
              <div class="ph-picture"></div>
              <div class="ph-row">
                <div class="ph-col-6 big"></div>
                <div class="ph-col-4 empty big"></div>
                <div class="ph-col-2 big"></div>
                <div class="ph-col-4"></div>
                <div class="ph-col-8 empty"></div>
                <div class="ph-col-6"></div>
                <div class="ph-col-6 empty"></div>
                <div class="ph-col-12"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="ph-item">
            <div class="ph-col-12">
              <div class="ph-picture"></div>
              <div class="ph-row">
                <div class="ph-col-6 big"></div>
                <div class="ph-col-4 empty big"></div>
                <div class="ph-col-2 big"></div>
                <div class="ph-col-4"></div>
                <div class="ph-col-8 empty"></div>
                <div class="ph-col-6"></div>
                <div class="ph-col-6 empty"></div>
                <div class="ph-col-12"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="ph-item">
            <div class="ph-col-12">
              <div class="ph-picture"></div>
              <div class="ph-row">
                <div class="ph-col-6 big"></div>
                <div class="ph-col-4 empty big"></div>
                <div class="ph-col-2 big"></div>
                <div class="ph-col-4"></div>
                <div class="ph-col-8 empty"></div>
                <div class="ph-col-6"></div>
                <div class="ph-col-6 empty"></div>
                <div class="ph-col-12"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="ph-item">
            <div class="ph-col-12">
              <div class="ph-picture"></div>
              <div class="ph-row">
                <div class="ph-col-6 big"></div>
                <div class="ph-col-4 empty big"></div>
                <div class="ph-col-2 big"></div>
                <div class="ph-col-4"></div>
                <div class="ph-col-8 empty"></div>
                <div class="ph-col-6"></div>
                <div class="ph-col-6 empty"></div>
                <div class="ph-col-12"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-6">
          <div class="ph-item">
            <div class="ph-col-12">
              <div class="ph-picture"></div>
              <div class="ph-row">
                <div class="ph-col-6 big"></div>
                <div class="ph-col-4 empty big"></div>
                <div class="ph-col-2 big"></div>
                <div class="ph-col-4"></div>
                <div class="ph-col-8 empty"></div>
                <div class="ph-col-6"></div>
                <div class="ph-col-6 empty"></div>
                <div class="ph-col-12"></div>
              </div>
            </div>
          </div>
        </div>
      </div></ng-container>

      <div class="row mt-3" *ngIf="!loaders.posts">
        <div class="col-lg-4 col-md-6 col-sm-12" *ngFor="let blog of blogs;let i = index">
          <div class="card" [ngClass]="(i % 2 === 0) ? 'wow fadeInLeft' : 'wow fadeInRight'" data-wow-delay=".1s" style="border: none;cursor: pointer" (click)="readPost(blog)">
            <img class="" [src]="blog?.img_link" [alt]="blog?.title" style="" height="300">
            <div class="card-body mt--1 card-body-format text-left " data-balloon-length="large" data-balloon-pos="up" [attr.data-balloon]="blog?.title">
              <h4 class="card-title shop-card-title blog-title">{{blog?.title}}</h4>
              <div class="card-text shop-card-text mt--1">
                <div class="row text-left">
                  <div class="col-6">{{blog.createdAt | date}}</div>
                  <div class="col-6" *ngIf="blog?.comments_count < 2"><i class="fa fa-comment"></i>&nbsp;{{blog?.comments_count}} comment</div>
                  <div class="col-6" *ngIf="blog?.comments_count"><i class="fa fa-comment"></i>&nbsp;{{blog?.comments_count}} comments</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="mt-4 load-more" *ngIf="blogs.length && (blogger.total > (blogger.page * blogger.limit))">
      <div class="row text-center"><div class="col-6">
        <span class="btn btn-sm btn-outline-success"  (click)="getPreviousBlog()"><i class="fa fa-long-arrow-left"></i>&nbsp;Previous</span></div>
      <div class="col-6">
        <span class="btn btn-sm btn-outline-success" (click)="getNextBlog()">Next&nbsp;<i class="fa fa-long-arrow-right"></i></span></div></div>
    </div>


    <!-- END row-->
  </div> <!-- END container-->
</section>


<app-l-footer></app-l-footer>



</div>
