<nav class="navbar navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-btn">
      <button type="button" class="btn-toggle-offcanvas"><i class="lnr lnr-menu fa fa-bars"></i></button>
    </div>

    <div class="navbar-brand">
      <a href="javascript:void(0)" [routerLink]="['/']">
        <img src="assets/img/logo/logo-color.png" alt="Letsfarm" class="">
      </a>
    </div>

    <div class="navbar-right">
      <div id="navbar-menu">
        <ul class="nav navbar-nav">
          <li class="dropdown d-none d-md-inline-block d-lg-inline-block header-nav-linker"  data-balloon-pos="left" data-balloon="Manage Wallet" *ngIf="currentUser.role.toLowerCase() === 'user'">
            <a href="javascript:void(0);" class="dropdown-toggle icon-menu bouncer animated" data-toggle="dropdown">
              <!--<i class="icon-wallet"></i>-->
              <img src="assets/img/dashboard/icons/wallet_1.png" width="25" class="mr-2 img-default">
              <img src="assets/img/dashboard/icons/wallet.png" width="25" class="mr-2 img-colored">
            </a>
            <ul class="dropdown-menu user-menu menu-icon" style="background-color: #CFFFC1; color: #000" >
              <li class="menu-heading">Wallet Balance</li>
              <li><a href="javascript:void(0);" [routerLink]="['/user/wallet-history']" class="text-dark">
                <i class="icon-note"></i> <span>{{wallet_balance || 0.0 | currency: 'NGN '}}</span></a></li>
              <!--<li><a href="javascript:void(0);" class="text-dark"><i class="icon-note"></i> <span>Fund Wallet</span></a></li>
              <li><a href="javascript:void(0);" class="text-dark"><i class="icon-note"></i> <span>Withdraw from Wallet</span></a></li>
-->
            </ul>
          </li>

          <li class=" d-none d-md-inline-block d-lg-inline-block header-nav-linker" *ngIf="currentUser?.role.toLowerCase() === 'user'">
            <a href="javascript:void(0)" class="icon-menu bouncer animated" [routerLink]="['/user/cart']">
              <span class="" style="width: 10px;height: 10px;position: absolute;top:4%;right: 10%;">
                <strong *ngIf="cartCountNumber < 9">{{cartCountNumber}}</strong><strong *ngIf="cartCountNumber > 9">9<sup>+</sup></strong>
              </span>
              <img src="assets/img/dashboard/icons/shopping_cart_1.png" width="25" class="mr-2 img-default">
              <img src="assets/img/dashboard/icons/shopping_cart.png" width="25" class="mr-2 img-colored">
              <!--<i class="fa fa-shopping-cart fa-2x"></i>-->
            </a>
          </li>
          <li class="header-nav-linker">
            <a routerLink="/user/farm-updates-and-notifications"  *ngIf="currentUser?.role.toLowerCase() === 'user'" class="icon-menu d-none d-sm-block bouncer animated"><i class="icon-bell"></i>
              <span class="notification-dot" style="background-color: #51BE50"></span></a>
          </li>
          <li  data-balloon-pos="left" class="header-nav-linker" data-balloon="Log out">
            <a href="javascript:void(0)" (click)="logOut()" class="icon-menu"><i class="icon-login"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
