
<div class="landing-page-content">
  <header id="faq-hero">

    <app-l-header [active]="'others'"></app-l-header>


    <div id="hero-content-2">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-left text-white">
            <h1 class="about-title mt--2">Terms of Farm Visit</h1>
            <p>
              <b>It is important that you take your time to read every single word written on this page.</b>
            </p>
            <p class="mt--2"><span>It is important that you understand what you read too in order for you to make an informed decision.</span></p>

          </div> <!-- END col-sm-12-->
        </div> <!-- END row-->
      </div> <!-- END container-->
    </div> <!-- END hero-content-->

  </header> <!-- END header-->
  <section>

    <div class="container">
      <div class="px-sm-0 px-md-5 px-lg-5 my-4 py-5">
        <div class="">
          <div class="p-10">
            <h2 class="font-weight-bold" style="font-size: 29px;">Introduction</h2>

            <div style="font-size: 16px;">
              <p>
                This agreement outlines the terms and conditions (the “Terms”) between you (a “Sponsor”, “you”) and Letsfarm.co (“Letsfarm.co”, the “Company”, “we”, or “us”) under which you agree to sponsor third party farmers to cultivate farm plots through our website (the “Platform”).

                <b>It is important that you read these Terms carefully.</b> We strongly recommend that you seek independent advice when considering whether to sponsor a farmer with your money through the Platform.

              </p>
              <p>We do not provide any advice, nor do we make any recommendations to you.
                The Company solely allows you to sponsor a farm applied for by farmers on the Platform.

                It is your responsibility to assess whether the Platform is
                suitable or appropriate for your needs and any decision made
                to use our Services is done so entirely at your own risk.</p><p>
              Please be aware that execution of these
              Terms does not imply that we have confirmed that use of the
              Platform and our Services are suitable or appropriate for you.
            </p><p>
              We advise you to consider whether sponsoring a farm through the
              Platform meets your required risk levels and objectives, and you
              should only commit such funds that you are able to financially
              bear the risk of losing considering your other financial commitments.
              By using the Platform, you confirm that you have the necessary experience and knowledge
              to understand the risks involved.</p>
              <p>You confirm your agreement to these Terms either by registering as a
                sponsor on our website or by signing a copy of these Terms.

                By continuing on our website, you agree to the following terms together
                with the Terms of Use, consent to our privacy policy, agree to transact
                business with us and receive communications relating to the sponsorship electronically.
              </p></div>


            <h2 class="font-weight-bold" style="font-size: 29px;">Sponsorship Terms</h2>

            <div style="font-size: 16px;">
              <p>
                The Sponsor will receive periodic updates on the status of the farm by email.
                The updates are also available on your profile on the Platform.
                You are expected to review all notifications, updates and reports from
                Letsfarm.co as they represent a record of information pertaining to your
                sponsorship contribution during a farming cycle
              </p>
              <p>You are entitled to request for a physical visit to your sponsored farm, however,
                you must provide us with at least 14 days notice to schedule a visit.</p>
              <p>
                At the beginning of a farming cycle, you will be expected to pay costs related to the lease of land for farming,
                seedling/livestock, fertilizers, maintenance costs, insurance costs,
                and the cost of supervision and administration. All costs are included in your sponsorship contribution
              </p>
              <p>
                You agree that by sponsoring a farm, your contribution
                is tied and unavailable for the entire duration of the farming cycle and neither Letsfarm.co
                nor the farmers can or will refund your contribution until the successful completion of a farming cycle
              </p>
              <p>Any profits from a successful farming cycle of a Sponsor’s farm are remitted to the electronic wallet on the Platform when the produce is harvested and sold (i.e. upon completion of the farming cycle)

                to the end of a successful farming cycle, you can decide whether to transfer to a bank account you provide us with or to sponsor a farm for a new farming cycle

                You acknowledge that you do not own any of the farms cultivated and are only entitled to the proceeds of any farming cycle you participate in.
              </p>
            </div>

            <h2 class="font-weight-bold" style="font-size: 29px;">Sponsor Representations and Warranties</h2>

            <div style="font-size: 16px;">
              <p>
                Representations and warranties are statements and promises made by you to the Company,
                which we rely on as being accurate in our dealings with you.
                You make the following representations and warranties to us at the time of agreeing to these
                Terms and every time you use the Platform or Services,
                including the time you are matched to a Loan Agreement;
              </p>
              <p>You are over the age of 21 years;</p>
              <p>
                You are of sound mind and have the capacity to enter into these Terms and be matched to a farm;
              </p>
              <p>
                All personal information that you provide about yourself is accurate and true to the best of your knowledge;
              </p>
              <p>
                You hold a bank account in Nigeria in your own name and will use this account to transfer money to our account when you sponsor a farm and to receive refunds of contributions made and profits earned;
              </p>
              <p>you have carefully considered the risks involved with using the Platform, the Services and being matched to a farm and also the risks associated with any form of cash contribution or donation;</p>
              <p>you will only ever sponsor with your own money unless you are authorized on behalf of a third party (“Third Party”) and we agree that you may act on behalf of that Third Party.</p>
              <p>you are not using any illegal funds or attempting to launder by sponsoring a farm

                if you are registering or accepting these Terms on behalf of a legal entity such as a company, trust or partnership, you are legally authorized to do so and we may request evidence of such legal entitlement (by way of a copy of any document which shows the valid and subsisting authorization); </p>
              <p>and

                you are not breaching any laws or regulations that are applicable to you or any company, trust or partnership upon whose instructions you are acting.</p>
            </div>


            <h2 class="font-weight-bold" style="font-size: 29px;">Access and Use</h2>

            <div style="font-size: 16px;">
              <p>The Platform and Website is, at all times, subject to our Website Terms of Use.</p>
              <p>
                Secure access to the Platform is provided by way of your username and password. These log-in credentials are unique to you and are the primary method of securely identifying you when delivering our Services to you. It is therefore extremely important that you keep your username and password secure at all times.
              </p>
              <p>If you suspect that your secure access to the Platform has been compromised in any way, it is your responsibility to contact us.</p>
              <p>
                You confirm that you will only use our Platform for the purposes set out in these Terms.
              </p>
              <p>
                You confirm that you will not attempt to gain unauthorized access to the secure areas of the Website or Platform and furthermore you will not attempt to use code or software to manipulate or automate functions available on the Website.
              </p>
              <p>
                You understand that we may store your IP address information and may monitor your use of the Website in accordance with our cookie policy.
              </p>
              <p>Access to the Platform may be restricted at the discretion of the Company, particularly during periods of maintenance and updating.</p>
              <p>We have the right not to act on your instructions including where we deem that your instruction was not sufficiently clear, or we could not verify your identity to our satisfaction, or the instruction was not made by you, or we believe that the instruction may be related to an illegal activity.</p>
            </div>


            <h2 class="font-weight-bold" style="font-size: 29px;">Anti-Money Laundering</h2>

            <div style="font-size: 16px;">
              <p>
                Where we discover that the Platform is being used to launder money or for any suspicious transactions, we have an obligation to report your activities to the relevant authorities without recourse to you.
              </p>
            </div>

            <h2 class="font-weight-bold" style="font-size: 29px;">Foreign Exchange Risk</h2>

            <div style="font-size: 16px;">
              <p>
                Where a Sponsor contributes in a currency other than the Naira, foreign exchange gain or loss and fluctuations in currency rates may have an impact on the profit made on such contribution by the Sponsor.
              </p>
              <p>All profits on contribution shall be converted and returned in Naira
                based on the Central Bank of Nigeria (CBN) official exchange rate.
                The Sponsor therefore enters into any transactions in currencies other than the
                Naira at their sole risk and shall bear all responsibilities for any gains or loss as a result.</p>
              <p>
                Unexpected changes in currency exchange market conditions may have an impact on the extent of profit the Sponsor
                would be exposed to such as when there is an upward or downward movement in the relevant rates.
              </p>
              <p>
                The Sponsor understands and is able to assume the risk of loss associated and agrees
                to be liable for any resulting deficit this might have on contributions made or profits earned.
              </p>
            </div>


            <h2 class="font-weight-bold" style="font-size: 29px;">Term and Termination</h2>

            <div style="font-size: 16px;">
              <p>
                Except as otherwise terminated in accordance with the provisions below,
                these Terms shall commence on the date you register to sponsor a farm with the Company
                and shall remain valid and binding for as long as you have outstanding sponsored farming cycles.
              </p>
              <p>These Terms may be superseded by any amended Terms.</p>
              <p>
                These Terms may be terminated by you provided that you have no outstanding sponsored farming cycle.
                Notice of termination must be provided in writing to info@letsfarm.co
              </p>
              <p>
                These Terms may be terminated by the Company at any time without notice.
              </p>
            </div>


            <h2 class="font-weight-bold" style="font-size: 29px;">Privacy</h2>

            <div style="font-size: 16px;">
              <p>
                You confirm that you have read and understood the Company’s Privacy
                Policy which provides information on how we use and store the personal information that you provide
                to us and you further acknowledge that the Company may amend and update this policy from time to time.
              </p>
            </div>


            <h2 class="font-weight-bold" style="font-size: 29px;">Indemnity</h2>

            <div style="font-size: 16px;">
              <p>
                You agree to indemnify and hold harmless the Company, any farmer, and all our other agents
                or sub-contractors, against all liabilities, costs, expenses, damages and losses (including any direct,
                indirect or consequential losses, loss of profit, loss of reputation and all interest penalties and legal
                and other reasonable professional costs and expenses) suffered or incurred as a result of:
              </p>
              <p>your fraudulent or illegal use of the Platform, the Services or the Website;</p>
              <p>your negligence or any default by you of any of these Terms or the terms of any Loan Agreement to which you are matched;</p>
              <p>any inaccurate or incomplete information that you have knowingly provided to us;</p>
              <p>your allowing any other person to access your account either with your permission or as a result of your failure to keep your username and password private;</p>
              <p>any service that you have offered, whether with or without our permission, to another third party using our Platform, Services or Website;</p>
              <p>any claim made against you for actual or alleged infringement of the Company’s Intellectual Property Rights or any actual or alleged infringement of a third party’s
                Intellectual Property Rights arising out of or in connection with the Services or your use of the Platform.</p>
            </div>


            <h2 class="font-weight-bold" style="font-size: 29px;">Insurance</h2>

            <div style="font-size: 16px;">
              <div class="text-center text-uppercase">Insured Perils by Leadway Assurance</div>
              <ol>
                <li>
                  Fire: An occurrence of combustion or burning that results in destruction or damage to the insured‘s fish stock.
                </li>
                <li>Lightning: this is an electrical spark discharge by free electrons in the sky that can lead to the burning and
                  destruction of the pond(s). </li>
                <li>
                  Windstorm Damage: this is atmospheric disturbance which may or may not be followed by rain.
                </li>
                <li>
                  Flood: This is overflowing or deviation of water from its normal channels of either natural or artificial courses, bursting or overflowing of water tanks, apparatus or pipes.
                </li>
                <li>
                  Diseases: any alteration from the normal state of health that can lead to death.
                </li>
                <li>
                  Accident: this is any unintentional event that causes death to the insured fish and/or damage to pond(s) arising from any of the insured perils.
                </li>
              </ol>

              <div class="text-center text-uppercase">DEFINITIONS OF TERMS:</div>
              <ol>
                <li>
                  Death: this is loss of life as a result of any of the insured perils.
                </li>
                <li>
                  Injury: any physical alteration in the integrity of the physical features of the fish that may
                  affect movement, well–being and market value of the fish.
                </li>
                <li>
                  Illness: any alteration in the integrity of the health of the fish that may affect movement, well–being and market value of the fish.
                </li>
                <li>
                  Excess/ Deductible: this is the first amount of any claim that Leadway
                  shall not pay and the Insured must bear on each and every loss or damage.
                </li>
                <li>Exclusions/Exceptions: these are conditions in
                  the insurance contract that limit the scope of cover against perils insured. </li>
                <li>
                  Farm Insured: means the fish and the pond(s) on an insured
                  block as identified by name, numbers, location, breed and type.
                </li>
                <li>
                  Conditions: this governs the validity of the contract and must be complied with by the insured
                </li>
                <li>
                  Indemnity: the legal principle which ensures that the insured shall be put
                  back in the same financial position he was
                  prior to loss. Utmost good faith: the duties imposed on both parties (Insured and Insurer)
                  to the contract. The insured must disclose all material facts and Leadway must deal fairly
                  with the Insured. The duties of utmost good faith starts at the commencement
                  of negotiations, continues during the currency of the policy and is revived at renewal.
                </li>
              </ol>
            </div>


            <h2 class="font-weight-bold" style="font-size: 29px;">Dispute Resolution</h2>
            <div style="font-size: 16px;">
              <p>
                This Agreement shall be governed by the Laws of the Federal Republic of Nigeria. Any dispute arising out of this Agreement, which cannot be settled, by mutual agreement/negotiation within 30 days shall be referred to arbitration by a single arbitrator at the Lagos Court of Arbitration (“LCA”)
                and governed by the Arbitration and Conciliation Act, Cap A10, Laws of the Federal Republic of Nigeria.
              </p>
              <p>
                The arbitrator shall be appointed by the Parties, where Parties are unable to agree on the choice of an arbitrator, the choice of arbitration shall be referred to the LCA.
              </p>
              <p>
                The findings of the arbitrator and subsequent award shall be binding
                on the Parties and may be enforced through a Nigerian court of law.
                Each Party shall bear its cost in connection with the Arbitration.
              </p>
            </div>

            <h2 class="font-weight-bold" style="font-size: 29px;">Applicable Law</h2>
            <div style="font-size: 16px;">
              <p>
                This Agreement shall be interpreted and governed by the laws in force in the Federal Republic of Nigeria.
                The Parties submit to Arbitration and waive any objections based upon venue.
              </p>
            </div>

            <h2 class="font-weight-bold" style="font-size: 29px;">Contact Us</h2>
            <div style="font-size: 16px;">
              <p>
                If you have any question regarding this Agreement,
                or comments about the Site or its contents should be directed to info@letsfarm.co
              </p>
            </div>

          </div>
        </div>

      </div>
    </div>
  </section>







  <app-l-footer></app-l-footer>
</div>
