<div class="container-fluid">
  <app-breadcrumb [dataInput]="breadCrumb"></app-breadcrumb>



  <div class="row clearfix sticky-top">
    <div class="w-100">
      <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
        <i class="fa fa-warning"></i> Hello {{currentUser?.first_name}},
        withdrawal from wallet can only be attended to between <strong>Monday 8:00AM</strong> and <strong>Friday 4:00PM</strong>, and it can take up to <strong>24Hours</strong> for your money to reflect in your bank account. Thanks
      </div>
    </div>
  </div>


  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card">

        <div class="header">
         <div class="">
           <div class="row offset-md-7 offset-lg-8">
            <div class="col-6">
             <button type="button" class="btn btn-outline-success btn-sm" (click)="triggerFundWithdraw()" [disabled]="wallet_balance < 100" *ngIf="bank_info && bank_info?.account_number && bank_info?.bank_name">
              <i class="fa fa-money"></i> &nbsp;<span>Withdraw From Wallet</span>
             </button>
              <span class="text-danger font-weight-bold" *ngIf="!bank_info || !bank_info?.account_number || !bank_info?.bank_name">
                <a routerLink="/user/profile">Set bank account details</a>
              </span>
            </div>
             <div class="col-6">
               <button type="button" class="btn btn-outline-primary btn-sm" (click)="triggerFundWallet()">
            <i class="icon-wallet"></i> &nbsp;<span>Fund Wallet</span></button></div></div></div>
        </div>
        <div class="body">
          <div class="text-center mt--3" *ngIf="!loadingData && !walletTransactions.length">
            <div>
              <img src="assets/img/farm/no-record-img.png" style="width: 30%">
            </div>
            <div>No wallet transaction found, fund your wallet to show transaction list</div>
            <div class="mt-2">
              <button class="btn btn-sm btn-success" (click)="gotoURL()">Fund Wallet</button>
            </div>
          </div>

          <div class="text-center mt-1 mb-3" *ngIf="loadingData">
            <span class="fa fa-spin fa-spinner fa-2x"></span>&nbsp;
            <br>
            <span> Loading, Please wait...</span>
          </div>
          <div class="table-responsive" *ngIf="showData && walletTransactions.length">
            <table id="walletTransaction-list" class="table table-bordered table-hover table-striped dataTable" cellspacing="0" width="100%">
              <thead>
              <tr >
                <th class="no-sort"></th>
                <th>S/N</th>
                <th>Transaction Amount</th>
                <th>Initial Balance</th>
                <th>New Balance</th>
                <th>Type</th>
                <th>Narration</th>

                <th>Transaction Date</th>
                <!--<th>Action</th>-->

              </tr>
              </thead>
              <tfoot>
              <tr>
                <th class="no-sort"></th>
                <th>S/N</th>
                <th>Transaction Amount</th>
                <th>Initial Balance</th>
                <th>New Balance</th>
                <th>Type</th>
                <th>Narration</th>
                <th>Transaction Date</th>
                <!--<th>Action</th>-->

              </tr>
              </tfoot>

              <tbody>

              <tr *ngFor="let walletTransaction of walletTransactions;let i = index;">
                <td  class="details-control" [id]="'td-' + i"></td>
                <td>{{ i + 1 }}</td>
                <td>
                  <span *ngIf="walletTransaction?.type === 'CREDIT'" class="text-success">+{{ walletTransaction?.amount | currency: 'NGN '}}</span>
                  <span *ngIf="walletTransaction?.type === 'DEBIT'" class="text-danger">-{{ walletTransaction?.amount | currency: 'NGN '}}</span>
                </td>
                <td>{{ walletTransaction?.old_wallet_balance | currency: 'NGN ' }}</td>
                <td>{{ walletTransaction?.new_wallet_balance | currency: 'NGN ' }}</td>
                <td>
                  <span class="badge badge-success" *ngIf="walletTransaction?.type === 'CREDIT'">{{ walletTransaction?.type }}</span>
                    <span class="badge badge-danger" *ngIf="walletTransaction?.type === 'DEBIT'">{{ walletTransaction?.type }}</span>
                </td>
                <td>{{ walletTransaction?.narration }}</td>
                <td>{{ walletTransaction?.createdAt | date }}</td>
               <!-- <td>
                  <div>
                    <button [id]="'btn-' + i" data-balloon="View Orders" data-balloon-pos="up" class="btn btn-sm btn-primary" (click)="viewDetails(walletTransaction, i)">
                      <i class="fa fa-eye"></i> Details
                    </button>
                    <span [id]="'load-' + i" class="loaders-btn btn btn-sm btn-primary d-none" >
                      <i class="fa fa-spin fa-spinner"></i> Loading...
                    </span>
                  </div>
                </td>-->
              </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>

  </div>








</div>







<!--Withdraw from Wallet Modal -->
<div class="modal fade" id="withdrawFund" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content" style="">
      <div class="modal-header">
        <h4 class="title">Withdraw to Bank Account</h4>
      </div>
      <form class="form-auth-small" #withdrawFundForm="ngForm" (ngSubmit)="proceedToWithdraw()">

        <div class="modal-body">
          <table class="table table-active table-sm table-hover">
            <tr><th>Wallet Balance</th><td>{{wallet_balance | currency : 'NGN '}}</td></tr>
            <tr><th>Account Number</th><td>{{bank_info?.account_number}}</td></tr>
            <tr><th>Account Name</th><td>{{bank_info?.account_name}}</td></tr>
            <tr><th>Bank Name</th><td>{{bank_info?.bank_name}}</td></tr>
          </table>
          <div class="">
            <div class="form-group">
              <label for="amount" class="control-label">Enter Amount(&#8358;)</label>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text">NGN(&#8358;)</span>
                </div>
                <input type="number" class="form-control" min="100" max="10000000" placeholder="Ex: 90999"
                       #amount="ngModel"
                       id="amount" (change)="validateAmount()" (keyup)="validateAmount()"
                       [(ngModel)]="withdrawFund.amount" [ngModelOptions]="{standalone: true}" required>
              </div>
            </div>
            <div class="form-group">
              <label for="amount" class="control-label">Enter Password(*)</label>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-lock"></i></span>
                </div>
                <input type="password" class="form-control" placeholder="Account Password"
                       #password="ngModel"
                       id="password"
                       [(ngModel)]="withdrawFund.password" [ngModelOptions]="{standalone: true}" required>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div>
            <button type="submit" *ngIf="!loaders.saving" [disabled]="password.errors || amount.errors" class="btn btn-primary">Submit</button>
            <span *ngIf="loaders.saving" class="btn btn-primary">Loading&nbsp;<i class="fa fa-spin fa-spinner"></i></span>

            &nbsp;<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          </div>
        </div>

      </form>
    </div>


  </div>
</div>

