
/**Theme color. please replace with your own color variable.
\**/
a:hover, a:focus, a:active {
  color: #89DB87; }

.color-text {
  color: #89DB87; }

.bg-theme {
  background: #89DB87; }

.btn.btn-theme {
  background: #89DB87; }

.loader-icon {
  border-right: 3px solid #89DB87 !important; }

.scroll-top {
  background: #3A3F5C;
}

.nav.navbar-nav > li > a.btn-call-to-action {
  background: #89DB87; }

.nav.navbar-nav > li > a:hover,
.nav.navbar-nav > li > a:active,
.nav.navbar-nav > li > a:focus {
  color: #89DB87; }

.nav.navbar-nav > li > a.btn-call-to-action:hover,
.nav.navbar-nav > li > a.btn-call-to-action:active,
.nav.navbar-nav > li > a.btn-call-to-action:focus {
  background: #89DB87; }

.navbar-toggle {
  background: #89DB87; }

.feature-slider .owl-nav > div:hover {
  background: #89DB87; }

.owl-dot.active {
  background: #89DB87; }

.pricing-plan:hover .plan-value > h4,
.pricing-plan.recommanded .plan-value > h4 {
  color: #89DB87;
}

.pricing-plan:hover .plan-head,
.pricing-plan.recommanded .plan-head {
  color: #89DB87;
}

.pricing-plan:hover .btn.btn-theme,
.pricing-plan.recommanded .btn.btn-theme {
  background: #89DB87;
}
.team-overlay {
  background: #89DB87;
  background: rgba(145, 94, 223, 0.8); }

.team-social > a {
  background: #89DB87; }

.team-social > a:hover {
  color: #89DB87; }

.success-message {
  color: #89DB87; }

.footer-bottom i.fa {
  color: #89DB87; }

.switcher-trigger {
  color: #89DB87; }

.color-switcher i.fa.fa-smile-o {
  color: #89DB87; }
