<div class="container-fluid">
  <app-breadcrumb [dataInput]="breadCrumb"></app-breadcrumb>








  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card">
        <div class="header">
          <h4>Manage Customers</h4>
        </div>
        <div class="body mt-2">
          <div class="text-center mt-1 mb-3" *ngIf="loadingData">
            <span class="fa fa-spin fa-spinner fa-2x"></span>&nbsp;
            <br>
            <span> Loading, Please wait...</span>
          </div>
          <div class="table-responsive" *ngIf="showData">
            <table id="all-customer" class="table table-bordered table-hover table-striped dataTable" cellspacing="0" width="100%">
              <thead>
              <tr >
                <th class="no-sort"></th>
                <th>S/N</th>
                <th></th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Username</th>
                <th>Is verified</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>Gender</th>
                <th>Address</th>
                <th>Auth Type</th>
                <th>Action</th>
              </tr>
              </thead>
              <tfoot>
              <tr >
                <th class="no-sort"></th>
                <th>S/N</th>
                <th></th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone Number</th>
                <th>Username</th>
                <th>Is verified</th>
                <th>City</th>
                <th>State</th>
                <th>Country</th>
                <th>Gender</th>
                <th>Address</th>
                <th>Auth Type</th>
                <th>Action</th>
              </tr>
              </tfoot>
              <tbody>
              <tr *ngFor="let customer of customers;let i = index;">
                <td class="details-control" [id]="'td-' + i"></td>
                <td>{{ i + 1 }}</td>
                <td><img [src]="customer?.user_image_url || 'assets/img/logo/user.jpg'" width="30"></td>
                <td>{{ customer?.full_name }}</td>
                <td>
                  {{ customer?.email }}
                </td>
                <td> {{ customer?.phone_number }} </td>
                <td> {{ customer?.username }} </td>
                <td>
                  <span class="badge badge-success" *ngIf="customer?.is_verified">Yes</span>
                  <span class="badge badge-danger" *ngIf="!customer?.is_verified">No</span>
                </td>
                <td> {{ customer?.city }} </td>
                <td> {{ customer?.state_province }} </td>
                <td> {{ customer?.country }} </td>
                <td> {{ customer?.gender }} </td>
                <td> {{ customer?.address }} </td>
                <td>
                  <span class="badge badge-success" *ngIf="customer?.auth_type === 'NO_AUTH'">Form Fill</span>
                  <span class="badge badge-danger" *ngIf="customer?.auth_type !== 'NO_AUTH'">{{customer?.auth_type}}</span>
                </td>
                <td>
                  <div>
                    <button role="button" data-balloon="View Customer" data-balloon-pos="up" (click)="viewInfo(customer)" class="btn btn-sm btn-primary">
                      <i class="fa fa-eye"></i>
                    </button>&nbsp;&nbsp;
                    <button role="button" data-balloon="Edit Customer" data-balloon-pos="up" (click)="triggerEdit(customer)" class="btn btn-sm btn-info">
                      <i class="fa fa-edit"></i>
                    </button>&nbsp;&nbsp;
                    <button role="button" data-balloon="Delete Customer" data-balloon-pos="up" (click)="deleteCustomer(customer)" class="btn btn-sm btn-danger">
                      <i class="fa fa-trash"></i>
                    </button>
                  </div>
                </td>
              </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>





<!-- Create Customer Modal -->
<div class="modal fade" id="customerModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="title" id="defaultModalLabel">Edit Customer</h4>
      </div>
        <form class="form-auth-small" #customerForm="ngForm" (ngSubmit)="updateCustomer()">
        <div class="modal-body" *ngIf="activeCustomer">
          <div class="row clearfix">
            <div class="col-lg-6 col-md-12">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="First Name" [(ngModel)]="activeCustomer.first_name" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Last Name" [(ngModel)]="activeCustomer.last_name" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="form-group">
                <div>
                  <label class="fancy-radio">
                    <input name="gender2" value="male" type="radio" checked="" [(ngModel)]="activeCustomer.gender" [ngModelOptions]="{standalone: true}">
                    <span><i></i>Male</span>
                  </label>
                  <label class="fancy-radio">
                    <input name="gender2" value="female" type="radio" [(ngModel)]="activeCustomer.gender" [ngModelOptions]="{standalone: true}">
                    <span><i></i>Female</span>
                  </label>
                </div>
              </div>
              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-prepend">
                    <span class="input-group-text"><i class="icon-calendar"></i></span>
                  </div>
                  <input class="form-control datepicker" placeholder="Date of Birth"
                         (blur)="updateField('dob')"
                         id="dob"
                         [(ngModel)]="activeCustomer.dob" [ngModelOptions]="{standalone: true}"
                  >
                </div>
              </div>

            </div>

            <div class="col-lg-6 col-md-12">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Address" [(ngModel)]="activeCustomer.address" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="City" [(ngModel)]="activeCustomer.city" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="form-group">
                <input type="text" class="form-control" placeholder="State/Province" [(ngModel)]="activeCustomer.state_province" [ngModelOptions]="{standalone: true}">
              </div>
              <div class="form-group">
                <select class="form-control" [(ngModel)]="activeCustomer.country" [ngModelOptions]="{standalone: true}">
                  <option value="">-- Select Country --</option>
                  <option value="Afghanistan">Afghanistan</option>
                  <option value="Åland Islands">Åland Islands</option>
                  <option value="Albania">Albania</option>
                  <option value="Algeria">Algeria</option>
                  <option value="American Samoa">American Samoa</option>
                  <option value="Andorra">Andorra</option>
                  <option value="Angola">Angola</option>
                  <option value="Anguilla">Anguilla</option>
                  <option value="Antarctica">Antarctica</option>
                  <option value="Antigua and Barbuda">Antigua and Barbuda</option>
                  <option value="Argentina">Argentina</option>
                  <option value="Armenia">Armenia</option>
                  <option value="Aruba">Aruba</option>
                  <option value="Australia">Australia</option>
                  <option value="Austria">Austria</option>
                  <option value="Azerbaijan">Azerbaijan</option>
                  <option value="Bahamas">Bahamas</option>
                  <option value="Bahrain">Bahrain</option>
                  <option value="Bangladesh">Bangladesh</option>
                  <option value="Barbados">Barbados</option>
                  <option value="BY">Belarus</option>
                  <option value="Belarus">Belgium</option>
                  <option value="Belize">Belize</option>
                  <option value="Benin">Benin</option>
                  <option value="Bermuda">Bermuda</option>
                  <option value="Bhutan">Bhutan</option>
                  <option value="Bolivia, Plurinational State of">Bolivia, Plurinational State of</option>
                  <option value="Bonaire, Sint Eustatius and Saba">Bonaire, Sint Eustatius and Saba</option>
                  <option value="Bosnia and Herzegovina">Bosnia and Herzegovina</option>
                  <option value="Botswana">Botswana</option>
                  <option value="Bouvet Island">Bouvet Island</option>
                  <option value="Brazil">Brazil</option>
                  <option value="British Indian Ocean Territory">British Indian Ocean Territory</option>
                  <option value="Brunei Darussalam">Brunei Darussalam</option>
                  <option value="Bulgaria">Bulgaria</option>
                  <option value="Burkina Faso">Burkina Faso</option>
                  <option value="Burundi">Burundi</option>
                  <option value="Cambodia">Cambodia</option>
                  <option value="Cameroon">Cameroon</option>
                  <option value="Canada">Canada</option>
                  <option value="Cape Verde">Cape Verde</option>
                  <option value="Cayman Islands">Cayman Islands</option>
                  <option value="Central African Republic">Central African Republic</option>
                  <option value="Chad">Chad</option>
                  <option value="Chile">Chile</option>
                  <option value="China">China</option>
                  <option value="Christmas Island">Christmas Island</option>
                  <option value="Cocos (Keeling) Islands">Cocos (Keeling) Islands</option>
                  <option value="Colombia">Colombia</option>
                  <option value="Comoros">Comoros</option>
                  <option value="Congo">Congo</option>
                  <option value="Congo, the Democratic Republic of the">Congo, the Democratic Republic of the</option>
                  <option value="Cook Islands">Cook Islands</option>
                  <option value="Costa Rica">Costa Rica</option>
                  <option value="Côte d'Ivoire">Côte d'Ivoire</option>
                  <option value="Croatia">Croatia</option>
                  <option value="Cuba">Cuba</option>
                  <option value="Curaçao">Curaçao</option>
                  <option value="Cyprus">Cyprus</option>
                  <option value="Czech Republic">Czech Republic</option>
                  <option value="Denmark">Denmark</option>
                  <option value="Djibouti">Djibouti</option>
                  <option value="Dominica">Dominica</option>
                  <option value="Dominican Republic">Dominican Republic</option>
                  <option value="Ecuador">Ecuador</option>
                  <option value="Egypt">Egypt</option>
                  <option value="El Salvador">El Salvador</option>
                  <option value="Equatorial Guinea">Equatorial Guinea</option>
                  <option value="Eritrea">Eritrea</option>
                  <option value="Estonia">Estonia</option>
                  <option value="Ethiopia">Ethiopia</option>
                  <option value="Falkland Islands (Malvinas)">Falkland Islands (Malvinas)</option>
                  <option value="Faroe Islands">Faroe Islands</option>
                  <option value="Fiji">Fiji</option>
                  <option value="Finland">Finland</option>
                  <option value="France">France</option>
                  <option value="French Guiana">French Guiana</option>
                  <option value="French Polynesia">French Polynesia</option>
                  <option value="French Southern Territories">French Southern Territories</option>
                  <option value="Gabon">Gabon</option>
                  <option value="Gambia">Gambia</option>
                  <option value="Georgia">Georgia</option>
                  <option value="Germany">Germany</option>
                  <option value="Ghana">Ghana</option>
                  <option value="Gibraltar">Gibraltar</option>
                  <option value="Greece">Greece</option>
                  <option value="Greenland">Greenland</option>
                  <option value="Grenada">Grenada</option>
                  <option value="Guadeloupe">Guadeloupe</option>
                  <option value="Guam">Guam</option>
                  <option value="Guatemala">Guatemala</option>
                  <option value="Guernsey">Guernsey</option>
                  <option value="Guinea">Guinea</option>
                  <option value="Guinea-Bissau">Guinea-Bissau</option>
                  <option value="Guyana">Guyana</option>
                  <option value="Haiti">Haiti</option>
                  <option value="Heard Island and McDonald Islands">Heard Island and McDonald Islands</option>
                  <option value="Holy See (Vatican City State)">Holy See (Vatican City State)</option>
                  <option value="Honduras">Honduras</option>
                  <option value="Hong Kong">Hong Kong</option>
                  <option value="Hungary">Hungary</option>
                  <option value="Iceland">Iceland</option>
                  <option value="India">India</option>
                  <option value="Indonesia">Indonesia</option>
                  <option value="Iran, Islamic Republic of">Iran, Islamic Republic of</option>
                  <option value="Iraq">Iraq</option>
                  <option value="Ireland">Ireland</option>
                  <option value="Isle of Man">Isle of Man</option>
                  <option value="Israel">Israel</option>
                  <option value="Italy">Italy</option>
                  <option value="Jamaica">Jamaica</option>
                  <option value="Japan">Japan</option>
                  <option value="Jersey">Jersey</option>
                  <option value="Jordan">Jordan</option>
                  <option value="Kazakhstan">Kazakhstan</option>
                  <option value="Kenya">Kenya</option>
                  <option value="Kiribati">Kiribati</option>
                  <option value="Korea, Democratic People's Republic of">Korea, Democratic People's Republic of</option>
                  <option value="Korea, Republic of">Korea, Republic of</option>
                  <option value="Kuwait">Kuwait</option>
                  <option value="Kyrgyzstan">Kyrgyzstan</option>
                  <option value="Lao People's Democratic Republic">Lao People's Democratic Republic</option>
                  <option value="Latvia">Latvia</option>
                  <option value="Lebanon">Lebanon</option>
                  <option value="Lesotho">Lesotho</option>
                  <option value="Liberia">Liberia</option>
                  <option value="Libya">Libya</option>
                  <option value="Liechtenstein">Liechtenstein</option>
                  <option value="Lithuania">Lithuania</option>
                  <option value="Luxembourg">Luxembourg</option>
                  <option value="Macao">Macao</option>
                  <option value="Macedonia, the former Yugoslav Republic of">Macedonia, the former Yugoslav Republic of</option>
                  <option value="Madagascar">Madagascar</option>
                  <option value="Malawi">Malawi</option>
                  <option value="Malaysia">Malaysia</option>
                  <option value="Maldives">Maldives</option>
                  <option value="Mali">Mali</option>
                  <option value="Malta">Malta</option>
                  <option value="Marshall Islands">Marshall Islands</option>
                  <option value="Martinique">Martinique</option>
                  <option value="Mauritania">Mauritania</option>
                  <option value="Mauritius">Mauritius</option>
                  <option value="Mayotte">Mayotte</option>
                  <option value="Mexico">Mexico</option>
                  <option value="Micronesia, Federated States of">Micronesia, Federated States of</option>
                  <option value="Moldova, Republic of">Moldova, Republic of</option>
                  <option value="Monaco">Monaco</option>
                  <option value="Mongolia">Mongolia</option>
                  <option value="Montenegro">Montenegro</option>
                  <option value="Montserrat">Montserrat</option>
                  <option value="Morocco">Morocco</option>
                  <option value="Mozambique">Mozambique</option>
                  <option value="Myanmar">Myanmar</option>
                  <option value="Namibia">Namibia</option>
                  <option value="Nauru">Nauru</option>
                  <option value="Nepal">Nepal</option>
                  <option value="Netherlands">Netherlands</option>
                  <option value="New Caledonia">New Caledonia</option>
                  <option value="New Zealand">New Zealand</option>
                  <option value="Nicaragua">Nicaragua</option>
                  <option value="Niger">Niger</option>
                  <option value="Nigeria">Nigeria</option>
                  <option value="Niue">Niue</option>
                  <option value="Norfolk Island">Norfolk Island</option>
                  <option value="Northern Mariana Islands">Northern Mariana Islands</option>
                  <option value="Norway">Norway</option>
                  <option value="Oman">Oman</option>
                  <option value="Pakistan">Pakistan</option>
                  <option value="Palau">Palau</option>
                  <option value="Palestinian Territory, Occupied">Palestinian Territory, Occupied</option>
                  <option value="Panama">Panama</option>
                  <option value="Papua New Guinea">Papua New Guinea</option>
                  <option value="Paraguay">Paraguay</option>
                  <option value="Peru">Peru</option>
                  <option value="Philippines">Philippines</option>
                  <option value="Pitcairn">Pitcairn</option>
                  <option value="Poland">Poland</option>
                  <option value="Portugal">Portugal</option>
                  <option value="Puerto Rico">Puerto Rico</option>
                  <option value="Qatar">Qatar</option>
                  <option value="Réunion">Réunion</option>
                  <option value="Romania">Romania</option>
                  <option value="Russian Federation">Russian Federation</option>
                  <option value="Rwanda">Rwanda</option>
                  <option value="Saint Barthélemy">Saint Barthélemy</option>
                  <option value="Saint Helena, Ascension and Tristan da Cunha">Saint Helena, Ascension and Tristan da Cunha</option>
                  <option value="Saint Kitts and Nevis">Saint Kitts and Nevis</option>
                  <option value="Saint Lucia">Saint Lucia</option>
                  <option value="Saint Martin (French part)">Saint Martin (French part)</option>
                  <option value="Saint Pierre and Miquelon">Saint Pierre and Miquelon</option>
                  <option value="Saint Vincent and the Grenadines">Saint Vincent and the Grenadines</option>
                  <option value="Samoa">Samoa</option>
                  <option value="San Marino">San Marino</option>
                  <option value="Sao Tome and Principe">Sao Tome and Principe</option>
                  <option value="Saudi Arabia">Saudi Arabia</option>
                  <option value="Senegal">Senegal</option>
                  <option value="Serbia">Serbia</option>
                  <option value="Seychelles">Seychelles</option>
                  <option value="Sierra Leone">Sierra Leone</option>
                  <option value="Singapore">Singapore</option>
                  <option value="Sint Maarten (Dutch part)">Sint Maarten (Dutch part)</option>
                  <option value="Slovakia">Slovakia</option>
                  <option value="Slovenia">Slovenia</option>
                  <option value="Solomon Islands">Solomon Islands</option>
                  <option value="Somalia">Somalia</option>
                  <option value="South Africa">South Africa</option>
                  <option value="South Georgia and the South Sandwich Islands">South Georgia and the South Sandwich Islands</option>
                  <option value="South Sudan">South Sudan</option>
                  <option value="Spain">Spain</option>
                  <option value="Sri Lanka">Sri Lanka</option>
                  <option value="Sudan">Sudan</option>
                  <option value="Suriname">Suriname</option>
                  <option value="Svalbard and Jan Mayen">Svalbard and Jan Mayen</option>
                  <option value="Swaziland">Swaziland</option>
                  <option value="Sweden">Sweden</option>
                  <option value="Switzerland">Switzerland</option>
                  <option value="Syrian Arab Republic">Syrian Arab Republic</option>
                  <option value="Taiwan, Province of China">Taiwan, Province of China</option>
                  <option value="Tajikistan">Tajikistan</option>
                  <option value="Tanzania, United Republic of">Tanzania, United Republic of</option>
                  <option value="Thailand">Thailand</option>
                  <option value="Timor-Leste">Timor-Leste</option>
                  <option value="Togo">Togo</option>
                  <option value="Tokelau">Tokelau</option>
                  <option value="Tonga">Tonga</option>
                  <option value="Trinidad and Tobago">Trinidad and Tobago</option>
                  <option value="Tunisia">Tunisia</option>
                  <option value="Turkey">Turkey</option>
                  <option value="Turkmenistan">Turkmenistan</option>
                  <option value="Turks and Caicos Islands">Turks and Caicos Islands</option>
                  <option value="Tuvalu">Tuvalu</option>
                  <option value="Uganda">Uganda</option>
                  <option value="Ukraine">Ukraine</option>
                  <option value="United Arab Emirates">United Arab Emirates</option>
                  <option value="United Kingdom">United Kingdom</option>
                  <option value="United States">United States</option>
                  <option value="United States Minor Outlying Islands">United States Minor Outlying Islands</option>
                  <option value="Uruguay">Uruguay</option>
                  <option value="Uzbekistan">Uzbekistan</option>
                  <option value="Vanuatu">Vanuatu</option>
                  <option value="Venezuela, Bolivarian Republic of">Venezuela, Bolivarian Republic of</option>
                  <option value="Viet Nam">Viet Nam</option>
                  <option value="Virgin Islands, British">Virgin Islands, British</option>
                  <option value="Virgin Islands, U.S.">Virgin Islands, U.S.</option>
                  <option value="Wallis and Futuna">Wallis and Futuna</option>
                  <option value="Western Sahara">Western Sahara</option>
                  <option value="Yemen">Yemen</option>
                  <option value="Zambia">Zambia</option>
                  <option value="Zimbabwe">Zimbabwe</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" *ngIf="!loaders.saving" class="btn btn-primary">UPDATE</button>
          <span *ngIf="loaders.saving" class="btn btn-primary">Loading&nbsp;<i class="fa fa-spin fa-spinner"></i></span>
          <button type="button" class="btn btn-danger" data-dismiss="modal">CLOSE</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- View Customer Modal -->
<div class="modal fade" id="viewCustomerModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="title" id="viewCustomerLabel">View Customer</h4>
        <button type="button" class="close" data-dismiss="modal">×</button>

      </div>

        <div class="modal-body">
          <div class="text-center">
            <span>
              <button (click)="viewDashboard()" class="btn btn-info btn-sm">View {{activeCustomer?.full_name}}'s Dashboard</button>
            </span>
          </div>
          <div class="card">
            <div class="header">
              <h2>Sponsorship Details</h2>
            </div>
            <div class="text-center mt--3" *ngIf="!sponsorShip.length">
              <div>
                <img src="assets/img/farm/no-record-img.png" style="width: 30%">
              </div>
              <div>User have no active farm sponsor</div>
            </div>
            <div class="body table-responsive" *ngIf="sponsorShip.length">
              <table class="table table-hover m-b-0">

                <thead>
                <tr>
                  <th>Farm Name</th>
                  <th>Farm ROI</th>
                  <th>Start of Cycle Date</th>
                  <th>End of Cycle Date</th>
                  <th>Amount Invested</th>
                  <th>Expected Return</th>
                  <th>Action</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let sponsor of sponsorShip;let i = index;">
                  <td>{{ sponsor?.orderId?.farm_name }}</td>
                  <td>{{ sponsor?.orderId?.roi }}% in {{sponsor?.orderId?.duration}} {{sponsor?.orderId?.duration_type}}S</td>
                  <td>{{sponsor?.start_date | date }}</td>
                  <td>{{sponsor?.expected_end_date | date}}</td>
                  <td>{{sponsor?.orderId?.total_price | currency: sponsor?.orderId.currency || 'NGN' + ' '}}</td>
                  <td>{{sponsor?.expected_return | currency: sponsor?.orderId.currency || 'NGN' + ' '}}</td>
                  <td>
                    <button class="btn btn-info btn-sm" (click)="refundSponsor(sponsor)">Refund</button>&nbsp;
                    <button class="btn btn-danger btn-sm" (click)="cancelSponsor(sponsor)">Cancel</button>
                  </td>
                </tr>

                </tbody>
              </table>
            </div>
          </div>
          <div class="card">
            <div class="header">
              <h2>Next of Kin</h2>
            </div>
            <div class="body table-responsive" *ngIf="kin_info">
              <table class="table table-hover m-b-0">

                <tbody>
                <tr>
                  <th>Name</th>
                  <td>{{kin_info?.name}}</td>
                  <th>Phone</th>
                  <td>{{kin_info?.phone_number}}</td>
                </tr>
                <tr>
                  <th>Email</th>
                  <td>{{kin_info?.email}}</td>
                  <th>Relationship</th>
                  <td>{{kin_info?.email}}</td>
                </tr>
                <tr>
                  <th>Address</th>
                  <td colspan="2">{{kin_info?.address}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card">
            <div class="header">
              <h2>Bank Information</h2>
            </div>
            <div class="body table-responsive" *ngIf="bank_info">
              <table class="table table-hover m-b-0">
                <tbody>
                <tr>
                  <th>Bank Name</th>
                  <td>{{bank_info?.bank_name}}</td>
                  <th>Account Number</th>
                  <td>{{bank_info?.account_number}}</td>
                </tr>
                <tr>
                  <th>Account Name</th>
                  <td>{{bank_info?.account_name}}</td>
                  <th>BVN</th>
                  <td>{{bank_info?.bvn}}</td>
                </tr>
                <tr>
                  <th>Verified Account Name</th>
                  <td>{{bank_info?.verified_account_name}}</td>
                  <th>Documents</th>
                  <td><ul><li *ngFor="let doc of bank_info?.documents">{{doc}}</li></ul></td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
          <div class="card">
            <div class="header">
              <h2>Business Information</h2>
            </div>
            <div class="body table-responsive" *ngIf="business_info">
              <table class="table table-hover m-b-0">
                <tbody>
                <tr>
                  <th>Company Name</th>
                  <td>{{business_info?.company_name}}</td>
                  <th>Company Email</th>
                  <td>{{business_info?.company_email}}</td>
                </tr>
                <tr>
                  <th>Phone Number</th>
                  <td>{{business_info?.company_phone}}</td>
                  <th>Address</th>
                  <td>{{business_info?.company_address}}</td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">CLOSE</button>
        </div>

    </div>
  </div>
</div>
