<div class="landing-page-content">

  <header id="faq-hero">

    <app-l-header [active]="'shop'"></app-l-header>


    <div id="hero-content-2">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 text-left text-white">
            <h1 class="about-title mt--2">Browse Products</h1>
          </div> <!-- END col-sm-12-->

          <div class="col-sm-2"></div>
          <div class="col-sm-4 text-right">
            <form (submit)="searchProduct()">
              <div class="input-group">
                <input type="text" class="form-control subscribe-form" placeholder="Search Product" [(ngModel)]="productSearchData" [ngModelOptions]="{standalone: true}">
                <div class="input-group-append" style="cursor: pointer">
                  <span class="input-group-text green-color btn subscribe-btn" *ngIf="searchLoader"><i class="fa fa-spin fa-spinner"></i></span>
                  <span class="input-group-text green-color btn subscribe-btn" *ngIf="!searchLoader" (click)="searchProduct()"><i class="fa fa-search"></i></span>
                </div>
              </div>
            </form>
          </div>


        </div> <!-- END row-->
      </div> <!-- END container-->
    </div> <!-- END hero-content-->

  </header>



  <section class="mt-3 mb-2">
    <div class="row">
      <div class="col-sm-12 text-center">
        <!--<h2 class="section-title" >Farm Shop</h2>-->
        <p class="section-tagline">
          Shop from our retail store
        </p>
      </div> <!-- END col-sm-12-->
    </div> <!-- END row-->

    <div class="container px-sm-5 px-md-0">
      <div class="row">
        <div class="col-lg-2 col-md-4 col-12 mb-4">
          <div class="mb-3" style="font-size: 18px;"><span>Product Filter</span></div>
          <div class="accordion">
            <div class="mb-2">
              <div class="mb-3">
                <h5 class="mb-1" style="font-size: 16px;" (click)="triggerAccordion('farmType', 'farm-type-arrow')" >
                  <a href="javascript:void(0)" data-toggle="collapse" data-target="#farmType" style="padding-bottom: 6px;border-bottom: 2px solid #89DB87" aria-expanded="true" aria-controls="farmType">
                    Category
                    <i class="fa fa-chevron-down ml-4 d-none" id="farm-type-arrow-down" style="font-size: 12px;"></i>
                    <i class="fa fa-chevron-right ml-4" id="farm-type-arrow-right" style="font-size: 12px;"></i>
                  </a>
                </h5>
              </div>
              <div id="farmType" class="collapse show mt-4 ml-4">
                <div class="" *ngIf="clearFilterInput">
                  <div *ngFor="let type of allTypes;let j = index">
                    <input type="checkbox" class="form-check-input" [id]="'farmtype' + j" [value]="type._id" (change)="keepChange('farmtype', j)">
                    <label class="form-check-label"  [for]="'farmtype' + j">{{type.name}}</label>

                  </div>




                </div>
              </div>
            </div>
            <div class="mb-2">
              <div>
                <h5 class="mb-1 pt-3" style="font-size: 16px;" (click)="triggerAccordion('farmStatus', 'farm-status-arrow')" >
                  <a href="javascript:void(0)" data-toggle="collapse" data-target="#farmStatus" style="padding-bottom: 6px;border-bottom: 2px solid #89DB87" aria-expanded="true" aria-controls="farmStatus">
                    Status
                    <i class="fa fa-chevron-down ml-4 d-none" id="farm-status-arrow-down" style="font-size: 12px;"></i>
                    <i class="fa fa-chevron-right ml-4" id="farm-status-arrow-right" style="font-size: 12px;"></i>
                  </a>
                </h5>
              </div>
              <div id="farmStatus" class="collapse show mt-4 ml-4">
                <div class="" *ngIf="clearFilterInput">
                  <div *ngFor="let status of allStatus;let k = index">
                    <input type="checkbox" class="form-check-input" [id]="'farmtypestatus' + k" [value]="status._id" (change)="keepChange('farmtypestatus', k)">
                    <label class="form-check-label"  [for]="'farmtypestatus' + k">{{status.name}}</label>

                  </div>






                </div>
              </div>
            </div>
          </div>

          <hr>
          <div class="mb-3 text-left" style="">
            <button class="btn btn-sm btn-danger" (click)="clearFilter();">Clear</button>&nbsp;

            <button class="btn btn-sm btn-success"
                    [disabled]="!arrData.product_status.length && !arrData.product_type.length"
                    (click)="applyFilter();">Apply</button>
          </div>

        </div>




















        <div class="col-lg-10 col-md-8 col-12 pb-5">
          <div *ngIf="loading && !allProducts.length">
            <div class="row">
              <div class="col-3">
                <div class="ph-item">
                  <div class="ph-col-12">
                    <div class="ph-picture"></div>
                    <div class="ph-row">
                      <div class="ph-col-6 big"></div>
                      <div class="ph-col-4 empty big"></div>
                      <div class="ph-col-2 big"></div>
                      <div class="ph-col-4"></div>
                      <div class="ph-col-8 empty"></div>
                      <div class="ph-col-6"></div>
                      <div class="ph-col-6 empty"></div>
                      <div class="ph-col-12"></div>
                    </div>
                  </div>
                </div></div>
              <div class="col-3">
                <div class="ph-item">
                  <div class="ph-col-12">
                    <div class="ph-picture"></div>
                    <div class="ph-row">
                      <div class="ph-col-6 big"></div>
                      <div class="ph-col-4 empty big"></div>
                      <div class="ph-col-2 big"></div>
                      <div class="ph-col-4"></div>
                      <div class="ph-col-8 empty"></div>
                      <div class="ph-col-6"></div>
                      <div class="ph-col-6 empty"></div>
                      <div class="ph-col-12"></div>
                    </div>
                  </div>
                </div></div>
              <div class="col-3">
                <div class="ph-item">
                  <div class="ph-col-12">
                    <div class="ph-picture"></div>
                    <div class="ph-row">
                      <div class="ph-col-6 big"></div>
                      <div class="ph-col-4 empty big"></div>
                      <div class="ph-col-2 big"></div>
                      <div class="ph-col-4"></div>
                      <div class="ph-col-8 empty"></div>
                      <div class="ph-col-6"></div>
                      <div class="ph-col-6 empty"></div>
                      <div class="ph-col-12"></div>
                    </div>
                  </div>
                </div></div>
              <div class="col-3">
                <div class="ph-item">
                  <div class="ph-col-12">
                    <div class="ph-picture"></div>
                    <div class="ph-row">
                      <div class="ph-col-6 big"></div>
                      <div class="ph-col-4 empty big"></div>
                      <div class="ph-col-2 big"></div>
                      <div class="ph-col-4"></div>
                      <div class="ph-col-8 empty"></div>
                      <div class="ph-col-6"></div>
                      <div class="ph-col-6 empty"></div>
                      <div class="ph-col-12"></div>
                    </div>
                  </div>
                </div></div>
            </div>

            <div class="row">
              <div class="col-3">
                <div class="ph-item">
                  <div class="ph-col-12">
                    <div class="ph-picture"></div>
                    <div class="ph-row">
                      <div class="ph-col-6 big"></div>
                      <div class="ph-col-4 empty big"></div>
                      <div class="ph-col-2 big"></div>
                      <div class="ph-col-4"></div>
                      <div class="ph-col-8 empty"></div>
                      <div class="ph-col-6"></div>
                      <div class="ph-col-6 empty"></div>
                      <div class="ph-col-12"></div>
                    </div>
                  </div>
                </div></div>
              <div class="col-3">
                <div class="ph-item">
                  <div class="ph-col-12">
                    <div class="ph-picture"></div>
                    <div class="ph-row">
                      <div class="ph-col-6 big"></div>
                      <div class="ph-col-4 empty big"></div>
                      <div class="ph-col-2 big"></div>
                      <div class="ph-col-4"></div>
                      <div class="ph-col-8 empty"></div>
                      <div class="ph-col-6"></div>
                      <div class="ph-col-6 empty"></div>
                      <div class="ph-col-12"></div>
                    </div>
                  </div>
                </div></div>
              <div class="col-3">
                <div class="ph-item">
                  <div class="ph-col-12">
                    <div class="ph-picture"></div>
                    <div class="ph-row">
                      <div class="ph-col-6 big"></div>
                      <div class="ph-col-4 empty big"></div>
                      <div class="ph-col-2 big"></div>
                      <div class="ph-col-4"></div>
                      <div class="ph-col-8 empty"></div>
                      <div class="ph-col-6"></div>
                      <div class="ph-col-6 empty"></div>
                      <div class="ph-col-12"></div>
                    </div>
                  </div>
                </div></div>
              <div class="col-3">
                <div class="ph-item">
                  <div class="ph-col-12">
                    <div class="ph-picture"></div>
                    <div class="ph-row">
                      <div class="ph-col-6 big"></div>
                      <div class="ph-col-4 empty big"></div>
                      <div class="ph-col-2 big"></div>
                      <div class="ph-col-4"></div>
                      <div class="ph-col-8 empty"></div>
                      <div class="ph-col-6"></div>
                      <div class="ph-col-6 empty"></div>
                      <div class="ph-col-12"></div>
                    </div>
                  </div>
                </div></div>
            </div>

          </div>
          <div class="row pt-3 mt-3" *ngIf="noRecordFound">
            <div class="col-12 text-center" >
              <div style="display:inline-block;"><span style="font-size: 29px;">No result found!!</span>

                <div> <button class="btn btn-lg btn-link" (click)="getFarmProducts()">Load all</button></div></div>
            </div>
          </div>

          <div class="row landing-page mb-2" >
            <div *ngFor="let product of allProducts;let i = index" class="col-md-3 col-sm-6 text-center mt-30"  [ngClass]="(j % 2 === 0) ? 'wow fadeInLeft' : 'wow fadeInRight'" [attr.data-wow-delay]="'.' + (j + 1) + 's'">
              <div class="">
                <div class="position-relative">
                  <figure>
                    <a href="javascript:void(0)" (click)="openProduct(product)">
                      <img [src]="product?.display_img" width="200">
                    </a>
                    <div class="position-absolute" style="top: 5%;right: 5%" [attr.data-balloon]="product?.product_status?.name?.toLowerCase() === 'in stock' ? 'Add To Cart' : 'Out of Stock'" data-balloon-pos="up">
                      <button class="btn-icon btn-add-cart form-control" (click)="addToCart(product)" style="cursor: pointer">
                        <i class="icon-bag"></i></button>
                    </div>
                  </figure>
                  <div class="product-details" style="line-height: normal;letter-spacing: normal">
                    <div data-balloon-pos="up" data-balloon-length="large" [attr.data-balloon]="product?.product_name">
                      <h4 class="block-title product-title">
                        <a href="javascript:void(0)">{{product?.product_name}}</a>
                      </h4>
                    </div>
                    <div >
                      <span class="product-price">{{product?.product_location}}</span>
                    </div>
                    <div >
                      <span class="product-price font-weight-bold">{{product?.price || 0 | currency: product?.currency + ' '}}</span>
                    </div>
                  </div>


                </div>

              </div>
            </div>


          </div>

          <div class="row" *ngIf="false && allProducts.length">
            <div class="pt-3 col-12 ml-5">
              <ul class="pagination m-34-p">
                <li class="page-item disabled" aria-disabled="true" aria-label="« Previous">
                  <span class="page-link" aria-hidden="true">‹</span>
                </li>
                <li class="page-item active" aria-current="page"><span class="page-link">1</span></li>
                <li class="page-item"><a class="page-link" href="/farm-shop?page=2">2</a></li>
                <li class="page-item"><a class="page-link" href="/farm-shop?page=3">3</a></li>
                <li class="page-item"><a class="page-link" href="/farm-shop?page=4">4</a></li>
                <li class="page-item"><a class="page-link" href="/farm-shop?page=5">5</a></li>
                <li class="page-item">
                  <a class="page-link" href="/farm-shop?page=2" rel="next" aria-label="Next »">›</a>
                </li>
              </ul>



            </div>
          </div>

        </div>
      </div>
    </div>


  </section>

  <app-l-footer></app-l-footer>
</div>
