<div class="container-fluid">
  <app-breadcrumb [dataInput]="breadCrumb"></app-breadcrumb>


  <div class="row clearfix" *ngIf="loaders.loading">
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card p-3">
        <div class="ph-col-12">
          <div class="ph-row">
            <div class="ph-col-6 big"></div>
            <div class="ph-col-4 empty big"></div>
            <div class="ph-col-2 big"></div>
            <div class="ph-col-4"></div>
            <div class="ph-col-8 empty"></div>
            <div class="ph-col-6"></div>
            <div class="ph-col-6 empty"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card p-3"><div class="ph-col-12">
        <div class="ph-row">
          <div class="ph-col-6 big"></div>
          <div class="ph-col-4 empty big"></div>
          <div class="ph-col-2 big"></div>
          <div class="ph-col-4"></div>
          <div class="ph-col-8 empty"></div>
          <div class="ph-col-6"></div>
          <div class="ph-col-6 empty"></div>
        </div>
      </div></div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card p-3"><div class="ph-col-12">
        <div class="ph-row">
          <div class="ph-col-6 big"></div>
          <div class="ph-col-4 empty big"></div>
          <div class="ph-col-2 big"></div>
          <div class="ph-col-4"></div>
          <div class="ph-col-8 empty"></div>
          <div class="ph-col-6"></div>
          <div class="ph-col-6 empty"></div>
        </div>
      </div></div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card p-3"><div class="ph-col-12">
        <div class="ph-row">
          <div class="ph-col-6 big"></div>
          <div class="ph-col-4 empty big"></div>
          <div class="ph-col-2 big"></div>
          <div class="ph-col-4"></div>
          <div class="ph-col-8 empty"></div>
          <div class="ph-col-6"></div>
          <div class="ph-col-6 empty"></div>
        </div>
      </div></div>
    </div>
  </div>

  <div class="row clearfix" *ngIf="loaders.loading">
    <div class="card p-3">
      <div class="ph-col-12">
        <div class="ph-row">
          <div class="ph-col-6 big"></div>
          <div class="ph-col-4 empty big"></div>
          <div class="ph-col-2 big"></div>
          <div class="ph-col-4"></div>
          <div class="ph-col-8 empty"></div>
          <div class="ph-col-6"></div>
          <div class="ph-col-6 empty"></div>
        </div>
      </div>
    </div>
  </div>
 <ng-container  *ngIf="!loaders.loading && checkPrivilege(['super', 'accountant'])">
   <div class="row clearfix" >
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card overflowhidden number-chart">
        <div class="body">
          <div class="number">
            <h6>WALLET TOTAL</h6>
            <span>{{dashboard?.wallet?.wallet_total || 0 | currency: dashboard?.wallet?.currency + ' '}}</span>
          </div>
          <small class="text-muted">As of {{dashboard?.wallet?.date | date}}</small>
        </div>
        <app-sparkline [data]="dashboard?.wallet?.spike"></app-sparkline>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card overflowhidden number-chart">
        <div class="body">
          <div class="number">
            <h6>INVESTMENT TOTAL</h6>
            <span>{{dashboard?.total_investment?.total || 0 | currency: dashboard?.total_investment?.currency + ' '}}</span>
          </div>
          <small class="text-muted">As of {{dashboard?.total_investment?.date | date}}</small>
        </div>
        <app-sparkline [data]="dashboard?.total_investment?.spike"></app-sparkline>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card overflowhidden number-chart">
        <div class="body">
          <div class="number">
            <h6>EXPECTED RETURNS</h6>
            <span>{{dashboard?.expected_returns?.total || 0 | currency: dashboard?.expected_returns?.currency + ' '}}</span>
          </div>
          <small class="text-muted">As of {{dashboard?.expected_returns?.date | date}}</small>
        </div>
        <app-sparkline [data]="dashboard?.expected_returns?.spike"></app-sparkline>
      </div>
    </div>
    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card overflowhidden number-chart">
        <div class="body">
          <div class="number">
            <h6>RETURN TOTAL</h6>
            <span>{{dashboard?.total_returns?.total || 0 | currency: dashboard?.total_returns?.currency + ' '}}</span>
          </div>
          <small class="text-muted">As of {{dashboard?.total_returns?.date | date}}</small>
        </div>
        <app-sparkline [data]="dashboard?.total_returns?.spike.length < 2 ? [0, 0, 0, 0, 0] : dashboard?.total_returns?.spike"></app-sparkline>
      </div>
    </div>












  </div>



  <div class="row clearfix">

    <div class="col-lg-3 col-md-6 col-sm-6">
      <div class="card">
        <div class="body">
          <h5>{{dashboard?.withdraw?.total || 0 | currency: dashboard?.withdraw?.currency + ' '}}</h5>
          <p class="text-muted">WITHDRAW TOTAL</p>
          <div class="progress progress-xs">
            <div class="progress-bar l-parpl" role="progressbar" style="width: 77%;"></div>
          </div>
          <small>As of {{dashboard?.withdraw?.date | date}}</small>
        </div>
      </div>

    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card overflowhidden">
        <div class="body text-center">
          <div class="p-15">
            <h3>{{dashboard?.users?.total}}</h3>
            <span>Total Users</span>
          </div>
        </div>
        <div class="progress progress-xs progress-transparent custom-color-blue m-b-0">
          <div class="progress-bar" style="width: 100%;"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card overflowhidden">
        <div class="body text-center">
          <div class="p-15">
            <h3>{{dashboard?.users?.migrated}}</h3>
            <span>Total Migrated</span>
          </div>
        </div>
        <div class="progress progress-xs progress-transparent custom-color-purple m-b-0">
          <div class="progress-bar"
               [style.width]="((dashboard?.users?.migrated / dashboard?.users?.total ) * 100) + '%'"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card overflowhidden">
        <div class="body text-center">
          <div class="p-15">
            <h3>{{dashboard?.users?.verified}}</h3>
            <span>Verified Users</span>
          </div>
        </div>
        <div class="progress progress-xs progress-transparent custom-color-green m-b-0">
          <div class="progress-bar"
               [style.width]="((dashboard?.users?.verified / dashboard?.users?.total ) * 100) + '%'"></div>
        </div>
      </div>
    </div>
    <div class="col-lg-3 col-md-6">
      <div class="card overflowhidden">
        <div class="body text-center">
          <div class="p-15">
            <h3>{{dashboard?.users?.unverified}}</h3>
            <span>Unverified Users</span>
          </div>
        </div>
        <div class="progress progress-xs progress-transparent custom-color-yellow m-b-0">
          <div class="progress-bar"
               [style.width]="((dashboard?.users?.unverified / dashboard?.users?.total ) * 100) + '%'"
          ></div>
        </div>
      </div>
    </div>

    <div class="col-lg-3 col-md-6">
      <div class="card overflowhidden">
        <div class="body text-center">
          <div class="p-15">
            <h3>{{dashboard?.users?.referred}}</h3>
            <span>Referred Users</span>
          </div>
        </div>
        <div class="progress progress-xs progress-transparent custom-color-blue m-b-0">
          <div class="progress-bar" [style.width]="((dashboard?.users?.referred / dashboard?.users?.total ) * 100) + '%'"></div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
  <div class="row clearfix"  *ngIf="!loaders.loading">
    <div class="col-lg-4 col-md-6">
      <div class="card top_counter currency_state">
        <div class="body">
          <div class="icon"><img src="assets/img/dashboard/icons/reports.png" width="35"></div>
          <div class="content">
            <div class="text">Transactions</div>
            <h5 class="number">{{dashboard?.stats?.transactions}}</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card top_counter currency_state">
        <div class="body">
          <div class="icon"><img src="assets/img/dashboard/icons/reports.png" width="35"></div>
          <div class="content">
            <div class="text">Completed Transactions</div>
            <h5 class="number">{{dashboard?.stats?.confirmed_transactions}}</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card top_counter currency_state">
        <div class="body">
          <div class="icon"><img src="assets/img/dashboard/icons/wallet.png" width="35"></div>
          <div class="content">
            <div class="text">Wallet Transactions</div>
            <h5 class="number">{{dashboard?.stats?.wallet_transaction}}</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card top_counter currency_state">
        <div class="body">
          <div class="icon"><img src="assets/img/dashboard/icons/shopping_cart.png" width="35"></div>
          <div class="content">
            <div class="text">Cart Items Count</div>
            <h5 class="number">{{dashboard?.stats?.cart_count}}</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card top_counter currency_state">
        <div class="body">
          <div class="icon"><img src="assets/img/dashboard/icons/history-colored.png" width="35"></div>
          <div class="content">
            <div class="text">Orders Count</div>
            <h5 class="number">{{dashboard?.stats?.orders}}</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card top_counter currency_state">
        <div class="body">
          <div class="icon"><img src="assets/img/dashboard/icons/sponsorship.png" width="35"></div>
          <div class="content">
            <div class="text">Total Sponsorships</div>
            <h5 class="number">{{dashboard?.stats?.sponsorships}}</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card top_counter currency_state">
        <div class="body">
          <div class="icon"><img src="assets/img/dashboard/icons/update-colored.png" width="35"></div>
          <div class="content">
            <div class="text">Completed Sponsorships</div>
            <h5 class="number">{{dashboard?.stats?.sponsorships_completed}}</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card top_counter currency_state">
        <div class="body">
          <div class="icon"><img src="assets/img/dashboard/icons/profile.png" width="35"></div>
          <div class="content">
            <div class="text">Pending Messages</div>
            <h5 class="number">{{dashboard?.stats?.account_manager}}</h5>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
      <div class="card top_counter currency_state">
        <div class="body">
          <div class="icon"><img src="assets/img/dashboard/icons/mail.png" width="35"></div>
          <div class="content">
            <div class="text">Newsletter Subscribers</div>
            <h5 class="number">{{dashboard?.stats?.newsletter}}</h5>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>


<!--
  <div class="row">
    <div class="card">
      <div class="body"><input type="file" name="file" id="fileImport" (change)="importFiles($event)" /></div>
    </div>
  </div>

-->


