<div class="container-fluid">
  <!--<app-breadcrumb [dataInput]="breadCrumb"></app-breadcrumb>-->








  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card">
        <div class="header">
          <h4>Cart: <small>{{cartCountNumber || 0}} item(s)</small></h4>
        </div>
        <div class="body mt-1" *ngIf="cartInFarm">
          <h6>Farm Shop Cart Item(s)</h6>
          <div class="text-center mt-1 mb-3" *ngIf="loadingData">
            <span class="fa fa-spin fa-spinner fa-2x"></span>&nbsp;
            <br>
            <span> Loading, Please wait...</span>
          </div>

          <div class="text-center" *ngIf="!loadingData && !allCarts.length">

            <div class="text-center">
              <div>
                <img src="assets/img/farm/no-record-img.png" style="width: 30%">
              </div>
              <div>You have no farm item in you cart, please sponsor a farm</div>
              <div class="mt-2">
                <button class="btn btn-sm btn-success" (click)="gotoURL('/user/farm-update')">Go to sponsorship</button>
              </div>
            </div>

          </div>
          <div *ngIf="showData && allCarts.length">


            <div class="grid-container2 py-3 grid-header">
              <div class="grid-item">
                Title
              </div>
              <div class="grid-item">Unit Price</div>
              <div class="grid-item">
               Quantity
              </div>
              <div class="grid-item">
                Price
              </div>
            </div>


            <div class="grid-container2 grid-body my-1" *ngFor="let cart of allCarts;let i = index;">
              <div class="grid-item item1">
                <div class="mini-grid-container">

                  <div class="mini-1">
                    <img [src]="cart?.farmId?.display_img" class="img-fluid cart-img">
                  </div>
                  <div class="mini-2">
                    <div class="font-weight-bold">{{cart?.farmId?.farm_name}}</div>
                    <div>{{cart?.farmId?.farm_location}}</div>

                    <div *ngIf=" cart?.farmId?.farm_type?.name.toLowerCase() !== 'food trading' && cart?.farmId?.farm_type?.name.toLowerCase() !== 'food stuff trading'"
                         class="text-capitalize font-weight-bold">{{cart?.farmId?.percentage_to_gain +'% return in ' + cart?.farmId?.duration + ' ' + cart?.farmId?.duration_type +'S' | titlecase}}</div>

                    <div *ngIf=" cart?.farmId?.farm_type?.name.toLowerCase() === 'food trading' || cart?.farmId?.farm_type?.name.toLowerCase() === 'food stuff trading'"
                      class="">{{cart?.farmId?.percentage_to_gain +'% ROI every ' + cart?.farmId?.roi_interval + ' months for '+ cart?.farmId?.duration }} <span class="text-lowercase">{{cart?.farmId?.duration_type}}s</span></div>

                  </div>
                </div>
              </div>
              <div class="grid-item item2">
                <div class=" mt-sm-0 mt-md-1 mt-lg-4">{{cart?.farmId?.amount_to_invest || 0 | currency: cart?.farmId?.currency}}</div>
              </div>
              <div class="grid-item item3">
                <div class="number-input mt-sm-0 mt-md-1 mt-lg-4">
                  <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="" (click)="userQuestionUpdate.next({cart: cart, id: 'quantity' + i})" ></button>
                  <input class="quantity" min="1" [id]="'quantity' + i" name="quantity" type="number"
                         [(ngModel)]="cart.quantity" [ngModelOptions]="{standalone: true}" (change)="userQuestionUpdate.next({cart: cart, id: 'quantity' + i})" (keyup)="userQuestionUpdate.next({cart: cart, id: 'quantity' + i})">
                  <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus" (click)="userQuestionUpdate.next({cart: cart, id: 'quantity' + i})"></button>
                </div>
              </div>
              <div class="grid-item item4">
                {{cart?.total_price || 0 | currency: cart?.farmId?.currency }}
                <div class="py-0">
                  <a data-balloon="Remove Cart" data-balloon-pos="up" (click)="deleteCart(cart)" class="btn btn-sm btn-link text-danger" style="font-size: 10px;">
                    <i class="fa fa-trash"></i>&nbsp;Remove
                  </a>
                  <div style="padding-top: -10px;" *ngIf="cart.farmId.farm_status.name === 'Sold Out'"><span class="text-danger">Sold Out</span></div>
                </div>
              </div>
            </div>


            <div class="grid-container2 py-5 mb-5 grid-footer" >
              <div class="grid-item">
              </div>
              <div class="grid-item"></div>
              <div class="grid-item">
               Total
              </div>
              <div class="grid-item">
                {{totalCartValue || 0 | currency: cartCurrency }}
                <div class="mt-3">
                  <button class="btn btn-lg btn-success px-5" (click)="checkoutModal('choosePaymentGateway')">Checkout</button>
                </div>
              </div>
            </div>
          </div>



        </div>
        <div class="body">
          <h6>Farm Product Cart Item(s)</h6>
          <div class="text-center mt-1 mb-3" *ngIf="loadingData">
            <span class="fa fa-spin fa-spinner fa-2x"></span>&nbsp;
            <br>
            <span> Loading, Please wait...</span>
          </div>

          <div class="text-center" *ngIf="!loadingData && !allProductCarts.length">

            <div class="text-center">
              <div>
                <img src="assets/img/farm/no-record-img.png" style="width: 30%">
              </div>
              <div>You have no farm item in you cart, please order a product</div>
              <div class="mt-2">
                <button class="btn btn-sm btn-success" (click)="gotoURL('/farm-products')">View all products</button>
              </div>
            </div>

          </div>
          <div *ngIf="showData && allProductCarts.length">


            <div class="grid-container2 py-3 grid-header">
              <div class="grid-item">
                Title
              </div>
              <div class="grid-item">Unit Price</div>
              <div class="grid-item">
               Quantity
              </div>
              <div class="grid-item">
                Price
              </div>
            </div>


            <div class="grid-container2 grid-body my-1" *ngFor="let cart of allProductCarts;let j = index;">
              <div class="grid-item item1">
                <div class="mini-grid-container">

                  <div class="mini-1">
                    <img [src]="cart?.productId?.display_img" class="img-fluid cart-product-img">
                  </div>
                  <div class="mini-2">
                    <div class="font-weight-bold">{{cart?.productId?.product_name}}</div>
                    <div>{{cart?.productId?.product_location}}</div>

                   <!-- <div *ngIf=" cart?.productId?.product_type?.name.toLowerCase() !== 'food trading' && cart?.farmId?.farm_type?.name.toLowerCase() !== 'food stuff trading'"
                         class="text-capitalize font-weight-bold">{{cart?.farmId?.percentage_to_gain +'% return in ' + cart?.farmId?.duration + ' ' + cart?.farmId?.duration_type +'S' | titlecase}}</div>
-->

                  </div>
                </div>
              </div>
              <div class="grid-item item2">
                <div class=" mt-sm-0 mt-md-1 mt-lg-4">{{cart?.productId?.price || 0 | currency: cart?.productId?.currency}}</div>
              </div>
              <div class="grid-item item3">
                <div class="number-input mt-sm-0 mt-md-1 mt-lg-4">
                  <button onclick="this.parentNode.querySelector('input[type=number]').stepDown()" class="" (click)="userQuestionUpdate.next({cart: cart, id: 'product_quantity' + i})" ></button>
                  <input class="quantity" min="1" [id]="'product_quantity' + i" name="quantity" type="number"
                         [(ngModel)]="cart.quantity" [ngModelOptions]="{standalone: true}" (change)="userQuestionUpdate.next({cart: cart, id: 'product_quantity' + i})" (keyup)="userQuestionUpdate.next({cart: cart, id: 'product_quantity' + i})">
                  <button onclick="this.parentNode.querySelector('input[type=number]').stepUp()" class="plus" (click)="userQuestionUpdate.next({cart: cart, id: 'product_quantity' + i})"></button>
                </div>
              </div>
              <div class="grid-item item4">
                {{cart?.total_price || 0 | currency: cart?.productId?.currency }}
                <div class="py-0">
                  <a data-balloon="Remove Cart" data-balloon-pos="up" (click)="deleteCart(cart)" class="btn btn-sm btn-link text-danger" style="font-size: 10px;">
                    <i class="fa fa-trash"></i>&nbsp;Remove
                  </a>
                  <div style="padding-top: -10px;" *ngIf="cart?.productId?.product_status?.name === 'Out of Stock'"><span class="text-danger">Out of Stock</span></div>
                </div>
              </div>
            </div>


            <div class="grid-container2 py-5 mb-5 grid-footer" >
              <div class="grid-item" style="text-align: left;font-size: 10px;" >
                <div class="card " *ngIf="defaultAddress">
                  <div class="card-header" style="text-align: center;">
                    <span class="font-weight-bold" >DEFAULT SHIPPING ADDRESS</span>
                  </div>
                  <div class="card-body shipping_addresses">
                    <div class="">
                      <h6 class="mb-0">{{defaultAddress?.last_name + ' ' + defaultAddress?.first_name}}</h6>
                      <p class="mb-0"><b>Address :</b> {{defaultAddress?.address_line}}</p>
                      <p class="mb-0"><b>Details :</b> <span *ngIf="defaultAddress?.nearest_bus_stop">{{defaultAddress?.nearest_bus_stop}}</span><span *ngIf="defaultAddress?.city">, {{defaultAddress?.city}}</span>
                        <span *ngIf="defaultAddress?.state">, {{defaultAddress?.state}}</span><span *ngIf="defaultAddress?.country">, {{defaultAddress?.country}}</span></p>
                      <p class="mb-0"><b>Mobile :</b> {{defaultAddress?.phone_number}}<span *ngIf="defaultAddress?.alt_phone_number"> / {{defaultAddress?.alt_phone_number}}</span></p>
                      <p class="mb-0" *ngIf="defaultAddress?.postal_code"><b>Postal Code :</b> {{defaultAddress?.postal_code}}</p>
                      <p class="mb-0" *ngIf="defaultAddress?.additional_information"><b>More Information :</b> {{defaultAddress?.additional_information}}</p>
                    </div>
                  </div>
                  <div class="card-footer" style="text-align: center;">
                    <a href="javascript:void(0)" (click)="changeDefaultAddress()">
                      <span class="text-warning font-weight-bold" >CHANGE</span></a>
                  </div>
                </div>
              </div>
              <div class="grid-item">

              </div>
              <div class="grid-item">
               Total
              </div>
              <div class="grid-item">
                {{totalProductCartValue || 0 | currency: productCartCurrency }}
                <div class="mt-3">
                  <button class="btn btn-lg btn-success px-5" (click)="checkoutModal('choosePaymentGateway', 'productCart')" *ngIf="defaultAddress">Checkout</button>
                  <button class="btn btn-lg btn-info px-5" (click)="changeDefaultAddress()"  *ngIf="!defaultAddress">Set Shipping Address</button>
                </div>
              </div>
            </div>
          </div>



        </div>
      </div>
    </div>

  </div>








</div>







<!-- Create Status Modal -->
<div class="modal fade" id="choosePaymentGateway" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content"  style="border: 2px solid #CFFFC1" *ngIf="show">
      <div class="modal-header" style="border: none!important;">
        <h4 class="title" id="defaultModalLabel" style="font-size: 14px;">Choose Payment Method</h4>
        <button type="button" class="close" data-dismiss="modal" style="margin-top: -10%;">&times;</button>

      </div>
      <div class="">
        <div class="list-group px-0" style="border: none">
          <button type="button" class="list-group-item list-group-item-action py-0" style="outline: none" *ngFor="let gateway of paymentChannels" (click)="selectedPaymentGateway=gateway">
            <div class="form-group pt-2" [ngClass]="gateway.name === 'e-Wallet' ? 'mb--c' : ''" >
              <label class="fancy-radio">
                <input type="radio" name="payment" [value]="gateway" [(ngModel)]="selectedPaymentGateway" [ngModelOptions]="{standalone: true}">
                <span><i></i>&nbsp;&nbsp;Pay with {{gateway?.name}}</span>
                <p class="float-lg-right" *ngIf="gateway.name === 'e-Wallet'"  style="font-size: 11px;margin-top: -10px;">Balance:
                  <span [ngClass]="walletBalance > 0 ? 'text-success' : 'text-danger'">
                  {{walletBalance | currency: 'NGN '}}</span>
                </p>
              </label>
            </div>

          </button>
        </div>
      </div>
      <div class="modal-footer" style="border: none!important;justify-content: center!important;">
        <div *ngIf="selectedPaymentGateway?.name?.toLowerCase() !== 'paystack'">
          <button type="button" class="btn btn-primary" (click)="proceedToPayment()" [disabled]="!selectedPaymentGateway" *ngIf="!loaders.proceeding">Proceed</button>
          <button type="button" class="btn btn-primary" *ngIf="loaders.proceeding"><i class="fa fa-spin fa-spinner"></i>&nbsp;Verifying...</button>
        </div>
        <div *ngIf="selectedPaymentGateway?.name?.toLowerCase() === 'paystack'">
          <button type="button" class="btn btn-primary"  (click)="showCharge();">Show Charge</button>
        </div>
      </div>
    </div>


    <div class="modal-content"  style="border: 2px solid #CFFFC1" *ngIf="!show">
      <div class="modal-header" style="border: none!important;">
        <h4 class="title" style="font-size: 14px;">Total Amount Due</h4>
        <button type="button" class="close" style="margin-top: -10%;" (click)="closeShowCharge()">&times;</button>
      </div>
      <div class="">
        <div class="body">
          <table class="table table-hover mb-0">
            <tbody>
            <tr>
              <td>Order Amount</td>
              <td>{{transactionData.subTotal || 0 | currency: '&#8358; '}}</td>
            </tr>
            <tr>
              <td>Paystack Charge</td>
              <td>{{transactionData.charge || 0 | currency: '&#8358; '}}</td>
            </tr>
            <tr class="bg-success text-white">
              <td>Total Amount</td>
              <td><b>{{transactionData.total || 0 | currency: '&#8358; '}}</b></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer" style="border: none!important;justify-content: center!important;">
        <div>
          <button type="button" class="btn btn-primary" (click)="proceedToPayment()" [disabled]="!selectedPaymentGateway" *ngIf="!loaders.proceeding">Proceed</button>
          <button type="button" class="btn btn-primary" *ngIf="loaders.proceeding"><i class="fa fa-spin fa-spinner"></i>&nbsp;Verifying...</button>
        </div>
      </div>
    </div>
  </div>
</div>


