input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

.number-input {
  border: 1px solid #cbcbcb;
  display: inline-flex;
}

.number-input,
.number-input * {
  box-sizing: border-box;
}

.number-input button {
  outline:none;
  -webkit-appearance: none;
  background-color: #d3d3d3;
  color: #ffffff;
  border: none;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  margin: 0;
  position: relative;
}

.number-input button:before,
.number-input button:after {
  display: inline-block;
  position: absolute;
  content: '';
  width: 9px;
  height: 1px;
  background-color: #212121;
  transform: translate(-50%, -50%);
}
.number-input button.plus:after {
  transform: translate(-50%, -50%) rotate(90deg);
}

.number-input input[type=number] {
  font-family: "Nunito Sans";
  max-width: 4rem;
  padding: .3rem;
  border: solid #ddd;
  border-width: 0 2px;
  font-size: 15px;
  height: 2rem;
  /*font-weight: bold;*/
  text-align: center;
}

.cart-card {
  background-color: #b0b0b0;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

.grid-body {
  background-color: #EBFCDA;
}

.mini-grid-container {
  display: grid;
  grid-gap: 0;
  grid-template-columns: 40% 60%;
}

.mini-1 {
  grid-column: 1;
  padding-top: 10px;
}
.mini-2 {
  grid-column: 2;
  text-align: left;
  padding: 5px;
  /*font-size: 16px;*/
  font-family: "Nunito Sans";
 }
.grid-item {
  /*background-color: rgba(255, 255, 255, 0.8);*/
  text-align: center;
  padding: 5px;
  /*font-size: 30px;*/
}
.item1 {
  grid-column: 1;
}
.item4 {
  padding-top: 10px;
  grid-column: 4;
}
.cart-img {
  border-radius: 5px;
  /*padding-top: 10px;*/
  height: 85px;
  width: 120px;
}
.cart-product-img {
  border-radius: 5px;
  /*padding-top: 10px;*/
  height: 120px;
  width: 85px;
}
.mb--c {
  margin-bottom: -10px;
}
