<div class="container-fluid">
  <app-breadcrumb [dataInput]="breadCrumb"></app-breadcrumb>


  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card">
        <div class="body mt-2">
          <div class="text-center mt-1 mb-3" *ngIf="loadingData"><span class="fa fa-spin fa-spinner fa-2x"></span>&nbsp; Loading, Please wait...</div>
          <div class="table-responsive" *ngIf="showData">
            <table id="all-newsletters" class="table table-bordered table-hover table-striped dataTable" cellspacing="0" width="100%">
              <thead>
              <tr >
                <th>#</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Message</th>
                <th>Action</th>

              </tr>
              </thead>
              <tfoot>
              <tr >
                <th>#</th>
                <th>Full Name</th>
                <th>Email</th>
                <th>Message</th>
                <th>Action</th>
              </tr>
              </tfoot>
              <tbody>

              <tr *ngFor="let newsletter of newsletters;let i = index;">

                <td>{{ i + 1 }}</td>
                <td>&nbsp;
                  {{ newsletter?.name }}
                </td>
                <td>{{ newsletter?.email }}</td>
                <td>
                 {{newsletter?.message}}
                </td>
                <td>
                  <button  class="btn btn-sm btn-danger" >Delete</button>&nbsp;
                </td>
              </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>

  </div>



</div>
