<div class="container-fluid">
  <app-breadcrumb [dataInput]="breadCrumb"></app-breadcrumb>








  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card">
        <div class="header">
          <div class="float-right">
            <button type="button" class="btn btn-outline-primary btn-sm" (click)="openDialog('productTypeModal')">
              <i class="fa fa-plus"></i> &nbsp;<span>New Category</span></button>
          </div>
        </div>
        <div class="body mt-2">
          <div class="text-center mt-1 mb-3" *ngIf="loadingData">
            <span class="fa fa-spin fa-spinner fa-2x"></span>&nbsp;
            <br>
            <span> Loading, Please wait...</span>
          </div>
          <div class="table-responsive" *ngIf="showData">
            <table id="all-product-type" class="table table-bordered table-hover table-striped dataTable" cellspacing="0" width="100%">
              <thead>
              <tr >
                <th>S/N</th>
                <th>Category Name</th>
                <th>Activeness</th>
                <th>Action</th>
              </tr>
              </thead>
              <tfoot>
              <tr >
                <th>S/N</th>
                <th>Category Name</th>
                <th>Activeness</th>
                <th>Action</th>
              </tr>
              </tfoot>
              <tbody>

              <tr *ngFor="let fType of allType;let i = index;">
                <td>{{ i + 1 }}</td>
                <td>{{ fType?.name }}</td>
                <td>
                <span class="badge badge-success" *ngIf="fType?.status">
                  {{fType?.status}}
                </span>
                  <span class="badge badge-danger" *ngIf="!fType?.status">
                  {{fType?.status}}
                </span>
                </td>
                <td>
                  <div>
                    <button role="button" data-balloon="Edit Category" data-balloon-pos="up" (click)="triggerEdit(fType)" class="btn btn-sm btn-primary">
                      <i class="fa fa-edit"></i>
                    </button>&nbsp;&nbsp;
                    <button role="button" data-balloon="Delete Category" data-balloon-pos="up" (click)="deleteCategory(fType)" class="btn btn-sm btn-danger">
                      <i class="fa fa-trash"></i>
                    </button>

                  </div>
                </td>
              </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>

  </div>








</div>





<!-- Create Type Modal -->
<div class="modal fade" id="productTypeModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="title" id="defaultModalLabel">{{modal.title}}</h4>
      </div>
      <form class="form-auth-small" #typeForm="ngForm" (ngSubmit)="saveType()">

        <div class="modal-body">
          <div class="form-group">
            <label for="type_name" class="control-label">Category Name</label>
            <input type="text" class="form-control" placeholder="Category Name"
                   #name="ngModel"
                   id="type_name"
                   [(ngModel)]="newType.name" [ngModelOptions]="{standalone: true}" required>
            <div class="text-danger" *ngIf="name.errors && (name.dirty || name.touched)">
                  <span class="validation-message" [hidden]="!name.hasError('required')">
                    Type name is required</span>
            </div>
          </div>
          <div class="form-group">
            <label for="type" class="control-label">Status</label>
            <select type="text" class="form-control"
                    #type="ngModel"
                    id="type"
                    [(ngModel)]="newType.status" [ngModelOptions]="{standalone: true}">
              <option value="true" selected>Active</option>
              <option value="false">Inactive</option>
            </select>

          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" *ngIf="!loaders.saving" [disabled]="name.errors || type.errors" class="btn btn-primary">{{modal.btnText}}</button>
          <span *ngIf="loaders.saving" class="btn btn-primary">Loading&nbsp;<i class="fa fa-spin fa-spinner"></i></span>
          <button type="button" class="btn btn-danger" data-dismiss="modal">CLOSE</button>
        </div>
      </form>
    </div>
  </div>
</div>
