<div class="container-fluid">
  <app-breadcrumb [dataInput]="breadCrumb"></app-breadcrumb>




  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card">
        <div class="header font-weight-bold">

          <div class="row">
            <div class="col-sm-3">Archive Sponsorship History</div>
            <div  class="col-sm-3">
              <ng-select [items]="allStatus" class="ng-select-form"
                         [notFoundText]="'No data available'"
                         [placeholder]="'Filter by Status'" (change)="filterOrdersByStatus($event)"
                         bindLabel="name"
                         bindValue="value"
                         [multiple]="false">

              </ng-select>
            </div>
            <div class="col-sm-3">
              <ng-select [items]="allYears" class="ng-select-form"
                         [notFoundText]="'No data available'"
                         [placeholder]="'Select year'"
                         bindLabel="name" [(ngModel)]="year" [ngModelOptions]="{standalone: true}"
                         bindValue="value"
                         [multiple]="false">

              </ng-select>
            </div>
            <div class="col-sm-3" *ngIf="year">
              <ng-select [items]="allMonths" class="ng-select-form"
                         [notFoundText]="'No data available'"
                         [placeholder]="'Filter by month'" (change)="filterSponsorByMonth($event)"
                         bindLabel="name"
                         bindValue="value"
                         [multiple]="false">

              </ng-select>
            </div>
          </div>
        </div>
        <div class="body mt-2">

          <div class="text-center mt-1 mb-3" *ngIf="loadingData">
            <span class="fa fa-spin fa-spinner fa-2x"></span>&nbsp;
            <br>
            <span> Loading, Please wait...</span>
          </div>
          <div class="table-responsive" *ngIf="showData">
            <table id="all-archive-farm-sponsor" class="table table-bordered table-hover table-striped dataTable" cellspacing="0" width="100%">
              <thead>
              <tr >
                <th class="no-sort"></th>
                <th>S/N</th>
                <th>Name</th>
                <th>Email</th>

                <th>Order Number</th>
                <th>Farm Name</th>
                <th>Total Amount</th>
                <th>ROI Amount</th>

                <th>Start of Cycle Date</th>
                <th>End of Cycle Date</th>
                <th>Quantity</th>

                <!--<th>Email</th>-->
                <th>Order Status</th>
                <th>Action</th>
              </tr>
              </thead>
              <tfoot>
              <tr >
                <th class="no-sort"></th>
                <th>S/N</th>
                <th>Name</th>
                <th>Email</th>

                <th>Order Number</th>
                <th>Farm Name</th>
                <th>Total Amount</th>
                <th>ROI Amount</th>
                <th>Start of Cycle Date</th>
                <th>End of Cycle Date</th>
                <th>Quantity</th>

                <!--<th>Email</th>-->
                <th>Order Status</th>
                <th>Action</th>
              </tr>
              </tfoot>
              <tbody>

              <tr *ngFor="let archive of archiveSponsors;let i = index;">
                <td class="details-control" [id]="'---td--' + i"></td>
                <td>{{i + 1}}</td>
                <td>{{ archive?.userId?.full_name || archive?.name }}</td>
                <td>{{ archive?.email }}</td>
                <!--<td>{{ archive?.userId?.phone_number }}</td>-->
                <td>{{ archive?.order_number }}</td>
                <td>{{ archive?.farm_name | titlecase }}</td>
                <td>NGN&nbsp;{{archive?.order_total || 0 }}</td>
                <td>NGN&nbsp;{{archive?.roi_amount || 0 }}</td>
                <td>{{archive?.date_of_sponsor }}</td>
                <!--<td>{{archive?.roi_date}}</td>-->
                <td>{{archive?.formatted_roi_date || archive?.roi_date | date }}</td>
                <td>{{ archive?.quantity }}</td>

                <!--<td>{{ archive?.email }}</td>-->
                <td><span class="badge badge-info">{{archive?.order_status}}</span></td>

                <td>
                  <!--<div>
                    <span class="badge badge-info" *ngIf="archive?.order_status?.toUpperCase() !== 'COMPLETED'">{{archive?.order_status}}</span>
                  </div>-->

                  <div>
                    Status: <span class="badge badge-info">{{archive?.order_status}}</span>
                    <ng-container *ngIf="!processing">
                      <button class="btn btn-sm btn-success" (click)="markCompleted(archive, i)" *ngIf="archive.order_status.toUpperCase() === 'PROCESSING'">Mark Completed</button>
                    </ng-container>
                    <span class="btn btn-sm btn-success d-none processing-" [id]="'processing-' + i"><i class="fa fa-spin fa-spinner"></i>&nbsp;&nbsp;Processing...</span>
                  </div>

                </td>
              </tr>
              </tbody>

            </table>


          </div>
        </div>
      </div>
    </div>

  </div>





</div>


