<div class="container-fluid">
  <app-breadcrumb [dataInput]="breadCrumb"></app-breadcrumb>








  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card">
        <div class="header">
          Farm Product Orders
        </div>
        <div class="body mt-2">
          <div class="text-center mt--3" *ngIf="!loadingData && !orders.length">
            <div>
              <img src="assets/img/farm/no-record-img.png" style="width: 30%">
            </div>
            <div>No orders found, buy our farm products</div>
            <div class="mt-2">
              <button class="btn btn-sm btn-success" (click)="gotoURL('/user/farm-products')">Go to farm products</button>
            </div>
          </div>

          <div class="text-center mt-1 mb-3" *ngIf="loadingData">
            <span class="fa fa-spin fa-spinner fa-2x"></span>&nbsp;
            <br>
            <span> Loading, Please wait...</span>
          </div>
          <div class="table-responsive" *ngIf="showData && orders.length">
            <table id="product-order-list" class="table table-bordered table-hover table-striped dataTable" cellspacing="0" width="100%">


              <thead>
              <tr >
                <th class="no-sort" width="5%"></th>
                <th>S/N</th>
                <th>Product Name</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Total Price</th>
                <th>Transaction Ref.</th>
                <th>Payment Channel</th>
                <th>Shipping Address</th>
                <th>Transaction Date</th>
                <th>Order Status</th>


              </tr>
              </thead>
              <tfoot>
              <tr >
                <th class="no-sort"></th>
                <th>S/N</th>
                <th>Product Name</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Total Price</th>
                <th>Transaction Ref.</th>
                <th>Payment Channel</th>
                <th>Shipping Address</th>
                <th>Transaction Date</th>
                <th>Order Status</th>

              </tr>
              </tfoot>

              <tbody>
              <tr *ngFor="let order of orders;let i = index;">
                <td class="details-control" [id]="'td--' + i"></td>
                <td>{{ i + 1 }}</td>
                <td>{{ order?.product_name | titlecase }}</td>
                <td>{{ order?.price_per_unit | currency: order?.currency + ' ' }}</td>
                <td>{{ order?.quantity }}</td>
                <td>{{ order?.total_price | currency: order?.currency + ' ' }}</td>
                <td>{{ order?.orderReference }}</td>

                <td>{{ order?.payment_channel?.name }}</td>
                <td>{{ order?.shipping_address?.address_line + "/" + order?.shipping_address?.phone_number }}</td>
                <td>{{ order?.createdAt | date }}</td>
                <td>
                  <span class="badge badge-danger" *ngIf="order.status === 'FAILED' || order.status === 'PENDING_PAYMENT' ">{{ order.status.toString().split('_').join(' ') }}</span>
                  <span class="badge badge-info"  *ngIf="order.status !== 'FAILED' && order.status !== 'PENDING_PAYMENT'">{{ order.status.toString().split('_').join(' ') }}</span>
                </td>
              </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>

  </div>








</div>




