<div class="container-fluid">
  <app-breadcrumb [dataInput]="breadCrumb"></app-breadcrumb>








  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card">
        <div class="header">
          <div class="row">
            <div class="col-sm-4">Farm Product Orders</div>
          <div class="col-sm-6">
            <ng-select [items]="allStatus" class="ng-select-form"
                       [notFoundText]="'No data available'"
                       [placeholder]="'Filter by Status'" (change)="filterOrdersByStatus($event)"
                       bindLabel="name"
                       bindValue="value"
                       [multiple]="false">

            </ng-select>
          </div>
          </div>
        </div>

        <div class="body mt-2">


          <div class="text-center mt-1 mb-3" *ngIf="loadingData">
            <span class="fa fa-spin fa-spinner fa-2x"></span>&nbsp;
            <br>
            <span> Loading, Please wait...</span>
          </div>
          <div class="table-responsive" *ngIf="!loadingData">
            <table id="product-order-list" class="table table-bordered table-hover table-striped dataTable" cellspacing="0" width="100%">


              <thead>
              <tr >
                <th class="no-sort" width="5%"></th>
                <th>S/N</th>
                <th>Product Name</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Total Price</th>
                <th>Transaction Ref.</th>
                <th>Payment Channel</th>
                <th>Transaction Date</th>
                <th>Order Status</th>
                <th>Product Description</th>
                <th>Customer Name</th>
                <th>Customer Email</th>
                <th>Customer Phone</th>
                <th>Customer Address</th>
                <th>Shipping Name</th>
                <th>Shipping Address</th>
                <th>Shipping State</th>
                <th>Shipping More</th>
                <th>Action</th>
              </tr>
              </thead>
              <tfoot>
              <tr >
                <th class="no-sort"></th>
                <th>S/N</th>
                <th>Product Name</th>
                <th>Unit Price</th>
                <th>Quantity</th>
                <th>Total Price</th>
                <th>Transaction Ref.</th>
                <th>Payment Channel</th>
                <th>Transaction Date</th>
                <th>Order Status</th>
                <th>Product Description</th>
                <th>Customer Name</th>
                <th>Customer Email</th>
                <th>Customer Phone</th>
                <th>Customer Address</th>
                <th>Shipping Name</th>
                <th>Shipping Address</th>
                <th>Shipping State</th>
                <th>Shipping More</th>
                <th>Action</th>



              </tr>
              </tfoot>

              <tbody>
              <tr *ngFor="let order of orders;let i = index;">
                <td class="details-control" [id]="'td--' + i"></td>
                <td>{{ i + 1 }}</td>
                <td>{{ order?.product_name | titlecase }}</td>
                <td>{{ order?.price_per_unit | currency: order?.currency + ' ' }}</td>
                <td>{{ order?.quantity }}</td>
                <td>{{ order?.total_price | currency: order?.currency + ' ' }}</td>
                <td>{{ order?.orderReference }}</td>

                <td>{{ order?.payment_channel?.name }}</td>
                <td>{{ order?.createdAt | date }}</td>
                <td>
                  <span class="badge badge-danger" *ngIf="order.status === 'FAILED' || order.status === 'PENDING_PAYMENT' ">{{ order.status.toString().split('_').join(' ') }}</span>
                  <span class="badge badge-info"  *ngIf="order.status !== 'FAILED' && order.status !== 'PENDING_PAYMENT'">{{ order.status.toString().split('_').join(' ') }}</span>
                </td>
                <td>{{ order?.productId?.description }}</td>

                <td>{{ order?.userId?.full_name }}</td>
                <td>{{ order?.userId?.email }}</td>
                <td>{{ order?.userId?.phone_number }}</td>
                <td>{{ order?.userId?.address }}</td>
                <td><address>{{order?.shipping_address?.first_name}} {{order?.shipping_address?.last_name}}</address></td>
                <td>
                  <address>
                    {{ order?.shipping_address?.address_line }} / {{ order?.shipping_address?.phone_number }} / {{ order?.shipping_address?.alt_phone_number }}
                  </address>
                </td>
                <td>
                  {{ order?.shipping_address?.postal_code }} / {{ order?.shipping_address?.city }} / {{ order?.shipping_address?.state }} / {{ order?.shipping_address?.country }}
                </td>
                <td>
                  {{ order?.shipping_address?.nearest_bus_stop }} / {{ order?.shipping_address?.additional_information }}
                </td>
                <td>
                  <div class="font-weight-bold"><small>Current Status: {{order.status.toString().split('_').join(' ')}} </small></div>
                  <div *ngIf="order.status === 'PAID'">
                    <button class="btn btn-sm btn-info" (click)="setOrderStatus(order, 'SHIPPED')" *ngIf="order.status !== 'DELIVERED' && order.status !== 'SHIPPED'">Set as Shipped</button>&nbsp;&nbsp;
                  </div>
                  <button class="btn btn-sm btn-success" (click)="setOrderStatus(order, 'DELIVERED')" *ngIf="order.status === 'SHIPPED' && order.status !== 'DELIVERED'">Set as Delivered</button>
                </td>
              </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>




