.cr-slider {
  background-color: #ffffff!important;
}
.makeWhite {
  background-color: #ffffff!important;
}
.logoUpload {
  max-height: 150px;
  height: auto;
  max-width: 150px;
  width: auto;
}
.logo-brand {
  font-size: 12px;
  text-align: left;
  font-weight: bold;
}




.dropbox {
  outline-offset: -10px;
  /*background: rgba(6, 68, 154, 0.4) !important;*/
  color: #000000;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='56' ry='56' stroke='%2351BE50FF' stroke-width='8' stroke-dasharray='50%25%2c 13%25' stroke-dashoffset='0' stroke-linecap='butt'/%3e%3c/svg%3e");
  border-radius: 56px;
  padding: 10px 10px;
  /*outline: 3px dashed grey; !* the dash box *!*/
  /*outline-offset: -10px;*/
  /*background: #51BE50;*/
  position: relative;
  cursor: pointer;
  width: 250px;
  height: 200px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.croppie-box {
  /*position: relative;*/
  cursor: pointer;
  width: 250px;
  height: 250px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.input-file {
  opacity: 0; /* invisible but it's there! */
  width: 100%;
  height: 200px !important;
  position: absolute;
  cursor: pointer;
}

.dropbox:hover {
  color: #000000;
  background: rgba(111, 255, 110, 0.67); /* when mouse over to the drop zone, change color */
}


