<div class="container">
  <div class="row">
    <div class="col-md-12 col-sm-12" *ngIf="!activateCroppie">
    <div class="dropbox">
      <input type="file"  accept="image/*" class="input-file" name="productImage" (change)="processSelectedFile($event)">
      <p style="text-align: center;font-size: 17px" class="mt-1">
        <small>
        <span class="text-center"><i class="fa fa-upload fa-4x"></i></span>
        <br>
        <p>Drag and Drop Image here or click to browse</p>
      </small>
      </p>
    </div>
</div>
</div>


<div class="row">
<div class="col-md-12 col-sm-12" *ngIf="activateCroppie">
  <div  *ngIf="imageUploaded" class="">
    <div [id]="croppieData.id"></div>
    <div class="container w-50 p-0" *ngIf="!croppieData.config.profile">
      <div class="row">
        <div class="col-sm-12 col-md-3 mt-3">
          <span class="" (click)="rotateLeft()"><button class="btn btn-sm"><i class="fa fa-rotate-left"></i> &nbsp;Rotate left</button></span>
        </div>
        <div class="col-sm-12 col-md-3  mt-3">
          <span class="" (click)="rotateRight()"><button class="btn btn-sm"><i class="fa fa-rotate-right"></i> &nbsp;Rotate right</button></span>
        </div>
        <div class="col-sm-12 col-md-3  mt-3">
          <span (click)="result()"><button class="btn btn-sm btn-success">Finish Cropping&nbsp;&nbsp;<i class="fa fa-check"></i></button></span>
        </div>
        <div class="col-sm-12 col-md-3  mt-3">
          <span (click)="activateCroppie = false"><button class="btn btn-sm btn-danger" (click)="removeImageAndRestorePicker()">Cancel&nbsp;&nbsp;<i class="fa fa-remove"></i></button></span>
        </div>
      </div>
</div>
    <div class="container w-100 ml-3" *ngIf="croppieData.config.profile">
      <div class="row">
        <div class="px-2">
          <span (click)="result()"><button class="btn btn-sm btn-success">Finish Cropping&nbsp;&nbsp;<i class="fa fa-check"></i></button></span>
        </div>
        <div class="px-2">
          <span (click)="activateCroppie = false"><button class="btn btn-sm btn-danger" (click)="removeImageAndRestorePicker()">Cancel&nbsp;&nbsp;<i class="fa fa-remove"></i></button></span>
        </div>
      </div>
</div>

  </div>
  <!--<img id="blah" [src]="companyLogo" alt="" class="pl-5 pt-1" *ngIf="preview"/>-->
</div>
</div>
</div>
