<div class="container-fluid">
  <app-breadcrumb [dataInput]="breadCrumb"></app-breadcrumb>








  <div class="row clearfix" *ngIf="activeSponsor.length">
    <div class="col-lg-12">
      <div class="card">
        <div class="header font-weight-bold">
         Active Sponsorship
        </div>
        <div class="body mt-2">
          <div class="text-center mt--3" *ngIf="!loadingData2 && !activeSponsor.length">
            <div>
              <img src="assets/img/farm/no-record-img.png" style="width: 30%">
            </div>
            <div>You have no active sponsor, please sponsor a farm</div>
            <div class="mt-2">
              <button class="btn btn-sm btn-success" (click)="gotoURL('/user/farm-update')">Go to sponsorship</button>
            </div>
          </div>
          <div class="text-center mt-1 mb-3" *ngIf="loadingData2">
            <span class="fa fa-spin fa-spinner fa-2x"></span>&nbsp;
            <br>
            <span> Loading, Please wait...</span>
          </div>
          <div class="table-responsive" *ngIf="showData2 && activeSponsor.length">
            <table id="active-farm-history" class="table table-bordered table-hover table-striped dataTable" cellspacing="0" width="100%">
              <thead>
              <tr >
                <th class="no-sort"></th>
                <th>Farm Name</th>
                <th>Farm ROI</th>
                <th>Start of Cycle Date</th>
                <th>End of Cycle Date</th>
                <th>Amount Invested</th>
                <th>Expected Return</th>
                <!--<th>Action</th>-->
              </tr>
              </thead>
              <tfoot>
              <tr >
                <th class="no-sort"></th>
                <th>Farm Name</th>
                <th>Farm ROI</th>
                <th>Start of Cycle Date</th>
                <th>End of Cycle Date</th>
                <th>Amount Invested</th>
                <th>Expected Return</th>
                <!--<th>Action</th>-->
              </tr>
              </tfoot>
              <tbody>

              <tr *ngFor="let sponsor of activeSponsor;let i = index;">
                <td class="details-control" [id]="'-------------td-' + i"></td>
                <td>
                  <ng-container *ngIf="sponsor?.advanceType === 'advance'">
                    <p class="px-0 d-inline font-weight-bold">{{ sponsor?.orderId?.farm_name }}</p>
                    <p  class="m-0 px-0 text-info"><a href="javascript:void(0)" (click)="viewROI(sponsor?.roi_data)" style="font-size: 9px;">View Due Date</a></p>
                  </ng-container>
                  <ng-container *ngIf="sponsor?.advanceType !== 'advance'">
                    {{ sponsor?.orderId?.farm_name }}
                  </ng-container>
                </td>
                <td>
                  <div *ngIf="sponsor?.advanceType === 'advance'">
                    {{ sponsor?.orderId?.roi + '% ROI every ' + sponsor?.roi_interval + ' months for '+ sponsor?.orderId?.duration }}
                    <span class="text-lowercase">{{sponsor?.orderId?.duration_type}}s</span></div>

                  <div *ngIf="sponsor?.advanceType === 'default'">
                    {{ sponsor?.orderId?.roi }}% in {{sponsor?.orderId?.duration}} {{sponsor?.orderId?.duration_type}}S</div>
                </td>
                <td>{{sponsor?.start_date | date }}</td>
                <td>{{sponsor?.expected_end_date | date}}</td>
                <td>{{sponsor?.orderId?.total_price | currency: sponsor?.orderId.currency || 'NGN' + ' '}}</td>
                <td>{{sponsor?.expected_return | currency: sponsor?.orderId.currency || 'NGN' + ' '}}</td>
                <!--<td>
                  <div>
                   &lt;!&ndash; <button role="button" *ngIf="sponsor.status !== 'COMPLETED'" (click)="cancelInvestment(sponsor)" data-balloon="Cancel investment" data-balloon-pos="up" class="btn btn-sm btn-danger">
                      <i class="fa fa-wallet"></i>&nbsp;Cancel Investment
                    </button>&ndash;&gt;
                  </div>
                </td>-->
              </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>

  </div>




  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card">
        <div class="header font-weight-bold">
         My Farm History
        </div>
        <div class="body mt-2">
          <div class="text-center mt--3" *ngIf="!loadingData && !farmHistory.length">
            <div>
              <img src="assets/img/farm/no-record-img.png" style="width: 30%">
            </div>
            <div>You have no farm history, please sponsor a farm</div>
            <div class="mt-2">
              <button class="btn btn-sm btn-success" (click)="gotoURL('/user/farm-update')">Go to sponsorship</button>
            </div>
          </div>
          <div class="text-center mt-1 mb-3" *ngIf="loadingData">
            <span class="fa fa-spin fa-spinner fa-2x"></span>&nbsp;
            <br>
            <span> Loading, Please wait...</span>
          </div>
          <div class="table-responsive" *ngIf="showData && farmHistory.length">
            <table id="farm-history" class="table table-bordered table-hover table-striped dataTable" cellspacing="0" width="100%">
              <thead>
              <tr >
                <th class="no-sort"></th>
                <th>S/N</th>
                <th>Farm Name</th>
                <th>Farm ROI</th>
                <th>Start of Cycle Date</th>
                <th>End of Cycle Date</th>
                <th>Amount Invested</th>
                <th>Amount Returned</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
              </thead>
              <tfoot>
              <tr >
                <th class="no-sort"></th>
                <th>S/N</th>
                <th>Farm Name</th>
                <th>Farm ROI</th>
                <th>Start of Cycle Date</th>
                <th>End of Cycle Date</th>
                <th>Amount Invested</th>
                <th>Amount Returned</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
              </tfoot>
              <tbody>

              <tr *ngFor="let history of farmHistory;let i = index;">
                <td class="details-control" [id]="'-------td--' + i"></td>
                <td>{{i + 1}}</td>
                <td>{{ history?.orderId?.farm_name }}</td>
                <td>{{ history?.orderId?.roi }}% in {{history?.orderId?.duration}} {{history?.orderId?.duration_type}}S</td>
                <td>{{history?.start_date | date }}</td>
                <td>{{history?.expected_end_date | date}}</td>
                <td>{{history?.orderId?.total_price | currency: history?.orderId.currency || 'NGN' + ' '}}</td>
                <td>{{history?.expected_return | currency: history?.orderId.currency || 'NGN' + ' '}}</td>
                <td><span class="badge badge-info">{{history?.status}}</span></td>
                <td>
                  <div>
                    <a routerLink="/user/wallet-history" *ngIf="history.status === 'COMPLETED'" data-balloon-pos="up" class="btn btn-sm btn-link">
                      <i class="fa fa-wallet"></i>&nbsp;Go to Wallet
                    </a>
                  </div>
                </td>
              </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="row clearfix" *ngIf="archiveSponsors.length">
    <div class="col-lg-12">
      <div class="card">
        <div class="header font-weight-bold">
          Farm Sponsored on Letsfarm.co
        </div>
        <div class="body mt-2">
          <div class="table-responsive">
            <table id="archive-farm-sponsor" class="table table-bordered table-hover table-striped dataTable" cellspacing="0" width="100%">
              <thead>
              <tr >
                <th class="no-sort"></th>
                <th>S/N</th>
                <th>Order Number</th>
                <th>Farm Name</th>
                <th>Quantity</th>
                <th>Total Amount</th>
                <th>ROI Amount</th>

                <th>Start of Cycle Date</th>
                <th>End of Cycle Date</th>
                <th>Order Status</th>
              </tr>
              </thead>
              <tfoot>
              <tr >
                <th class="no-sort"></th>
                <th>S/N</th>
                <th>Order Number</th>
                <th>Farm Name</th>
                <th>Quantity</th>
                <th>Total Amount</th>
                <th>ROI Amount</th>
                <th>Start of Cycle Date</th>
                <th>End of Cycle Date</th>
                <th>Order Status</th>
              </tr>
              </tfoot>
              <tbody>

              <tr *ngFor="let archive of archiveSponsors;let i = index;">
                <td class="details-control" [id]="'td--' + i"></td>
                <td>{{i + 1}}</td>
                <td>{{ archive?.order_number }}</td>
                <td>{{ archive?.farm_name | titlecase }}</td>
                <td>{{ archive?.quantity }}</td>
                <td>{{archive?.order_total | currency: 'NGN '}}</td>
                <td>{{archive?.roi_amount | currency: 'NGN '}}</td>
                <td>{{archive?.date_of_sponsor }}</td>
                <td>{{archive?.roi_date}}</td>
                <td><span class="badge badge-info">{{archive?.order_status}}</span></td>

              </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>

  </div>








</div>




<!-- foodTrading -->
<div class="modal fade" id="foodTrading" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md" role="document" *ngIf="roiData.length">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="title">ROI List For Food Trading</h4>
        <button type="button" class="close" data-dismiss="modal" (click)="closeTradingModal()">×</button>
      </div>
      <div class="modal-body">
        <div class="table-responsive">
          <table class="table center-aligned-table">
            <thead>
            <tr>
              <th>S/N</th>
              <th>Amount Due</th>
              <th>Status</th>
              <th>Due Date</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let roi of roiData; let i = index">
              <td>ROI {{i + 1}}</td>
              <td>{{roi?.roi || 0 | currency: 'NGN '}}</td>
              <td><label class="badge">{{roi?.status}}</label></td>
              <td>{{roi?.out_date | date}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="closeTradingModal()">Close</button>
      </div>

    </div>
  </div>
</div>


