<div class="container-fluid">
  <app-breadcrumb [dataInput]="breadCrumb"></app-breadcrumb>








  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card">
        <div class="header">
          <h4>Old Bank Transfer</h4>
        </div>
        <div class="body mt-2">
          <div class="text-center mt-1 mb-3" *ngIf="loadingData">
            <span class="fa fa-spin fa-spinner fa-2x"></span>&nbsp;
            <br>
            <span> Loading, Please wait...</span>
          </div>
          <div class="table-responsive" *ngIf="showData">
            <table id="all-bank-transfer" class="table table-bordered table-hover table-striped dataTable" cellspacing="0" width="100%">
              <thead>
              <tr >
                <th class="no-sort"></th>
                <th>S/N</th>
                <th>Name</th>
                <th>Date</th>
                <th>POP</th>
                <th>Transaction Amount</th>
                <th>Transaction Status</th>
                <th>Transaction Ref</th>
                <th>Narration</th>
                <th>Account Name</th>
                <th>Bank Name</th>
                <th>Amount Paid</th>

                <th>Email</th>
                <th>Action</th>
              </tr>
              </thead>
              <tfoot>
              <tr >
                <th class="no-sort"></th>
                <th>S/N</th>
                <th>Name</th>
                <th>Date</th>
                <th>POP</th>
                <th>Transaction Amount</th>
                <th>Transaction Status</th>
                <th>Transaction Ref</th>
                <th>Narration</th>
                <th>Account Name</th>
                <th>Bank Name</th>
                <th>Amount Paid</th>
                <th>Email</th>
                <th>Action</th>
              </tr>
              </tfoot>
              <tbody>
              <tr *ngFor="let transfer of bankTransfer;let i = index;">
                <td class="details-control" [id]="'td-' + i"></td>
                <td>{{ i + 1 }}</td>
                <td>{{ transfer?.userId?.full_name }}</td>
                <td>
                  {{ transfer?.createdAt | date }}
                </td>
                <td>
                  <button class="btn btn-sm btn-warning" (click)="viewDocuments(transfer)">View {{ transfer?.documents.length }} files</button>
                </td>

                <td>{{transfer?.transactionId?.total_price | currency: '&#8358;'}}</td>
                <td>
                  <span class="badge badge-success" *ngIf="transfer?.transactionId?.status === 'CONFIRMED'">SUCCESS</span>
                  <span class="badge badge-info" *ngIf="transfer?.transactionId?.status !== 'CONFIRMED'">{{transfer?.transactionId?.status.toUpperCase()}}</span>
                  </td>

                <td>{{transfer?.transactionId?.orderReference}}</td>
                <td>{{transfer?.transactionId?.narration}}</td>
                <td>{{transfer?.account_name || 'Nil'}}</td>
                <td>{{transfer?.bank_name  || 'Nil'}}</td>
                <td>{{transfer?.amount  || 'Nil'}}</td>
                <!--<td>{{transfer?.userId?.full_name}}</td>-->
                <td>{{transfer?.userId?.email}}</td>

                <td>
                  <div>
                    <button *ngIf="transfer?.transactionId?.status !== 'CONFIRMED'"
                            role="button" data-balloon="Reinitialize" data-balloon-pos="up"
                            (click)="reInitTransaction(transfer)" class="btn btn-sm btn-primary">
                      <i class="fa fa-arrow-up"></i>&nbsp;Reinitialize
                    </button>
                  </div>
                </td>
              </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>





<!-- View attached documents-->
<div class="modal fade" id="viewDocument" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="title" id="defaultModalLabel">Proof of payment</h4>
      </div>
      <div class="modal-body">
        <ul>
          <li *ngFor="let doc of documents">{{doc.name}} - <a class="btn btn-sm btn-link" target="_blank" [href]="doc.url">View</a></li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">CLOSE</button>
      </div>

    </div>
  </div>
</div>
