/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "~sweetalert2/dist/sweetalert2.min.css";
@import "~placeholder-loading/dist/css/placeholder-loading.css";
@import "~animate.css/animate.min.css";
@import "~balloon-css/balloon.css";
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "~font-awesome/css/font-awesome.min.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css";
@import "assets/vendor/icomoon/style.css";
@import "~owl.carousel/dist/assets/owl.carousel.css";
@import "assets/datatables/datatables.net-bs4/css/dataTables.bootstrap4.min.css";
@import "assets/datatables/datatables.net-buttons-bs4/css/buttons.bootstrap4.min.css";
@import "~croppie/croppie.css";

@import "assets/css/style.css";
@import "assets/css/basic.css";
@import "assets/css/fonts.css";
@import "assets/css/main.css";
@import "assets/css/color/default.css";
@import "assets/css/color_skins.css";
/*@import "assets/vendor/horizontal-timeline/css/horizontal-timeline.css";*/




div .dt-buttons{
  float : right;
  margin: 0 0 0 5px;
}

.dataTables_length{
  float : left;
}
.validation-message {
  margin-left:0px;
  font-size:0.8em
}
.dtr-details {
  /*text-align: center;*/
  list-style: none;
  margin: 5px;
  padding-right: 15px;
}
.dtr-details > li {
  margin-top: 10px;
  cursor: pointer;
  margin-bottom: 10px;
}
.table-hover > li:hover {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.26);
}
.dtr-title {
  font-weight: bold;
  margin-right: 10px;
  text-align: left;
}
.dtr-data {
  font-weight: normal;
  /*margin-right: 10px;*/
  float: right;
  text-align: right
}

td.details-control, .isNotShown {
  background: url('assets/images/details_open.png') no-repeat center center;
  cursor: pointer;
}
td.isShown {
  background: url('assets/images/details_close.png') no-repeat center center;
}
.small-text-container {
  white-space: nowrap;
  width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.closeModalBox {
  display: inline-block;
  width: 20px;height: 20px;
  border: 1px solid #CFFFC1;
  z-index: 9999999999!important;
  border-radius: 50%;
  text-align: center;
  cursor: pointer;
}
.closeModalBox span {
  font-size: 11px;
  font-weight: bold;
  line-height: 1;
  margin-top: -4px;
  color: #CFFFC1;
  text-shadow: 0 1px 0 #fff;
  opacity: 1;
}


.bouncer.animated {
  -webkit-animation: fade-in .8s, shrink-grow 2s ease-out infinite, pink-highlight 2s ease-out infinite;
  animation: fade-in .8s, shrink-grow 2s ease-out infinite, pink-highlight 2s ease-out infinite;
  /*background-color: hsla(0, 0%, 100%, .7);*/
  /*box-shadow: 0 4px 16px rgba(0, 0, 0, .12)*/
}


.bouncer.animated-2 {
  -webkit-animation: fade-in .8s, shrink-grow 2s ease-out infinite;
  animation: fade-in .8s, shrink-grow 2s ease-out infinite;
  /*background-color: hsla(0, 0%, 100%, .7);*/
  /*box-shadow: 0 4px 16px rgba(0, 0, 0, .12)*/
}



@-webkit-keyframes shrink-grow {
  0% {
    -webkit-transform: scale(.95);
    transform: scale(.95)
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
  to {
    -webkit-transform: scale(.95);
    transform: scale(.95)
  }
}

@keyframes shrink-grow {
  0% {
    -webkit-transform: scale(.95);
    transform: scale(.95)
  }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
  to {
    -webkit-transform: scale(.95);
    transform: scale(.95)
  }
}




@-webkit-keyframes grow-shrink {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }
}

@keyframes grow-shrink {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1)
  }
  50% {
    -webkit-transform: scale(1.05);
    transform: scale(1.05)
  }
}

@-webkit-keyframes pink-highlight {
  50% {
    color: #51BE50;
    border-color: #51BE50;
    fill: #51BE50
  }
}

@keyframes pink-highlight {
  50% {
    color: #51BE50;
    border-color: #51BE50;
    fill: #51BE50
  }
}


@-webkit-keyframes fade-in {
  0% {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

@keyframes fade-in {
  0% {
    opacity: 0
  }
  to {
    opacity: 1
  }
}
.modal-content {
  border: 2px solid #CFFFC1
}
