<div class="container-fluid">
  <app-breadcrumb [dataInput]="breadCrumb"></app-breadcrumb>








  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card">
        <div class="header">
          <h4>List Wallet Transactions</h4>
        </div>
        <div class="body mt-2">
          <div class="text-center mt-1 mb-3" *ngIf="loadingData">
            <span class="fa fa-spin fa-spinner fa-2x"></span>&nbsp;
            <br>
            <span>Loading, Please wait...</span>
          </div>
          <div class="table-responsive" *ngIf="showData">

            <table id="walletTransaction-list" class="table table-bordered table-hover table-striped dataTable" cellspacing="0" width="100%">
              <thead>
              <tr >
                <th class="no-sort"></th>
                <th>S/N</th>
                <th>Initiator</th>
                <th>Transaction Amount</th>
                <th>Initial Balance</th>
                <th>New Balance</th>
                <th>Type</th>
                <th>Narration</th>

                <th>Transaction Date</th>
                <th>Action</th>

              </tr>
              </thead>
              <tfoot>
              <tr>
                <th class="no-sort"></th>
                <th>S/N</th>
                <th>Initiator</th>
                <th>Transaction Amount</th>
                <th>Initial Balance</th>
                <th>New Balance</th>
                <th>Type</th>
                <th>Narration</th>
                <th>Transaction Date</th>
                <th>Action</th>

              </tr>
              </tfoot>

              <tbody>

              <tr *ngFor="let walletTransaction of walletTransactions;let i = index;">
                <td  class="details-control" [id]="'td-' + i"></td>
                <td>{{ i + 1 }}</td>
                <td>{{walletTransaction?.userId?.full_name}}</td>
                <td>
                  <span *ngIf="walletTransaction?.type === 'CREDIT'" class="text-success">+{{ walletTransaction?.amount | currency: 'NGN '}}</span>
                  <span *ngIf="walletTransaction?.type === 'DEBIT'" class="text-danger">-{{ walletTransaction?.amount | currency: 'NGN '}}</span>
                </td>
                <td>{{ walletTransaction?.old_wallet_balance | currency: 'NGN ' }}</td>
                <td>{{ walletTransaction?.new_wallet_balance | currency: 'NGN ' }}</td>
                <td>
                  <span class="badge badge-success" *ngIf="walletTransaction?.type === 'CREDIT'">{{ walletTransaction?.type }}</span>
                  <span class="badge badge-danger" *ngIf="walletTransaction?.type === 'DEBIT'">{{ walletTransaction?.type }}</span>
                </td>
                <td>{{ walletTransaction?.narration }}</td>
                <td>{{ walletTransaction?.createdAt | date }}</td>
                 <td>
                   <div>
                     <button data-balloon="View Initiator" data-balloon-pos="up" class="btn btn-sm btn-warning text-white" (click)="viewInitiator(walletTransaction)">
                       <i class="fa fa-user"></i> Initiator Details
                     </button>
                   </div>
                 </td>
              </tr>
              </tbody>

            </table>


          </div>
        </div>
      </div>
    </div>

  </div>

</div>





<!--Transaction details Modal -->
<div class="modal fade" id="initiatorModal" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-md" role="document">
    <div class="modal-content" style="">
      <div class="modal-header">
        <h4 class="title">Initiator Details</h4>
      </div>

      <div class="modal-body">

        <div class="table-responsive">
          <table class="table" *ngIf="initiator">
            <tbody>
            <tr>
              <td class="text-left">
                <p>Name</p>
                <p>Email</p>
                <p>Wallet Balance</p>
              </td>
              <td class="text-right" colspan="2">
                <p><strong>{{initiator?.full_name  }}</strong></p>
                <p><strong>{{initiator?.email}}</strong></p>
                <p><strong>{{initiator?.wallet?.wallet_balance | currency: 'NGN ' }}</strong></p>

              </td>
            </tr>

            </tbody>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
      </div>
    </div>

  </div>
</div>


