<div class="container-fluid">
  <app-breadcrumb [dataInput]="breadCrumb"></app-breadcrumb>



  <div class="row clearfix">
    <div class="col-lg-12">
      <div class="card">
        <div class="header font-weight-bold">
          Withdrawal History
        </div>



        <div class="body mt-2">
          <div class="text-center mt-1 mb-3" *ngIf="loadingData">
            <span class="fa fa-spin fa-spinner fa-2x"></span>&nbsp;
            <br>
            <span> Loading, Please wait...</span>
          </div>
          <div class="table-responsive" *ngIf="showData">
            <table id="all-withdrawal-history" class="table table-bordered table-hover table-striped dataTable" cellspacing="0" width="100%">
              <thead>
              <tr >
                <th class="no-sort"></th>
                <th>S/N</th>
                <th>Customer Name</th>
                <th>Customer Phone</th>
                <th>Customer Email</th>
                <th>Withdraw Amount</th>
                <th>Wallet Balance on Request</th>
                <th>Wallet Balance on Approval</th>
                <th>Account Name</th>
                <th>Account Number</th>
                <th>Bank Name</th>
                <th>Request Date</th>
                <th>Paystack Status</th>
                <th>Status</th>

              </tr>
              </thead>
              <tfoot>
              <tr >
                <th class="no-sort"></th>
                <th>S/N</th>
                <th>Customer Name</th>
                <th>Customer Phone</th>
                <th>Customer Email</th>
                <th>Withdraw Amount</th>
                <th>Wallet Balance on Request</th>
                <th>Wallet Balance on Approval</th>
                <th>Account Name</th>
                <th>Account Number</th>
                <th>Bank Name</th>
                <th>Request Date</th>
                <th>Paystack Status</th>
                <th>Status</th>

              </tr>
              </tfoot>
              <tbody>

              <tr *ngFor="let history of withdrawalHistory;let i = index;">
                <td class="details-control" [id]="'td--' + i"></td>
                <td>{{i + 1}}</td>
                <td>{{ history?.userId?.full_name }}</td>
                <td>{{ history?.userId?.phone_number }}</td>
                <td>{{ history?.userId?.email }}</td>
                <td>{{history?.amount | currency: 'NGN' + ' '}}</td>
                <td>{{history?.wallet_version_before_approval?.wallet_balance | currency: 'NGN' + ' '}}</td>
                <td>{{history?.new_version_after_approval?.wallet_balance | currency: 'NGN' + ' '}}</td>
                <td>{{ history?.account_name }}</td>
                <td>{{ history?.account_number }}</td>
                <td>{{ history?.bank_name }}</td>

                <td>{{history?.createdAt | date: 'medium'}}</td>
                <td><span class="badge badge-info">{{history?.paymentStatus?.split('_').join(' ')}}</span></td>
                <td><span class="badge badge-info">{{history?.status}}</span></td>



              </tr>
              </tbody>

            </table>
          </div>
        </div>
      </div>
    </div>

  </div>








</div>



