<div class="container-fluid">
  <app-breadcrumb [dataInput]="breadCrumb"></app-breadcrumb>





  <!---->
  <div class="row" *ngIf="loading && !allUpdates.length">
    <div class="col-12 pb-5">
      <div class="w-100" >
        <div class="row">
          <div class="col-12">
            <div class="ph-item">
              <div class="ph-col-12">
                <div class="ph-picture"></div>
                <div class="ph-row">
                  <div class="ph-col-6 big"></div>
                  <div class="ph-col-4 empty big"></div>
                  <div class="ph-col-2 big"></div>
                  <div class="ph-col-4"></div>
                  <div class="ph-col-8 empty"></div>
                  <div class="ph-col-6"></div>
                  <div class="ph-col-6 empty"></div>
                  <div class="ph-col-12"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12">
            <div class="ph-item">
              <div class="ph-col-12">
                <div class="ph-picture"></div>
                <div class="ph-row">
                  <div class="ph-col-6 big"></div>
                  <div class="ph-col-4 empty big"></div>
                  <div class="ph-col-2 big"></div>
                  <div class="ph-col-4"></div>
                  <div class="ph-col-8 empty"></div>
                  <div class="ph-col-6"></div>
                  <div class="ph-col-6 empty"></div>
                  <div class="ph-col-12"></div>
                </div>
              </div>
            </div></div>
          <div class="col-12">
            <div class="ph-item">
              <div class="ph-col-12">
                <div class="ph-picture"></div>
                <div class="ph-row">
                  <div class="ph-col-6 big"></div>
                  <div class="ph-col-4 empty big"></div>
                  <div class="ph-col-2 big"></div>
                  <div class="ph-col-4"></div>
                  <div class="ph-col-8 empty"></div>
                  <div class="ph-col-6"></div>
                  <div class="ph-col-6 empty"></div>
                  <div class="ph-col-12"></div>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>

<div class="row clearfix my-4 px-3">  <div class="card"  *ngIf="!loading && !allUpdates.length">
    <div class="col-12">
      <div class="text-center">
        <div>
          <img src="assets/img/farm/no-record-img.png" style="width: 30%">
        </div>
        <div>No farm update available, check back later</div>
      </div>
    </div>
  </div>
</div>

<div class="row clearfix" *ngIf="!loading && allUpdates.length">
  <div class="col-lg-12 col-md-12">

    <div class="card single_post" *ngFor="let post of allUpdates;index as i">
      <div class="body">
        <div class="img-post">
          <div class="text-center"><img class="img-fluid" [src]="post?.updateId?.img_link" [alt]="post?.updateId?.title" ></div>
        </div>
        <h3><a href="">{{ post?.updateId?.title }}</a></h3>
        <div class="collapse-text-ellipsis update-body" [id]="'ellipsis-' + i"><div [innerHTML]="post?.updateId?.message_body" ></div></div>
      </div>
      <div class="footer">
        <div class="actions">
          <button class="btn btn-outline-secondary update-btn" [id]="'continue-' + i" (click)="continueReading(i)">Continue Reading</button>
        </div>
        <ul class="stats">
          <li  *ngIf="post?.pushTo === 'ALL'"><a href="javascript:void(0);">General Notification</a></li>
          <li *ngIf="post?.pushTo !== 'ALL'"><a href="javascript:void(0);">{{post?.farm_name?.farm_name}}</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>





</div>







