<div id="left-sidebar" class="sidebar pb-5">

  <div class="sidebar-scroll">
    <div class="user-account">
      <img [src]="currentUser.user_image_url ? currentUser.user_image_url : 'assets/img/logo/user.jpg'" class="rounded-circle user-photo" alt="PP">
      <div class="dropdown">
        <span>Hello,</span>
        <a href="javascript:void(0);" class="dropdown-toggle user-name" data-toggle="dropdown">
          <strong>{{currentUser.full_name || 'Username'}}</strong>
        </a>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="javascript:void(0)" (click)="openProfile()"><i class="icon-user"></i>My Profile</a></li>
          <li><a href="javascript:void(0)" [routerLink]="['/super/settings']"><i class="icon-settings"></i>Settings</a></li>
          <li class="divider"></li>
          <li><a href="javascript:void(0)" (click)="logOut()"><i class="icon-power"></i>Logout</a></li>
        </ul>
      </div>

    </div>
    <!-- Nav tabs -->

    <!-- Tab panes -->
    <div class="tab-content-sidebar">
      <div class="tab-pane" id="main-menu-tab">
        <nav id="left-sidebar-nav" class="sidebar-nav">
          <ul id="main-menu" class="metismenu">
            <li *ngIf="checkPrivilege(['super', 'accountant'])" class="navLinks nav-link-special active"  id="dashboard" routerLinkActive="active">
              <a href="javascript:void(0)" [routerLink]="['/super/dashboard']"><i class="fa fa-dashboard"></i> <span>Dashboard</span></a>
            </li>
            <ng-container *ngIf="checkPrivilege(['super'])">

            <li class="navLinks nav-link-special"  id="farm-shop" routerLinkActive="active">
              <a href="javascript:void(0)" class="has-arrow"><i class="fa fa-file-o"></i> <span>Farm Shop</span></a>
              <ul class="collapse childNavDropDown">
                <li><a href="javascript:void(0)" [routerLink]="['/super/farm-shop/status']" routerLinkActive="active">Farm Status</a></li>
                <li><a href="javascript:void(0)" [routerLink]="['/super/farm-shop/categories']" routerLinkActive="active">Farm Category</a></li>
                <li><a href="javascript:void(0)" [routerLink]="['/super/farm-shop/shops']"  routerLinkActive="active">Farm Shop</a></li>
                <li><a href="javascript:void(0)" [routerLink]="['/super/report/manage-all-orders']"  routerLinkActive="active">Shop Orders</a></li>

              </ul>
            </li>
            <li class="navLinks nav-link-special"  id="users" routerLinkActive="active">
              <a href="javascript:void(0)" class="has-arrow"><i class="fa fa-user"></i> <span>Manage Users</span></a>
              <ul class="collapse childNavDropDown">
                <li><a href="javascript:void(0)" [routerLink]="['/super/manage-customers']" routerLinkActive="active">Customers</a></li>
                <li><a href="javascript:void(0)" [routerLink]="['/super/manage-admin-users']" routerLinkActive="active">Admin Users</a></li>
                <li><a href="javascript:void(0)" [routerLink]="['/super/manage-user-groups-and-privileges']" routerLinkActive="active">Users Group Privilege</a></li>


              </ul>
            </li>
            <li class="navLinks nav-link-special"  id="manage-payment" routerLinkActive="active" >
              <a href="javascript:void(0)" class="has-arrow"><i class="fa fa-bar-chart"></i> <span>Manage Payment</span></a>
              <ul class="collapse childNavDropDown">
                <li><a href="javascript:void(0)" [routerLink]="['/super/manage-bank-transfers']" routerLinkActive="active">Pending Bank Transfers</a></li>
                <li><a href="javascript:void(0)" [routerLink]="['/super/manage-confirmed-bank-payment']" routerLinkActive="active">Old Bank Transfers</a></li>
                <!--<li><a href="javascript:void(0)" [routerLink]="['/super/manage-paystack-reference']" routerLinkActive="active">Paystack References</a></li>-->
              </ul>
            </li>
              <li class="navLinks nav-link-special"  id="manage-withdrawal" routerLinkActive="active" >
              <a href="javascript:void(0)" class="has-arrow"><i class="fa fa-line-chart"></i> <span>Payout</span></a>
              <ul class="collapse childNavDropDown">
                <li><a href="javascript:void(0)" [routerLink]="['/super/funding/fund-customer-wallet']" routerLinkActive="active">Fund Customer Wallet</a></li>
                <li><a href="javascript:void(0)" [routerLink]="['/super/funding/requested-withdrawal']" routerLinkActive="active">Requested Withdrawal</a></li>
                <li><a href="javascript:void(0)" [routerLink]="['/super/funding/withdrawal-history']" routerLinkActive="active">Withdrawal History</a></li>
                <li><a href="javascript:void(0)" [routerLink]="['/super/report/manage-sponsors']"  routerLinkActive="active">Sponsors</a></li>
                <li><a href="javascript:void(0)" [routerLink]="['/super/report/manage-archive-sponsors']"  routerLinkActive="active">Archive Sponsors</a></li>

              </ul>
            </li>
            <li class="navLinks nav-link-special"  id="farm-products" routerLinkActive="active">
              <a href="javascript:void(0)" class="has-arrow"><i class="fa fa-shopping-bag"></i> <span>Farm Products</span></a>
              <ul class="collapse childNavDropDown">
                <li><a href="javascript:void(0)" [routerLink]="['/super/manage-farm-products']" routerLinkActive="active">Product Inventory</a></li>
                <li><a href="javascript:void(0)" [routerLink]="['/super/farm-product-status']" routerLinkActive="active">Product Status</a></li>
                <li><a href="javascript:void(0)" [routerLink]="['/super/farm-product-category']" routerLinkActive="active">Product Category</a></li>
                <li><a href="javascript:void(0)" [routerLink]="['/super/manage-farm-products-orders']" routerLinkActive="active">Product Orders</a></li>


              </ul>
            </li>
            <li class="navLinks nav-link-special"  id="reports" routerLinkActive="active">
              <a href="javascript:void(0)" class="has-arrow"><i class="fa fa-pie-chart"></i> <span>Reports</span></a>
              <ul class="collapse childNavDropDown">
                <li><a href="javascript:void(0)" [routerLink]="['/super/report/manage-transactions']" routerLinkActive="active">Transaction</a></li>
                <li><a href="javascript:void(0)" [routerLink]="['/super/report/manage-paystack-transactions']" routerLinkActive="active">Paystack Transactions</a></li>
                <li><a href="javascript:void(0)" [routerLink]="['/super/report/manage-banktransfer-transactions']" routerLinkActive="active">Bank Transfer</a></li>
                <li><a href="javascript:void(0)" [routerLink]="['/super/report/manage-wallet-transactions']"  routerLinkActive="active">Wallet Transactions</a></li>
                <li><a href="javascript:void(0)" [routerLink]="['/super/report/manage-referrals']"  routerLinkActive="active">Referrals</a></li>
                 <li><a href="javascript:void(0)" [routerLink]="['/super/report/manage-paystack-payments']"  routerLinkActive="active">Paystack Payments</a></li>
              </ul>
            </li>
              <li class="navLinks nav-link-special active"  id="mamage-payout" routerLinkActive="active">
                <a href="javascript:void(0)" [routerLink]="['/super/manage-payout']"><i class="fa fa-location-arrow"></i> <span>Manage Repay</span></a>
              </li>
              <li class="navLinks nav-link-special active"  id="updates" routerLinkActive="active">
                <a href="javascript:void(0)" [routerLink]="['/super/manage-updates']"><i class="fa fa-newspaper-o"></i> <span>Farm Updates</span></a>
              </li>
            <li class="navLinks nav-link-special active"  id="account-manager" routerLinkActive="active">
              <a href="javascript:void(0)" [routerLink]="['/super/account-manager']"><i class="fa fa-envelope"></i> <span>Account Manager</span></a>
            </li>
            <li class="navLinks nav-link-special"  id="settings" routerLinkActive="active">
              <a href="javascript:void(0)" class="has-arrow"><i class="fa fa-cogs"></i> <span>Settings</span></a>
              <ul class="collapse childNavDropDown">
                <li><a href="javascript:void(0)" [routerLink]="['/super/manage-profile']" routerLinkActive="active">Profile</a></li>
                <li><a href="javascript:void(0)" (click)="showVersionModal();">App Version</a></li>
                <li><a href="javascript:void(0)" [routerLink]="['/super/manage-payment-gateways']"  routerLinkActive="active">Payment Gateways</a></li>
              </ul>
            </li>
            </ng-container>
            <li class="container" style="border-top: 1px dotted #ffffff;width: 15px;padding: 10px 95px;"></li>
            <li *ngIf="checkPrivilege(['super', 'blogger'])" class="navLinks nav-link-special"  id="web-content" routerLinkActive="active">
              <a href="javascript:void(0)" class="has-arrow"><i class="fa fa-home"></i> <span>Web Content</span></a>
              <ul class="collapse childNavDropDown">
              <!--  <li><a href="javascript:void(0)" [routerLink]="['/super/web-content/home-page']" routerLinkActive="active">Home Page</a></li>
                <li><a href="javascript:void(0)" [routerLink]="['/super/web-content/about-us-page']"  routerLinkActive="active">About us</a></li>
                -->
                <li *ngIf="checkPrivilege(['super'])"><a href="" [routerLink]="['/super/web-content/manage-team']" routerLinkActive="active">Manage Team</a></li>
                <li *ngIf="checkPrivilege(['super', 'blogger'])"><a href="" [routerLink]="['/super/web-content/education-management']" routerLinkActive="active">Education</a></li>
                <li *ngIf="checkPrivilege(['super', 'blogger'])"><a href="" [routerLink]="['/super/web-content/blog-management']" routerLinkActive="active">Blog</a></li>
                <li *ngIf="checkPrivilege(['super'])"><a href="" [routerLink]="['/super/web-content/newsletter-subscribers']" routerLinkActive="active">Newsletter Subscriber</a></li>
              </ul>
            </li>
            <ng-container *ngIf="checkPrivilege(['accountant'])">
              <li class="navLinks nav-link-special"  id="accountant-users" routerLinkActive="active">
                <a href="javascript:void(0)" class="has-arrow"><i class="fa fa-user"></i> <span>Manage Users</span></a>
                <ul class="collapse childNavDropDown">
                  <li><a href="javascript:void(0)" [routerLink]="['/super/manage-customers']" routerLinkActive="active">Customers</a></li>
                </ul>
              </li>
              <li class="navLinks nav-link-special"  id="accountant-manage-withdrawal" routerLinkActive="active" >
                <a href="javascript:void(0)" class="has-arrow"><i class="fa fa-line-chart"></i> <span>Payout</span></a>
                <ul class="collapse childNavDropDown">
                  <li><a href="javascript:void(0)" [routerLink]="['/super/funding/fund-customer-wallet']" routerLinkActive="active">Fund Customer Wallet</a></li>
                  <li><a href="javascript:void(0)" [routerLink]="['/super/funding/requested-withdrawal']" routerLinkActive="active">Requested Withdrawal</a></li>
                  <li><a href="javascript:void(0)" [routerLink]="['/super/funding/withdrawal-history']" routerLinkActive="active">Withdrawal History</a></li>
                  <li><a href="javascript:void(0)" [routerLink]="['/super/report/manage-sponsors']"  routerLinkActive="active">Sponsors</a></li>
                  <li><a href="javascript:void(0)" [routerLink]="['/super/report/manage-archive-sponsors']"  routerLinkActive="active">Archive Sponsors</a></li>

                </ul>
              </li>
              <li class="navLinks nav-link-special"  id="accountant-reports" routerLinkActive="active">
                <a href="javascript:void(0)" class="has-arrow"><i class="fa fa-pie-chart"></i> <span>Reports</span></a>
                <ul class="collapse childNavDropDown">
                  <li><a href="javascript:void(0)" [routerLink]="['/super/report/manage-transactions']" routerLinkActive="active">Transaction</a></li>
                  <li><a href="javascript:void(0)" [routerLink]="['/super/report/manage-paystack-transactions']" routerLinkActive="active">Paystack Transactions</a></li>
                  <li><a href="javascript:void(0)" [routerLink]="['/super/report/manage-banktransfer-transactions']" routerLinkActive="active">Bank Transfer</a></li>
                  <li><a href="javascript:void(0)" [routerLink]="['/super/report/manage-wallet-transactions']"  routerLinkActive="active">Wallet Transactions</a></li>
                  <li><a href="javascript:void(0)" [routerLink]="['/super/report/manage-referrals']"  routerLinkActive="active">Referrals</a></li>
                  <li><a href="javascript:void(0)" [routerLink]="['/super/report/manage-paystack-payments']"  routerLinkActive="active">Paystack Payments</a></li>
                </ul>
              </li>

              <li class="navLinks nav-link-special"  id="account-manage-payment" routerLinkActive="active" >
                <a href="javascript:void(0)" class="has-arrow"><i class="fa fa-bar-chart"></i> <span>Manage Payment</span></a>
                <ul class="collapse childNavDropDown">
                  <li><a href="javascript:void(0)" [routerLink]="['/super/manage-bank-transfers']" routerLinkActive="active">Pending Bank Transfers</a></li>
                  <li><a href="javascript:void(0)" [routerLink]="['/super/manage-confirmed-bank-payment']" routerLinkActive="active">Old Bank Transfers</a></li>
                  <!--<li><a href="javascript:void(0)" [routerLink]="['/super/manage-paystack-reference']" routerLinkActive="active">Paystack References</a></li>-->
                </ul>
              </li>
            </ng-container>

          </ul>
        </nav>
      </div>





    </div>
  </div>
</div>





<!--App version Modal -->
<div class="modal fade" id="appVersion" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content" style="" >
      <div class="modal-header">
        <h4 class="title">Minimum App Version</h4>
      </div>
      <form class="form-auth-small" #minVersionForm="ngForm" (ngSubmit)="saveVersion()">

        <div class="modal-body">
          <div class="">
            <div class="form-group">
              <label for="android" class="control-label">Min Android Version</label>
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-android"></i></span>
                </div>
                <input type="text" class="form-control"
                       #android="ngModel"
                       id="android"
                       [(ngModel)]="version.min_allowed_android_version" [ngModelOptions]="{standalone: true}" required>
              </div>
            </div>

            <div class="form-group">
              <label for="ios" class="control-label">Min IOS Version</label>

              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text"><i class="fa fa-android"></i></span>
                </div>
                <input type="text" class="form-control"
                       #ios="ngModel"
                       id="ios"
                       [(ngModel)]="version.min_allowed_ios_version" [ngModelOptions]="{standalone: true}" required>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <div >
            <button type="submit" *ngIf="!loaders.saving" [disabled]="ios.errors || android.errors" class="btn btn-primary">Save Version</button>
            <span *ngIf="loaders.saving" class="btn btn-primary">Loading&nbsp;<i class="fa fa-spin fa-spinner"></i></span>

            &nbsp;<button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
          </div>

        </div>

      </form>
    </div>
  </div>
</div>


