
<div class="landing-page-content">
  <header id="faq-hero">

    <app-l-header [active]="'others'"></app-l-header>


    <div id="hero-content-2">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 text-left text-white">
            <h1 class="about-title mt--2">Terms of Use</h1>
            <p>
              <b>It is important that you take your time to read every single word written on this page.</b>
            </p>
            <p class="mt--2"><span>It is important that you understand what you read too in order for you to make an informed decision.</span></p>

          </div> <!-- END col-sm-12-->
        </div> <!-- END row-->
      </div> <!-- END container-->
    </div> <!-- END hero-content-->

  </header>

  <section>

    <div class="container">
      <div class="px-sm-0 px-md-5 px-lg-5 my-4 py-5">
        <div class="">
          <div class="p-10">
            <h2 class="font-weight-bold" style="font-size: 29px;">TERM OF USE</h2>

            <div style="font-size: 16px;">
              <p>
                Welcome to Letsfarm.co (the “Platform”), an impact-driven platform that connects you to diverse savings and sponsorship opportunities. This Platform is brought to you by Letsfarm Integrated Services Ltd Limited (“Letsfarm Integrated Services Ltd”, “we”, “us”, or “our”).
              </p>



            <h3 >1. Consent</h3>
            <p>
                This Terms of Use constitutes a legally binding contract between you, (whether as a guest or registered user) and Letsfarm Integrated Services Ltd in your access and use of the Platform as well as its content, services, and functionality made available on or through the Platform (collectively referred to as “the Services”). We therefore kindly request that you carefully read through these Terms and Conditions of Use (the “Terms of Use” or “User Agreement”) before using the Platform and click on the Agree icon if you consent and agree to be bound by (1) this Terms of Use and (2) the Privacy Policy (“the Policy”).
              </p>
              <p>By using the Platform, you accept the terms and conditions contained on this Platform, which shall govern your use of this Platform, including all pages or links on the Platform. If you do not agree to these Terms of Use or the Privacy Policy, please do not use the Platform and/or the Services and exit immediately. In addition, if you do not agree to these Terms of Use or the Policy, you agree that your sole and exclusive remedy is to discontinue using this Platform. That notwithstanding, if you proceed to browse, access, or otherwise use the Services in any manner, it will be deemed that you have accepted, without limitation or qualification, the Terms of Use, Terms of Sponsorship and the Privacy Policy for the Platform (the “Policy”).</p>


            <h3 >2. Review of Terms of Use</h3>
            <p>
               We may, at our sole discretion, review, revise, and/or update this Terms of Use and the Platform at any time. We, therefore, advise that you read through this Terms of Use periodically. You further agree that we will have no further obligation to notify you of any modifications and such updates or modifications shall become effective immediately upon the posting thereof or on any specified date. The most current version of the Terms of Use can be accessed at any time by selecting the Terms of Use link on the bottom of the home page for the Platform.
             </p>




            <h3 >3. Age</h3>
            <p>You must be at least 18 (eighteen) years old to use our Platform or any of our Services; by using our Platform or agreeing to these terms and conditions, you represent and warrant to us that you are at least 18 years of age. Individuals under the age of 18, or the applicable age of maturity, may utilize our Services only with the involvement of a parent or legal guardian, under such person’s account.
            </p>

            <h3 >4. Security of Password</h3>
           <p>To fully enjoy our Services, you may be required to create an account and in which case you will be given (or you may provide) a username and password. Certain areas of our Services are only accessible with the use of usernames and passwords (“User Restricted Areas”). Please note that you are fully and solely responsible for any and all use of the Services and such, you are required to keep your password secret at all times. Do not share your password with any third party or allow another person to access the User Restricted Areas using your password. Kindly notify us immediately if you have any reason to believe that your username or password has been lost or compromised or misused in any way. Also immediately report any unauthorized or suspicious activity in your account.</p>
            <h3>5. User Information/Know- Your-Customer (KYC) Requirements</h3>

            <ol>
            <li>
              In creating an Account and registering for the Services on our Platform, we may require you to provide and/or confirm information and documentation that will allow us to identify you, such as:
           <ul>
            <li>A copy of your Government-issued photo ID, such as an international passport or a national drivers’ license;
            <li>A copy of a utility bill, bank statement, affidavit, or other bills, dated within three months of our request, with your name and Nigerian street address on it; and
            <li>Such other information and documentation that we may require from time to time.
            </ul>
            </li>
            <li>You hereby authorize us to, directly or through a third-party, obtain, verify, and record information and documentation that helps us verify your identity and Bank Account information.
            <li>You agree to the use of your information provided in our records to contact you via a range of channels including but not limited to Email, Short Messaging Service (SMS), Phone Calls, Push Notifications etc.
            </ol>


             <h3>6. SAVINGS TERMS</h3>
            <div>
              <p>The Platform allows users to save funds and invest in a seamless manner. In saving on the Platform, you agree to be bound by the following:
            </p>
            <ol>
            <li>	 You agree that your funds will remain in your Letsfarm Integrated Services Ltd Account until you withdraw your funds from your Letsfarm Integrated Services Ltd Account to your Bank Account.
            <li>	Request for withdrawal of funds will generally be transferred from your Letsfarm Integrated Services Ltd Account to your Bank Account within 24 hours of receiving your request, except where there is a network downtime.
            <li>	We may  transfer funds from your Letsfarm Integrated Services Ltd Account to your Bank Account without notice to you upon the closure of your Letsfarm Integrated Services Ltd Account and at any time if required by applicable law or if we, in our sole discretion, suspect the Services are being used for illicit purposes or otherwise in violation of these Terms.
            <li>	You will not use the funds in your Letsfarm Integrated Services Ltd Account to make purchases, withdraw cash, transfer funds to third parties, or for any other purpose except as stated in this Terms of Use.
            <li>	We are not responsible for any third-party fees that may be incurred as a result of using the Services, including, but not limited to, third-party fees incurred as a result of maintaining insufficient funds in your Bank Account.
              <li>	If you choose to invest your savings in any sponsorship opportunities, you also agree to be bound by the Terms of Sponsorship {{ '{' }}<a routerLink="/terms-of-sponsorship">link here</a>{{ '}' }}</li>

            </ol>
            </div>

            <h3>7. Available Content and Use</h3>
              <div>
                <h5>a. Content Description:</h5>
              <p>The Platform contains variety of contents, including but not limited to text, data, files, documents, software, scripts, layout, design, function, aesthetics, graphics, images, audio, videos, audiovisual combinations, interactive features and any other materials that you may view, access or download (but only as expressly permitted in paragraph C below) on the Platform.
              </p>
                <h5>b. Proprietary Rights</h5>
              <p>All the contents of the Platform, whether publicly posted or privately transmitted, as well as all derivative works thereof, are owned by Letsfarm Integrated Services Ltd, its affiliates and where applicable, to third parties who have licensed such rights to Letsfarm Integrated Services Ltd (“Licensors”). Hence, the Platform is protected by copyright, trademark, and other applicable intellectual property rights/laws. Except as specifically permitted herein, you shall not copy, reproduce, republish, upload, post, transmit, modify or distribute the Platform or any part of it in any way, including by e-mail or other electronic means, without the prior consent of Letsfarm Integrated Services Ltd or its Licensors.
              </p>
                <h5>c. Restrictions on use of the Platform</h5>
              <div>
                <p>Please note that the contents of this Platform are solely for your information and personal use, as intended through the provided functionality of the Services and permitted under this User Agreement. As such, you:
              </p>
              <ul style="list-style: lower-roman">
              <li>are prohibited from modifying or using the Content on any web Platform or networked computer environment or using the Content for any purpose other than personal, non-commercial use, without the consent of Letsfarm Integrated Services Ltd or its licensors first had and obtained, where applicable. Such use or modification is a violation of the copyright, trademark, and other proprietary rights in the Content.
              <li>shall not use our Platform in any way or take any action that causes or may cause damage to the Platform or impairment of the performance, availability or accessibility of the Platform;
              <li>shall not use our Platform in any way that is unlawful, illegal, fraudulent or harmful, or in connection with any unlawful, illegal, fraudulent or harmful purpose or activity or in any way that breaches any applicable law or regulations;
              <li>shall not circumvent, disable or otherwise interfere with security-related features of the Services; including security features that prevent or restrict the use or copying of any content.
              <li>shall not use data collected from our Platform for any direct marketing activity (including without limitation email marketing, SMS marketing, telemarketing or direct mailing).
              <li>shall not alter, remove, or falsify any attributions or other proprietary designations of origin or source of any Content appearing on the Platform.
              <li>shall not use the Platform in any way to create liability, or in any way that causes us to lose the services of our Internet Service Providers or other suppliers.
              <li>shall not download any content on the Platform unless you see a “download” or similar link displayed by us on the Platform for such content.
              </ul>
              <p>You further agree that:</p>
              <ul style="list-style: lower-roman">
              <li>you are responsible for your own conduct while using the Platform or Services and for any consequences thereof;
              <li>You shall use this Platform and all Services on the Platform only for purposes that are legal, proper and in accordance with this Terms of Use, the Privacy Policy, and any applicable law, rules or regulations, any consumer protection, unfair competition, and anti-discrimination laws or regulations and any applicable foreign laws).
              <li>You are solely responsible for your interactions with other users of the Platform (“Users”) both within the Platform and outside of the Platform. Letsfarm Integrated Services Ltd expressly disclaims any responsibility for interactions, loss or liabilities between users or between you and any third party outside of the Platform.
             </ul>
              </div>
              <h5>d. Disclaimer</h5>
              <p>i. Your use of the Services is at your sole risk and the Platform is provided to you on an ‘AS IS’ and ‘AS AVAILABLE’ basis. You therefore agree to evaluate, seek independent advice and bear all risks associated with the use of the Platform.
              </p>
              <p>Nothing on the Platform should be deemed to constitute a recommendation to purchase, sell or hold, or otherwise to constitute an advice regarding, any investment, secured or otherwise.
              </p>
              <p>
                ii. We will not be liable for any damages (including, without limitation, damages for any consequential loss or loss of business opportunities or projects, or loss of profits) howsoever arising and whether in contract, tort or otherwise from the use of or inability to use our Platform, or any of its contents and materials, or from any action or omission taken as a result of using the Platform or any such contents. In any event, our liability for any and all proven damages or losses shall not in any circumstances exceed the amount paid into your Letsfarm Integrated Services Ltd (e-wallet) account for the purpose stated in this Terms of Use.
              </p>
              <p>iii. All liability is excluded to the fullest extent permitted by applicable law including any implied terms as the content of this Platform “as is” without warranties of any kind. We reserve the right to change all the contents of this Platform at any time without notice to you.
              </p>
              </div>

              <h3>8. Confidentiality</h3>
              <p>a. You undertake that all communication, content, intellectual property or other information, and materials on the Platform, either marked ‘confidential’ or is by its nature intended to be for your knowledge alone, shall be kept confidential unless or until you can reasonably demonstrate that such communication, information and material is, or part of it is, in the public domain through no fault of yours. Furthermore, any communication, content, intellectual property or other information, and materials you obtain in terms of or arising from the use of this Platform shall be treated as confidential and shall not be divulged or permitted to be divulged to third parties, without our prior written consent.
              </p>
              <p>b. Please note that all obligations relating to Confidential Information under this Terms of Use will continue after termination of the Terms of Use and termination of access rights hereunder.
              </p>
              <h3>9. Use of suggestions</h3>
              <p>You acknowledge and agree that any questions, comments, suggestions, ideas, feedback, or other information provided by you to Letsfarm Integrated Services Ltd (collectively, “Feedback”) are not confidential and you hereby grant to Letsfarm Integrated Services Ltd a worldwide, perpetual, irrevocable, royalty-free license to reproduce, display, perform, distribute, publish, modify, edit or otherwise use such Feedback as it deems appropriate, for any and all commercial or non-commercial purposes, in its sole discretion.
              </p>

               <h3>10. Undertakings</h3>
               <div>
               <p>You hereby agree as follows:</p>
               <p>a. not to access or use the Services in an unlawful way or for an unlawful or illegitimate purpose, including without limitation any violation of any criminal or anti-money laundering laws of the Federal Republic of Nigeria or any other jurisdiction where you are resident;
               </p>
               <p>b. not to post, publish or transmit on the Platform (a) any message or information under a false name; (b) information that is unlawful, malicious, libelous, defamatory, obscene, fraudulent, predatory of minors, harassing, discriminatory, threatening or hateful to any person; or (c) information that infringes or violates any contractual or intellectual property rights of others or the privacy or publicity rights of others;
               </p>
               <p>c. not to post, process, publish or transmit any content (including works, data, materials (including without limitation), text, graphics, images, information, audio material, audio-visual material, scripts, software and files) that is illegal or unlawful; or infringe any person’s legal rights; or capable of giving rise to legal action against us or any person (in any jurisdiction and under any applicable law).
               </p>
               <p>d. not to transmit, distribute, introduce or otherwise make available in any manner through the Services any computer virus, keyloggers, malware, spyware, worms, Trojan horses, time bombs or other malicious or harmful code (collectively, “Harmful Code”) or to do any act capable of disrupting the operation of the Platform; Please note that we do not have an obligation to detect the presence of Harmful Code (as defined in “Restrictions on the use of your Services” below. Please note that if you download any Content from the Platform, you do so at your own risk.
               </p>
               <p>e. not to use the Platform in any manner that could damage, disable or impair our services or networks;
               </p>
               <p>f. not to attempt to gain unauthorized access to the Platform or any user accounts or computer systems or networks, through hacking, password mining or any other unlawful means;
               </p>
               </div>

               <h3>11. Intellectual Property</h3>
               <p>a. Letsfarm Integrated Services Ltd shall remain the owner of the know-how, trademarks, service marks, logos, slogans, patents, copyright or other intellectual property rights belonging to it within or outside the Platform. The use of the Platform, and nothing contained herein shall create nor transfer any intellectual property right belonging to Letsfarm Integrated Services Ltd, and you are not allowed to use any such rights belonging to Letsfarm Integrated Services Ltd without our written consent.
               </p>
               <p>b. If you believe that any content on the Platform infringes upon your copyrights, please contact us through the contact details below.
               </p>
               <h3>12. Financial Partners</h3>
               <p>At Letsfarm Integrated Services Ltd, we partner with other financial/payment service providers in providing our Services to you. In order to enable you make payments on/through the Platform, we may share your information with these financial partners. You therefore authorize us to share your identity and banking information with partner financial institutions in respect of our Services. Letsfarm Integrated Services Ltd shall not be liable for any default, negligence or breach of the financial partners.
               </p>
               <h3>13. Termination/Suspension/Closure of Account</h3>
              <div>
               <p>1.	In the event of any breach of this Terms of Use, Letsfarm Integrated Services Ltd shall have the right to suspend or terminate all or a portion of the Services to you in our discretion or restrict your access to the Platform. We reserve the right to revoke, terminate or suspend any privileges associated with accessing the Services for any reason (including regulatory instruction) or for no reason whatsoever. You agree that Letsfarm Integrated Services Ltd shall not be liable to you or any third party for any termination or suspension of your access to the Platform.
               </p>
               <p>2.	Termination of your access to the Platform shall be without prejudice to any payment or sum due to you (including any accrued interest on your savings, if any) as at the date of termination or suspension of your account. Provided that if the termination or suspension of your account was as a result of your breach of this Terms of Use which resulted in any loss, penalty or damage to Letsfarm Integrated Services Ltd, we shall be entitled to set off such loss from any sum due to you. You shall be notified of the extent of the loss caused as a result of your breach (where quantifiable) and the extent of the set off applied to any sum due to you from Letsfarm Integrated Services Ltd. Any balance after the set off shall be remitted to you.
               </p>
               <p>3.	If you wish to close your account, you may do so by contacting Letsfarm Integrated Services Ltd’s customer service through the contact details at the end of this Terms. Upon the closure of your Letsfarm Integrated Services Ltd Account, we will transfer the funds in your Letsfarm Integrated Services Ltd Account, if any, to your Bank Account on or after the next FREE withdrawal date.
               </p>
               <p>4.	In the event of an abrupt request closure of your account before the end of a savings or sponsorship cycle, Letsfarm Integrated Services Ltd shall be at liberty to charge or deduct any assessed charges, costs, taxes and any assessed damages (where applicable) prior to the refund of any sum due to you. Unless otherwise specified and agreed, you shall remain obligated to pay all outstanding charges, if any, relating to your use of the Platform prior to such closure request.
               </p>
              </div>
               <h3>14. Links to other Platforms</h3>
                 <p>The Platform contain links to other platforms/websites or resources on the internet. When you access third party platforms/websites, you do so at your own risk. Links to other platforms/websites do not constitute an endorsement, control, guarantee, authorization or representation of our affiliation with those third parties. Kindly note that this Terms of Use or our Privacy Policy do not apply to those third-party Platforms, as such, you agree that Letsfarm Integrated Services Ltd shall not be liable under any circumstances in relation to your use of such other platforms/websites.
               </p>
                 <h3>15. No Financial, Investment or Sponsorship Advice</h3>
               <p>1.	This Platform provides preliminary and general information about savings and investment opportunities and is intended for initial reference purposes only. Nothing on the Platform should be interpreted as providing or intending to provide financial or investment advice. You acknowledge that Letsfarm Integrated Services Ltd has not provided any financial, investment, legal or tax advice and/or any other advice of any kind. You further agree that your use of the Platform or any of the Services on the Platform is based on your careful consideration, due diligence and/or based on the independent advice sought from your advisors.
               </p>
               <p>2.	Any questions regarding anything on the Platform should be addressed to Letsfarm Integrated Services Ltd using the contact information set below. Where Letsfarm Integrated Services Ltd publishes information from independent or third-party sources (including without limitation, newspapers, magazines and the internet) such publication is for informational purposes, without more.
               </p>
               <h3>16. Disclaimer of Warranty
               </h3>
               <p>1.	The Platform, its content and all services on the platform are provided “as is” and “as available” without any warranty of any kind, express or implied. To the fullest extent permissible pursuant to applicable law, Letsfarm Integrated Services Ltd, its affiliates and any person associated with Letsfarm Integrated Services Ltd and its affiliates, disclaims all warranties of any kind, either express or implied, statutory or otherwise, including but not limited to any implied warranties of title, merchantability, fitness for a particular purpose or non-infringement.
               </p><p>2.	Without limiting the foregoing, Letsfarm Integrated Services Ltd does not warrant that access to the Platform will be uninterrupted or error-free, or that defects, if any, will be corrected within any specific timeframe; nor does Letsfarm Integrated Services Ltd, its affiliates, nor any person associated with Letsfarm Integrated Services Ltd make any representations about the accuracy, standard, reliability, currency, quality, completeness, usefulness, performance, security, or suitability of the Platform. Letsfarm Integrated Services Ltd does not warrant that the Platform is free of viruses or other harmful components. You shall be solely and fully responsible for any damage to any computer system, any loss of data, or any improper use or improper disclosure of information caused by you or any person using your login credentials. Letsfarm Integrated Services Ltd cannot and does not assume any responsibility for any loss, damages or liabilities arising from the failure of any telecommunications infrastructure, or the internet or for your misuse of any of advice, ideas, information, instructions or guidelines accessed through the Services. It is your responsibility to install or download sufficient software or hardware protection for your device or computer.
               </p>
               <h3>17. Limitation of Liability</h3>
               <p>a. Letsfarm Integrated Services Ltd and its subsidiaries, affiliates, officers, directors, agents or employees are not liable to you or any other person for any punitive, exemplary, consequential, incidental, indirect or special damages (including, without limitation, any personal injury, lost profits, business interruption, loss of programs or other data on your computer or otherwise) arising from or in connection with your use of the Platform, whether under a theory of breach of contract, tort, negligence, strict liability, malpractice, any other legal or equitable theory or otherwise, even if Letsfarm Integrated Services Ltd has been advised of the possibility of such damages.
               You hereby release Letsfarm Integrated Services Ltd and hold it and its parents, subsidiaries, affiliates, officers, directors, agents and employees harmless from any and all claims, demands, and damages of every kind and nature (including, without limitation, actual, special, incidental and consequential), known and unknown, suspected and unsuspected, disclosed and undisclosed, arising out of or in any way connected with your use of the Services. You waive the provisions of any state or local law limiting or prohibiting a general release.
               </p><p>b. The foregoing limitation of liability shall apply to the fullest extent permitted by law in the applicable jurisdiction. This limitation of liability also applies with respect to damages incurred by you by reason of any products or services sold or provided on any linked Platforms or otherwise by third parties other than Letsfarm Integrated Services Ltd and received through the Services or any linked Platforms.
               </p>
                 <p>c. Without prejudice to the limitation of liability above, in the event of any problem with the Platform or any of the services on the Platform, you agree that your sole and exclusive remedy is to cease using the Platform. Under no circumstances shall Letsfarm Integrated Services Ltd, its subsidiaries, affiliates, officers, directors, agents or employees be liable in any way for your use of Services, including, but not limited to, any errors or omissions in the Platform, downtime, any infringement by the Platform of the intellectual property rights or other rights of third parties, or for any loss or damage of any kind incurred as a result of the use of the Services.
               </p>














              <h3>18. Breaches of Terms and Conditions</h3>
              <ul style="list-style: lower-alpha">
                <li>
                  Without prejudice to our other rights under these terms and conditions, if you breach these terms and conditions in any way, or if we reasonably suspect that you have breached these terms and conditions in any way, we shall:
                  <ol>
                    <li>send you one or more formal warnings in writing to this effect;
                    <li>temporarily suspend your access to our Platform;
                    <li>permanently prohibit you from accessing our Platform;
                    <li>block your access to the Platform;
                    <li>commence legal action against you, whether for breach of contract or otherwise; and/or
                    <li>suspend or delete your account on our Platform.
                  </ol>
                </li>
                <li>Where we suspend or prohibit or block your access to our Platform or a part of our Platform, you must not take any action to circumvent such suspension or prohibition or blocking (including without limitation, creating and/or using a different account).
                </li>
              </ul>
              <h3>19. Indemnification</h3>
              <p>1.	Without limiting the generality or effect of other provisions of this Terms of Use, you agree to indemnify, hold harmless, and defend Letsfarm Integrated Services Ltd and its subsidiaries, affiliates, officers, directors, affiliates, agents and employees, parent companies, (collectively, “Indemnified Parties” and each, individually, an “Indemnified Party”) against all costs, expenses, liabilities and damages (including reasonable attorney’s fees) incurred by any Indemnified Party in connection with any third party claims arising out of: (i) your use of the Platform or any part of it; (ii) your failure to comply with any applicable laws and regulations; and (iii) your breach of any obligations set forth in this Terms of Use.
              </p>
              <p>2.	 This indemnity obligation shall survive this Terms of Use and your use of the Platform. Letsfarm Integrated Services Ltd reserves the right to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will assist and cooperate with Letsfarm Integrated Services Ltd in asserting any available defenses.
              </p>
              <h3>20. Governing law and dispute resolution</h3>
              <p>1.	This Terms of Use and all disputes and matters arising from the Platform (or its use) shall be governed by the laws of the Federal Republic of Nigeria.
              </p><p>2.	 In the event of a controversy, claim or dispute arising out of or relating to this Terms of Use, the Parties shall attempt in good faith to resolve such controversy, claim or dispute promptly by negotiation between the parties or their authorized representatives. You shall, before exploring any other remedy in law, notify Letsfarm Integrated Services Ltd of the dispute or complaint through the contact details below. If parties are unable to resolve the controversy, claim or dispute, the parties shall be at liberty to explore any other dispute resolution mechanism known to Law including mediation, arbitration or litigation.
            </p>
              <h3>21. Miscellaneous</h3>
              <p>1.	Entire Agreement: This User Agreement constitutes the sole agreement between you and Letsfarm Integrated Services Ltd for your use and the provision of the Services and the subject matter hereof, and no representations, statements or inducements, oral or written, not contained in this Terms of Use shall bind either you or Letsfarm Integrated Services Ltd
              </p>
              <p>2.	Severance: If any provision of this Terms of Use is prohibited by law or judged by a court to be unlawful, void or unenforceable, the provision shall, to the extent required, be severed from this Terms of Use and rendered ineffective as far as possible without modifying the remaining provisions of this Terms of Use, and shall not in any way affect any other circumstances of or the validity or enforcement of this Terms of Use.
              </p><p>
              3.	Waiver: Failure to insist on performance of any of the terms of this Terms of Use will not operate as a waiver of any subsequent default. No waiver by Letsfarm Integrated Services Ltd of any right under this Terms of Use will be deemed to be either a waiver of any other right or provision or a waiver of that same right or provision at any other time.
            </p>
              <p>4.	Assignment: You may not assign, transfer or delegate your rights or obligations hereunder, in whole or in part.
              </p>
              <p>5.	Bindingness: This Terms of Use shall be binding upon and inure to the benefit of each of the parties and the parties’ respective successors and permitted assigns. A printed version of this Terms of Use and of any related notice given in electronic form shall be admissible in judicial or administrative proceedings based upon or relating to this Terms of Use to the same extent and subject to the same conditions as other business documents and records originally generated and maintained in printed form.
              </p>
              <h3>22. Notice/Contact Details</h3>
              <p>In the case of any complaints or notice of dispute or any other notification, please contact us at:</p>
              <div class="font-weight-bold">
                <address>Letsfarm Integrated Services  Limited</address>
                <address>Address: 66, De Palace Building, Beside Dambold Filling Station, Quarry Road, Abeokuta</address>
                <address>Email: <a href="mailto:info@letsfarm.co">info@letsfarm.co</a></address>
                <address>Telephone: <a href="tel:+234 90 1812 0290">+234 90 1812 0290</a></address>
              </div>










            </div>





          </div>
        </div>

      </div>
    </div>
  </section>







  <app-l-footer></app-l-footer>
</div>
