.c_review {
  margin-bottom: 0;
}
.c_review li {
  margin-bottom: 16px;
  padding-bottom: 13px;
  border-bottom: 1px solid #e8e8e8;
}
.c_review li:last-child {
  margin: 0;
  border: none;
}
.c_review .avatar {
  float: left;
  width: 80px;
}
.c_review .comment-action {
  float: left;
  width: calc(100% - 80px);
}
.c_review .comment-action .c_name {
  margin: 0;
}
.c_review .comment-action p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 95%;
  display: block;
}
.product_item:hover .cp_img {
  top: -40px;
}
.product_item:hover .cp_img img {
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.product_item:hover .cp_img .hover {
  display: block;
}
.product_item .cp_img {
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translate(-50%);
  -webkit-transform: translate(-50%);
  -ms-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -o-transform: translate(-50%);
  -khtml-transform: translate(-50%);
  width: 100%;
  padding: 15px;
  transition: all 0.2s ease-in-out;
}
.product_item .cp_img img {
  transition: all 0.2s ease-in-out;
  border-radius: 6px;
}
.product_item .cp_img .hover {
  display: none;
  text-align: center;
  margin-top: 10px;
}

a:hover .icon-pencil {
  color: #ffffff;
}
a:hover .icon-trash {
  color: #ffffff;
}
