<div class="container-fluid">
  <app-breadcrumb [dataInput]="breadCrumb"></app-breadcrumb>

<div class="" style="position: absolute; top: 1%!important; right: 5%;"  *ngIf="!editorDiv">
  <button class="btn btn-lg btn-success" (click)="createNewGroup();"><i class="fa fa-plus"></i>&nbsp;New Team Group</button>
</div>

  <div class="row clearfix profilepage_1" style="" id="edit_section" *ngIf="editorDiv">
    <div class="col-lg-12">
      <div class="card animated bounceInUp">

        <form  #teamMemberForm="ngForm" (ngSubmit)="saveTeamMember()">
          <div class="body">
            <h6 class="mb-3">{{memberModal.title}}
              <span class="text-danger close font-weight-bold" (click)="closeEditor()">&times;</span>
            </h6>
            <div class="row clearfix">
              <div class="col-lg-6 col-md-12">
                <div class="form-group">
                  <label for="member_name" class="control-label">Member Name</label>
                  <input type="text" class="form-control" placeholder="Member Name"
                         #name="ngModel"
                         id="member_name"
                         [(ngModel)]="member.name" [ngModelOptions]="{standalone: true}" required>
                  <div class="text-danger" *ngIf="name.errors && (name.dirty || name.touched)">
                  <span class="validation-message" [hidden]="!name.hasError('required')">
                    Member name is required</span>
                  </div>

                </div>
                <div class="form-group">
                  <label for="twitter" class="control-label">Twitter Link</label>
                  <input type="url" class="form-control" placeholder="Twitter Link"
                         #twitter="ngModel"
                         id="twitter"
                         [(ngModel)]="member.twitter" [ngModelOptions]="{standalone: true}">
                 <!-- <div class="text-danger" *ngIf="twitter.errors && (twitter.dirty || twitter.touched)">
                  <span class="validation-message" [hidden]="!twitter.hasError('required')">
                    Twitter URL is required</span>
                  </div>-->

                </div>
                <div class="form-group">
                  <label for="team_group" class="control-label">Team Group</label>
                  <input type="text" class="form-control" placeholder="Team Group"
                         #team_group="ngModel" disabled
                         id="team_group"
                         [(ngModel)]="member.teamGroupName" [ngModelOptions]="{standalone: true}">

                </div>


              </div>
              <div class="col-lg-6 col-md-12">
                <div class="form-group">
                  <label for="position" class="control-label">Member Position</label>

                  <input type="text" class="form-control" placeholder="Member Position"
                         #position="ngModel"
                         id="position"
                         [(ngModel)]="member.position" [ngModelOptions]="{standalone: true}" required>

                  <div class="text-danger" *ngIf="position.errors && (position.dirty || position.touched)">
                  <span class="validation-message" [hidden]="!position.hasError('required')">
                    Position is required</span>
                  </div>
                </div>
                <div class="form-group">
                  <label for="linkedin" class="control-label">LinkedIn Link</label>
                  <input type="url" class="form-control" placeholder="LinkedIn Link"
                         #linkedin="ngModel"
                         id="linkedin"
                         [(ngModel)]="member.linkedin" [ngModelOptions]="{standalone: true}">
                 <!-- <div class="text-danger" *ngIf="linkedin.errors && (linkedin.dirty || linkedin.touched)">
                  <span class="validation-message" [hidden]="!linkedin.hasError('required')">
                    LinkedIn URL is required</span>
                  </div>-->

                </div>
                <div class="form-group">
                  <label for="member_email" class="control-label">Member Email(Optional)</label>
                  <input type="email" class="form-control" placeholder="Member Email"
                         #member_email="ngModel"
                         id="member_email"
                         [(ngModel)]="member.email" [ngModelOptions]="{standalone: true}">

                </div>


              </div>
            </div>

          </div>


          <div class="body">
            <h6>About Member</h6>
            <textarea class="form-control" placeholder="About Member" [(ngModel)]="member.about" [ngModelOptions]="{standalone: true}" rows="3" ></textarea>
          </div>

          <div class="body">
            <h6>Member Photo</h6>
            <div class="text-center">
              <div>

                <div class="" *ngIf="!member.image && !loaders.loadingImg">
                  <app-croppie [croppieData] = "{id: 'displayImage', data: member, key: 'image', config: {vheight: 150, vwidth: 150, fheight: 250, fwidth: 250, enableResize: false, type: 'circle'}}"  (showLoad)="startLoading($event)"></app-croppie>
                </div>
                <div *ngIf="!member.image && loaders.loadingImg">
                  <!---->
                  <span class="fa fa-spin fa-spinner"></span>&nbsp;Saving...
                </div>





                <div class="media-left" *ngIf="member.image">
                  <!--member.display_img-->
                  <img [src]="member.image"
                       style=""
                       class="user-photo media-object" alt="Member Photo">

                  <div class="media-body">
                    <p>Upload Image.
                      <br> <em>Image should be at least 100px x 100px</em></p>
                    <button type="button" class="btn btn-default-dark" id="btn-upload-photo" (click)="removeImageAndRestorePicker('image', null)">Change Photo</button>
                    <input type="file" id="filePhoto" class="sr-only" (click)="removeImageAndRestorePicker('image', null)">
                  </div>
                </div>
              </div>

            </div>
          </div>

          <div class="body text-center pt-5">
            <div>
              <button type="submit" class="btn btn-primary px-5"
                      *ngIf="!loaders.saving" [disabled]="name.errors || position.errors || !member.image">
                {{memberModal.btnTxt}}</button>
              <span *ngIf="loaders.saving" class="btn btn-primary px-5">Loading&nbsp;<i class="fa fa-spin fa-spinner"></i></span>
              &nbsp;&nbsp;
              <button type="reset" class="btn btn-default px-5" (click)="closeEditor()">Cancel</button>
            </div>
          </div></form>


      </div>
    </div>
  </div>













<div id="main-table">

  <div class="row clearfix"  *ngIf="loadingData">
    <div class="card" >
      <div class="body">
        <div class="text-center mt-1 mb-3">
          <span class="fa fa-spin fa-spinner fa-2x"></span>&nbsp;
          <br>
          <span> Loading, Please wait...</span>
        </div>
      </div>
    </div>
  </div>
<div class="row clearfix"  *ngIf="!loadingData">

  <div class="col-lg-12 col-md-12" *ngFor="let group of teamGroups; let i = index" >
    <div class="card">
      <div class="header">

        <h2>{{group?.name}}
          &nbsp;&nbsp;<span>
          <a href="javascript:void(0);" data-balloon="Edit Group" data-balloon-pos="up" (click)="updateGroupDialog(group)" class="btn btn-outline-secondary"><i class="icon-pencil"></i></a>&nbsp;
          <a href="javascript:void(0);" data-balloon="Delete Group" data-balloon-pos="up" (click)="deleteGroup(group)" class="btn btn-outline-danger"><i class="icon-trash"></i></a>
        </span>
          <span class="float-right">
            <button class="btn btn-sm btn-primary" (click)="openDialog(group);"><i class="fa fa-plus"></i>&nbsp;Add Member</button>
          </span>
        </h2>

      </div>
      <div class="body">
        <ul class="row list-unstyled c_review">
          <li class="col-12" *ngFor="let member of teamMembers[group.name];let j = index">
            <div class="avatar">
              <a href="javascript:void(0);"><img class="rounded" [src]="member?.image" alt="user" width="60"></a>
            </div>
            <div class="comment-action">
              <h6 class="c_name">{{member?.name}}</h6>
              <div [attr.data-balloon]="member.about" data-balloon-length="xlarge" data-balloon-pos="up">
                <p class="c_msg m-b-0" > {{member?.about}}</p>
              </div>
              <div class="badge badge-info">{{member.position}}</div>
              <span class="m-l-10">
                <a [href]="member?.linkedin" target="_blank" >
                LinkedIn
              </a>&nbsp;&nbsp;
                <a [href]="member?.twitter" target="_blank">
                  Twitter
                </a></span>
              <small class="comment-date float-sm-right text-success" *ngIf="member.is_active">Active</small>
              <small class="comment-date float-sm-right text-danger" *ngIf="!member.is_active">InActive</small>
            </div>
            <div class="mt-3">
            <div class="text-center">
              <span style="cursor: pointer" data-balloon="Edit Member" data-balloon-pos="up" (click)="triggerEdit(member)" class=""><i class="icon-pencil"></i></span>&nbsp;
              <span  style="cursor: pointer" data-balloon="Delete Member" data-balloon-pos="up" (click)="deleteMember(member)" class=""><i class="icon-trash"></i></span>
            </div>
            </div>
          </li>
        </ul>

      </div>
    </div>
  </div>

</div>

</div>





</div>




<!-- Create Group -->
<div class="modal fade" id="createGroup" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="title" id="defaultModalLabel">{{modal.title}}</h4>
      </div>
      <form class="form-auth-small" #newGroupForm="ngForm" (ngSubmit)="newGroup()">

        <div class="modal-body">
          <div class="form-group">
            <label for="name" class="control-label">Group Name</label>
            <input type="text" class="form-control"
                   #name="ngModel"
                   id="name"
                   [(ngModel)]="group.name" [ngModelOptions]="{standalone: true}" required>
            <div class="text-danger" *ngIf="name.errors && (name.dirty || name.touched)">
                  <span class="validation-message" [hidden]="!name.hasError('required')">
                    Group name is required</span>
            </div>
          </div>
          <div class="form-group">
            <label for="sort_order" class="control-label">Sort Order</label>
            <input type="number" class="form-control"
                   #sort_order="ngModel"
                   id="sort_order"
                   [(ngModel)]="group.sort_order" [ngModelOptions]="{standalone: true}">
          </div>
          <div class="form-group">
            <label for="message" class="control-label">Description(Optional)</label>
            <textarea class="form-control"
                      #message="ngModel" rows="2"
                      id="message"
                      [(ngModel)]="group.description" [ngModelOptions]="{standalone: true}">
            </textarea>

          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" *ngIf="!loaders.saving" [disabled]="name.errors" class="btn btn-primary">{{modal.btnTxt}}</button>
          <span *ngIf="loaders.saving" class="btn btn-primary">Saving&nbsp;<i class="fa fa-spin fa-spinner"></i></span>
          <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>







